<template>
	<div>
		<BreadCrumbs></BreadCrumbs>
		<h2>Combined View Table Access</h2>
		<div class="panel">
  		<div class="panel-body">
        <div>
            <td>
              <div class="form-group col-md-8" style="width:230%">
                <div class="form-group col-md-4" style="margin-left: -20px; margin-top:10px">
                  <label>Select Environment Name</label>
                </div>
                <div class="form-group col-md-4" style="margin-left: -50px">  
                  <select id="environment" name="environment" class="form-control" v-model="environment" v-on:change=getcombinedViewTableList(environment) data-parsley-required  >
                    <option v-for = "environment in EnvironmentList" v-bind:value ="environment.lmll">{{ environment.lmll }}</option>
                  </select>
                </div>   
              </div>
            </td>        
          </div>
  			<div class="example-box-wrapper">
          <div id="ShowMessages">
            <div class="alert alert-danger" v-if="ShowErrorMessage">
              <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('error')"></a>
              <div class="alert-content">
                <h4 class="alert-title">{{ErrorTitle}}</h4>
                <p>{{ErrorMessage}}</p>
              </div>
            </div>
          </div>
  				<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="combinedViewTableList">
    				<thead>
              <tr>
                <!-- <th>Table Name</th>
                <th>Combined View</th>
                <th>Target Only</th>
                <th>Read</th>
                <th>Write</th>
                <th>Action</th> -->
                <th>Table Name</th>
                <th>Description</th>
                <th>Combined, Source & Target</th>
                <th>Writable?</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
            	<tr v-for="(each, index) in combinedViewTableList">
            		<td>{{each.siobnm}}</td>
            		<td>{{each.simd}}</td>
            		<td>
                  <center>
                    <input type="radio" :value="is_combined" :name="index" />
                  </center>
						    </td>
            		<td>
                  <center>
                    <input type="radio" :value="is_writable" :name="index" /> 
                  </center>
						    </td>
            		<td>
            			<button type="submit" name="create environment" class="btn success" style="margin:auto;display:block;">Save</button>
              	</td>
            	</tr>
            </tbody>
  				</table>
           <div style="display:none;position:absolute;top:50%;left:35%;padding:2px;" id="loadingSpinner" class="progress-overlay pad45A float_center" v-cloak>
              <img id="loadingSpinner" src="../../assets/images/spinner/loader-dark.gif" alt="">
            </div> 
          	<simplert :useRadius="true" :useIcon="true" ref="simplert"></simplert>
  			</div>
  		</div>
  	</div>	
	</div>
</template>
<script>
import config from '../../config.json'
import Simplert from 'vue2-simplert'
import BreadCrumbs from '../Breadcrumbs.vue'
export default {
  components: {
    Simplert,
    BreadCrumbs
  },
  data () {
  	return {
  		EnvironmentList:[],
  		combinedViewTableList:[],
  		environment:"Select Environment",
  		collection:{
          form:{
            "picked":"",
          }
        }  	
  	}
  },
  mounted () {
    $("#loadingSpinner").fadeOut();
    $('#combinedViewTableList').DataTable()
    this.$nextTick(function () {
      $('#SubMenu').css('display', 'block')
    })
    this.getAllEnvironment()
  },
  methods: {
    getAllEnvironment(){
    	let _this = this;
        // this.SessionCheck()
        this.MessageClosed('error')
          var Authorization = this.$session.get('access_token')
          this.$http.post(config.AUTO_ENV + '/get_all_environment', 
          {
            'ds_id':this.$session.get('datasource_id'),
            'connection_str':this.$session.get('con_str'),
            'schema':this.$session.get('schema'),
            'database_type':this.$session.get('database_type')
          },{
              headers: {
                'Authorization': Authorization,
                'Content-Type': 'application/json'
             }
            }).then(response => {
              debugger;
              var data = JSON.parse(response.bodyText)
              if(data.status == 'SUCCESS')
              {
                this.EnvironmentList.push({"lmll":"Select Environment"})
                for (var i = 0; i< data.environments.length; i++) {
                this.EnvironmentList.push(data.environments[i])
                };
                this.collection.form.environment = "Select Environment"
              }
              else if (response.status == 'FAILURE')
              {
                this.ShowErrorMessage=true  
                this.ErrorMessage='Somthing went wrong. Try Again'
                this.ErrorTitle='Error Occured'
              }  
              else {
               this.ShowErrorMessage=true
               this.ErrorMessage='Data not found'
               this.ErrorTitle='Data not found'
             }
             },response => {
             var data =JSON.parse(response.bodyText)
               if(data.message === "session_expired"){
               this.$session.destroy()
               // this.SessionCheck()
               } 
               else {
               this.ShowErrorMessage=true
               this.ErrorTitle='Error Occured'
               this.ErrorMessage='Something went wrong.Try Again'
           }
          }).catch(e => {
            this.ShowErrorMessage=true
            this.ErrorTitle='Error Occured'
            this.ErrorMessage='Something went wrong.Try Again'
          })
    },
    getcombinedViewTableList(environment){
    	let _this = this;
        // this.SessionCheck()
        for (var each in this.EnvironmentList)
        {
        	if(this.EnvironmentList[each].lmll==environment)
        	{
	          this.MessageClosed('error')
            $("#loadingSpinner").fadeIn();
	          var Authorization = this.$session.get('access_token')
	          this.$http.post(config.AUTO_ENV + '/get_combined_table_by_environment', 
	          {
	            'ds_id':this.$session.get('datasource_id'),
	            'connection_str':this.$session.get('con_str'),
	            'schema':this.$session.get('schema'),
	            'database_type':this.$session.get('database_type'),
	            'environment_name': environment
	          },{
	              headers: {
	                'Authorization': Authorization,
	                'Content-Type': 'application/json'
	            }
	        }).then(response => {
            $("#loadingSpinner").fadeOut();
            var data = JSON.parse(response.bodyText);
			      if(data.status == 'SUCCESS')
            {
    				  this.combinedViewTableList = []
    				  this.combinedViewTableList = data.combined_table_list
    					$( "#combinedViewTableList" ).DataTable().destroy()
    				  this.$nextTick(function() {
    					$( "#combinedViewTableList" ).DataTable();
    					$( "#SubMenu" ).css( "display", "block" );
    				  })
            }
            else if (response.status == 'FAILURE')
            {
              this.ShowErrorMessage=true  
              this.ErrorMessage='Somthing went wrong. Try Again'
              this.ErrorTitle='Error Occured'
            } 
            else 
            {
              this.ShowErrorMessage=true
              this.ErrorMessage='Data not found'
              this.ErrorTitle='Data not found'
            }},response => {
  				  if(response)
            {
  					  var data = JSON.parse(response.bodyText);
  				  }
            else
            {
  					  data = {}
  				  }
  				  var data =JSON.parse(response.bodyText)
  				  if(data.message === "session_expired")
            {
  					  this.$session.destroy()
  					// sessionCheck(this);
  				  } 
            else if(data.message === "Not Found")
            {
  		        this.combinedViewTableList = []
  		      } 
            else 
            {
    				  this.ShowErrorMessage=true
    				  this.ErrorTitle=data.message
    				  this.ErrorMessage=data.error
  				  }
    				}).catch(e => {
    					console.log('in list')
    					console.log(e)
              $("#loadingSpinner").fadeOut();
    				  this.ShowErrorMessage=true
    				  this.ErrorTitle='Error Occured'
    				  this.ErrorMessage='Something went wrong.Try Again'
    				});
			}
		}		
    },
    MessageClosed(MessageType)
    {
      console.log('we are in messages')
      console.log(MessageType)
      if(MessageType === 'success') 
      {
        window.location.href = "/"
      } 
      else if (MessageType === 'error') 
      {
        console.log('we are in error messages')
        this.ShowErrorMessage=false
        this.ErrorTitle=''
        this.ErrorMessage=''
        this.ShowErrorMessageForRole=false
        this.ErrorTitleForRole=''
        this.ErrorMessageForRole=''
      }
    }
  }
}
</script>
