  <template>
  <div>
  <BreadCrumbs></BreadCrumbs>
  <h2> Combined View Environment List </h2>
    <div class="panel">
      <div class="panel-body">
        <div>
          <router-link to="/editcombinedview" id="Combined_view" class="btn btn-success">Add New Combined View</router-link>
          <div class="example-box-wrapper">
            <div id="ShowMessages">
              <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="combinedViewEnvList">
                <thead>
                  <tr>
                    <th>Source Data Source Name</th>
                    <th>Target Data Source Name</th>
                    <th>Combined Data Source Name</th>
                    <th>View Type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>S1</td>
                    <td>T1</td>
                    <td>C1</td>
                    <td>Archived</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>  
        </div>
      </div>
    </div>
  </div>     
</template>

<script>
import Simplert from 'vue2-simplert'
import BreadCrumbs from '../Breadcrumbs.vue'
export default {
  components: {
    Simplert,
    BreadCrumbs
  },
  mounted () {
    $('#combinedViewEnvList').DataTable()
    this.getcombinedViewEnvList()
    this.$nextTick(function () {
      $('#SubMenu').css('display', 'block')
    })
  },
  methods: {
    getcombinedViewEnvList(){
      this.$nextTick(function() {
            $( "#combinedViewEnvList" ).DataTable();
            $( "#SubMenu" ).css( "display", "block" );
      })
    }
  }
}
</script>
