<template>
  <div>
  <BreadCrumbs></BreadCrumbs>
  <h2> JDE Application </h2>
    <div class="panel">
      <div class="panel-body">
        <h3 class="title-hero">
          Manage JDE Connection
        </h3>
        <div class="example-box-wrapper">
          <div>
            <vue-toastr ref="toastr" name="alert_message"></vue-toastr>
          </div>
          <div id="ShowMessages">
            <div class="alert alert-danger" v-if="ShowErrorMessage">
              <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('error')"></a>
              <div class="alert-content">
                <h4 class="alert-title">{{ErrorTitle}}</h4>
                <p>{{ErrorMessage}}</p>
              </div>
            </div>
          </div>  
          <!-- <font color="red">*All fields are Required</font> -->
            <form @submit.prevent="validateBeforeSubmit" enctype="multipart/form-data" class="form-horizontal bordered-row" data-parsley-validate="" id="manageJdeconnection" data-validate="parsley" novalidate>
              <div class="form-group">
                <label class="col-sm-3 control-label">Select Datasource Name</label>
                <div class="col-sm-4">
                  <select id="datasource" name="datasource" class="form-control" v-on:change=GetDataSourceDetails(collection.form.datasource) v-model="collection.form.datasource"  data-parsley-required>
                      <option v-for = "(datasource,index) in DatasourceList" v-bind:value ="datasource.datasource_info.datasource_id" :disabled="datasource.datasource_info.datasource_name ==='Select Datasource Name'">{{datasource.datasource_info
                        .datasource_name}}</option>
                  </select>
                </div>
              </div>  
              <div class="form-group">
                <div class="col-sm-6">
                  <button type="submit" name="submit" class="btn success">Process</button>
                </div>
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>                 
</template>

<script>
  import config from '../../config.json'
  import BreadCrumbs from '../Breadcrumbs.vue'
  import sessionCheck from '../../methods/sessionCheck'
  import Vue from 'vue'
  import Toaster from 'v-toaster'

  // You need a specific loader for CSS files like https://github.com/webpack/css-loader
  import 'v-toaster/dist/v-toaster.css'

// optional set default imeout, the default is 10000 (10 seconds).
  Vue.use(Toaster, {timeout: 5000})


  export default {
    components: {
      BreadCrumbs
    },
    data () {
      return {
        // DatasourceList:[{"datasource_name":"Select Datasource Name","datasource_id":"Select Datasource Name","datasource_type":"","restricted_environment_type":"","description":"","connection_string":"","datasource_property":"","client_id":"","dblink":"","user_id":"","schema_name":"","database_type":"","connection_string_id":"","host":"","port":"","database_name":""}],
        DatasourceList:[{"active":"","client_id":"","database_name":"","datasource_id":"","id":"","ip":"","is_deleted":"","port":"",
        "datasource_info":{"datasource_name":"Select Datasource Name","datasource_id":"Select Datasource Name","datasource_type":"","restricted_environment_type":"","description":"","connection_string":"","datasource_property":"","client_id":"","dblink":"","user_id":"","schema_name":"","database_type":"","connection_string_id":"","host":"","port":"","database_name":""}}],
        collection:{
          form:{
            datasource:'Select Datasource Name',
            constr:'',
            datasource_id:'',
            schema:''
          }
        },
        ShowSuccessMessage: false,
        ShowErrorMessage:false,
        ErrorTitle:'',
        ErrorMessage:'',
        showModal: false
      }
    },
    mounted () {
      sessionCheck(this);
      this.getDataSourceList()
    },
    methods: {
      validateBeforeSubmit (e) {
          var instance = $('#manageJdeconnection').parsley()
          if (instance.isValid() === true) {
            this.MakeJdeConnection()
          }
      },
      getDataSourceList () {
       sessionCheck(this);
       var Authorization = this.$session.get('access_token')
       // this.$http.post(config.DATA_SOURCE_URL + '/get_jde_datasource_by_client  ',
       //  {
       //      'client_id':this.$session.get('client_id'),
       //      'is_jde_application':this.$session.get('is_jd_application')
       //  },
        this.$http.get(config.DATA_SOURCE_URL + '/get_datasource_client/'+this.$session.get('client_id'),
        {
          headers: 
          {
            'Authorization': Authorization,
            'Content-Type': 'application/json'
          }

         }).then(response => {
            if(response.status == 200)
            {
              var data = JSON.parse(response.bodyText)
              for (var i = 0; i< data.length; i++)
              {  
                this.DatasourceList.push(data[i])
              }  
            } 
            else 
            {
              this.ShowErrorMessage=true
              this.ErrorMessage=data.message
              this.ErrorTitle='Data not found'
            }
            this.collection.form.datasource = "Select Datasource Name"
           },response => {
            var data =JSON.parse(response.bodyText)
            if(data.message === "session_expired"){
              this.$session.destroy()
              this.SessionCheck()
            } 
            else 
            {
              this.ShowErrorMessage=true
              this.ErrorTitle=data.message
              this.ErrorMessage=data.error
            }
          }).catch(e => {
            this.ShowErrorMessage=true
            this.ErrorTitle='Error Occured'
            this.ErrorMessage='Something went wrong.Try Again'
        })
      },
      GetDataSourceDetails(index) {
        let _this = this;
        $('#manageJdeconnection').parsley().destroy();
          for (var each in this.DatasourceList) {
            if (this.DatasourceList[each].datasource_id==index)
            {
              if (this.DatasourceList[each].datasource_info.datasource_type=='datasource')
              {
                if (this.DatasourceList[each].datasource_info.database_type=='oracle')
                {
                  this.collection.form.constr = "oracle+cx_oracle://"+this.DatasourceList[each].datasource_info.user+":"+this.DatasourceList[each].datasource_info.password+"@"+this.DatasourceList[each].datasource_info.host+":"+this.DatasourceList[each].datasource_info.port+"/"+this.DatasourceList[each].datasource_info.database_name+"?driver=FreeTDS"
                }
                else if(this.DatasourceList[each].datasource_info.database_type=='ms_sql')
                {
                  this.collection.form.constr = "mssql://"+this.DatasourceList[each].datasource_info.user+":"+this.DatasourceList[each].datasource_info.password+"@"+this.DatasourceList[each].datasource_info.host+"/"+this.DatasourceList[each].datasource_info.database_name+"?driver=ODBC Driver 17 for SQL Server&; odbc_options='TDS_Version=7.2'"
                }  
              }
              else
              {  
                this.collection.form.constr = this.DatasourceList[each].datasource_info.connection_string
              }
              this.collection.form.datasource_id = this.DatasourceList[each].datasource_id
              this.collection.form.schema = this.DatasourceList[each].datasource_info.schema_name
              this.collection.form.database_type = this.DatasourceList[each].datasource_info.database_type
            }
          }
        $('#manageJdeconnection').parsley()
      },
      MakeJdeConnection(){
        this.$session.start()
        var Authorization = this.$session.get('access_token')
        this.$http.post(config.AUTO_ENV + '/check_connection',{
            'ds_id':this.collection.form.datasource_id,
            'connection_str':this.collection.form.constr
        },{
            headers: {
              'Authorization': Authorization,
              'Content-Type': 'application/json'
            }
          }).then(response => {
            var data = JSON.parse(response.bodyText)
            if (data.connection_details === 'success') 
            {
              this.ShowSuccessMessage =true
              window.location.href = "/showenvironment"
              this.$session.set('is_jd_application','true')
              this.$session.set('schema', this.collection.form.schema)
              this.$session.set('con_str', this.collection.form.constr)
              this.$session.set('datasource_id', this.collection.form.datasource_id)
              this.$session.set('database_type', this.collection.form.database_type)
            }  
            else if(data.connection_details.status === 'FAILURE'){
              this.$toaster.error('Unable to connect JDE Application.')
            }  

            },response => {
              var data =JSON.parse(response.bodyText)
              if(data.message === "session_expired"){
              this.$session.destroy()
              this.SessionCheck()
              } else {
              this.ShowErrorMessage=true
              this.ErrorTitle=data.message
              this.ErrorMessage=data.error
              }
            }).catch(e => {
            this.ShowErrorMessage=true
            this.ErrorTitle='Error Occured'
            this.ErrorMessage='Something went wrong.Try Again'
          }) 
        },
        MessageClosed(MessageType)
        {
          console.log('we are in messages')
          console.log(MessageType)
          if(MessageType === 'success') 
          {
            window.location.href = "/"
          } 
          else if (MessageType === 'error') 
          {
            console.log('we are in error messages')
            this.ShowErrorMessage=false
            this.ErrorTitle=''
            this.ErrorMessage=''
  
            this.ShowErrorMessageForRole=false
            this.ErrorTitleForRole=''
            this.ErrorMessageForRole=''
         }
      },
  }
}
</script>