<template>
  <div>
  <BreadCrumbs></BreadCrumbs>
  <h2> Create Combined View Environment Creation </h2>
    <div class="panel">
      <div class="panel-body">
        <h3 class="title-hero">
          Manage Combined View
        </h3>
        <div class="example-box-wrapper">
          <font color="red">*All fields are Required</font>
            <form class="form-horizontal bordered-row">
              <div class="form-group">
                  <label class="col-sm-3 control-label">Enter Source Data Source Name</label>
                  <div class="col-sm-4">
                      <input type="text" id="src_name" name="src_name" class="form-control popover-button-default" placeholder="Enter Source Data Source Name" title="Source Data Source Name" data-trigger="focus" data-placement="top" data-parsley-type="alphanum" required>
                  </div>
              </div>    
              <div class="form-group">
                  <label class="col-sm-3 control-label">Enter Target Data Source Name</label>
                  <div class="col-sm-4">
                      <input type="text" id="target_src_name" name="target_src_name" class="form-control popover-button-default" placeholder="Enter Source Data Target Name" title="Source Data Target Name" data-trigger="focus" data-placement="top" data-parsley-type="alphanum" required>
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-sm-3 control-label">Enter Combined Data Source Name</label>
                  <div class="col-sm-4">
                      <input type="text" id="combined_src_name" name="combined_src_name" class="form-control popover-button-default" placeholder="Enter Combined Data Target Name" title="Combined Data Target Name" data-trigger="focus" data-placement="top" data-parsley-type="alphanum" required>
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-sm-3 control-label" style="padding-top:1px">Create View Type</label>
                  <div class="col-sm-4">
                    <input type="radio" id="target_only" value="Target Only">&nbsp;<label for="target_only">Target Only</label>&nbsp;
                    <input type="radio" id="combined_target" value="Combined & Target">&nbsp;<label for="combined_target">Combined & Target</label>
                  </div>
              </div>
              <div class="form-group">
                <div class="col-sm-6">
                  <button type="submit" name="submit" class="btn success">Save</button>
                  <button type="button" name="cancel" class="btn success" href="javascript:;" v-on:click="showConfirmCancelAlert()">Cancel</button>
                </div>
              </div>
            </form>
            <simplert :useRadius="true" :useIcon="true" ref="simplert">
            </simplert>
        </div>
      </div>
    </div>
  </div>                 
</template>

<script>
  import BreadCrumbs from '../Breadcrumbs.vue'
  import Simplert from 'vue2-simplert'
  export default {
    components: {
      BreadCrumbs,
      Simplert
    },
    methods:{
      showConfirmCancelAlert () {
        let confirmFn = function () {
          this.$router.push('/createcombinedview')
        }
        let obj = {
          title: 'Cancel',
          message: 'Are you sure want to Cancel?',
          type: 'info',
          useConfirmBtn: true,
          onConfirm: confirmFn
        }
        this.$refs.simplert.openSimplert(obj)
      }
    }
  }
</script>
