<template>
	<div>
	<BreadCrumbs></BreadCrumbs>
	<h2> Create Environment </h2>
	<div class="panel">
	<div class="panel-body">
		<br/><br/>
		<div class="example-box-wrapper">
          	<div id="ShowMessages">
	            <div class="alert alert-danger" v-if="ShowErrorMessage">
	              <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('error')"></a>
	              <div class="alert-content">
	                <h4 class="alert-title">{{ErrorTitle}}</h4>
	                <p>{{ErrorMessage}}</p>
	              </div>
	            </div>
          	</div>
			<div>
				<vue-toastr ref="toastr" name="alert_message"></vue-toastr>
			</div>
			<div class="container col-md-12">
				<div class="row">
					<form  @submit.prevent="validateBeforeSubmit" enctype="multipart/form-data"  data-parsley-validate="" id="createautoenv" data-validate="parsley" novalidate>
						<div class="form-group col-md-11">
							<div class="form-group col-md-4 col-md-offset-2">
								<label for="sourceenvironment" style="font-size: 15px; text-align:center;display: block;">Source</label>     
							</div>
							<div class="form-group col-md-4 col-md-offset-2">
								<label for="archivedenvironment" style="font-size: 15px; text-align:center;display: block;">Archived</label>     
							</div>
						</div>
						<!--Environment Name-->
						<div class="form-group col-md-11">
							<div class="form-group col-md-2">
								<label for="environmentname">Environment Name</label>
							</div>
							<div class="form-group col-md-4">
								<!-- style="margin-left:-45px"> -->
								<select id="source" name="source" class="form-control" data-parsley-required v-model="sourceenvironment" v-on:change=GetSourceDetails(sourceenvironment)>
									<option v-for = "(source,index) in SourceEnvironmentList" v-bind:value ="source.omenhv" :disabled="source.omenhv=='Select Source Environment'" >{{source.omenhv}}</option>
								</select>
							</div>
							
							<div class="form-group col-md-4 col-md-offset-2">
								<input type="text" class="form-control" id="archived_env_name" placeholder="Enter Archived Environment Name" v-model="collection.form.archived_env_name">
							</div>
						</div>		
							<!--Environment Description-->
						<div class="form-group col-md-11">
							<div class="form-group col-md-2">
								<label for="environmentname">Environment Description</label>
							</div>
							<div class="form-group col-md-4 ">
								<!-- style="margin-left:-45px"> -->
								<textarea rows="2" cols="37" id="source_description" name="source_description" v-model="collection.form.source_description" placeholder="Enter source environment description" readonly>
                  				</textarea>
							</div>
							<div class="form-group col-md-4 col-md-offset-2">
								<textarea rows="2" cols="37" id="archived_description" name="archived_description" v-model="collection.form.archived_description" placeholder="Enter Archived Environment Description"> 
								</textarea>
							</div>
						</div>
						<!--Business Data Source-->
						<div class="form-group col-md-11">
							<div class="form-group col-md-2">
								<label for="environmentname">Business Datasource</label>
							</div>
							<div class="form-group col-md-4">
								<div class="row">
									<div class="form-group col-md-8">
										<input type="text" class="form-control" id="target_business_datasource" v-model="collection.form.source_business_datasource" readonly v-show="collection.form.source == 'DV920     '" >
									</div>
									<div class="form-group col-md-4">
										<input type="text" class="form-control" id="target_business_ds_owner"  v-model="collection.form.source_business_ds_owner" readonly="" v-show="collection.form.source == 'DV920     '" >
									</div>
								</div>
							</div>
							<div class="form-group col-md-4 col-md-offset-2">
								<div class="row">
									<div class="form-group col-md-7">
										<select id="archived_business_ds" name="archived_business_ds" class="form-control" v-on:change=GetArchiveBusinessDSData(collection.form.archived_business_ds) v-model="collection.form.archived_business_ds">
											<option v-for = "(datasource,index) in DatasourceList" v-bind:value ="datasource.datasource_info.datasource_name" :disabled="datasource.datasource_info.datasource_name ==='Select Datasource Name'">{{datasource.datasource_info.datasource_name}}</option>
										</select>
									</div>	
									<div class="form-group col-md-5">
										<input type="text" class="form-control" id="archived_business_ds_owner"  v-model="collection.form.archived_business_ds_owner" readonly> 
									</div>
								</div>
							</div>
						</div>	
						<!--Control Table Data Source-->
<!-- 						<div class="form-group col-md-11">
							<div class="form-group col-md-2">
								<label for="environmentname">Control Table DataSource</label>
							</div>
							<div class="form-group col-md-4">
								<div class="row">
									<div class="form-group col-md-8">
										<input type="text" class="form-control" id="source_control_datasource"  v-model="collection.form.source_control_datasource" readonly v-show="collection.form.source == 'DV920     '" >
									</div>
									<div class="form-group col-md-4"> 
										<input type="text" class="form-control" id="target_control_ds_owner" v-model="collection.form.source_control_ds_owner" readonly v-show="collection.form.source == 'DV920     '" > 
									</div>
								</div>
							</div>
							<div class="form-group col-md-4 col-md-offset-2">
								<div class="row">
									<div class="form-group col-md-8">
										<input type="text" class="form-control" id="archived_control_table_ds"  v-model="collection.form.archived_control_table_ds"> 
									</div>	
									<div class="form-group col-md-4">
										<input type="text" class="form-control" id="archived_control_table_ds_owner"  v-model="collection.form.archived_control_table_ds_owner"> 
									</div>
								</div>
							</div>
						</div> -->
						<!--Central objects Data Source-->
						<div class="form-group col-md-11">
<!-- 							<div class="form-group col-md-2">
								<label for="environmentname" v-show="collection.form.source == 'DV920     '">Central objects Data Source</label>
							</div>
							<div class="form-group col-md-4">
								<div class="row">
									<div class="form-group col-md-8">
										<input type="text" class="form-control" id="source_central_obj_ds" v-model="collection.form.source_central_obj_ds"  v-show="collection.form.source == 'DV920     '" readonly>
									</div>
									<div class="form-group col-md-4"> 
										<input type="text" class="form-control" id="source_central_obj_ds_owner" v-model="collection.form.source_central_obj_ds_owner"  v-show="collection.form.source == 'DV920     '" readonly> 
									</div>
								</div>
							</div> -->

							<div class="form-group col-md-2 col-md-offset-6">
								<label for="environmentname">Combined DataSource</label>
							</div>
							<div class="form-group col-md-4">
								<div class="row">
									<div class="form-group col-md-7">
										<select id="combined_datasource" name="combined_datasource" class="form-control" v-on:change=GetArchiveCombineDSData(collection.form.archived_combined_ds) v-model="collection.form.archived_combined_ds">
											<option v-for = "(datasource,index) in DatasourceList" v-bind:value ="datasource.datasource_info.datasource_name" :disabled="datasource.datasource_info.datasource_name ==='Select Datasource Name'">{{datasource.datasource_info.datasource_name}}</option>
										</select>
									</div>
									<div class="form-group col-md-5">
										<input type="text" class="form-control" id="combined_ds_owner"  v-model="collection.form.archived_combined_ds_owner" readonly>
									</div>
								</div>
							</div>

						</div>
						<!--Object librarian Data Source-->
						<div class="form-group col-md-11">
<!-- 							<div class="form-group col-md-2">
								<label for="environmentname" v-show="collection.form.source == 'DV920     '">Object librarian DataSource</label>
							</div>
							<div class="form-group col-md-4">
								<div class="row">
									<div class="form-group col-md-8">
										<input type="text" class="form-control"  id="source_obj_lib_ds" v-model="collection.form.source_obj_lib_ds" readonly v-show="collection.form.source == 'DV920     '">
									</div>
									<div class="form-group col-md-4">
										<input type="text" class="form-control" id="source_obj_lib_ds_owner" v-model="collection.form.source_obj_lib_ds_owner" readonly v-show="collection.form.source == 'DV920     '">
									</div>
								</div>
							</div> -->
							<div class="form-group col-md-2 col-md-offset-6">
								<label for="environmentname" >EDC Server Map Datasource</label>
							</div>
							<div class="form-group col-md-4">
								<div class="row">
									<div class="form-group col-md-7">
										<select id="system_datasource" name="system_datasource" class="form-control"  v-on:change=GetArchiveServerMapDSData(collection.form.archived_server_map_ds) v-model="collection.form.archived_server_map_ds">
											<option v-for = "(datasource,index) in DatasourceList" v-bind:value ="datasource.datasource_info.datasource_name" :disabled="datasource.datasource_info.datasource_name ==='Select Datasource Name'">{{datasource.datasource_info.datasource_name}}</option>
										</select>
									</div>
									<div class="form-group col-md-5">
										<input type="text" class="form-control" id="source_control_datasource"  v-model="collection.form.archived_server_map_ds_owner" readonly>
									</div>
								</div>
							</div>
						</div>
						<!--System data Data Source-->
						<div class="form-group col-md-11">
<!-- 							<div class="form-group col-md-2">
								<label for="environmentname" v-show="collection.form.source == 'DV920     '">System data DataSource</label>
							</div>
							<div class="form-group col-md-4">
								<div class="row">
									<div class="form-group col-md-8">
										<input type="text" class="form-control" id="source_system_ds" v-model="collection.form.source_system_ds" readonly v-show="collection.form.source == 'DV920     '">
									</div>
									<div class="form-group col-md-4">
										<input type="text" class="form-control" id="source_system_ds_owner" v-model="collection.form.source_system_ds_owner" v-show="collection.form.source == 'DV920     '" readonly>
									</div>
								</div>
							</div> -->
							<div class="form-group col-md-2 col-md-offset-6">
								<label for="environmentname">EDC System Map Datasource</label>
							</div>
							<div class="form-group col-md-4">
								<div class="row">
									<div class="form-group col-md-7">
										<select id="server_map_datasource" name="server_map_datasource" class="form-control" v-on:change=GetArchiveSystemDSData(collection.form.archived_system_ds) v-model="collection.form.archived_system_ds">
											<option v-for = "(datasource,index) in DatasourceList" v-bind:value ="datasource.datasource_info.datasource_name" :disabled="datasource.datasource_info.datasource_name ==='Select Datasource Name'">{{datasource.datasource_info.datasource_name}}</option>
										</select>
									</div>
									<div class="form-group col-md-5">
										<input type="text" class="form-control" id="source_control_datasource"  v-model="collection.form.archived_system_ds_owner" readonly> 
									</div>
								</div>
							</div>			
						</div>
						<!--Server Map Data Source-->
<!-- 						<div class="form-group col-md-11" v-show="collection.form.source == 'DV920     '">
							<div class="form-group col-md-2">
								<label for="environmentname" v-show="collection.form.source == 'DV920     '">Server Map DataSource</label>
							</div>
							<div class="form-group col-md-4">
								<div class="row">
									<div class="form-group col-md-8">
										<select id="source_server_map_datasource" name="source_server_map_datasource" class="form-control">
											<option v-for = "(datasource,index) in ServerMapDatasource" v-bind:value ="datasource.omdatp" :selected="index=='1'">{{datasource.omdatp}}</option>
										</select>
									</div>
									<div class="form-group col-md-4">
										<select id="source_server_map_ds_owner" name="source_server_map_ds_owner" class="form-control">
											<option v-for = "(datasource,index) in ServerMapDatasource" v-bind:value ="datasource.omoown" :selected="index=='1'">{{datasource.omoown}}</option>
										</select>
									</div>
								</div>
							</div>		
						</div> -->
						<div class="form-group col-md-10">
							<div class="form-group col-md-4" style="float:right; padding-right: 60%;">
								<button type="submit" name="create environment" class="btn success">Create Environment</button>
							</div>
						</div>
					</form>
					<div class="clearfix"></div>
					<br /><br />
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import config from '../../config.json'
	import sessionCheck from '../../methods/sessionCheck'
	import Simplert from 'vue2-simplert'
	 import Vue from 'vue'
	import BreadCrumbs from '../Breadcrumbs.vue'
	 import Toaster from 'v-toaster'
	   // You need a specific loader for CSS files like https://github.com/webpack/css-loader
	 import 'v-toaster/dist/v-toaster.css'
	
	// optional set default imeout, the default is 10000 (10 seconds).
	 Vue.use(Toaster, {timeout: 5000})
	 import VTooltip from 'v-tooltip'
	 Vue.use(VTooltip)
	 new Vue({
	   data: {
	     business_ds: 'Enter Business DataSource Name.'
	   }
	 })
	export default {
	  components: {
	    BreadCrumbs,
	    Simplert
		},
	   data () {
	    return {
	       SourceEnvironmentList :[{"omenhv":"Select Source Environment","lmdl01":"","omdatp":"","omoown":""}],
	       SourceDatasourceList:[],
	       BusinessDataSourceList:[],
	       ControlTableDataSourceList:[],
	       CentralObjectDataSourceList:[],
	       ObjLibrarianDataSourceList:[],
	       SystemDatasource:[],
	       ServerMapDatasource:[],
	       // CombinedDataSourceList:[{"datasource_name":"Select Combined DataSource","client_id":"","data_class":"","database_name":"","database_server_name":"","database_type":"","datasource_id":"","datasource_property":"","datasource_use":"","is_jdenetds":"","object_owner_id":"","platform":"","user_id":""}],
	       // ServerMapDataSourceList :[{"datasource_name":"Select ServerMap DataSource","client_id":"","data_class":"","database_name":"","database_server_name":"","database_type":"","datasource_id":"","datasource_property":"","datasource_use":"","is_jdenetds":"","object_owner_id":"","platform":"","user_id":""}],
	       // SystemDataSourceList :[{"datasource_name":"Select System DataSource","client_id":"","data_class":"","database_name":"","database_server_name":"","database_type":"","datasource_id":"","datasource_property":"","datasource_use":"","is_jdenetds":"","object_owner_id":"","platform":"","user_id":""}],
	        DatasourceList:[{"active":"","client_id":"","database_name":"","datasource_id":"","id":"","ip":"","is_deleted":"","port":"",
        	"datasource_info":{"datasource_name":"Select Datasource Name","datasource_id":"Select Datasource Name","datasource_type":"","restricted_environment_type":"","description":"","connection_string":"","datasource_property":"","client_id":"","dblink":"","user_id":"","schema_name":"","database_type":"","connection_string_id":"","host":"","port":"","database_name":""}}],
	       collection:{
	         form:{
	           "source": "Select Source Environment",
	           "archived_env_name":"",
	           "source_description":"",
	           "archived_description":"",
	           "source_business_datasource":"",
	           "source_business_ds_owner":"",
	           "archived_business_ds_owner":"",
	           "archived_business_ds":"Select Datasource Name",
	           "archived_control_table_ds":"",
	           "archived_control_table_ds_owner":"",
	           "source_control_datasource":"",
	           "source_control_ds_owner":"",
	           "source_central_obj_ds":"",
	           "source_central_obj_ds_owner":"",
	           "source_obj_lib_ds":"",
	           "source_obj_lib_ds_owner":"",
	           "archived_system_ds":"Select Datasource Name",
	           "archived_system_ds_owner":"",
   	           "source_system_ds":"",
	           "source_system_ds_owner":"",
	           "source_server_map_ds":"",
	           "source_server_map_ds_owner":"",
	           "archived_server_map_ds":"Select Datasource Name",
	           "archived_server_map_ds_owner":"",
	           "archived_combined_ds":"Select Datasource Name",
	           "archived_combined_ds_owner":""
	         }
	       },
	       sourceenvironment:"Select Source Environment",
	       ShowErrorMessage:false,
	       ErrorMessage:"",
	       ErrorTitle:""
	     }
	   },
	   mounted () {
	   	 sessionCheck(this);
	     this.GetSourceEnvironment()
	     this.GetSourceDatasource()
	     this.getEDCDataSourceList()
	   },
	   methods:{
	   GetSourceEnvironment () {
	       let _this = this;
	       //this.SessionCheck()
	       this.MessageClosed('error')
	        var Authorization = this.$session.get('access_token')
	        this.$http.post(config.AUTO_ENV + '/get_source_environment', 
	        {
	           'ds_id':this.$session.get('datasource_id'),
	           'connection_str':this.$session.get('con_str'),
	           'schema':this.$session.get('schema'),
	           'database_type':this.$session.get('database_type')
	        },{
	            headers: {
	               'Authorization': Authorization,
	               'Content-Type': 'application/json'
	            }
	 
	           }).then(response => {	
	           	var data = JSON.parse(response.bodyText)	
	            if(data.status == 'SUCCESS')
	            {
	               for (var i = 0; i< data.environment_details.length; i++)
	               {
	               	this.SourceEnvironmentList.push(data.environment_details[i])
	               };
	               this.collection.form.source = "Select Source Environment"
	            } 
                else if (response.status == 'FAILURE')
	            {
	              this.ShowErrorMessage=true  
	              this.ErrorMessage='Somthing went wrong. Try Again'
	              this.ErrorTitle='Error Occured'
	            }
	            else 
	            {
	              this.ShowErrorMessage=true
	              this.ErrorMessage='Data not found'
	              this.ErrorTitle='Data not found'
	            }
	            },response => {
	            var data =JSON.parse(response.bodyText)
              	if(data.message === "session_expired"){
                this.$session.destroy()
	            this.SessionCheck()
                } 
                else 
              	{
	              this.ShowErrorMessage=true
	              this.ErrorTitle=data.message
	              this.ErrorMessage=data.error
          		}
	         }).catch(e => {
	           this.ShowErrorMessage=true
	           this.ErrorTitle='Error Occured'
	           this.ErrorMessage='Something went wrong.Try Again'
	         })
	     },
	     getEDCDataSourceList () {
	       sessionCheck(this);
	       var Authorization = this.$session.get('access_token')
	       this.Organization = this.$session.get('user_id')
	        // this.$http.post(config.DATA_SOURCE_URL + '/get_jde_datasource_by_client',
	        // {
	        //    'client_id':this.$session.get('client_id'),
	        //    'is_jde_application':this.$session.get('is_jd_application')
	        // },
	        this.$http.get(config.DATA_SOURCE_URL + '/get_datasource_client/'+this.$session.get('client_id'),
          	{
	            headers: {
	              'Authorization': Authorization,
	              'Content-Type': 'application/json'
	            }
            }).then(response => {

            if(response.status==200)
            {
	            var data = JSON.parse(response.bodyText);
                for (var i = 0; i< data.length; i++)
              	{  
	                this.DatasourceList.push(data[i])
                }
	            // for (var i = 0; i< data.length; i++) 
	            // {
	            //  	if (data[i].data_class.match(/B/) || data[i].data_class.match(/O/) || data[i].data_class.match(/T/) || data[i].data_class.match(/C/))
	            //  	{
	            //  		this.CombinedDataSourceList.push(data[i]);
	            //  	}
	            //    	else if(data[i].data_class.match(/SA/))
	            //    	{
	            //    		this.ServerMapDataSourceList.push(data[i]);
	            //    	}
	            //    	else if(data[i].data_class.match(/S/))
	            //    	{
	            //    		this.SystemDataSourceList.push(data[i]);
	            //    	}
	            // };
           }},response => {
            var data =JSON.parse(response.bodyText)
            if(data.message === "session_expired")
            {
	            this.$session.destroy()
	            this.SessionCheck()
            } 
            else 
            {
               this.ShowErrorMessage=true
               this.ErrorTitle=data.message
               this.ErrorMessage=data.error
          	}
	        }).catch(e => {
	           this.ShowErrorMessage=true
	           this.ErrorTitle='Error Occured'
	           this.ErrorMessage='Something went wrong.Try Again'
	        })
	 
	    },
	     // validateBeforeSubmit (e) {
	     //   var instance = $('#createautoenv').parsley()
	     //   if (instance.isValid() === true) {
	     //     this.save()
	     //   }
	     // },
	     // save () {
	     //   this.ShowSuccessMessage = false
	     //   this.ShowErrorMessage = false
	     //   this.saveData()
	     // },
	     // saveData () {
	     //   let _this = this;
	     //   var Authorization = this.$session.get('access_token')
	     //     this.$http.post(config.AUTO_ENV + '/create_autoenvironment', 
	     //     {
	     //       'ds_id':this.$session.get('datasource_id'),
	     //       'connection_str':this.$session.get('con_str'),
	     //       'schema':this.$session.get('schema'),
	     //       'database_type':this.$session.get('database_type'),
	     //		  'source_env_name':this.collection.form.source_env_name,
	     //       'source_description':this.collection.form.source_description,
	     //       'archived_env_name':this.collection.form.archived_env_name,
	     //       'archived_description':this.collection.form.archived_description,
	     //       'archived_business_ds':this.collection.form.archived_business_ds,
	     //       'archived_business_ds_owner':this.collection.form.archived_business_ds_owner,
	     //       'archived_control_table_ds':this.collection.form.archived_control_table_ds,
	     //       'archived_control_table_ds_owner':this.collection.form.archived_control_table_ds_owner,
	     //       'archived_system_ds_owner':this.collection.form.archived_system_ds_owner,
	     //		  'archived_system_ds':this.collection.form.archived_system_ds,
	     //		  'archived_server_map_ds':this.collection.form.archived_server_map_ds,
	     //  	  'archived_server_map_ds_owner':this.collection.form.archived_server_map_ds_owner
	     //       'archived_combined_ds':this.collection.form.archived_combined_ds
	     //       'archived_combined_ds_owner':this.collection.form.archived_combined_ds

	     //   },{
	     //       headers: {
	     //         'Authorization': Authorization,
	     //         'Content-Type': 'application/json'
	     //       }
	     //       }).then(response => {
	     //         debugger;
	     //         if(response.body == 'Success')
	     //         {
	     //           this.$toaster.success('Unable to connect JDE Application.')
	     //         }
	     //         else if(response.body == 'failure' || response.body == 'Failure') {
	     //           this.$toaster.success('Unable to create Auto Environment.')
	     //         }
	     //   })
	     // },
	    GetSourceDatasource() {
	        let _this = this;
	        //this.SessionCheck()
	        this.MessageClosed('error')
	        var Authorization = this.$session.get('access_token')
	        this.$http.post(config.AUTO_ENV + '/get_source_datasource',
	        {
	           'ds_id':this.$session.get('datasource_id'),
	           'connection_str':this.$session.get('con_str'),
	           'schema':this.$session.get('schema'),
	           'database_type':this.$session.get('database_type')
	        }, 
	        {
	            headers: {
	               'Authorization': Authorization,
	               'Content-Type': 'application/json'
	            }
	 
            }).then(response => {
	           	var data = JSON.parse(response.bodyText)	
	            if(data.status == 'SUCCESS')
	            {
	               var data = JSON.parse(response.bodyText)
	               for (var i = 0; i< data.datasource_details.length; i++) 
	               {
	               	  this.SourceDatasourceList.push(data.datasource_details[i])
	               };
	               for (var i in this.SourceDatasourceList) 
	               {
		                if(this.SourceDatasourceList[i].omdatp.match(/Server Map/))
		                {
		                    this.ServerMapDatasource.push(this.SourceDatasourceList[i]);
		                }
	                }
	            }
	            else if (response.status == 'FAILURE')
	            {
	              this.ShowErrorMessage=true  
	              this.ErrorMessage='Somthing went wrong. Try Again'
	              this.ErrorTitle='Error Occured'
	            } 
	            else 
	            {
	              this.ShowErrorMessage=true
	              this.ErrorMessage='Data not found'
	              this.ErrorTitle='Data not found'
	            }},response => {
	            var data =JSON.parse(response.bodyText)
	            if(data.message === "session_expired"){
	            this.$session.destroy()
	            this.SessionCheck()
	            } 
	            else 
	            {
	              this.ShowErrorMessage=true
	              this.ErrorTitle=data.message
	              this.ErrorMessage=data.error
	          	}
	        	}).catch(e => {
	           		this.ShowErrorMessage=true
	           		this.ErrorTitle='Error Occured'
	           		this.ErrorMessage='Something went wrong.Try Again'
	        })
	     },
	     GetSourceDetails(source_env){
	     	for (var each in this.SourceEnvironmentList) {
	        if (this.SourceEnvironmentList[each].omenhv==source_env)
	        {
	           this.collection.form.source = this.SourceEnvironmentList[each].omenhv
	           this.collection.form.sourceenvironment = this.SourceEnvironmentList[each].omenhv
	           this.collection.form.source_description = this.SourceEnvironmentList[each].lmdl01
	           if (this.SourceEnvironmentList[each].omdatp.match(/Business Data/)) 
	           {
	             this.collection.form.source_business_datasource = this.SourceEnvironmentList[each].omdatp;
	             this.collection.form.source_business_ds_owner = this.SourceEnvironmentList[each].omoown;
	           }
	           else if(this.SourceEnvironmentList[each].omdatp.match(/Control Table/))
	           {
	             this.collection.form.source_control_datasource = this.SourceEnvironmentList[each].omdatp;
	             this.collection.form.source_control_ds_owner = this.SourceEnvironmentList[each].omoown;
	           }
	           else if(this.SourceEnvironmentList[each].omdatp.match(/Central Objects/))
	           {
	             this.collection.form.source_central_obj_ds = this.SourceEnvironmentList[each].omdatp;
	             this.collection.form.source_central_obj_ds_owner = this.SourceEnvironmentList[each].omoown;
	           }
	           else if(this.SourceEnvironmentList[each].omdatp.match(/Object Librarian/))
	           {
	             this.collection.form.source_obj_lib_ds = this.SourceEnvironmentList[each].omdatp;
	             this.collection.form.source_obj_lib_ds_owner = this.SourceEnvironmentList[each].omoown;
	           }
	           else if(this.SourceEnvironmentList[each].omdatp.match(/System/))
	           {
	             this.collection.form.source_system_ds = this.SourceEnvironmentList[each].omdatp;
	             this.collection.form.source_system_ds_owner = this.SourceEnvironmentList[each].omoown;
	           }
	           // else if(this.SourceEnvironmentList[each].omdatp.match(/Server Map/))
	           // {
	           //   this.ServerMapDatasource.push(this.SourceEnvironmentList[each]);
	           // }
	        }
	        }
	    },
	    GetArchiveBusinessDSData(environment_name)
	    {
	       for (var each in this.DatasourceList) 
	       {
	        if(this.DatasourceList[each].datasource_info.datasource_name==environment_name)
	        {
	           this.collection.form.archived_business_ds_owner = this.DatasourceList[each].datasource_info.schema_name
	        }
	       }
	    },
	    GetArchiveCombineDSData(environment_name)
	    {
	       for (var each in this.DatasourceList) 
	       {
	        if(this.DatasourceList[each].datasource_info.datasource_name==environment_name)
	        {
	           this.collection.form.archived_combined_ds_owner = this.DatasourceList[each].datasource_info.schema_name
	        }
	       }
	    },
	    GetArchiveSystemDSData(environment_name)
	    {
	       for (var each in this.DatasourceList) 
	       {
	        if(this.DatasourceList[each].datasource_info.datasource_name==environment_name)
	        {
	           this.collection.form.archived_system_ds_owner = this.DatasourceList[each].datasource_info.schema_name
	        }
	       }
	    },
	    GetArchiveServerMapDSData(environment_name)
	    {
	       for (var each in this.DatasourceList) 
	       {
	        if(this.DatasourceList[each].datasource_info.datasource_name==environment_name)
	        {
	           this.collection.form.archived_server_map_ds_owner = this.DatasourceList[each].datasource_info.schema_name
	        }
	       }
	    },
	    MessageClosed(MessageType){
	        console.log('we are in messages')
	        console.log(MessageType)
	        if(MessageType === 'success') 
	        {
	          window.location.href = "/"
	        }
	        else if (MessageType === 'error') 
	        {
	            console.log('we are in error messages')
		        this.ShowErrorMessage=false
		        this.ErrorTitle=''
		        this.ErrorMessage=''
		
		        this.ShowErrorMessageForRole=false
		        this.ErrorTitleForRole=''
		        this.ErrorMessageForRole=''
	       }
	    },
	 	}
	   }
</script>