<template>
  <div>
  <BreadCrumbs></BreadCrumbs>
  <h2> Edit Data Source View </h2>
    <div class="panel">
      <div class="panel-body">
        <h3 class="title-hero">
          Manage Data Source View
        </h3>
        <div class="example-box-wrapper">
          <font color="red">*All fields are Required</font>
            <form class="form-horizontal bordered-row">
              <div class="form-group">
                <label class="col-sm-3 control-label">Enter Data Source Name</label>
                <div class="col-sm-4">
                  <input type="text" id="ds_name" name="ds_name" class="form-control popover-button-default" placeholder="Enter Data Source Name" title="Enter Data Source Name" data-trigger="focus" data-placement="top" data-parsley-type="alphanum" v-model="this.collection.form.ds_name" required>
                </div>
              </div>    
              <div class="form-group">
                <label class="col-sm-3 control-label">Enter Data Source Use</label>
                <div class="col-sm-4">
                  <input type="text" id="ds_use" name="ds_use" class="form-control popover-button-default" placeholder="Enter Data Source Use" title="Enter Data Source Use" data-trigger="focus" data-placement="top" data-parsley-type="alphanum" required v-model="this.collection.form.ds_use">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Enter Data Source Type</label>
                <div class="col-sm-4">
                  <input type="text" id="ds_type" name="ds_type" class="form-control popover-button-default" placeholder="Enter Data Source Type" title="Enter Data Source Type" data-trigger="focus" data-placement="top" data-parsley-type="alphanum" required v-model="this.collection.form.ds_type">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">JDENET Data Source?</label>
                <div class="col-sm-4">
                  <input type="checkbox" id="is_jdenetds" value="Mike" v-model="is_jdenetds">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Enter Data Class</label>
                <div class="col-sm-4">
                  <input type="text" id="data_class" name="data_class" class="form-control popover-button-default"  placeholder="Enter Data Class" title="Enter Data Class" data-trigger="focus" data-placement="top" data-parsley-type="alphanum" required v-model="this.collection.form.data_class">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Enter Platform Name</label>
                <div class="col-sm-4">
                  <input type="text" id="platform" name="platform" class="form-control popover-button-default" placeholder="Enter Platform Name" title="Enter Platform Name" data-trigger="focus" data-placement="top" data-parsley-type="alphanum" required v-model="this.collection.form.platform">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Enter Database Server Name</label>
                <div class="col-sm-4">
                  <input type="text" id="db_server_name" name="db_server_name" class="form-control popover-button-default"  placeholder="Enter Database Server Name" title="Enter Database Server Name" data-trigger="focus" data-placement="top" data-parsley-type="alphanum" required v-model="this.collection.form.db_server_name">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Enter Object Owner ID</label>
                <div class="col-sm-4">
                  <input type="text" id="obj_owner_id" name="obj_owner_id" class="form-control popover-button-default"  placeholder="Enter Object Owner ID" title="Enter Object Owner ID" data-trigger="focus" data-placement="top" data-parsley-type="alphanum" required v-model="this.collection.form.obj_owner_id">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Enter Database Name</label>
                <div class="col-sm-4">
                  <input type="text" id="db_name" name="db_name" class="form-control popover-button-default"  placeholder="Enter Database Name" title="Enter Database Name" data-trigger="focus" data-placement="top" data-parsley-type="alphanum" required v-model="this.collection.form.db_name">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-6">
                  <button type="submit" name="submit" class="btn success">Save</button>
                  <button type="button" name="cancel" class="btn success" href="javascript:;" v-on:click="showConfirmCancelAlert()">Cancel</button>
                </div>
              </div>
            </form>
            <simplert :useRadius="true" :useIcon="true" ref="simplert">
          </simplert>
        </div>
      </div>
    </div>
  </div>                 
</template>

<script>
  import BreadCrumbs from '../Breadcrumbs.vue'
  import config from '../../config.json'
  import Simplert from 'vue2-simplert'
  export default {
    components: {
      BreadCrumbs,
      Simplert
    },
    data () {
      return {
        collection:{
          form:{
            ds_name:'',
            ds_use:'',
            ds_type: '',
            data_class:'',
            platform:'',
            db_server_name:'',
            is_jdenetds : '',
            obj_owner_id:'',
            db_name:''
          }
        }
      }
    },
     mounted () {
      
    },
    methods: {
      showConfirmCancelAlert () {
        let confirmFn = function () {
          this.$router.push('/showenvironment')
        }
        let obj = {
          title: 'Cancel',
          message: 'Are you sure want to Cancel?',
          type: 'info',
          useConfirmBtn: true,
          onConfirm: confirmFn
        }
        this.$refs.simplert.openSimplert(obj)
      },
    }
  }
</script>
