<template>

	<div>
		<BreadCrumbs></BreadCrumbs>
		<h2> Create Environment </h2>
		<div class="panel">
      <div class="panel-body">
      	<br/><br/>
        <div class="example-box-wrapper">
          <div>
            <vue-toastr ref="toastr" name="alert_message"></vue-toastr>
          </div>
        	<div class="container" style="width:120%"">
						<div class="row">
						  <form  @submit.prevent="validateBeforeSubmit" enctype="multipart/form-data"  data-parsley-validate="" id="createautoenv" data-validate="parsley" novalidate>
                  <div class="form-group col-md-10 col-md-offset-1">
                    <div class="form-group col-md-4">
                      <label for="sourceenvironment" style="font-size: 15px">Source</label>     
                    </div>
                    <div class="form-group col-md-4">
                      <label for="sourceenvironment" style="font-size: 15px">Target</label>     
                    </div>
                    <div class="form-group col-md-4">
                      <label for="combinedenvironment" style="font-size: 15px">Combined</label>     
                    </div>
                  </div>
                  <!--Environment Name-->
                  <div class="form-group col-md-10">
                    <!-- <div class="form-group col-md-1" style="width:0.833333333%;">
                      <span class="glyphicon glyphicon-info-sign" title="Environment Name" style="margin-left:-40px"></span>
                    </div> -->
                    <div class="form-group col-md-4"> <!-- style="margin-left:-45px"> -->
                      <select id="source" name="source" class="form-control" data-parsley-required v-model="sourceenvironment" v-on:change=GetSourceDetails(sourceenvironment)>
                          <option v-for = "(source,index) in SourceEnvironmentList" v-bind:value ="source.omenhv" :disabled="source.omenhv=='Select Source Environment'" style="margin-left:-40px">{{source.omenhv}}</option>
                        </select>     
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" id="target_env_type" placeholder="Enter Target Environment Name" v-model="collection.form.target_env_name">
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" id="target_env_type" placeholder="Enter Combined Environment Name" v-model="collection.form.combine_env_name">
                    </div>
                  </div>
                  <!--Environment Description-->
                  <div class="form-group col-md-10">
                    <!-- <div class="form-group col-md-1" style="width:0.833333333%;">
                      <span class="glyphicon glyphicon-info-sign" title="Environment Description" style="margin-left:-40px"></span>
                    </div> -->
                    <div class="form-group col-md-4"> <!-- style="margin-left:-45px"> -->
                      <textarea rows="2" cols="32" id="source_description" name="source_description" v-model="collection.form.source_description" placeholder="Enter source environment description">
                      </textarea>
                    </div>
                    <div class="form-group col-md-4">
                      <textarea rows="2" cols="32" id="target_description" name="target_description" v-model="collection.form.target_description" placeholder="Enter target environment description"> 
                        </textarea>
                    </div>
                    <div class="form-group col-md-4">
                      <textarea rows="2" cols="32" id="combined_description" name="combined_description" v-model="collection.form.target_description" placeholder="Enter Combined environment description"> 
                        </textarea>
                    </div>
                  </div>
                  <!--Business Data Source-->
                  <div class="form-group col-md-10">
                    <!-- <div class="form-group col-md-1" style="width:0.833333333%;">
                      <span class="glyphicon glyphicon-info-sign" title="Business Data Source" style="margin-left:-40px"></span>
                    </div> --> 
                    <div class="form-group col-md-2" style="width: 20.833333325%"><!-- ;margin-left:-45px"> -->
                      <!-- <span class="glyphicon glyphicon-info-sign" style='display: none;'></span> -->
                      <input type="text" class="form-control" id="target_business_datasource" v-model="collection.form.source_business_datasource" readonly v-show="collection.form.source == 'DV920     '" >
                    </div>
                    <div class="form-group col-md-2" style="width: 12.49995%;">
                      <!-- <span class="glyphicon glyphicon-info-sign" style='display: none;'></span> -->
                       <input type="text" class="form-control" id="target_business_ds_owner"  v-model="collection.form.source_business_ds_owner" readonly="" v-show="collection.form.source == 'DV920     '" >
                    </div>
                    <div class="form-group col-md-2" style="width: 20.833333325%;">
                      <!-- <span class="glyphicon glyphicon-info-sign" title="Enter Business DataSource Name
                      Like Business Data-Test"></span> -->
                      <select id="src_business_datasource" name="business_datasource" class="form-control" > 
                        <option v-for = "(datasource,index) in BusinessDataSourceList" v-bind:value ="datasource.omdatp" :selected="index=='1'">{{datasource.omdatp}}</option>
                      </select> 
                    </div>
                    <div class="form-group col-md-2" style="width: 12.49995%;">
                      <select id="target_business_ds_owner" name="target_business_ds_owner" class="form-control" > 
                        <option v-for = "(datasource,index) in BusinessDataSourceList" v-bind:value ="datasource.omoown" :selected="index=='1'">{{datasource.omoown}}</option>
                      </select> 
                    </div>
                    <div class="form-group col-md-2" style="width: 20.833333325%;">
                      <!-- <span class="glyphicon glyphicon-info-sign" title="Enter Business DataSource Name
                      Like Business Data-Test"></span> -->
                      <select id="combined_business_datasource" name="combined_business_datasource" class="form-control" > 
                        <option v-for = "(datasource,index) in BusinessDataSourceList" v-bind:value ="datasource.omdatp" :selected="index=='1'">{{datasource.omdatp}}</option>
                      </select> 
                    </div>
                    <div class="form-group col-md-2" style="width: 12.49995%;">
                      <select id="combined_business_ds_owner" name="combined_business_ds_owner" class="form-control" > 
                        <option v-for = "(datasource,index) in BusinessDataSourceList" v-bind:value ="datasource.omoown" :selected="index=='1'">{{datasource.omoown}}</option>
                      </select> 
                    </div>
                  </div>
                  <!--Control Table Data Source-->
                  <div class="form-group col-md-10">
                    <!-- div class="form-group col-md-1" style="width:0.833333333%;">
                      <span class="glyphicon glyphicon-info-sign" title="Control Table Data Source" style="margin-left:-40px"></span>
                    </div>  -->
                    <div class="form-group col-md-2" style="width: 20.833333325%"><!-- ;margin-left:-45px"> -->
                      <input type="text" class="form-control" id="source_control_datasource"  v-model="collection.form.source_control_datasource" readonly v-show="collection.form.source == 'DV920     '" >
                    </div>
                    <div class="form-group col-md-2" style="width: 12.49995%;"> 
                      <input type="text" class="form-control" id="target_control_ds_owner" v-model="collection.form.source_control_ds_owner" readonly v-show="collection.form.source == 'DV920     '" > 
                    </div>    
                    <div class="form-group col-md-2" style="width: 20.833333325%;">
                      <!-- <span class="glyphicon glyphicon-info-sign" style='display: none;'></span> -->
                      <select id="target_control_datasource" name="target_control_datasource" class="form-control"> <!-- v-model="collection.form.source_control_datasource"> -->
                        <option v-for = "(datasource,index) in ControlTableDataSourceList" v-bind:value ="datasource.omdatp" :selected="index=='1'">{{datasource.omdatp}}</option>
                      </select>
                    </div>
                    <div class="form-group col-md-2" style="width: 12.49995%;">
                      <!-- <span class="glyphicon glyphicon-info-sign" style='display: none;'></span> -->
                      <select id="target_control_ds_owner" name="target_control_ds_owner" class="form-control"> <!-- v-model="collection.form.source_control_ds_owner"> -->
                        <option v-for = "(datasource,index) in ControlTableDataSourceList" v-bind:value ="datasource.omoown" :selected="index=='1'">{{datasource.omoown}}</option>
                      </select>
                    </div>
                    <div class="form-group col-md-2" style="width: 20.833333325%;">
                      <!-- <span class="glyphicon glyphicon-info-sign" style='display: none;'></span> -->
                      <select id="combined_control_datasource" name="combined_control_datasource" class="form-control"> <!-- v-model="collection.form.source_control_datasource"> -->
                        <option v-for = "(datasource,index) in ControlTableDataSourceList" v-bind:value ="datasource.omdatp" :selected="index=='1'">{{datasource.omdatp}}</option>
                      </select>
                    </div>
                    <div class="form-group col-md-2" style="width: 12.49995%;">
                      <!-- <span class="glyphicon glyphicon-info-sign" style='display: none;'></span> -->
                      <select id="combined_control_ds_owner" name="combined_control_ds_owner" class="form-control"> <!-- v-model="collection.form.source_control_ds_owner"> -->
                        <option v-for = "(datasource,index) in ControlTableDataSourceList" v-bind:value ="datasource.omoown" :selected="index=='1'">{{datasource.omoown}}</option>
                      </select>
                    </div>
                    
                  </div>
                  <!--Central objects Data Source-->
                  <div class="form-group col-md-10">
                    <!-- <div class="form-group col-md-1" style="width:0.833333333%;">
                      <span class="glyphicon glyphicon-info-sign" title="Central objects Data Source" style="margin-left:-40px"></span>
                    </div>  -->
                    <div class="form-group col-md-2"  v-show="collection.form.source == 'DV920     '" style="width: 20.833333325%""><!-- ; margin-left:-45px" > -->
                      <input type="text" class="form-control" id="source_central_obj_ds" v-model="collection.form.source_central_obj_ds" readonly>
                    </div>
                    <div class="form-group col-md-2" v-show="collection.form.source == 'DV920     '" style="width: 12.49995%;">
                      <input type="text" class="form-control" id="source_central_obj_ds_owner" v-model="collection.form.source_central_obj_ds_owner" readonly>
                    </div>
                    <div class="form-group col-md-2" style="width: 20.833333325%;" v-show="collection.form.source == 'DV920     '">
                      <select id="target_central_obj_ds" name="target_central_obj_ds" class="form-control"> <!-- v-model="collection.form.source_central_obj_ds"> -->
                        <option v-for = "(datasource,index) in CentralObjectDataSourceList" v-bind:value ="datasource.omdatp" :selected="index=='1'">{{datasource.omdatp}}</option>
                      </select>
                    </div>
                    <div class="form-group col-md-2" v-show="collection.form.source == 'DV920     '" style="width: 12.49995%;">
                      <select id="target_central_obj_ds_owner" name="target_central_obj_ds_owner" class="form-control" ><!-- v-model="collection.form.source_central_obj_ds_owner"> -->
                        <option v-for = "(datasource,index) in CentralObjectDataSourceList" v-bind:value ="datasource.omoown" :selected="index=='1'">{{datasource.omoown}}</option>
                      </select>
                    </div>
                    <div class="form-group col-md-2" style="width: 20.833333325%;" v-show="collection.form.source == 'DV920     '">
                      <select id="combined_central_obj_ds" name="combined_central_obj_ds" class="form-control"> <!-- v-model="collection.form.source_central_obj_ds"> -->
                        <option v-for = "(datasource,index) in CentralObjectDataSourceList" v-bind:value ="datasource.omdatp" :selected="index=='1'">{{datasource.omdatp}}</option>
                      </select>
                    </div>
                    <div class="form-group col-md-2" v-show="collection.form.source == 'DV920     '" style="width: 12.49995%;">
                      <select id="combined_central_obj_ds_owner" name="combined_central_obj_ds_owner" class="form-control" ><!-- v-model="collection.form.source_central_obj_ds_owner"> -->
                        <option v-for = "(datasource,index) in CentralObjectDataSourceList" v-bind:value ="datasource.omoown" :selected="index=='1'">{{datasource.omoown}}</option>
                      </select>
                    </div>
                  </div>
                  <!--Object librarian Data Source-->
                  <div class="form-group col-md-10" v-show="collection.form.source == 'DV920     '">
                    <!-- <div class="form-group col-md-1" style="width:0.833333333%;">
                      <span class="glyphicon glyphicon-info-sign" title="Object librarian Data Source" style="margin-left:-40px"></span>
                    </div>  -->
                    <div class="form-group col-md-2" style="width: 20.833333325%"><!-- ; margin-left:-45px"> -->
                      <input type="text" class="form-control"  id="source_obj_lib_ds" v-model="collection.form.source_obj_lib_ds" readonly>
                    </div>
                    <div class="form-group col-md-2" style="width: 12.49995%;">
                      <input type="text" class="form-control" id="source_obj_lib_ds_owner" v-model="collection.form.source_obj_lib_ds_owner" readonly>
                    </div>
                    <div class="form-group col-md-2" style="width: 20.833333325%;">
                      <select id="target_obj_lib_ds" name="target_obj_lib_ds" class="form-control">
                      <!-- v-model="collection.form.source_obj_lib_ds"> -->
                        <option v-for = "(datasource,index) in ObjLibrarianDataSourceList" v-bind:value ="datasource.omdatp" :selected="index=='1'">{{datasource.omdatp}}</option>
                      </select>
                    </div>
                    <div class="form-group col-md-2" style="width: 12.49995%;">
                      <select id="target_obj_lib_ds_owner" name="target_obj_lib_ds_owner" class="form-control" >
<!--                       v-model="collection.form.source_obj_lib_ds_owner">
 -->                     <option v-for = "(datasource,index) in ObjLibrarianDataSourceList" v-bind:value ="datasource.omoown" :selected="index=='1'">{{datasource.omoown}}</option>
                      </select>
                    </div>
                    <div class="form-group col-md-2" style="width: 20.833333325%;">
                      <select id="combined_obj_lib_ds" name="combined_obj_lib_ds" class="form-control">
                      <!-- v-model="collection.form.source_obj_lib_ds"> -->
                        <option v-for = "(datasource,index) in ObjLibrarianDataSourceList" v-bind:value ="datasource.omdatp" :selected="index=='1'">{{datasource.omdatp}}</option>
                      </select>
                    </div>
                    <div class="form-group col-md-2" style="width: 12.49995%;">
                      <select id="combined_obj_lib_ds_owner" name="combined_obj_lib_ds_owner" class="form-control" >
<!--                       v-model="collection.form.source_obj_lib_ds_owner">
 -->                     <option v-for = "(datasource,index) in ObjLibrarianDataSourceList" v-bind:value ="datasource.omoown" :selected="index=='1'">{{datasource.omoown}}</option>
                      </select>
                    </div>
                  </div>
                  <!--System data Data Source-->
                  <div class="form-group col-md-10" v-show="collection.form.source == 'DV920     '">
                    <!-- <div class="form-group col-md-1" style="width:0.833333333%;">
                      <span class="glyphicon glyphicon-info-sign" title="System Data Source" style="margin-left:-40px"></span>
                    </div> --> 
                    <div class="form-group col-md-2" style="width: 20.833333325%"><!-- ;margin-left:-45px"> -->
                      <input type="text" class="form-control" id="source_system_ds" v-model="collection.form.source_system_ds" readonly>
                    </div>
                    <div class="form-group col-md-2" style="width: 12.49995%;">
                      <input type="text" class="form-control" id="source_system_ds_owner" v-model="collection.form.source_system_ds_owner" readonly>
                    </div>
                    <div class="form-group col-md-2" style="width: 20.833333325%;">
                      <select id="target_system_ds" name="target_system_ds" class="form-control"> <!-- v-model="collection.form.source_system_ds"> -->
                        <option v-for = "(datasource,index) in SystemDatasource" v-bind:value ="datasource.omdatp" :selected="index=='1'">{{datasource.omdatp}}</option>
                      </select>
                    </div>
                    <div class="form-group col-md-2" style="width: 12.49995%;">
                      <select id="target_system_ds_owner" name="target_system_ds_owner" class="form-control"> <!-- v-model="collection.form.source_system_ds_owner"> -->
                        <option v-for = "(datasource,index) in SystemDatasource" v-bind:value ="datasource.omoown" :selected="index=='1'">{{datasource.omoown}}</option>
                      </select>
                    </div>
                    <div class="form-group col-md-2" style="width: 20.833333325%;">
                      <select id="combined_system_ds" name="combined_system_ds" class="form-control"> <!-- v-model="collection.form.source_system_ds"> -->
                        <option v-for = "(datasource,index) in SystemDatasource" v-bind:value ="datasource.omdatp" :selected="index=='1'">{{datasource.omdatp}}</option>
                      </select>
                    </div>
                    <div class="form-group col-md-2" style="width: 12.49995%;">
                      <select id="combined_system_ds_owner" name="combined_system_ds_owner" class="form-control"> <!-- v-model="collection.form.source_system_ds_owner"> -->
                        <option v-for = "(datasource,index) in SystemDatasource" v-bind:value ="datasource.omoown" :selected="index=='1'">{{datasource.omoown}}</option>
                      </select>
                    </div>
                  </div>
                  <!--Server Map Data Source-->
                  <div class="form-group col-md-10" v-show="collection.form.source == 'DV920     '">
                    <!-- <div class="form-group col-md-1" style="width:0.833333333%;">
                      <span class="glyphicon glyphicon-info-sign" title="Server Map Data Source" style="margin-left:-40px"></span>
                    </div>  -->
                    <div class="form-group col-md-2" style="width: 20.833333325%"><!-- ;margin-left:-45px"> -->
                      <select id="source_server_map_datasource" name="source_server_map_datasource" class="form-control"> <!-- v-model="collection.form.source_server_map_ds"> -->
                        <option v-for = "(datasource,index) in ServerMapDatasource" v-bind:value ="datasource.omdatp" :selected="index=='1'">{{datasource.omdatp}}</option>
                      </select>
                    </div>
                    <div class="form-group col-md-2" style="width: 12.49995%;">
                      <select id="source_server_map_ds_owner" name="source_server_map_ds_owner" class="form-control"> <!-- v-model="collection.form.source_server_map_ds_owner"> -->
                        <option v-for = "(datasource,index) in ServerMapDatasource" v-bind:value ="datasource.omoown" :selected="index=='1'" v-if="datasource.omoown">{{datasource.omoown}}</option>
                        <option v-for = "(datasource,index) in ServerMapDatasource" v-bind:value ="datasource.omoown" :selected="index=='1'" v-else="datasource.omoown"></option>
                      </select>
                    </div>
                    <div class="form-group col-md-2" style="width: 20.833333325%;">
                      <select id="target_server_map_ds" name="target_server_map_ds" class="form-control"> <!-- v-model="collection.form.source_server_map_ds"> -->
                        <option v-for = "(datasource,index) in ServerMapDatasource" v-bind:value ="datasource.omdatp" :selected="index=='1'">{{datasource.omdatp}}</option>
                      </select>
                    </div>
                    <div class="form-group col-md-2" style="width: 12.49995%;">
                      <select id="target_server_map_ds_owner" name="target_server_map_ds_owner" class="form-control"><!-- v-model="collection.form.target_server_map_ds_owner"> -->
                        <option v-for = "(datasource,index) in ServerMapDatasource" v-bind:value ="datasource.omoown" :selected="index=='1'">{{datasource.omoown}}</option>
                      </select>
                    </div>
                    <div class="form-group col-md-2" style="width: 20.833333325%;">
                      <select id="combined_server_map_ds" name="combined_server_map_ds" class="form-control"> <!-- v-model="collection.form.source_server_map_ds"> -->
                        <option v-for = "(datasource,index) in ServerMapDatasource" v-bind:value ="datasource.omdatp" :selected="index=='1'">{{datasource.omdatp}}</option>
                      </select>
                    </div>
                    <div class="form-group col-md-2" style="width: 12.49995%;">
                      <select id="combined_server_map_ds_owner" name="combined_server_map_ds_owner" class="form-control"><!-- v-model="collection.form.target_server_map_ds_owner"> -->
                        <option v-for = "(datasource,index) in ServerMapDatasource" v-bind:value ="datasource.omoown" :selected="index=='1'">{{datasource.omoown}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group col-md-10">
                    <div class="form-group col-md-4" style="float:right; padding-right: 60%;">
                      <button type="submit" name="create environment" class="btn success">Create Environment</button>
                    </div>
                  </div>
					    </form>
					    <div class="clearfix"></div>
					    <br /><br />
						</div>
					</div>
        </div>
      </div>    
    </div>        
	</div>

</template> 

<script>
	import config from '../../config.json'
	import Simplert from 'vue2-simplert'
  import Vue from 'vue'
	import BreadCrumbs from '../Breadcrumbs.vue'
  import Toaster from 'v-toaster'
    // You need a specific loader for CSS files like https://github.com/webpack/css-loader
  import 'v-toaster/dist/v-toaster.css'

// optional set default imeout, the default is 10000 (10 seconds).
  Vue.use(Toaster, {timeout: 5000})
  import VTooltip from 'v-tooltip'
  Vue.use(VTooltip)
  new Vue({
    data: {
      business_ds: 'Enter Business DataSource Name.'
    }
  })
	export default {
	  components: {
	    BreadCrumbs,
	    Simplert
	},
    data () {
      return {
        SourceEnvironmentList:[],
        SourceDatasourceList:[],
        BusinessDataSourceList:[],
        ControlTableDataSourceList:[],
        CentralObjectDataSourceList:[],
        ObjLibrarianDataSourceList:[],
        SystemDatasource:[],
        ServerMapDatasource:[],
        collection:{
          form:{
            "source": "Select Source Environment",
            "target_env_name":"",
            "source_description":"",
            "target_description":"",
            // "source_business_datasource":"Select Business DataSource",
            "source_business_datasource":"",
            // "source_business_ds_owner":"Select Business DataSource Owner",
            "source_business_ds_owner":"",
            "target_business_ds_owner":"",
            "target_business_datasource":"",
            "target_control_datasource":"",
            "target_control_ds_owner":"",
            // "source_control_datasource":"Select Control Table DataSource",
            "source_control_datasource":"",
            // "source_control_ds_owner":"Select Control Table DataSource Owner",
            "source_control_ds_owner":"",
            "target_central_obj_ds":"",
            // "target_central_obj_ds_owner":"Select Central Object DataSource Owner",
            "target_central_obj_ds_owner":"",
            // "source_central_obj_ds":"Select Central Object DataSource",
            "source_central_obj_ds":"",
            // "source_central_obj_ds_owner":"Select Central Object DataSource Owner",
            "source_central_obj_ds_owner":"",
            "target_obj_lib_ds":"",
            // "target_obj_lib_ds_owner":"Select Object Librarian DataSource Owner",
            "target_obj_lib_ds_owner":"",
            // "source_obj_lib_ds":"Select Object Librarian DataSource",
            "source_obj_lib_ds":"",
            // "source_obj_lib_ds_owner":"Select Object Librarian DataSource Owner",
            "source_obj_lib_ds_owner":"",
            // "target_system_ds_owner":"Select System DataSource Owner",
            "target_system_ds_owner":"",
            "target_system_ds":"",
            // "source_system_ds_owner":"Select System DataSource Owner",
            "source_system_ds_owner":"",
            // "source_system_ds":"Select System DataSource",
            "source_system_ds":"",
            // "target_server_map_ds_owner":"Select Server Map DataSource Owner",
            "target_server_map_ds_owner":"",
            // "source_server_map_ds":"Select Server Map DataSource",
            "source_server_map_ds":"",
            // "source_server_map_ds_owner":"Select Server Map DataSource Owner",
            "source_server_map_ds_owner":"",
            "target_server_map_ds":""
          }
        },
        sourceenvironment:"Select Source Environment",
        ShowErrorMessage:"",
        ErrorMessage:"",
        ErrorTitle:""
      }
    },
    mounted () {
      this.GetSourceEnvironment()
      this.GetSourceDatasource()
    },
    methods:{
    GetSourceEnvironment () {
        let _this = this;
        // this.SessionCheck()
        this.MessageClosed('error')
          var Authorization = this.$session.get('access_token')
          this.$http.post(config.AUTO_ENV + '/get_source_environment', 
          {
            // 'job_id':this.$session.get('job_id'),
            'ds_id':this.$session.get('datasource_id'),
            // 'dest_queue':this.$session.get('dest_queue'),
            'connection_str':this.$session.get('con_str'),
            'schema':this.$session.get('schema'),
            'database_type':this.$session.get('database_type')
          },{
              headers: {
                'Authorization': Authorization,
                'Content-Type': 'application/json'
              }
  
            }).then(response => {
              if(response.status == 200)
              {
                var data = JSON.parse(response.bodyText)
                this.SourceEnvironmentList.push({"omenhv":"Select Source Environment","lmdl01":"","omdatp":"","omoown":""})
                for (var i = 0; i< data.environment_details.length; i++) {
                this.SourceEnvironmentList.push(data.environment_details[i])
                };
                this.collection.form.source = "Select Source Environment"
              } 
              else {
               this.ShowErrorMessage=true
               this.ErrorMessage=data.message
               this.ErrorTitle='Data not found'
             }
             },response => {
             var data =JSON.parse(response.bodyText)
               if(data.message === "session_expired"){
               this.$session.destroy()
               this.SessionCheck()
               } 
               else {
               this.ShowErrorMessage=true
               this.ErrorTitle=data.message
               this.ErrorMessage=data.error
           }
          }).catch(e => {
            this.ShowErrorMessage=true
            this.ErrorTitle='Error Occured'
            this.ErrorMessage='Something went wrong.Try Again'
          })
      },
      // validateBeforeSubmit (e) {
      //   var instance = $('#createautoenv').parsley()
      //   if (instance.isValid() === true) {
      //     this.save()
      //   }
      // },
      // save () {
      //   this.ShowSuccessMessage = false
      //   this.ShowErrorMessage = false
      //   this.saveData()
      // },
      // saveData () {
      //   let _this = this;
      //   var Authorization = this.$session.get('access_token')
      //     this.$http.post(config.AUTO_ENV + '/create_autoenvironment', 
      //     {
      //       'ds_id':this.$session.get('datasource_id'),
      //       'connection_str':this.$session.get('con_str'),
      //       'schema':this.$session.get('schema'),
      //       'database_type':this.$session.get('database_type'),
      //       'target_env_name':this.collection.form.target_env_name,
      //       'target_description':this.collection.form.target_description,
      //       'target_business_datasource':this.collection.form.target_business_datasource,
      //       'target_business_ds_owner':this.collection.form.target_business_ds_owner,
      //       'target_control_datasource':this.collection.form.target_control_datasource,
      //       'target_control_ds_owner':this.collection.form.target_control_ds_owner
      //   },{
      //       headers: {
      //         'Authorization': Authorization,
      //         'Content-Type': 'application/json'
      //       }
      //       }).then(response => {
      //         debugger;
      //         if(response.body == 'Success')
      //         {
      //           this.$toaster.success('Unable to connect JDE Application.')
      //         }
      //         else if(response.body == 'failure' || response.body == 'Failure') {
      //           this.$toaster.success('Unable to create Auto Environment.')
      //         }
      //   })
      // },
      GetSourceDatasource() {
        let _this = this;
        // this.SessionCheck()
        this.MessageClosed('error')
          var Authorization = this.$session.get('access_token')
          this.$http.post(config.AUTO_ENV + '/get_source_datasource',
          {
            'ds_id':this.$session.get('datasource_id'),
            'connection_str':this.$session.get('con_str'),
            'schema':this.$session.get('schema'),
            'database_type':this.$session.get('database_type')
          }, 
            {
              headers: {
                'Authorization': Authorization,
                'Content-Type': 'application/json'
              }
  
            }).then(response => {
              if(response.status == 200)
              {
                
                var data = JSON.parse(response.bodyText)
                // this.BusinessDataSourceList.push({'omdatp':'Select Business DataSource','omoown':'Select Business DataSource Owner'})
                // this.ControlTableDataSourceList.push({'omdatp':'Select Control Table DataSource','omoown':'Select Control Table DataSource Owner'})
                // this.CentralObjectDataSourceList.push({'omdatp':'Select Central Object DataSource','omoown':'Select Central Object DataSource Owner'})
                // this.ObjLibrarianDataSourceList.push({'omdatp':'Select Object Librarian DataSource','omoown':'Select Object Librarian DataSource Owner'})
                // this.SystemDatasource.push({'omdatp':'Select System DataSource','omoown':'Select System DataSource Owner'})
                // this.ServerMapDatasource.push({'omdatp':'Select Server Map DataSource','omoown':'Select Server Map DataSource Owner'})
                for (var i = 0; i< data.datasource_details.length; i++) {
                this.SourceDatasourceList.push(data.datasource_details[i])
                };
                for (var i in this.SourceDatasourceList) {
                  if (this.SourceDatasourceList[i].omdatp.match(/Business Data/)) 
                  {
                    this.BusinessDataSourceList.push(this.SourceDatasourceList[i]);
                  }
                  else if(this.SourceDatasourceList[i].omdatp.match(/Control Table/))
                  {
                    this.ControlTableDataSourceList.push(this.SourceDatasourceList[i]);
                  }
                  else if(this.SourceDatasourceList[i].omdatp.match(/Central Objects/))
                  {
                    this.CentralObjectDataSourceList.push(this.SourceDatasourceList[i]);
                  }
                  else if(this.SourceDatasourceList[i].omdatp.match(/Object Librarian/))
                  {
                    this.ObjLibrarianDataSourceList.push(this.SourceDatasourceList[i]);
                  }
                  else if(this.SourceDatasourceList[i].omdatp.match(/System/))
                  {
                    this.SystemDatasource.push(this.SourceDatasourceList[i]);
                  }
                  if(this.SourceDatasourceList[i].omdatp.match(/Server Map/))
                  {
                    this.ServerMapDatasource.push(this.SourceDatasourceList[i]);
                  }
                }

              } 
              else {
               this.ShowErrorMessage=true
               this.ErrorMessage=data.message
               this.ErrorTitle='Data not found'
             }
             },response => {
             var data =JSON.parse(response.bodyText)
               if(data.message === "session_expired"){
               this.$session.destroy()
               this.SessionCheck()
               } 
               else {
               this.ShowErrorMessage=true
               this.ErrorTitle=data.message
               this.ErrorMessage=data.error
           }
          }).catch(e => {
            this.ShowErrorMessage=true
            this.ErrorTitle='Error Occured'
            this.ErrorMessage='Something went wrong.Try Again'
          })
      },
      GetSourceDetails(source_env){
        debugger;
      	for (var each in this.SourceEnvironmentList) {
            if (this.SourceEnvironmentList[each].omenhv==source_env)
            {
              this.collection.form.source = this.SourceEnvironmentList[each].omenhv
              this.collection.form.sourceenvironment = this.SourceEnvironmentList[each].omenhv
              this.collection.form.source_description = this.SourceEnvironmentList[each].lmdl01
              if (this.SourceEnvironmentList[each].omdatp.match(/Business Data/)) 
              {
                this.collection.form.source_business_datasource = this.SourceEnvironmentList[each].omdatp;
                this.collection.form.source_business_ds_owner = this.SourceEnvironmentList[each].omoown;
              }
              else if(this.SourceEnvironmentList[each].omdatp.match(/Control Table/))
              {
                this.collection.form.source_control_datasource = this.SourceEnvironmentList[each].omdatp;
                this.collection.form.source_control_ds_owner = this.SourceEnvironmentList[each].omoown;
              }
              else if(this.SourceEnvironmentList[each].omdatp.match(/Central Objects/))
              {
                this.collection.form.source_central_obj_ds = this.SourceEnvironmentList[each].omdatp;
                this.collection.form.source_central_obj_ds_owner = this.SourceEnvironmentList[each].omoown;
              }
              else if(this.SourceEnvironmentList[each].omdatp.match(/Object Librarian/))
              {
                this.collection.form.source_obj_lib_ds = this.SourceEnvironmentList[each].omdatp;
                this.collection.form.source_obj_lib_ds_owner = this.SourceEnvironmentList[each].omoown;
              }
              else if(this.SourceEnvironmentList[each].omdatp.match(/System/))
              {
                this.collection.form.source_system_ds = this.SourceEnvironmentList[each].omdatp;
                this.collection.form.source_system_ds_owner = this.SourceEnvironmentList[each].omoown;
              }
              // else if(this.SourceEnvironmentList[each].omdatp.match(/Server Map/))
              // {
              //   this.ServerMapDatasource.push(this.SourceEnvironmentList[each]);
              // }
            }
        }
      },
      MessageClosed(MessageType){
        console.log('we are in messages')
        console.log(MessageType)
        if(MessageType === 'success') {
          window.location.href = "/"
        } else if (MessageType === 'error') {
          console.log('we are in error messages')
          this.ShowErrorMessage=false
          this.ErrorTitle=''
          this.ErrorMessage=''

          this.ShowErrorMessageForRole=false
          this.ErrorTitleForRole=''
          this.ErrorMessageForRole=''
        }
      },
  	}
    }
</script>