  <template>
  <div>
  <BreadCrumbs></BreadCrumbs>
  <h2> Datasource List </h2>
    <div class="panel">
      <div class="panel-body">
        <div>
        <router-link to="/editdatasource" id="environment_view" class="btn btn-success">Add New Datasource</router-link>
          <div class="example-box-wrapper">
            <div id="ShowMessages">
              <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="showDatasourceList">
                <thead>
                  <tr>
                    <th>Data Source Name</th>
                    <th>Data Source Use</th>
                    <th>Data Source Type</th>
                    <th>Data Class</th>
                    <th>Platform</th>
                    <th>Database Server Name</th>
                    <th>Object Owner ID</th>
                    <th>Database Name</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Business Data-TEST</td>
                    <td>DB</td>
                    <td>O</td>
                    <td>B</td>
                    <td>NTSVR</td>
                    <td>JDEES</td>
                    <td>TESTDTA</td>
                    <td>ORCL</td>
                    <td>
                      <i class="fa fa-pencil-square-o fs-20" aria-hidden="true"></i>
                          <!-- <a href="javascript:;" v-on:click="showConfirmAlert(DataSource.datasource_info.connection_string_id)"> -->
                            <i class="fa fa-trash-o fs-20" aria-hidden="true"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>  
        </div>
      </div>
    </div>
  </div>     
</template>

<script>
import Simplert from 'vue2-simplert'
import BreadCrumbs from '../Breadcrumbs.vue'
import config from '../../config.json'
export default {
  components: {
    Simplert,
    BreadCrumbs
  },
  data () {
      return {
        DatasourceList:[],
        collection:{
          form:{
            "environment": "",
            "description":"",
            "username":""
          }
        },
        ShowErrorMessage:"",
        ErrorMessage:"",
        ErrorTitle:""
      }
    },
  mounted () {
    $('#showDatasourceList').DataTable()
    this.getEnvList()
    this.$nextTick(function () {
      $('#SubMenu').css('display', 'block')
    })
  },
  methods: {
    getEnvList(){
      this.$nextTick(function() {
        $( "#showDatasourceList" ).DataTable();
        $( "#SubMenu" ).css( "display", "block" );
      })
    },
  }
}
</script>
