<template>
  <div>
  <BreadCrumbs></BreadCrumbs>
  <h2> Edit Environment View </h2>
    <div class="panel">
      <div class="panel-body">
        <h3 class="title-hero">
          Manage Environment View
        </h3>
        <div class="example-box-wrapper">
          <div class="alert alert-danger" v-if="ShowErrorMessage">
            <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('error')"></a>
            <div class="alert-content">
              <p>{{ErrorMessage}}</p>
            </div>
          </div>
          <font color="red">*All fields are Required</font>
            <form class="form-horizontal bordered-row">
              <div class="form-group">
                <label class="col-sm-3 control-label">Enter Environment Name</label>
                <div class="col-sm-4">
                    <input type="text" id="env_name" name="env_name" class="form-control popover-button-default" placeholder="Enter Environment Name" title="Enter Environment Name" data-trigger="focus" data-placement="top" data-parsley-type="alphanum" v-model="this.collection.form.env_name" required>
                </div>
              </div>    
              <div class="form-group">
                <label class="col-sm-3 control-label">Enter Environment Description</label>
                <div class="col-sm-4">
                    <input type="text" id="env_description" name="env_description" class="form-control popover-button-default" placeholder="Enter Environment Description" title="Enter Environment Description" data-trigger="focus" data-placement="top" data-parsley-type="alphanum" required v-model="this.collection.form.env_description">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Enter Created User</label>
                <div class="col-sm-4">
                    <input type="text" id="created_user" name="created_user" class="form-control popover-button-default" placeholder="Enter Created User" title="Enter Created User" data-trigger="focus" data-placement="top" data-parsley-type="alphanum" required v-model="this.collection.form.created_user">
                </div>
              </div>
              <div class="form-group">
                  <label class="col-sm-3 control-label">Target Time</label>
                  <div class="col-sm-4">
                    <input type="text" id="created_time" name="created_time" class="form-control popover-button-default"  title="Enter Created Time" data-trigger="focus" data-placement="top" data-parsley-type="alphanum" required v-model="this.collection.form.created_time">
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-sm-3 control-label">Target Date</label>
                  <div class="col-sm-4">
                    <input type="text" id="created_date" name="created_date" class="form-control popover-button-default"  title="Enter Created Date" data-trigger="focus" data-placement="top" data-parsley-type="alphanum" required v-model="this.collection.form.created_date">
                  </div>
              </div>
              <div class="form-group">
                <div class="col-sm-6">
                  <button type="submit" name="submit" class="btn success">Save</button>
                  <button type="button" name="cancel" class="btn success" href="javascript:;" v-on:click="showConfirmCancelAlert()">Cancel</button>
                </div>
              </div>
            </form>
            <simplert :useRadius="true" :useIcon="true" ref="simplert">
          </simplert>
        </div>
      </div>
    </div>
  </div>                 
</template>

<script>
  import BreadCrumbs from '../Breadcrumbs.vue'
  import config from '../../config.json'
  import Simplert from 'vue2-simplert'
  export default {
    components: {
      BreadCrumbs,
      Simplert
    },
    data () {
      return {
        collection:{
          form:{
            env_name:'',
            env_description:'',
            created_user: '',
            created_time:'',
            created_date:''
          }
        },
        ShowErrorMessage:false,
        ErrorMessage:"",
        ErrorTitle:""
      }
    },
     mounted () {
      this.getEnvironmentByid()
    },
    methods: {
      getEnvironmentByid () {

        // this.SessionCheck()
        var Authorization = this.$session.get('access_token')
        this.$http.post(config.AUTO_ENV + '/get_environment_by_env_name/',
          {
            'env_name':this.$route.params.env_name,
            'ds_id':this.$session.get('datasource_id'),
            'connection_str':this.$session.get('con_str'),
            'schema':this.$session.get('schema'),
            'database_type':this.$session.get('database_type')
          },{
            headers: {
              'Authorization': Authorization,
              'Content-Type': 'application/json'
            }
  
          }).then(response => {
            var data = JSON.parse(response.bodyText)
            console.log(data)
            if (data.status === 'SUCCESS') 
            {
              for(var each in data.environments)
              {
                this.collection.form.env_name=data.environments[each].lmll
                this.collection.form.env_description=data.environments[each].lmdl01
                this.collection.form.created_user=data.environments[each].lmuser
                this.collection.form.created_time=data.environments[each].lmupmt
                this.collection.form.created_date=data.environments[each].lmupmj
              } 
            }
            else if (data.status === 'FAILURE') 
            {
              this.ShowErrorMessage=true  
              this.ErrorMessage='Somthing went wrong. Try Again'
              this.ErrorTitle='Error Occured'
            }
            else
            {
              this.ShowErrorMessage=true
              this.ErrorMessage='Data not found'
              this.ErrorTitle='Data not found'
            }  
          },response => {
            var data =JSON.parse(response.bodyText)
            if(data.message === "session_expired")
            {
              this.$session.destroy()
              // this.SessionCheck()
            } 
            else 
            {
              this.ShowErrorMessage=true
              this.ErrorTitle=data.message
              this.ErrorMessage=data.error
            }
          }).catch(e => {
            console.log(e)
            this.ShowErrorMessage=true
            this.ErrorTitle='Error Occured'
            this.ErrorMessage='Something went wrong.Try Again'
          })
      },
      showConfirmCancelAlert () {
        let confirmFn = function () {
          this.$router.push('/showenvironment')
        }
        let obj = {
          title: 'Cancel',
          message: 'Are you sure want to Cancel?',
          type: 'info',
          useConfirmBtn: true,
          onConfirm: confirmFn
        }
        this.$refs.simplert.openSimplert(obj)
      },
    }
  }
</script>
