  <template>
  <div>
  <BreadCrumbs></BreadCrumbs>
  <h2> Environment List </h2>
    <div class="panel">
      <div class="panel-body">
        <div>
        <router-link to="/editenvironment" id="environment_view" class="btn btn-success">Add New Environment</router-link>
          <div class="example-box-wrapper">
            <div id="ShowMessages">
              <div id="ShowMessages">
                <div class="alert alert-danger" v-if="ShowErrorMessage">
                  <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('error')"></a>
                  <div class="alert-content">
                    <h4 class="alert-title">{{ErrorTitle}}</h4>
                    <p>{{ErrorMessage}}</p>
                  </div>
                </div>
              </div>
              <div>    
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="showEnvList">
                  <thead>
                    <tr>
                      <th>Environment Name</th>
                      <th>Environment Description</th>
                      <th>Created User</th>
                      <th>Creted Time</th>
                      <th>Created Date</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="Environment in EnvironmentList">
                      <td>{{Environment.lmll}}</td>
                      <td>{{Environment.lmdl01}}</td>
                      <td>{{Environment.lmuser}}</td>
                      <td>{{Environment.lmupmt}}</td>
                      <td>{{Environment.lmupmj}}</td>
                      <td>
                      <router-link  :to="{ name: 'editenvironment', params: { env_name: Environment.lmll }}">
                        <i class="fa fa-pencil-square-o fs-20" aria-hidden="true"></i>
                      </router-link> |
                            <!-- <a href="javascript:;" v-on:click="showConfirmAlert(DataSource.datasource_info.connection_string_id)"> -->
                              <i class="fa fa-trash-o fs-20" aria-hidden="true"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>  
              </div>
            </div>
          </div>  
        </div>
      </div>
    </div>
  </div>     
</template>

<script>
import Simplert from 'vue2-simplert'
import BreadCrumbs from '../Breadcrumbs.vue'
import config from '../../config.json'
export default {
  components: {
    Simplert,
    BreadCrumbs
  },
  data () {
      return {
        EnvironmentList:[],
        collection:{
          form:{
            "environment": "",
            "description":"",
            "username":""
          }
        },
        ShowErrorMessage:false,
        ErrorMessage:"",
        ErrorTitle:""
      }
    },
  mounted () {
    $('#showEnvList').DataTable()
    this.getEnvList()
    this.GetEnvironment()
    this.$nextTick(function () {
      $('#SubMenu').css('display', 'block')
    })
  },
  methods: {
    getEnvList(){
      this.$nextTick(function() {
        $( "#showEnvList" ).DataTable();
        $( "#SubMenu" ).css( "display", "block" );
      })
    },
    GetEnvironment () {
      let _this = this;
      var Authorization = this.$session.get('access_token')
      this.$http.post(config.AUTO_ENV + '/get_all_environment', 
      {
        'ds_id':this.$session.get('datasource_id'),
        'connection_str':this.$session.get('con_str'),
        'schema':this.$session.get('schema'),
        'database_type':this.$session.get('database_type')
      },
      {
        headers: {
          'Authorization': Authorization,
          'Content-Type': 'application/json'
        }
      }).then(response => {
          var data = JSON.parse(response.bodyText);
          if(data.status == 'SUCCESS')
          {  
            this.EnvironmentList = []
            this.EnvironmentList = data.environments
            $( "#showEnvList" ).DataTable().destroy()
            this.$nextTick(function() {
              $( "#showEnvList" ).DataTable();
              $( "#SubMenu" ).css( "display", "block" );
            })
          }
          else if(data.status == 'FAILURE')
          {
            this.ShowErrorMessage=true  
            this.ErrorMessage='Somthing went wrong. Try Again'
            this.ErrorTitle='Error Occured'
          }  
          else
          {
            this.ShowErrorMessage=true
            this.ErrorMessage='Data not found'
            this.ErrorTitle='Data not found'
          }
        },response => {
          if(response){
            var data = JSON.parse(response.bodyText);
          }
          else{
            data = {}
          }
          var data =JSON.parse(response.bodyText)
          if(data.message === "session_expired"){
            this.$session.destroy()
          // sessionCheck(this);
          } 
          else if(data.message === "Not Found"){
            this.EnvironmentList = []
          }
          else 
          {
            this.ShowErrorMessage=true
            this.ErrorTitle=data.message
            this.ErrorMessage=data.error
          }
        }).catch(e => {
          console.log('in auto environment list')
          console.log(e)
          this.ShowErrorMessage=true
          this.ErrorTitle='Error Occured'
          this.ErrorMessage='Something went wrong.Try Again'
        });
    }
  }
}
</script>
