<template>
  <div>
    <BreadCrumbs></BreadCrumbs>
    <h2> Environment </h2>
    <div class="panel">
      <div class="panel-body">
        <h3 class="title-hero">
          Manage Environment
        </h3>
        <font color="red">*All fields are Required</font>
        <div class="example-box-wrapper">
          <div id="ShowMessages">
            <div class="example-box-wrapper" v-if="ShowSuccessMessage">
              <div class="alert alert-close alert-success">
                <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('success')"></a>
                <div class="bg-green alert-icon">
                  <i class="glyph-icon icon-check"></i>
                </div>
                <div class="alert-content">
                  <h4 class="alert-title">Success</h4>
                  <p> Connected to DB successfully.</p>
                </div>
              </div>
            </div>
            <div class="alert alert-danger" v-if="ShowErrorMessage">
              <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('error')"></a>
              <div class="alert-content">
                <p>{{ErrorMessage}}</p>
              </div>
            </div>
          </div>
          <form @submit.prevent="validateBeforeSubmit" enctype="multipart/form-data" class="form-horizontal bordered-row" data-parsley-validate="" id="manageEnvironment" data-validate="parsley" novalidate>
            <div class="form-group" id="evironmenttypeselection">
              <label class="col-sm-3 control-label">Selectd Environment Type</label>
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-md-8">
                    <select id="envtype" name="envtype" class="form-control" data-parsley-required v-model="collection.form.envtype" v-on:change=GetDataSourceByEnv(collection.form.envtype)>
                      <option v-for = "envtype in ENVTypeList" :disabled="envtype.id=='Select Environment type'" v-bind:value ="envtype.id">{{ envtype.name }}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Name</label>
              <div class="col-sm-4">
                <input type="text" id="name" name="name" class="form-control" placeholder="Enter Name" v-model="collection.form.name" data-parsley-required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Select Source Datasource</label>
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-md-8">
                    <select id="source" name="source" class="form-control" data-parsley-required  v-on:change=GetSourceDetails(sourcedatasource) v-model="sourcedatasource">
                      <option v-for = "(source,index) in SourceTypeList" v-bind:value ="source.datasource_id" :disabled="source.datasource_id=='Select Source Datasource'">{{ source.datasource_name }} <span v-if="index!=0">(</span>{{ source.database_type }}<span v-if="index!=0">)</span></option>
                    </select>
                  </div>

                </div>
              </div>
            </div>
            <div class="form-group" v-show="ShowSourceDbLink">
              <label class="col-sm-3 control-label">Source Db Link</label>
              <div class="col-sm-4">
                <input type="text" id="source_dblink" name="source_dblink" class="form-control" placeholder="Enter Source DB link" v-model="SourceDbLinkValue">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Select Target Datasource</label>
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-md-8">
                    <select id="target" name="target" class="form-control" data-parsley-required  v-model="targetdatasource">
                      <option v-for = "(target,index) in TargetTypeList" v-bind:value ="target.datasource_id" :disabled="target.datasource_id=='Select Target Datasource'" >{{ target.datasource_name }} <span v-if="index!=0">(</span>{{ target.database_type }}<span v-if="index!=0">)</span></option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" v-show="ShowTargetDbLink">
              <label class="col-sm-3 control-label">Target Db Link</label>
              <div class="col-sm-4">
                <input type="text" id="target_dblink" name="target_dblink" class="form-control" placeholder="Enter Target DB link" v-model="TargetDbLinkValue">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Select Databases Locations</label>
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-md-8">
                  <!-- <input type="radio" id="same_database" value="Same Database" v-model="db_loc">
                  <label for="same_database">Same Database</label>
                  <input type="radio" id="same_server" value="Same Server" v-model="db_loc">
                  <label for="same_server">Same Server</label>
                  <input type="radio" id="different_server" value="Different Server<" v-model="db_loc">
                  <label for="different_server">Different Server</label> -->
                    <select id="db_loc" name="db_loc" class="form-control" data-parsley-required  v-model="collection.form.db_loc">
                      <option v-for = "db_loc in DbLocationsList" v-bind:value ="db_loc.id" :disabled="db_loc.id=='Select Databases Locations'" >{{ db_loc.name }} </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
<!--             <div class="form-group">
              <label class="col-sm-3 control-label">Select Engine Databases</label>
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-md-8">
                    <select id="engine_db" name="engine_db" class="form-control" data-parsley-required  v-model="collection.form.engine_db">
                      <option v-for = "engine_db in DbEngineList" v-bind:value ="engine_db.id" :disabled="engine_db.id=='Select Databases Locations'" >{{ engine_db.name }} </option>
                    </select>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="form-group">
              <label class="col-sm-3 control-label">Select Engine Database</label>
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-md-8">
                    <select id="engine_db" name="engine_db" class="form-control" data-parsley-required  v-model="enginedatabase">
                      <option v-for = "(engine_db,index) in DbEngineList" v-bind:value ="engine_db.datasource_id" :disabled="engine_db.datasource_id=='Select Engine Database'" >{{ engine_db.datasource_name }}<span v-if="index!=0">(</span>{{ engine_db.database_type }}<span v-if="index!=0">)</span></option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Description</label>
              <div class="col-sm-4">
                <textarea rows="2" cols="35" id="description" name="description" v-model="collection.form.description">
                </textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-6">
                <button type="submit" name="submit" class="btn success">Save</button> 
                <button type="button" name="cancel" class="btn success" href="javascript:;" v-on:click="showConfirmCancelAlert()">Cancel</button>
              </div>
            </div>
          </form>
          <simplert :useRadius="true"
            :useIcon="true"
            ref="simplert">
          </simplert>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import config from '../../config.json'
  import Simplert from 'vue2-simplert'
  import BreadCrumbs from '../Breadcrumbs.vue'
  export default {
    components: {
    BreadCrumbs,
    Simplert
  },
    data () {
      return {
        ENVTypeList:[],
        SourceTypeList:[],
        TargetTypeList:[],
        TargetSourceList :[],
        SourceList : [],
        DbLocationsList : [],
        DbEngineList :[],
        DatabaseEngineList : [],
        collection:{
          form:{
            "envtype":"Select Environment Type",
            "name": "",
            "source": "Select Source Datasource",
            "target":"Select Target Datasource",
            "db_loc":"Select Databases Locations",
            "engine_db":"Select Engine Databases",
            "target_dblink":"",
            "source_dblink":"",
            "description":"",
            "sourcedbtype":"",
            "targetdbtype":"",
            "error":""
          }
        },
        Organization: '',
        ipaddress:'',
        ShowSuccessMessage: false,
        ShowErrorMessage:false,
        ErrorTitle:'',
        ErrorMessage:'',
        ShowTargetDbLink : false,
        targetdatasource:"Select Target Datasource",
        TargetDbLinkValue : '',
        ShowSourceDbLink:false,
        sourcedatasource:"Select Source Datasource",
        enginedatabase : "Select Engine Databases",
        SourceDbLinkValue:'',
        sourcedatasourceid : '',
        targetdatasourceid : '',
        disableButton: true
      }
    },
    mounted () {
      this.SessionCheck()
      this.SourceTypeList.push({"datasource_name":"Select Source Datasource","database_type":"","id":"","dblink":"","datasource_id":"Select Source Datasource"})
      this.TargetTypeList.push({"datasource_name":"Select Target Datasource","database_type":"","id":"","dblink":"", "datasource_id":"Select Target Datasource"})
      this.DbEngineList.push({"datasource_name":"Select Engine Databases","database_type":"","id":"","dblink":"","datasource_id":"Select Engine Databases"})
      this.GetENVTypes()
      this.GetDblocation()
      $('#manageEnvironment').parsley()
    },
    methods: {
      SessionCheck () {
        this.isLoggedIn = this.$session.exists()
        if (this.isLoggedIn) {
          if (this.$cookies.isKey('Timeout')) { // check iscookie exists
            //  means session not yet get timeout
            //  so delete this cookie and again save new one.So timer will get reset
            this.$cookies.remove('Timeout')
            //  set new cookie with timeout. refresh timeout
            this.$cookies.set('Timeout', 'timeout', config.SESSION_TIMEOUT + 'min')
          } else {  // cookie not exist means session get timeout.So destroy the session manually
            this.$session.destroy()
            window.location.href = '/login'
          }
        } else { // session not exists. So redirect to login
          // remove previously exists cookie . if browser get closed without logout.
          if (this.$cookies.isKey('Timeout')) {
            this.$cookies.remove('Timeout')
          }
          if(this.$cookies.isKey('SessionExpMsg')){
            this.$cookies.remove('SessionExpMsg')
            }
            this.$cookies.set('SessionExpMsg','msg','1min')
            window.location.href = '/login'
          }
      },
      validateBeforeSubmit (e) {
          var instance = $('#manageEnvironment').parsley()
          if (instance.isValid() === true) {
            this.save()
          }
      },
      GetENVTypes() {
        let _this = this;
        this.SessionCheck()
        this.MessageClosed('error')
        this.Organization = this.$session.get('user_id')
          var Authorization = this.$session.get('access_token')
          this.$http.get(config.Environment_URL + '/get_all_database', 
            {
              headers: {
                'Authorization': Authorization,
                'Content-Type': 'application/json'
              }
  
            }).then(response => {
              if(response.status == 200)
              {
                var data = JSON.parse(response.bodyText)
                this.ENVTypeList.push({"id":"Select Environment type","name":"Select Environment type"})
                for (var i = 0; i< data.database.length; i++) {
                this.ENVTypeList.push(data.database[i])
                };
                this.collection.form.envtype = "Select Environment type"
                  if (this.$route.params.environmentid) {
                    this.getEnvironmentByid()
                  }
              } 
              else {
               this.ShowErrorMessage=true
               this.ErrorMessage=data.message
               this.ErrorTitle='Data not found'
             }
             },response => {
             var data =JSON.parse(response.bodyText)
               if(data.message === "session_expired"){
               this.$session.destroy()
               this.SessionCheck()
               } 
               else {
               this.ShowErrorMessage=true
               this.ErrorTitle=data.message
               this.ErrorMessage=data.error
           }
          }).catch(e => {
            this.ShowErrorMessage=true
            this.ErrorTitle='Error Occured'
            this.ErrorMessage='Something went wrong.Try Again'
          })
      },
      GetDblocation() {
        let _this = this;
        this.SessionCheck()
        this.MessageClosed('error')
        this.Organization = this.$session.get('user_id')
          var Authorization = this.$session.get('access_token')
          this.$http.get(config.Environment_URL + '/get_all_db_locations', 
            {
              headers: {
                'Authorization': Authorization,
                'Content-Type': 'application/json'
              }
  
            }).then(response => {
              if(response.status == 200)
              {
                var data = JSON.parse(response.bodyText)
                this.DbLocationsList.push({"id":"Select Databases Locations","name":"Select Databases Locations"})
                for (var i = 0; i< data.db_location.length; i++) {
                this.DbLocationsList.push(data.db_location[i])
                };
                this.collection.form.db_loc = "Select Databases Locations"
              } 
              else {
               this.ShowErrorMessage=true
               this.ErrorMessage=data.message
               this.ErrorTitle='Data not found'
             }
             },response => {
             var data =JSON.parse(response.bodyText)
               if(data.message === "session_expired"){
               this.$session.destroy()
               this.SessionCheck()
               } 
               else {
               this.ShowErrorMessage=true
               this.ErrorTitle=data.message
               this.ErrorMessage=data.error
           }
          }).catch(e => {
            this.ShowErrorMessage=true
            this.ErrorTitle='Error Occured'
            this.ErrorMessage='Something went wrong.Try Again'
          })
      },
      GetDatasourceListByEnv(env_type) {
        this.SessionCheck()
        this.MessageClosed('error')
        this.Organization = this.$session.get('user_id')
          var Authorization = this.$session.get('access_token')
          this.$http.get(config.DATA_SOURCE_URL + '/get_datasource_by_env/'+env_type,
            {
              headers: {
                'Authorization': Authorization,
                'Content-Type': 'application/json'
              }
            }).then(response => {
              if(response.status == 200)
              {
                this.SourceTypeList = [];
                this.TargetTypeList = [];
                this.DbEngineList = []
                var data = JSON.parse(response.bodyText)
                this.TargetTypeList.push({"datasource_name":"Select Target Datasource","database_type":"","id":"","dblink":"", "datasource_id":"Select Target Datasource"})
                this.SourceTypeList.push({"datasource_name":"Select Source Datasource","database_type":"","id":"","dblink":"","datasource_id":"Select Source Datasource"})
                this.DbEngineList.push({"datasource_name":"Select Engine Databases","database_type":"","id":"","dblink":"","datasource_id":"Select Engine Databases"})
                for (var i = 0; i< data.datasource.length; i++) {
                this.SourceTypeList.push(data.datasource[i])
                };
                if (this.$route.params.environmentid) {
                  for (var i = 0; i< data.datasource.length; i++) {
                    this.TargetTypeList.push(data.datasource[i])
                    this.DbEngineList.push(data.datasource[i])
                    };
                  // this.TargetTypeList.push({"datasource_name":"Select Target Datasource","database_type":"","id":"","dblink":"", "datasource_id":"Select Target Datasource"})
                  // this.DbEngineList.push({"datasource_name":"Select Engine Databases","database_type":"","id":"","dblink":"", "datasource_id":"Select Engine Databases"})
                }
                else
                {
                  this.targetdatasource = "Select Target Datasource"
                  this.sourcedatasource = "Select Source Datasource"
                  this.enginedatabase = "Select Engine Databases"
                }  

              } 
              else {
               this.ShowErrorMessage=true
               this.ErrorMessage=data.message
               this.ErrorTitle='Data not found'
             }
             },response => {
              this.SourceTypeList = [];
              this.TargetTypeList = [];
              this.SourceTypeList.push({"datasource_name":"Select Source Datasource","database_type":"","id":"","dblink":"", "datasource_id":"Select Source Datasource"})
              this.TargetTypeList.push({"datasource_name":"Select Target Datasource","database_type":"","id":"","dblink":"", "datasource_id":"Select Target Datasource"})
              this.DbEngineList.push({"datasource_name":"Select Engine Databases","database_type":"","id":"","dblink":"", "datasource_id":"Select Engine Databases"})
             var data =JSON.parse(response.bodyText)
             if(data.message === "session_expired"){
             this.$session.destroy()
             this.SessionCheck()
             } 
            }).catch(e => {
              this.ShowErrorMessage=true
              this.ErrorTitle='Error Occured'
              this.ErrorMessage='Something went wrong.Try Again'
            })
      },
      GetDataSourceByEnv(env_type) {
        
        $('#manageEnvironment').parsley().destroy();
        if (env_type != 'Select Environment type'){
          this.GetDatasourceListByEnv(env_type)
        }
        $('#manageEnvironment').parsley();
      },
      GetSourceDetails(index,from) {
        let _this = this; 
        this.TargetSourceList = []
        this.DatabaseEngineList = []

        $('#manageEnvironment').parsley().destroy();
        $('#source_dblink').attr('data-parsley-required', 'false');
        this.ShowSourceDbLink=false
        this.SourceDbLinkValue="";
        for (var each in this.SourceTypeList) {
            if (this.SourceTypeList[each].datasource_id==index)
            {
              this.collection.form.sourcedbtype = this.SourceTypeList[each].database_type
              this.sourcedatasource = this.SourceTypeList[each].datasource_id
              this.sourcedatasourceid = this.SourceTypeList[each].datasource_id
            }
        }    
        for (var each in this.SourceTypeList){
            if (this.SourceTypeList[each].database_type==this.collection.form.sourcedbtype)
            {
              this.TargetSourceList.push({"datasource_name":this.SourceTypeList[each].datasource_name,"database_type":this.SourceTypeList[each].database_type,"id":this.SourceTypeList[each].id,"dblink":this.SourceTypeList[each].dblink, "datasource_id":this.SourceTypeList[each].datasource_id})

              this.DatabaseEngineList.push({"datasource_name":this.SourceTypeList[each].datasource_name,"database_type":this.SourceTypeList[each].database_type,"id":this.SourceTypeList[each].id,"dblink":this.SourceTypeList[each].dblink, "datasource_id":this.SourceTypeList[each].datasource_id})

            }
        }
        
        this.TargetTypeList = []
        this.DbEngineList = []

        this.TargetTypeList.push({"datasource_name":"Select Target Datasource","database_type":"","id":"","dblink":"", "datasource_id":"Select Target Datasource"})

        var target_data_list = this.TargetSourceList
        for (var i = 0; i< target_data_list.length; i++) 
        {
          this.TargetTypeList.push(target_data_list[i]) 
        };
        
        this.DbEngineList.push({"datasource_name":"Select Engine Databases","database_type":"","id":"","dblink":"", "datasource_id":"Select Engine Databases"})

        var engine_data = this.DatabaseEngineList
        for (var i = 0; i< engine_data.length; i++) 
        {
          this.DbEngineList.push(engine_data[i]) 
        };
        // if (this.$route.params.environmentid == '') {
        //   this.targetdatasource = "Select Target Datasource"
        //   this.enginedatabase = "Select Engine Databases"
        // }  
        $('#manageEnvironment').parsley();
      },
      saveData () {
        if (this.sourcedatasource==this.targetdatasource || this.sourcedatasource==this.enginedatabase || this.targetdatasource==this.enginedatabase)
        {
            alert("Please select different datasources for Source, target and engine.");
        }  
        else
        {
        this.SessionCheck()
          var Authorization = this.$session.get('access_token')
          var client_id = this.$session.get('client_id')
          var user_id = this.$session.get('user_id')
          this.$http.post( config.Environment_URL + '/add_environment',{
            'client_id': client_id,
            'name': this.collection.form.name,
            'type': this.collection.form.envtype,
            'source_data': this.sourcedatasource,
            'target_data': this.targetdatasource,
            'description':this.collection.form.description,
            'applicable': [],
            'created_by': user_id,
            'databases_locations': this.collection.form.db_loc,
            'engine_database': this.enginedatabase
          } , {
            headers: {
              'Authorization': Authorization,
              'Content-Type': 'application/json'
            }
          }).then(response => {
            var data = JSON.parse(response.bodyText)
            if (response.status === 200) {
              this.ShowSuccessMessage =true
              this.$router.push('/environment')
            }},response => {
              var data =JSON.parse(response.bodyText)
              if(data.message === "session_expired"){
              this.$session.destroy()
              this.SessionCheck()
              } else {
              this.ShowErrorMessage=true
              this.ErrorTitle=data.message
              this.ErrorMessage=data.error
              }
            }).catch(e => {
            this.ShowErrorMessage=true
            this.ErrorTitle='Error Occured'
            this.ErrorMessage='Something went wrong.Try Again'
          }) 
          }
      },
      getEnvironmentByid () {
        let _this = this;  
        this.SessionCheck()
        $('#name').attr('readOnly', 'true');
        this.Organization = this.$session.get('user_id')
        var Authorization = this.$session.get('access_token')
        this.$http.get(config.Environment_URL + '/get_environment/' + this.$route.params.environmentid,
          {
            headers: {
              'Authorization': Authorization,
              'Content-Type': 'application/json'
            }
  
          }).then(response => {
            var data = JSON.parse(response.bodyText)
            if (response.status === 200) {
              this.GetDataSourceByEnv(data.type)
              this.sourcedatasource = data.source_data
              this.targetdatasource = data.target_data
              this.collection.form.name = data.name
              this.collection.form.description = data.description
              this.collection.form.envtype = data.type
              this.targetdatasourceid = data.target_data
              this.sourcedatasourceid = data.source_data
              this.collection.form.db_loc = data.databases_locations
              this.enginedatabase = data.engine_database
              // this.collection.form.dblink = data.dblink

            }
          },response => {
            var data =JSON.parse(response.bodyText)
            if(data.message === "session_expired"){
            this.$session.destroy()
            this.SessionCheck()
            } else {
            this.ShowErrorMessage=true
            this.ErrorTitle=data.message
            this.ErrorMessage=data.error
            }
          }).catch(e => {
            this.ShowErrorMessage=true
            this.ErrorTitle='Error Occured'
            this.ErrorMessage='Something went wrong.Try Again'
          })
      },
      updateData () {
          if (this.sourcedatasource==this.targetdatasource || this.sourcedatasource==this.enginedatabase || this.targetdatasource==this.enginedatabase)
          {
              alert("Please select different datasources for Source, target and engine.");
          }  
          else
          {
          this.SessionCheck()
          var Authorization = this.$session.get('access_token')
          var client_id = this.$session.get('client_id')
          var user_id = this.$session.get('user_id')
          this.$http.post(config.Environment_URL + '/add_environment', {
            'client_id': client_id,
            'name': this.collection.form.name,
            'type': this.collection.form.envtype,
            'source_data': this.sourcedatasource,
            'target_data': this.targetdatasource,
            'description':this.collection.form.description,
            'applicable' : [],
            'created_by': user_id,
            'databases_locations':this.collection.form.db_loc,
            'engine_database': this.enginedatabase

          }, {
            headers: {
              'Authorization': Authorization,
              'Content-Type': 'application/json'
            }
          }).then(response => {
            var data = JSON.parse(response.bodyText)
            if (response.status === 200) {
              this.$router.push('/environment')
            }},response => {
              var data =JSON.parse(response.bodyText)
              if(data.message === "session_expired"){
              this.$session.destroy()
              this.SessionCheck()
              } else {
              this.ShowErrorMessage=true
              this.ErrorTitle=data.message
              this.ErrorMessage=data.error
              }
            }).catch(e => {
            console.log(e)
            this.ShowErrorMessage=true
            this.ErrorTitle='Error Occured'
            this.ErrorMessage='Something went wrong.Try Again'
          })
      }
      },
      SaveLog(activity){
          this.$http.post(config.AUDIT_LOG_URL, activity).then(response => {
          })
        },
      save () {
        this.$route.params
        this.ShowSuccessMessage = false
        this.ShowErrorMessage = false
        this.SessionCheck()

        if (this.$route.params.environmentid) {
          this.updateData()
        } else {
          this.saveData()
        }
      },
      showConfirmCancelAlert () {
        let confirmFn = function () {
          this.$router.push('/environment')
        }
        let obj = {
          title: 'Cancel',
          message: 'Are you sure want to Cancel?',
          type: 'info',
          useConfirmBtn: true,
          onConfirm: confirmFn
        }
        this.$refs.simplert.openSimplert(obj)
      },
      MessageClosed(MessageType){
        if(MessageType === 'success') {
          this.ShowSuccessMessage=false
        } else if (MessageType === 'error') {
          this.ShowErrorMessage=false
          this.ErrorTitle=''
          this.ErrorMessage=''
        }
      },
    }
  }
</script>