<template>
	<div>
		<BreadCrumbs></BreadCrumbs>
		<h2>Environment</h2>
		<div class="panel">
			<div class="panel-body">
				<div>
					<router-link to="/addEnvironment" id="add_environment" class="btn btn-success">Add New Environment</router-link>
				</div>
				<div class="example-box-wrapper">
					<div id="ShowMessages">
						<div class="example-box-wrapper" v-if="ShowSuccessMessage">
							<div class="alert alert-close alert-success">
								<a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('success')"></a>
								<div class="alert-content">
									<h4 class="alert-title">Success</h4>
									<p>Source get deleted successfully</p>
								</div>
							</div>
						</div>
						<div class="alert alert-danger" v-if="ShowErrorMessage">
							<a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('error')"></a>
							<div class="alert-content">
								<h4 class="alert-title">{{ErrorTitle}}</h4>
								<p>{{ErrorMessage}}</p>
							</div>
						</div>
					</div>
					<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="EnvironmentList">
						<thead>
							<tr>
								<th>Environment Type</th>
								<th>Name</th>
								<th>Databases Locations</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="Environment in EnvironmentList">
								<td>{{Environment.type}}</td>
								<td>{{Environment.name}}</td>
								<td>{{Environment.databases_locations}}</td>
								<td>
                      				<router-link :to="{ name: 'addEnvironment', params: { environmentid: Environment.id }}">
                      				<i class="fa fa-pencil-square-o fs-20" aria-hidden="true"></i></router-link> 	
                        		</td>
							</tr>
						</tbody>
					</table>
					<simplert :useRadius="true"
						:useIcon="true"
						ref="simplert">
					</simplert>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import config from '../../config.json'
	import Simplert from 'vue2-simplert'
	import BreadCrumbs from '../Breadcrumbs.vue'
	import sessionCheck from '../../methods/sessionCheck'
	import { getServerData } from '../../methods/serverCall'
	  export default {
	  components: {
		Simplert,
		BreadCrumbs,
	  },
		data () {
		  return {
			EnvironmentList: [],
			ShowSuccessMessage: false,
			ShowErrorMessage:false,
			ErrorTitle:'',
			ErrorMessage:''
		  }
		},
		mounted () {
		  sessionCheck(this);
		  $( "#EnvironmentList" ).DataTable()
		  this.getEnvironmentList()
		  this.$nextTick(function() {
			$( "#SubMenu" ).css( "display", "block" );
		  })      
		  if( window.sessionStorage.getItem("start_tour") === 'true'){
			var tour = new Tour({
				debug : true,
				storage: window.localStorage,
				onStart: function(tour){
				  window.sessionStorage.setItem("start_tour", true)
				  console.log("tour started")
				} ,          
				onEnd: function(tour) { 
				  window.sessionStorage.setItem('start_tour', false)
				  console.log("ending session")
				},
				onResume:function(tour) { 
				  window.sessionStorage.setItem('start_tour', false)
				  console.log("resume  session")
				},
				onPause:function(tour) { 
				  window.sessionStorage.setItem('start_tour', false)
				  console.log("pause session")
				},
				onClose:function(tour) { 
				  window.sessionStorage.setItem('start_tour', false)
				  console.log("close session")
				},
				onError:function(tour) { 
				  window.sessionStorage.setItem('start_tour', false)
				  console.log("on erroe session")
				}
			});
	
			tour.addStep({
						  element : "#add_security_role",
						  title : "Add Security Role",
						  content : "Click here to Add security Role",
						  delay: true
					  })
			tour.restart()
		  }
		},
		methods: {
		  getEnvironmentList () {
			sessionCheck(this);
			var Authorization = this.$session.get('access_token')
			this.Organization = this.$session.get('user_id')
           var Authorization = this.$session.get('access_token')
           this.$http.get(config.Environment_URL + '/get_environment_data/'+this.$session.get('client_id'),
             {
               headers: {
                 'Authorization': Authorization,
                 'Content-Type': 'application/json'
               }
   
             }).then(response => {
             	if(response){
				var data = JSON.parse(response.bodyText);
			  }else{
				data = {}
				this.EnvironmentList = [];  
			  }
			  if(response.status == 200)
			  this.EnvironmentList = []
			  this.EnvironmentList = data
				$( "#EnvironmentList" ).DataTable().destroy()
			  this.$nextTick(function() {
				$( "#EnvironmentList" ).DataTable();
				$( "#SubMenu" ).css( "display", "block" );
			  })
			},response => {
			  if(response){
				var data = JSON.parse(response.bodyText);
			  }else{
				data = {}
			  }
			  var data =JSON.parse(response.bodyText)
			  if(data.message === "session_expired"){
				this.$session.destroy()
				sessionCheck(this);
			  } else if(data.message === "Not Found"){
            	this.DataSourceList = []
          		} else {
			  this.ShowErrorMessage=true
			  this.ErrorTitle=data.message
			  this.ErrorMessage=data.error
			  }
			}).catch(e => {
				console.log('in list')
				console.log(e)
			  this.ShowErrorMessage=true
			  this.ErrorTitle='Error Occured'
			  this.ErrorMessage='Something went wrong.Try Again'
			});
	
		  },
		showConfirmAlert (id) {
		  let confirmFn = function () {
			this.$parent.deleteDataSource(id)
		  }
		  let obj = {
			title: 'Delete',
			message: 'Are you sure want to delete this?',
			type: 'info',
			useConfirmBtn: true,
			onConfirm: confirmFn
		  }
		  this.$refs.simplert.openSimplert(obj)
		},
		
		MessageClosed(MessageType){
		  this.ShowErrorMessage=false
		  this.ErrorTitle=''
		  this.ErrorMessage=''
		  this.ShowSuccessMessage= false
		},
	  }
	}
</script>