<template>
  <div>
    <BreadCrumbs></BreadCrumbs>
    <h2> Catalog </h2>
    <div class="panel">
      <div class="panel-body">
        <h3 class="title-hero">
          Manage Catalog
        </h3>
        <font color="red">*All fields are Required</font>
        <div class="example-box-wrapper">
          <div id="ShowMessages">
            <div class="example-box-wrapper" v-if="ShowSuccessMessage">
              <div class="alert alert-close alert-success">
                <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('success')"></a>
                <div class="bg-green alert-icon">
                  <i class="glyph-icon icon-check"></i>
                </div>
                <div class="alert-content">
                  <h4 class="alert-title">Success</h4>
                  <p> Connected to DB successfully.</p>
                </div>
              </div>
            </div>
            <div class="alert alert-danger" v-if="ShowErrorMessage">
              <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('error')"></a>
              <div class="alert-content">
                <p>{{ErrorMessage}}</p>
              </div>
            </div>
          </div>
          <form @submit.prevent="validateBeforeSubmit" enctype="multipart/form-data" class="form-horizontal bordered-row" data-parsley-validate="" id="manageCatalog" data-validate="parsley" novalidate>
            <div class="form-group">
              <label class="col-sm-3 control-label">Select Datasource</label>
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-md-8">
                    <select id="datasourcetype" name="datasourcetype" class="form-control" data-parsley-required  v-on:change=GetSourceDetails(datasource) v-model="datasource">
                      <option v-for = "(datasourcetype,index) in DatasourceList" v-bind:value ="index" :disabled="datasourcetype.id==-1">{{ datasourcetype.datasource_name }}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" v-show="ShowSourceDbLink">
              <label class="col-sm-3 control-label">Db Link</label>
              <div class="col-sm-4">
                <input type="text" id="dblink" name="dblink" class="form-control" placeholder="Enter DB link" v-model="SourceDbLinkValue" data-parsley-required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Name</label>
              <div class="col-sm-4">
                <input type="text" id="name" name="name" class="form-control" placeholder="Enter The Catalog Name" v-model="collection.form.name" data-parsley-required>
              </div>
            </div>
            <div class="form-group" id="description">
              <label class="col-sm-3 control-label" v-model="collection.form.description">Description</label>
              <div class="col-sm-4">
                <textarea rows="2" cols="35">
                </textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-6">
                <button type="submit" name="submit" class="btn success">Save</button> 
                <button type="button" name="cancel" class="btn success" href="javascript:;" v-on:click="showConfirmCancelAlert()">Cancel</button>
              </div>
            </div>
          </form>
          <simplert :useRadius="true"
            :useIcon="true"
            ref="simplert">
          </simplert>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import config from '../../config.json'
  import Simplert from 'vue2-simplert'
  import BreadCrumbs from '../Breadcrumbs.vue'
  export default {
    components: {
    BreadCrumbs,
    Simplert
  },
    data () {
      return {
        DatasourceList:[],
        collection:{
          form:{
            "datasourcetype":'Select Datasource',
            "dblink": "",
            "name":"",
            "description":""
          }
        },
        Organization: '',
        ipaddress:'',
        ShowSuccessMessage: false,
        ShowErrorMessage:false,
        ErrorTitle:'',
        ErrorMessage:'',
        ShowSourceDbLink:false,
        datasource:'0',
        SourceDbLinkValue :''
      }
    },
    mounted () {
      this.SessionCheck()
      this.GetDataSourceList()
      $('#manageCatalog').parsley()
    },
    methods: {
      SessionCheck () {
        this.isLoggedIn = this.$session.exists()
        if (this.isLoggedIn) {
          if (this.$cookies.isKey('Timeout')) { // check iscookie exists
            //  means session not yet get timeout
            //  so delete this cookie and again save new one.So timer will get reset
            this.$cookies.remove('Timeout')
            //  set new cookie with timeout. refresh timeout
            this.$cookies.set('Timeout', 'timeout', config.SESSION_TIMEOUT + 'min')
          } else {  // cookie not exist means session get timeout.So destroy the session manually
            this.$session.destroy()
            window.location.href = '/login'
          }
        } else { // session not exists. So redirect to login
          // remove previously exists cookie . if browser get closed without logout.
          if (this.$cookies.isKey('Timeout')) {
            this.$cookies.remove('Timeout')
          }
          if(this.$cookies.isKey('SessionExpMsg')){
            this.$cookies.remove('SessionExpMsg')
            }
            this.$cookies.set('SessionExpMsg','msg','1min')
            window.location.href = '/login'
          }
      },
      validateBeforeSubmit (e) {
          var instance = $('#manageCatalog').parsley()
          if (instance.isValid() === true) {
            this.save()
          }
      },
      GetDataSourceList() {
        this.SessionCheck()
        this.MessageClosed('error')
        this.Organization = this.$session.get('user_id')
          var Authorization = this.$session.get('access_token')
          this.$http.get(config.DATA_SOURCE_URL + '/get_all_datasource',
            {
              headers: {
                'Authorization': Authorization,
                'Content-Type': 'application/json'
              }
  
            }).then(response => {
              if(response.status == 200)
              {
                var data = JSON.parse(response.bodyText)
                console.log(data)
                this.DatasourceList.push({"datasource_name":"Select Datasource","database_type":"Select Datasource","id":"-1","dblink":""})
                for (var i = 0; i< data.datasource.length; i++) {
                this.collection.form.dblink = data.datasource[i]['dblink']
                this.DatasourceList.push(data.datasource[i])
                };
                this.collection.form.target = "Select Datasource"
              } else {
             this.ShowErrorMessage=true
             this.ErrorMessage=data.message
             this.ErrorTitle='Data not found'
             }
             },response => {
             var data =JSON.parse(response.bodyText)
             if(data.message === "session_expired"){
             this.$session.destroy()
             this.SessionCheck()
             } else {
             this.ShowErrorMessage=true
             this.ErrorTitle=data.message
             this.ErrorMessage=data.error
           }
          }).catch(e => {
            this.ShowErrorMessage=true
            this.ErrorTitle='Error Occured'
            this.ErrorMessage='Something went wrong.Try Again'
          })
      },
      saveData () {
        this.SessionCheck()
        var Authorization = this.$session.get('access_token')
        var client_id = this.$session.get('client_id')
        var user_id = this.$session.get('user_id')
        this.$http.post( config.Environment_URL + '/add_catalog',{
          'client_id': client_id,
          'created_by': user_id,
          'data_source': this.datasource,
          'name': this.collection.form.name,
          'description':this.collection.form.description
        } , {
          headers: {
            'Authorization': Authorization,
            'Content-Type': 'application/json'
          }
        }).then(response => {
          var data = JSON.parse(response.bodyText)
          if (response.status === 200) {
            this.ShowSuccessMessage =true
            // this.getActivityLog('created')
            this.$router.push('/catalog')
          }},response => {
            var data =JSON.parse(response.bodyText)
            if(data.message === "session_expired"){
            this.$session.destroy()
            this.SessionCheck()
            } else {
            this.ShowErrorMessage=true
            this.ErrorTitle=data.message
            this.ErrorMessage=data.error
            }
          }).catch(e => {
          this.ShowErrorMessage=true
          this.ErrorTitle='Error Occured'
          this.ErrorMessage='Something went wrong.Try Again'
        })
      },
      updateData () {
        this.SessionCheck()
        var Authorization = this.$session.get('access_token')
        var client_id = this.$session.get('client_id')
        var user_id = this.$session.get('user_id')
        this.$http.post(config.Environment_URL + '/add_catalog', {
          'client_id': client_id,
          'created_by': user_id,
          'data_source': this.datasource,
          'name':this.collection.form.name,
          'description':this.collection.form.description

        }, {
          headers: {
            'Authorization': Authorization,
            'Content-Type': 'application/json'
          }
        }).then(response => {
          var data = JSON.parse(response.bodyText)
          if (response.status === 200) {
            this.$router.push('/catalog')
          }},response => {
            var data =JSON.parse(response.bodyText)
            if(data.message === "session_expired"){
            this.$session.destroy()
            this.SessionCheck()
            } else {
            this.ShowErrorMessage=true
            this.ErrorTitle=data.message
            this.ErrorMessage=data.error
            }
          }).catch(e => {
          console.log(e)
          this.ShowErrorMessage=true
          this.ErrorTitle='Error Occured'
          this.ErrorMessage='Something went wrong.Try Again'
        })
      },
      SaveLog(activity){
          this.$http.post(config.AUDIT_LOG_URL, activity).then(response => {
          })
        },
      save () {
     this.ShowSuccessMessage = false
        this.ShowErrorMessage = false
        this.SessionCheck()
        if (this.$route.params) {
          this.updateData()
        } else {
          this.saveData()
        }
      },
      GetSourceDetails(index,from) {
          $('#manageCatalog').parsley().destroy();
          $('#dblink').attr('data-parsley-required', 'false');
          this.ShowSourceDbLink=false
          this.SourceDbLinkValue=""
          var dbtype = this.DatasourceList[index].database_type
          this.sourcedatasource = index
          if(dbtype == 'oracle'){
            $('#dblink').attr('data-parsley-required', 'true');
            this.ShowSourceDbLink=true
            this.SourceDbLinkValue=this.DatasourceList[index].dblink
        }
        $('#manageCatalog').parsley();
      },
      showConfirmCancelAlert () {
        let confirmFn = function () {
          this.$router.push('/catalog')
        }
        let obj = {
          title: 'Cancel',
          message: 'Are you sure want to Cancel?',
          type: 'info',
          useConfirmBtn: true,
          onConfirm: confirmFn
        }
        this.$refs.simplert.openSimplert(obj)
      },
      MessageClosed(MessageType){
        if(MessageType === 'success') {
          this.ShowSuccessMessage=false
        } else if (MessageType === 'error') {
          this.ShowErrorMessage=false
          this.ErrorTitle=''
          this.ErrorMessage=''
        }
      },
    }
  }
</script>