<template>
  <div>
    <BreadCrumbs></BreadCrumbs>
    <h2> JDE DataSource </h2>
    <div class="panel">
      <div class="panel-body">
        <h3 class="title-hero">
          Manage JDE DataSource
        </h3>
        <font color="red">*All fields are Required</font>
        <div class="example-box-wrapper">
          <div id="ShowMessages">
            <div class="example-box-wrapper" v-if="ShowSuccessMessage">
              <div class="alert alert-close alert-success">
                <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('success')"></a>
                <div class="bg-green alert-icon">
                  <i class="glyph-icon icon-check"></i>
                </div>
                <div class="alert-content">
                  <h4 class="alert-title">Success</h4>
                  <!-- <p> Connected to DB successfully.</p> -->
                </div>
              </div>
            </div>
            <div class="alert alert-danger" v-if="ShowErrorMessage">
              <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('error')"></a>
              <div class="alert-content">
                <p>{{ErrorMessage}}</p>
              </div>
            </div>
          </div>
          <form @submit.prevent="validateBeforeSubmit" enctype="multipart/form-data" class="form-horizontal bordered-row" data-parsley-validate="" id="managejdedatasource" data-validate="parsley" novalidate>
            <div class="form-group" id="dbtypeselection">
              <label class="col-sm-3 control-label">Select Database Type</label>
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-md-8">
                    <select name="dbtype" class="form-control" data-parsley-required 
                          v-model="collection.form.dbtype">
                      <option v-for = "dbtype in DBTypeList" v-bind:value ="dbtype.id" :disabled="dbtype.id ==='Select DB Type'">{{ dbtype.name }}</option>
                    </select>
                  </div>
                </div>
            </div>
            </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Enter Data Source Name</label>
                <div class="col-sm-4">
                  <input type="text" id="ds_name" name="ds_name" class="form-control popover-button-default" placeholder="Enter Data Source Name" title="Enter Data Source Name" data-trigger="focus" data-placement="top" v-model="collection.form.ds_name" required>
                </div>
              </div>    
              <div class="form-group">
                <label class="col-sm-3 control-label">Enter Data Source Use</label>
                <div class="col-sm-4">
                  <input type="text" id="ds_use" name="ds_use" class="form-control popover-button-default" placeholder="Enter Data Source Use" title="Enter Data Source Use" data-trigger="focus" data-placement="top" required v-model="collection.form.ds_use">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">JDENET Data Source?</label>
                <div class="col-sm-4">
                  <input type="checkbox" id="is_jdenetds" value="" v-model="collection.form.is_jdenetds">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Enter Data Class</label>
                <div class="col-sm-4">
                  <input type="text" id="data_class" name="data_class" class="form-control popover-button-default" placeholder="Enter Data class" title="Enter Data Source Use" data-trigger="focus" data-placement="top"  required v-model="collection.form.data_class">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Enter Platform Name</label>
                <div class="col-sm-4">
                  <input type="text" id="platform" name="platform" class="form-control popover-button-default" placeholder="Enter Platform Name" title="Enter Platform Name" data-trigger="focus" data-placement="top" required v-model="collection.form.platform">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Enter Database Server Name</label>
                <div class="col-sm-4">
                  <input type="text" id="db_server_name" name="db_server_name" class="form-control popover-button-default"  placeholder="Enter Database Server Name" title="Enter Database Server Name" data-trigger="focus" data-placement="top" required v-model="collection.form.db_server_name">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Enter Object Owner ID</label>
                <div class="col-sm-4">
                  <input type="text" id="obj_owner_id" name="obj_owner_id" class="form-control popover-button-default"  placeholder="Enter Object Owner ID" title="Enter Object Owner ID" data-trigger="focus" data-placement="top" required v-model="collection.form.obj_owner_id">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Enter Database Name</label>
                <div class="col-sm-4">
                  <input type="text" id="db_name" name="db_name" class="form-control popover-button-default"  placeholder="Enter Database Name" title="Enter Database Name" data-trigger="focus" data-placement="top" required v-model="collection.form.db_name">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-6">
                  <button type="submit" name="submit" class="btn success">Save</button>
                  <button type="button" name="cancel" class="btn success" href="javascript:;" v-on:click="showConfirmCancelAlert()">Cancel</button>
                </div>
              </div>
            </form>
          <simplert :useRadius="true"
            :useIcon="true"
            ref="simplert">
          </simplert>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import config from '../../config.json'
  import Simplert from 'vue2-simplert'
  import BreadCrumbs from '../Breadcrumbs.vue'
  export default {
    components: {
    BreadCrumbs,
    Simplert
  },
    data () {
      return {
        DBTypeList: [],
        collection:{
          form:{
            "ds_name":"",
            "ds_use":"",
            "dbtype":"Select DB Type",
            "data_class": "",
            "platform":"",
            "db_server_name":"",
            "is_jdenetds":"",
            "obj_owner_id":"",
            "db_name":"",
            "datasource_type":"jde_datasource",
            "datasource_property":""
          }
        },
        Organization: '',
        ipaddress:'',
        ShowSuccessMessage: false,
        ShowErrorMessage:false,
        ErrorTitle:'',
        ErrorMessage:''
      }
    },
    mounted () {
      this.SessionCheck()
      this.GetDBTypes()
      $('#managejdedatasource').parsley()
      this.getEDCDataSourceList()
    },
    methods: {
      SessionCheck () {
        this.isLoggedIn = this.$session.exists()
        if (this.isLoggedIn) {
          if (this.$cookies.isKey('Timeout')) { // check iscookie exists
            //  means session not yet get timeout
            //  so delete this cookie and again save new one.So timer will get reset
            this.$cookies.remove('Timeout')
            //  set new cookie with timeout. refresh timeout
            this.$cookies.set('Timeout', 'timeout', config.SESSION_TIMEOUT + 'min')
          } else {  // cookie not exist means session get timeout.So destroy the session manually
            this.$session.destroy()
            window.location.href = '/login'
          }
        } else { // session not exists. So redirect to login
          // remove previously exists cookie . if browser get closed without logout.
          if (this.$cookies.isKey('Timeout')) {
            this.$cookies.remove('Timeout')
          }
          if(this.$cookies.isKey('SessionExpMsg')){
            this.$cookies.remove('SessionExpMsg')
            }
            this.$cookies.set('SessionExpMsg','msg','1min')
            window.location.href = '/login'
          }
      },
      validateBeforeSubmit (e) {
          var instance = $('#managejdedatasource').parsley()
          if (instance.isValid() === true) {
            this.save()
          }
      },
      GetDBTypes () {
        let _this = this;
        this.SessionCheck()
        this.MessageClosed('error')
        this.Organization = this.$session.get('user_id')
          var Authorization = this.$session.get('access_token')
          this.$http.get(config.DATA_SOURCE_URL + '/get_database/datasource',
            {
              headers: {
                'Authorization': Authorization,
                'Content-Type': 'application/json'
              }
  
            }).then(response => {
              this.ShowErrorMessage = false;
              if(response.status == 200)
              {
                var data = JSON.parse(response.bodyText)
                this.DBTypeList.push({"id":"Select DB type","name":"Select DB type"})
                for (var i = 0; i< data.database.length; i++) {
                  this.DBTypeList.push(data.database[i])
                };
                this.collection.form.dbtype = "Select DB type"
                if (this.$route.params.datasource_id) 
                {
                  this.getJDEDatasourceByid()
                }
              } else {
             this.ShowErrorMessage=true
             this.ErrorMessage=data.message
             this.ErrorTitle='Data not found'
             }
             },response => {
             var data =JSON.parse(response.bodyText)
             if(data.message === "session_expired"){
             this.$session.destroy()
             this.SessionCheck()
             } else {
             this.ShowErrorMessage=true
             this.ErrorTitle=data.message
             this.ErrorMessage=data.error
           }
          }).catch(e => {
            this.ShowErrorMessage=true
            this.ErrorTitle='Error Occured'
            this.ErrorMessage='Something went wrong.Try Again'
          })
      },
      saveData () {
        this.SessionCheck()
        var Authorization = this.$session.get('access_token')
        var client_id = this.$session.get('client_id')
        var user_id = this.$session.get('user_id')
        this.$http.post( config.DATA_SOURCE_URL + '/add_jde_datasource',{
          'is_update':false,
          'client_id': client_id,
          'user_id': user_id,
          'datasource_name': this.collection.form.ds_name,
          'datasource_use': this.collection.form.ds_use,
          'database_type': this.collection.form.dbtype,
          'data_class':this.collection.form.data_class,
          'platform':this.collection.form.platform,
          'database_server_name':this.collection.form.db_server_name,
          'is_jdenetds':this.collection.form.is_jdenetds,
          'object_owner_id':this.collection.form.obj_owner_id,
          'database_name':this.collection.form.db_name,
          "datasource_type":"jde_datasource",
          "datasource_property":""
        } , {
          headers: {
            'Authorization': Authorization,
            'Content-Type': 'application/json'
          }
        }).then(response => {
          var data = JSON.parse(response.bodyText)
          if (response.status === 200) {
            this.ShowSuccessMessage =true
            // this.getActivityLog('created')
            this.$router.push('/datasources')
          }},response => {
            var data =JSON.parse(response.bodyText)
            if(data.message === "session_expired"){
            this.$session.destroy()
            this.SessionCheck()
            } else {
            this.ShowErrorMessage=true
            this.ErrorTitle=data.message
            this.ErrorMessage=data.error
            }
          }).catch(e => {
          this.ShowErrorMessage=true
          this.ErrorTitle='Error Occured'
          this.ErrorMessage='Something went wrong.Try Again'
        })
      },
      getJDEDatasourceByid () {
        debugger;
        this.SessionCheck()
        this.Organization = this.$session.get('user_id')
        var Authorization = this.$session.get('access_token')
        this.$http.get(config.DATA_SOURCE_URL + '/get_datasource/' + this.$route.params.datasource_id,
          {
            headers: {
              'Authorization': Authorization,
              'Content-Type': 'application/json'
            }
  
          }).then(response => {
            var data = JSON.parse(response.bodyText)
            debugger;
            if (response.status === 200) {
              this.collection.form.ds_name = data.datasource_info.datasource_name
              this.collection.form.ds_use = data.datasource_info.datasource_use
              this.collection.form.data_class = data.datasource_info.data_class
              this.collection.form.platform = data.datasource_info.platform
              this.collection.form.db_server_name = data.datasource_info.database_server_name
              this.collection.form.is_jdenetds = data.datasource_info.is_jdenetds
              this.collection.form.obj_owner_id = data.datasource_info.object_owner_id
              this.collection.form.db_name = data.datasource_info.database_name
              this.collection.form.dbtype=data.datasource_info.database_type
            }
          },response => {
            var data =JSON.parse(response.bodyText)
            if(data.message === "session_expired"){
            this.$session.destroy()
            this.SessionCheck()
            } else {
            this.ShowErrorMessage=true
            this.ErrorTitle=data.message
            this.ErrorMessage=data.error
            }
          }).catch(e => {
            console.log(e)
            this.ShowErrorMessage=true
            this.ErrorTitle='Error Occured'
            this.ErrorMessage='Something went wrong.Try Again'
          })
      },
      updateData () {
        debugger;
        this.SessionCheck()
        var Authorization = this.$session.get('access_token')
        var client_id = this.$session.get('client_id')
        var user_id = this.$session.get('user_id')
        this.$http.post(config.DATA_SOURCE_URL + '/add_jde_datasource', {
          'is_update':true,
          'client_id': client_id,
          'user_id': user_id,
          'datasource_id': this.$route.params.datasource_id,
          'datasource_name': this.collection.form.ds_name,
          'datasource_use': this.collection.form.ds_use,
          'data_class':this.collection.form.data_class,
          'platform':this.collection.form.platform,
          'database_type': this.collection.form.dbtype,
          'database_server_name':this.collection.form.db_server_name,
          'is_jdenetds':this.collection.form.is_jdenetds,
          'object_owner_id':this.collection.form.obj_owner_id,
          'database_name':this.collection.form.db_name,
          'datasource_type':this.collection.form.datasource_type,
          'datasource_property':''
        }, {
          headers: {
            'Authorization': Authorization,
            'Content-Type': 'application/json'
          }
        }).then(response => {
          var data = JSON.parse(response.bodyText)
          if (response.status === 200) {
            // this.getActivityLog('updated')
            this.$router.push('/datasources')
          }},response => {
            var data =JSON.parse(response.bodyText)
            if(data.message === "session_expired"){
            this.$session.destroy()
            this.SessionCheck()
            } else {
            this.ShowErrorMessage=true
            this.ErrorTitle=data.message
            this.ErrorMessage=data.error
            }
          }).catch(e => {
          console.log(e)
          this.ShowErrorMessage=true
          this.ErrorTitle='Error Occured'
          this.ErrorMessage='Something went wrong.Try Again'
        })
      },
      SaveLog(activity){
          this.$http.post(config.AUDIT_LOG_URL, activity).then(response => {
          })
        },
      save () {
        this.ShowSuccessMessage = false
        this.ShowErrorMessage = false
        this.SessionCheck()
        if (this.$route.params.datasource_id) {
          this.updateData()
        } else {
          this.saveData()
        }
      },
      showConfirmCancelAlert () {
        let confirmFn = function () {
          this.$router.push('/datasources')
        }
        let obj = {
          title: 'Cancel',
          message: 'Are you sure want to Cancel?',
          type: 'info',
          useConfirmBtn: true,
          onConfirm: confirmFn
        }
        this.$refs.simplert.openSimplert(obj)
      },
      MessageClosed(MessageType){
        if(MessageType === 'success') {
          this.ShowSuccessMessage=false
        } else if (MessageType === 'error') {
          this.ShowErrorMessage=false
          this.ErrorTitle=''
          this.ErrorMessage=''
        }
      },
    }
  }
</script>