<template>
  <div>
    <BreadCrumbs></BreadCrumbs>
    <h2> Listner </h2>
    <div class="panel">
      <div class="panel-body">
        <h3 class="title-hero">
          Manage Listner
        </h3>
        <font color="red">*All fields are Required</font>
        <div class="example-box-wrapper">
          <div id="ShowMessages">
            <div class="example-box-wrapper" v-if="ShowSuccessMessage">
              <div class="alert alert-close alert-success">
                <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('success')"></a>
                <div class="bg-green alert-icon">
                  <i class="glyph-icon icon-check"></i>
                </div>
                <div class="alert-content">
                  <h4 class="alert-title">Success</h4>
                  <p> Connected to DB successfully.</p>
                </div>
              </div>
            </div>
            <div class="alert alert-danger" v-if="ShowErrorMessage">
              <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('error')"></a>
              <div class="alert-content">
                <p>{{ErrorMessage}}</p>
              </div>
            </div>
          </div>
          <form @submit.prevent="validateBeforeSubmit" enctype="multipart/form-data" class="form-horizontal bordered-row" data-parsley-validate="" id="managelistner" data-validate="parsley" novalidate>
            <div class="form-group" id="dbtypeselection">
              <label class="col-sm-3 control-label">Select Database Type</label>
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-md-8">
                    <select name="dbtype" class="form-control" data-parsley-required 
                          v-model="collection.form.dbtype">
                      <option v-for = "dbtype in DBTypeList" v-bind:value ="dbtype.id" :disabled="dbtype.id ==='Select DB Type'">{{ dbtype.name }}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Datasource Name</label>
              <div class="col-sm-4">
                <input type="text" id="datasource_name" name="datasource_name" class="form-control" placeholder="Enter datasource name" v-model="collection.form.datasource_name" data-parsley-required>
              </div>
            </div>
            <div class="form-group" id="datasourcepropselection">
              <label class="col-sm-3 control-label">Select Datasource Property</label>
                <div class="col-sm-6">
                    <div class="row">
                      <div class="col-md-8">
                        <select id="datasource_property" name="datasource_property" class="form-control" data-parsley-required v-model="collection.form.datasource_property">
                          <option v-for = "datasource_property in DataSourcePropertyList" v-bind:value ="datasource_property.id" :selected="datasource_property.id ==='Select Datasource Property'" :disabled="datasource_property.id ==='Select Datasource Property'">{{ datasource_property.name }}</option>
                        </select>
                      </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Host IP/Name</label>
              <div class="col-sm-4">
                <input type="text" id="host" name="host" class="form-control" placeholder="Enter host name" v-model="collection.form.host" data-parsley-required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Port</label>
              <div class="col-sm-4">
                <input type="text" id="port" name="port" class="form-control" placeholder="Enter port name" v-model="collection.form.port" data-parsley-required>
              </div>
            </div>
            <div class="form-group" v-show="collection.form.dbtype == 'oracle'">
              <label class="col-sm-3 control-label">DB Link</label>
              <div class="col-sm-4">
                <input type="text" id="dblink" name="dblink" class="form-control" placeholder="Enter DB Link" v-model="collection.form.dblink">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Service Id/Name</label>
              <div class="col-sm-4">
                <input type="text" id="port" name="service_id" class="form-control" placeholder="Enter Service id" v-model="collection.form.service_id" data-parsley-required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Username</label>
              <div class="col-sm-4">
                <input type="text" id="username" name="username" class="form-control" placeholder="Enter Username" v-model="collection.form.username" data-parsley-required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Password</label>
              <div class="col-sm-4">
                <input type="text" id="password" name="password" class="form-control" placeholder="Enter Password" v-model="collection.form.password" data-parsley-required>
              </div>
            </div>
<!--             <div class="form-group" id="evironmenttypeselection">
              <label class="col-sm-3 control-label">Restricted Environment Type</label>
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-md-8">
                    <select id="envtype" name="envtype" class="form-control" data-parsley-required v-model="collection.form.envtype">
                      <option v-for = "envtype in ENVTypeList" v-bind:value ="envtype.id" :disabled="envtype.id ==='Select Environment type'">{{ envtype.name }}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="form-group">
              <label class="col-sm-3 control-label">Description</label>
              <div class="col-sm-4">
                <textarea rows="2" cols="35" id="description" name="description" v-model="collection.form.description">
                </textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-6">
                <button type="submit" name="submit" class="btn success">Save</button> 
                <button type="button" name="testcon" class="btn success" v-on:click="TestDBConnection()">Test Connection</button> 
                <button type="button" name="cancel" class="btn success" href="javascript:;" v-on:click="showConfirmCancelAlert()">Cancel</button>
              </div>
            </div>
          </form>
          <simplert :useRadius="true"
            :useIcon="true"
            ref="simplert">
          </simplert>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import config from '../../config.json'
  import Simplert from 'vue2-simplert'
  import BreadCrumbs from '../Breadcrumbs.vue'
  export default {
    components: {
    BreadCrumbs,
    Simplert
  },
    data () {
      return {
        DBTypeList: [],
        ENVTypeList:[],
        DataSourcePropertyList: [],
        test: '',
        collection:{
          form:{
            "dbtype":'Select DB Type',
            "envtype":'Select Environment Type',
            "host": "",
            "port": "",
            "service_id":"",
            "username":"",
            "password":"",
            "datasource_name":"",
            "description":"",
            "datasource_property":'Select Datasource Property',
            "datasource_type":"listener",
            "dblink":"",
            "datasource_id":""
          }
        },
        Organization: '',
        ipaddress:'',
        ShowSuccessMessage: false,
        ShowErrorMessage:false,
        ErrorTitle:'',
        ErrorMessage:''
      }
    },
    mounted () {
      this.SessionCheck()
      this.GetDBTypes()
      this.GetENVTypes()
      this.GetDatasourcePropert()
      $('#managelistner').parsley()
    },
    methods: {
      SessionCheck () {
        this.isLoggedIn = this.$session.exists()
        if (this.isLoggedIn) {
          if (this.$cookies.isKey('Timeout')) { // check iscookie exists
            //  means session not yet get timeout
            //  so delete this cookie and again save new one.So timer will get reset
            this.$cookies.remove('Timeout')
            //  set new cookie with timeout. refresh timeout
            this.$cookies.set('Timeout', 'timeout', config.SESSION_TIMEOUT + 'min')
          } else {  // cookie not exist means session get timeout.So destroy the session manually
            this.$session.destroy()
            window.location.href = '/login'
          }
        } else { // session not exists. So redirect to login
          // remove previously exists cookie . if browser get closed without logout.
          if (this.$cookies.isKey('Timeout')) {
            this.$cookies.remove('Timeout')
          }
          if(this.$cookies.isKey('SessionExpMsg')){
            this.$cookies.remove('SessionExpMsg')
            }
            this.$cookies.set('SessionExpMsg','msg','1min')
            window.location.href = '/login'
          }
      },
      validateBeforeSubmit (e) {
          var instance = $('#managelistner').parsley()
          if (instance.isValid() === true) {
            this.save()
          }
      },
      GetDBTypes () {
        let _this = this;
        this.SessionCheck()
        this.MessageClosed('error')
        this.Organization = this.$session.get('user_id')
          var Authorization = this.$session.get('access_token')
          this.$http.get(config.DATA_SOURCE_URL + '/get_database/datasource',
            {
              headers: {
                'Authorization': Authorization,
                'Content-Type': 'application/json'
              }
  
            }).then(response => {
              this.ShowErrorMessage = false;
              if(response.status == 200)
              {
                var data = JSON.parse(response.bodyText)
                this.DBTypeList.push({"id":"Select DB type","name":"Select DB type"})
                for (var i = 0; i< data.database.length; i++) {
                  this.DBTypeList.push(data.database[i])
                };
                if (_this.$route.params.listner_id) {
                  _this.getListnerByid()
                }
              this.collection.form.dbtype = "Select DB type"
              } else {
             this.ShowErrorMessage=true
             this.ErrorMessage=data.message
             this.ErrorTitle='Data not found'
             }
             },response => {
             var data =JSON.parse(response.bodyText)
             if(data.message === "session_expired"){
             this.$session.destroy()
             this.SessionCheck()
             } else {
             this.ShowErrorMessage=true
             this.ErrorTitle=data.message
             this.ErrorMessage=data.error
           }
          }).catch(e => {
            this.ShowErrorMessage=true
            this.ErrorTitle='Error Occured'
            this.ErrorMessage='Something went wrong.Try Again'
          })
      },
      GetDatasourcePropert() {
        let _this = this;
        this.SessionCheck()
        this.MessageClosed('error')
        this.Organization = this.$session.get('user_id')
          var Authorization = this.$session.get('access_token')
          this.$http.get(config.DATA_SOURCE_URL + '/get_datasource_property',
            {
              headers: {
                'Authorization': Authorization,
                'Content-Type': 'application/json'
              }
  
            }).then(response => {
              if(response.status == 200)
              {
                var data = JSON.parse(response.bodyText)
                this.DataSourcePropertyList.push({"id":"Select Datasource Property","name":"Select Datasource Property"})
                for (var i = 0; i< data.datasource_property.length; i++) {
                this.DataSourcePropertyList.push(data.datasource_property[i])
                };
                this.collection.form.datasource_property = "Select Datasource Property"
              } else {
             this.ShowErrorMessage=true
             this.ErrorMessage=data.message
             this.ErrorTitle='Data not found'
             }
             },response => {
             var data =JSON.parse(response.bodyText)
             if(data.message === "session_expired"){
             this.$session.destroy()
             this.SessionCheck()
             } else {
             this.ShowErrorMessage=true
             this.ErrorTitle=data.message
             this.ErrorMessage=data.error
           }
          }).catch(e => {
            this.ShowErrorMessage=true
            this.ErrorTitle='Error Occured'
            this.ErrorMessage='Something went wrong.Try Again'
          })
      },
      GetENVTypes () {
        this.SessionCheck()
        this.MessageClosed('error')
        this.Organization = this.$session.get('user_id')
          var Authorization = this.$session.get('access_token')
          this.$http.get(config.DATA_SOURCE_URL + '/get_environment',
            {
              headers: {
                'Authorization': Authorization,
                'Content-Type': 'application/json'
              }
  
            }).then(response => {
              if(response.status == 200)
              {
                var data = JSON.parse(response.bodyText)
                this.ENVTypeList.push({"id":"Select Environment type","name":"Select Environment type"})
                for (var i = 0; i< data.environment.length; i++) {
                this.ENVTypeList.push(data.environment[i])
                };
                this.collection.form.envtype = "Select Environment type"
              } else {
             this.ShowErrorMessage=true
             this.ErrorMessage=data.message
             this.ErrorTitle='Data not found'
             }
             },response => {
             var data =JSON.parse(response.bodyText)
             if(data.message === "session_expired"){
             this.$session.destroy()
             this.SessionCheck()
             } else {
             this.ShowErrorMessage=true
             this.ErrorTitle=data.message
             this.ErrorMessage=data.error
           }
          }).catch(e => {
            this.ShowErrorMessage=true
            this.ErrorTitle='Error Occured'
            this.ErrorMessage='Something went wrong.Try Again'
          })
      },
      saveData () {
        this.SessionCheck()
        var Authorization = this.$session.get('access_token')
        var client_id = this.$session.get('client_id')
        var user_id = this.$session.get('user_id')
        this.$http.post( config.DATA_SOURCE_URL + '/add_listner',{
          'client_id': client_id,
          'user_id': user_id,
          'datasource_name': this.collection.form.datasource_name,
          'host': this.collection.form.host,
          'database_type': this.collection.form.dbtype,
          'restricted_environment_type': this.collection.form.envtype,
          'port':this.collection.form.port,
          'service_id':this.collection.form.service_id,
          'username':this.collection.form.username,
          'password':this.collection.form.password,
          'description':this.collection.form.description,
          'datasource_property':this.collection.form.datasource_property,
          'datasource_type':this.collection.form.datasource_type,
          'dblink':this.collection.form.dblink
        } , {
          headers: {
            'Authorization': Authorization,
            'Content-Type': 'application/json'
          }
        }).then(response => {
          var data = JSON.parse(response.bodyText)
          if (response.status === 200) {
            this.ShowSuccessMessage =true
            // this.getActivityLog('created')
            this.$router.push('/datasources')
          }},response => {
            var data =JSON.parse(response.bodyText)
            if(data.message === "session_expired"){
            this.$session.destroy()
            this.SessionCheck()
            } else {
            this.ShowErrorMessage=true
            this.ErrorTitle=data.message
            this.ErrorMessage=data.error
            }
          }).catch(e => {
          this.ShowErrorMessage=true
          this.ErrorTitle='Error Occured'
          this.ErrorMessage='Something went wrong.Try Again'
        })
      },
      getListnerByid () {
        this.SessionCheck()
        this.Organization = this.$session.get('user_id')
        var Authorization = this.$session.get('access_token')
        this.$http.get(config.DATA_SOURCE_URL + '/get_listner/' + this.$route.params.listner_id,
          {
            headers: {
              'Authorization': Authorization,
              'Content-Type': 'application/json'
            }
  
          }).then(response => {
            var data = JSON.parse(response.bodyText)
            if (response.status === 200) {
              console.log("this.ENVTypeList" + JSON.stringify(this.DBTypeList));
              this.collection.form.datasource_name = data.datasource_info.datasource_name
              this.collection.form.host = data.datasource_info.host
              this.collection.form.envtype = data.datasource_info.restricted_environment_type
              this.collection.form.port = data.datasource_info.port
              this.collection.form.service_id = data.datasource_info.service_id
              this.collection.form.username = data.datasource_info.username
              this.collection.form.password = data.datasource_info.password
              this.collection.form.description = data.datasource_info.description
              this.collection.form.dbtype=data.datasource_info.database_type
              this.collection.form.datasource_property=data.datasource_info.datasource_property
              this.collection.form.datasource_type=data.datasource_info.datasource_type
              this.collection.form.dblink=data.datasource_info.dblink
              this.collection.form.datasource_id = data.datasource_info.datasource_id
            }
          },response => {
            var data =JSON.parse(response.bodyText)
            if(data.message === "session_expired"){
            this.$session.destroy()
            this.SessionCheck()
            } else {
            this.ShowErrorMessage=true
            this.ErrorTitle=data.message
            this.ErrorMessage=data.error
            }
          }).catch(e => {
            console.log(e)
            this.ShowErrorMessage=true
            this.ErrorTitle='Error Occured'
            this.ErrorMessage='Something went wrong.Try Again'
          })
      },
      updateData () {
        this.SessionCheck()
        var Authorization = this.$session.get('access_token')
        var client_id = this.$session.get('client_id')
        var user_id = this.$session.get('user_id')
        this.$http.post(config.DATA_SOURCE_URL + '/update_listner', {
          'client_id': client_id,
          'user_id': user_id,
          'listner_id': this.$route.params.listner_id,
          'datasource_name': this.collection.form.datasource_name,
          'host': this.collection.form.host,
          'port':this.collection.form.port,
          'restricted_environment_type':this.collection.form.envtype,
          'database_type': this.collection.form.dbtype,
          'service_id':this.collection.form.service_id,
          'username':this.collection.form.username,
          'password':this.collection.form.password,
          'datasource_property':this.collection.form.datasource_property,
          'datasource_type':this.collection.form.datasource_type,
          'description':this.collection.form.description,
          'dblink':this.collection.form.dblink,
          'datasource_id' : this.collection.form.datasource_id
        }, {
          headers: {
            'Authorization': Authorization,
            'Content-Type': 'application/json'
          }
        }).then(response => {
          var data = JSON.parse(response.bodyText)
          if (response.status === 200) {
            // this.getActivityLog('updated')
            this.$router.push('/datasources')
          }},response => {
            var data =JSON.parse(response.bodyText)
            if(data.message === "session_expired"){
            this.$session.destroy()
            this.SessionCheck()
            } else {
            this.ShowErrorMessage=true
            this.ErrorTitle=data.message
            this.ErrorMessage=data.error
            }
          }).catch(e => {
          console.log(e)
          this.ShowErrorMessage=true
          this.ErrorTitle='Error Occured'
          this.ErrorMessage='Something went wrong.Try Again'
        })
      },
      SaveLog(activity){
          this.$http.post(config.AUDIT_LOG_URL, activity).then(response => {
          })
        },
      save () {
        this.ShowSuccessMessage = false
        this.ShowErrorMessage = false
        this.SessionCheck()
        if (this.$route.params.listner_id) {
          this.updateData()
        } else {
          this.saveData()
        }
      },
      showConfirmCancelAlert () {
        let confirmFn = function () {
          this.$router.push('/datasources')
        }
        let obj = {
          title: 'Cancel',
          message: 'Are you sure want to Cancel?',
          type: 'info',
          useConfirmBtn: true,
          onConfirm: confirmFn
        }
        this.$refs.simplert.openSimplert(obj)
      },
      MessageClosed(MessageType){
        if(MessageType === 'success') {
          this.ShowSuccessMessage=false
        } else if (MessageType === 'error') {
          this.ShowErrorMessage=false
          this.ErrorTitle=''
          this.ErrorMessage=''
        }
      },
    }
  }
</script>