<template>
<div>
  <!-- ************************ Connection String ******************************************* -->
    <h2>Connection String</h2>
    <div class="panel">
      <div class="panel-body">
        <div>
          <router-link to="/addConnectionString" id="add_security_role" class="btn btn-success">Add New Connection String</router-link>
        </div>
        <div class="example-box-wrapper">
          <div id="ShowMessages">
                <div class="example-box-wrapper" v-if="ShowSuccessMessage">
                    <div class="alert alert-close alert-success">
                        <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('success')"></a>
                        <div class="alert-content">
                            <h4 class="alert-title">Success</h4>
                            <p>Source get deleted successfully</p>
                        </div>
                    </div>
                </div>
                <div class="alert alert-danger" v-if="ShowErrorMessage">
                  <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('error')"></a>
                  <div class="alert-content">
                      <h4 class="alert-title">{{ErrorTitle}}</h4>
                      <p>{{ErrorMessage}}</p>
                  </div>
                </div>
              </div>
          <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="connectionSourceList">
            <thead>
              <tr>
                <th>Data Source Name</th>
                <th>Database type</th>
                <th>Connection String</th>
                <th>Schema</th>
<!--                 <th>Restricted Environment Type</th>
 -->                <th>Action</th>
              </tr>
              </thead>
              <tbody>
                <tr v-for="DataSource in connectionSourceList">
                  <td>{{DataSource.datasource_info.datasource_name}}</td>
                  <td>{{DataSource.datasource_info.database_type}}</td>
                  <td>{{DataSource.datasource_info.connection_string}}</td>
                  <td>{{DataSource.datasource_info.schema_name}}</td>
                  <!-- <td>{{DataSource.datasource_info.restricted_environment_type}}</td> -->
                  <td><router-link :to="{ name: 'addConnectionString', params: { connection_string_id: DataSource.datasource_info.connection_string_id }}">
                      <i class="fa fa-pencil-square-o fs-20" aria-hidden="true"></i></router-link> |
                          <a href="javascript:;" v-on:click="showConfirmAlert(DataSource.datasource_info.connection_string_id)">
                            <i class="fa fa-trash-o fs-20" aria-hidden="true"></i></a></td>
                </tr>
              </tbody>
          </table>
          <simplert :useRadius="true"
                    :useIcon="true"
                ref="simplert">
              </simplert>
        </div>
      </div>
    </div>

    </div>
</template>
<script>
import config from '../../config.json'
import Simplert from 'vue2-simplert'
import BreadCrumbs from '../Breadcrumbs.vue'
import sessionCheck from '../../methods/sessionCheck'
import { getServerData } from '../../methods/serverCall'
  export default {
  components: {
    Simplert,
    BreadCrumbs
  },
    data () {
      return {
        connectionSourceList: [],
        ShowSuccessMessage: false,
        ShowErrorMessage:false,
        ErrorTitle:'',
        ErrorMessage:''
      // isLoneggedIn: this.$session.exists()
      }
    },
    mounted () {
      sessionCheck(this);
      $( "#connectionSourceList" ).DataTable()
      this.getconnectionSourceList()
      this.$nextTick(function() {
        $( "#SubMenu" ).css( "display", "block" );
      })      
    },
     methods: {
      getconnectionSourceList () {
        sessionCheck(this);
        var Authorization = this.$session.get('access_token')
        var client_id = this.$session.get('client_id')

        this.$http.get(config.DATA_SOURCE_URL + '/get_all_connection_string/' + client_id,
          {
            headers: {
              'Authorization': Authorization,
              'Content-Type': 'application/json'
            }
  
          }).then(response => {
            var data = JSON.parse(response.bodyText)
            this.connectionSourceList = []
            if (response.status === 200) {
              this.connectionSourceList = []
              this.connectionSourceList = data
              $( "#connectionSourceList" ).DataTable().destroy()
              this.$nextTick(function() {
              $( "#connectionSourceList" ).DataTable();
              $( "#SubMenu" ).css( "display", "block" );
            })
          }
        },response => {
          var data =JSON.parse(response.bodyText)
          if(data.message === "session_expired"){
            this.$session.destroy()
            sessionCheck(this);
          } else if(data.message === "Not Found"){
            this.connectionSourceList = []
          } else {
          this.ShowErrorMessage=true
          this.ErrorTitle=data.message
          this.ErrorMessage=data.error
          }
        }).catch(e => {
	        console.log('in list')
	        console.log(e)
          this.ShowErrorMessage=true
          this.ErrorTitle='Error Occured'
          this.ErrorMessage='Something went wrong.Try Again'
        });

      },
    showConfirmAlert (id) {
      let confirmFn = function () {
        this.$parent.deleteDataSource(id)
      }
      let obj = {
        title: 'Delete',
        message: 'Are you sure want to delete this?',
        type: 'info',
        useConfirmBtn: true,
        onConfirm: confirmFn
      }
      this.$refs.simplert.openSimplert(obj)
    },
    deleteDataSource (id) {
      sessionCheck(this);
      var Authorization = this.$session.get('access_token')
      this.$http.delete(config.DATA_SOURCE_URL + '/delete_connection_string/' + id, {
        headers: {
          'Authorization': Authorization,
          'Content-Type': 'application/json'
        }
      }).then(response => {
        var data = JSON.parse(response.bodyText)
        if (response.status === 200) {
          this.ShowSuccessMessage =true
          this.getconnectionSourceList()
        }
      }, response => {
        var data =JSON.parse(response.bodyText)
        if(data.message === "session_expired"){
          this.$session.destroy()
          sessionCheck(this);
        } else {
        this.ShowErrorMessage=true
        this.ErrorMessage=data.error
        this.ErrorTitle=data.message
        }
      }).catch(e => {
	    console.log('in delete')
	    console.log(e)
        this.ShowErrorMessage=true
        this.ErrorTitle='Error Occured'
        this.ErrorMessage='Something went wrong.Try Again'
      })
    },
    MessageClosed(MessageType){
      this.ShowErrorMessage=false
      this.ErrorTitle=''
      this.ErrorMessage=''
      this.ShowSuccessMessage= false
    },
  }
}
</script>
