<template>
	<div>
		<BreadCrumbs></BreadCrumbs>
		<h2>Data Sources</h2>
		<div class="panel">
			<div class="panel-body">
				<div>
					<router-link to="/createdatasource" id="add_security_role" class="btn btn-success">Add New Data Source</router-link>
				</div>
				<div class="example-box-wrapper">
					<div id="ShowMessages">
						<div class="example-box-wrapper" v-if="ShowSuccessMessage">
							<div class="alert alert-close alert-success">
								<a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('success')"></a>
								<div class="alert-content">
									<h4 class="alert-title">Success</h4>
									<p>Source get deleted successfully</p>
								</div>
							</div>
						</div>
						<div class="alert alert-danger" v-if="ShowErrorMessage">
							<a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('error')"></a>
							<div class="alert-content">
								<h4 class="alert-title">{{ErrorTitle}}</h4>
								<p>{{ErrorMessage}}</p>
							</div>
						</div>
					</div>
					<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="DataSourceList">
						<thead>
							<tr>
								<th>Datasource Name</th>
								<th>Database Type</th>
								<th>Host</th>
								<th>Port</th>
								<th>User</th>
								<th>Database</th>
								<th>Schema</th>
								<th>Restricted Environment Type</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="DataSource in DataSourceList">
								<td>{{DataSource.datasource_info.datasource_name}} </td>
								<td>{{DataSource.datasource_info.database_type}}</td>
								<td>{{DataSource.datasource_info.host}} </td>
								<td>{{DataSource.datasource_info.port}} </td>
								<td>{{DataSource.datasource_info.user}} </td>
								<td>{{DataSource.datasource_info.database_name}} </td>
								<td>{{DataSource.datasource_info.schema_name}} </td>
								<td>{{DataSource.datasource_info.restricted_environment_type}} </td>
								
								<td>
									<router-link :to="{ name: 'editdatasource', params: { datasourceid: DataSource.datasource_info.datasource_id }}">
										<i class="fa fa-pencil-square-o fs-20" aria-hidden="true"></i>
									</router-link>
									|
									<a href="javascript:;" v-on:click="showConfirmAlert(DataSource.datasource_info.datasource_id)">
									<i class="fa fa-trash-o fs-20" aria-hidden="true"></i></a>
								</td>
							</tr>
						</tbody>
					</table>
					<simplert :useRadius="true"
						:useIcon="true"
						ref="simplert">
					</simplert>
				</div>
			</div>
		</div>
		<!-- ************************ Connection String ******************************************* -->
		<connection-string></connection-string>
 		<!-- ************************ Listner ******************************************* -->
 		<add-listner></add-listner>
	</div>
</template>
<script>
	import config from '../../config.json'
	import Simplert from 'vue2-simplert'
	import BreadCrumbs from '../Breadcrumbs.vue'
	import connectionString from './connectionString.vue'
	import sessionCheck from '../../methods/sessionCheck'
	import { getServerData } from '../../methods/serverCall'
	import listner from './listner.vue'
	  export default {
	  components: {
		Simplert,
		BreadCrumbs,
		'connection-string':connectionString,
		'add-listner':listner
	  },
		data () {
		  return {
			DataSourceList: [],
			ShowSuccessMessage: false,
			ShowErrorMessage:false,
			ErrorTitle:'',
			ErrorMessage:''
		  // isLoneggedIn: this.$session.exists()
		  }
		},
		mounted () {
		  sessionCheck(this);
		  $( "#DataSourceList" ).DataTable()
		  this.getDataSourceList()
		  this.$nextTick(function() {
			$( "#SubMenu" ).css( "display", "block" );
		  })      
		  if( window.sessionStorage.getItem("start_tour") === 'true'){
			var tour = new Tour({
				debug : true,
				storage: window.localStorage,
				onStart: function(tour){
				  window.sessionStorage.setItem("start_tour", true)
				  console.log("tour started")
				} ,          
				onEnd: function(tour) { 
				  window.sessionStorage.setItem('start_tour', false)
				  console.log("ending session")
				},
				onResume:function(tour) { 
				  window.sessionStorage.setItem('start_tour', false)
				  console.log("resume  session")
				},
				onPause:function(tour) { 
				  window.sessionStorage.setItem('start_tour', false)
				  console.log("pause session")
				},
				onClose:function(tour) { 
				  window.sessionStorage.setItem('start_tour', false)
				  console.log("close session")
				},
				onError:function(tour) { 
				  window.sessionStorage.setItem('start_tour', false)
				  console.log("on erroe session")
				}
			});
	
			tour.addStep({
						  element : "#add_security_role",
						  title : "Add Security Role",
						  content : "Click here to Add security Role",
						  delay: true
					  })
			tour.restart()
		  }
		},
		methods: {
		  getDataSourceList () {
			sessionCheck(this);
			var Authorization = this.$session.get('access_token')
			this.Organization = this.$session.get('user_id')
           var Authorization = this.$session.get('access_token')
           this.$http.get(config.DATA_SOURCE_URL + '/get_datasource_client/'+this.$session.get('client_id'),
             {
               headers: {
                 'Authorization': Authorization,
                 'Content-Type': 'application/json'
               }
   
             }).then(response => {
             	if(response){
				var data = JSON.parse(response.bodyText);
			  }else{
				data = {}
				this.DataSourceList = [];  
			  }
			  if(response.status == 200)
			  this.DataSourceList = []
			  this.DataSourceList = data
				$( "#DataSourceList" ).DataTable().destroy()
			  this.$nextTick(function() {
				$( "#DataSourceList" ).DataTable();
				$( "#SubMenu" ).css( "display", "block" );
			  })
			},response => {
			  if(response){
				var data = JSON.parse(response.bodyText);
			  }else{
				data = {}
			  }
			  var data =JSON.parse(response.bodyText)
			  if(data.message === "session_expired"){
				this.$session.destroy()
				sessionCheck(this);
			  } else if(data.message === "Not Found"){
            	this.DataSourceList = []
          		} else {
			  this.ShowErrorMessage=true
			  this.ErrorTitle=data.message
			  this.ErrorMessage=data.error
			  }
			}).catch(e => {
				console.log('in list')
				console.log(e)
			  this.ShowErrorMessage=true
			  this.ErrorTitle='Error Occured'
			  this.ErrorMessage='Something went wrong.Try Again'
			});
	
		  },
		showConfirmAlert (id) {
		  let confirmFn = function () {
			this.$parent.deleteDataSource(id)
		  }
		  let obj = {
			title: 'Delete',
			message: 'Are you sure want to delete this?',
			type: 'info',
			useConfirmBtn: true,
			onConfirm: confirmFn
		  }
		  this.$refs.simplert.openSimplert(obj)
		},
		deleteDataSource (id) {
		  sessionCheck(this);
		  var Authorization = this.$session.get('access_token')
		  this.$http.delete(config.DATA_SOURCE_URL + '/delete_datasource/' + id, {
			headers: {
			  'Authorization': Authorization,
			  'Content-Type': 'application/json'
			}
		  }).then(response => {
			var data = JSON.parse(response.bodyText)
			if (response.status === 200) {
			  this.ShowSuccessMessage =true
			  this.getDataSourceList()
			}
		  }, response => {
			var data =JSON.parse(response.bodyText)
			if(data.message === "session_expired"){
			  this.$session.destroy()
			  sessionCheck(this);
			} else {
			this.ShowErrorMessage=true
			this.ErrorMessage=data.error
			this.ErrorTitle=data.message
			}
		  }).catch(e => {
			console.log('in delete')
			console.log(e)
			this.ShowErrorMessage=true
			this.ErrorTitle='Error Occured'
			this.ErrorMessage='Something went wrong.Try Again'
		  })
		},
		MessageClosed(MessageType){
		  this.ShowErrorMessage=false
		  this.ErrorTitle=''
		  this.ErrorMessage=''
		  this.ShowSuccessMessage= false
		},
	  }
	}
</script>