<template>
	<div>
		<BreadCrumbs></BreadCrumbs>
		<h2>Data Sources</h2>
		<div class="panel">
			<div class="panel-body">
				<div>
					<td>
						<a class="btn btn-success" href="#" role="button" data-toggle="modal" data-target="#AddDataSourceModal" v-on:click="AddDataSourceModal()" data-backdrop="static" data-keyboard="false">Add New Data Source</a> 
					</td>
				</div>
				<div class="example-box-wrapper">
					<div id="ShowMessages">
						<div class="example-box-wrapper" v-if="ShowSuccessMessage">
							<div class="alert alert-close alert-success">
								<a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('success')"></a>
								<div class="alert-content">
									<h4 class="alert-title">Success</h4>
									<p>Source get deleted successfully</p>
								</div>
							</div>
						</div>
						<div class="alert alert-danger" v-if="ShowErrorMessage">
							<a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('error')"></a>
							<div class="alert-content">
								<h4 class="alert-title">{{ErrorTitle}}</h4>
								<p>{{ErrorMessage}}</p>
							</div>
						</div>
					</div>
					<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="DataSourceList">
						<thead>
							<tr>
								<th>Datasource Name</th>
								<th>Datasource Type</th>
								<!-- <th>Datasource Property</th> -->
								<th>Database Type</th>
								<!-- <th>Restricted Environment Type</th> -->
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="DataSource in DataSourceList">
								<td>{{DataSource.datasource_info.datasource_name}} </td>
								<td>{{DataSource.datasource_info.datasource_type}}</td>
								<!-- <td>{{DataSource.datasource_info.datasource_property}} </td> -->
								<td>{{DataSource.datasource_info.database_type}} </td>
								<!-- <td>{{DataSource.datasource_info.restricted_environment_type}} </td> -->
								
								<td>

									<router-link  v-if="DataSource.datasource_info.datasource_type == 'datasource'" :to="{ name: 'editdatasource', params: { datasourceid: DataSource.datasource_info.datasource_id }}">
										<i class="fa fa-pencil-square-o fs-20" aria-hidden="true"></i>
									</router-link>
									<router-link  v-if="DataSource.datasource_info.datasource_type == 'connection_string'" :to="{ name: 'addConnectionString', params: { connection_string_id: DataSource.datasource_info.connection_string_id}}">
										<i class="fa fa-pencil-square-o fs-20" aria-hidden="true"></i>
									</router-link>
									<router-link  v-if="DataSource.datasource_info.datasource_type == 'listener'" :to="{ name: 'addlistner', params: { listner_id: DataSource.datasource_info.listner_id }}">
										<i class="fa fa-pencil-square-o fs-20" aria-hidden="true"></i>
									</router-link>
									<router-link  v-if="DataSource.datasource_info.datasource_type == 'jde_datasource'" :to="{ name: 'addjdedatasource', params: { datasource_id: DataSource.datasource_info.datasource_id }}">
										<i class="fa fa-pencil-square-o fs-20" aria-hidden="true"></i>
									</router-link>
									|
									<a href="javascript:;" v-on:click="showConfirmAlert(DataSource.datasource_info.datasource_id)">
									<i class="fa fa-trash-o fs-20" aria-hidden="true"></i></a>
								</td>
							</tr>
						</tbody>
					</table>
					<simplert :useRadius="true"
						:useIcon="true"
						ref="simplert">
					</simplert>
				</div>
				<div class="modal fade" id="AddDataSourceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

          		<div class="modal-dialog">

              		<div class="modal-content">
              		<h3 style="padding-top: 20px"><b><center>DataSource Types</center></b></h3>
	                  	<div class="modal-body">
		                    <div class="alert alert-danger" v-if="ShowErrorMessageForSettings">
		                        <div class="alert-content">
		                            <p>{{ErrorMessageForDatasource}}</p>
		                        </div>
		                    </div>

		                    <form @submit.prevent="validateBeforeSubmit" enctype="multipart/form-data" class="form-horizontal bordered-row" data-parsley-validate="" id="datasource_selection" data-validate="parsley" novalidate>
		                      	<div class="form-group" id="datasourceselection">
				              		<label class="col-sm-3 control-label">Select Datasource</label>
						            <div class="col-sm-6">
						                <div class="row">
						                  <div class="col-md-8">
						                    <select id="datasource_type" name="datasource_type" class="form-control" data-parsley-required v-model="datasource_type">
						                      <option v-for = "datasource_type in DataSourceTypeList" v-bind:value ="datasource_type.id">{{ datasource_type.name }}</option>
						                    </select>
						                  </div>
						                </div>
						            </div>
				            	</div>
		                      <div class="form-group">
		                        <div class="col-sm-6">
		                          <button type="submit" name="submit" class="btn success">Proceed</button>
		                          <button type="button" name="cancel" class="btn success" data-dismiss="modal">Cancel</button>
		                        </div>
		                      </div>
		                    </form>
                  		</div>
                	</div>
            	</div>
        	</div>
			</div>
		</div>
	</div>
</template>
<script>
	import config from '../../config.json'
	import Simplert from 'vue2-simplert'
	import BreadCrumbs from '../Breadcrumbs.vue'
	import connectionString from './connectionString.vue'
	import sessionCheck from '../../methods/sessionCheck'
	import { getServerData } from '../../methods/serverCall'
	import listner from './listner.vue'
	  export default {
	  components: {
		Simplert,
		BreadCrumbs
	  },
		data () {
		  return {
			DataSourceList: [],
			DataSourceTypeList: [{"id":"datasource","name":"Datasource"},{"id":"connection_string","name":"Connection String"},{"id":"listener","name":"Listener"}], 
			// {"id":"jde_datasource","name":"JDE Datasource"}],
			ShowSuccessMessage: false,
			ShowErrorMessage:false,
			ErrorTitle:'',
			ErrorMessage:'',
			datasource_type:'datasource',
			ErrorMessageForDatasource :'',
			ShowErrorMessageForSettings : false
		  }
		},
		mounted () {
		  sessionCheck(this);
		  $( "#DataSourceList" ).DataTable()
		  this.getDataSourceList()
		  this.$nextTick(function() {
			$( "#SubMenu" ).css( "display", "block" );
		  })      
		  if( window.sessionStorage.getItem("start_tour") === 'true'){
			var tour = new Tour({
				debug : true,
				storage: window.localStorage,
				onStart: function(tour){
				  window.sessionStorage.setItem("start_tour", true)
				  console.log("tour started")
				} ,          
				onEnd: function(tour) { 
				  window.sessionStorage.setItem('start_tour', false)
				  console.log("ending session")
				},
				onResume:function(tour) { 
				  window.sessionStorage.setItem('start_tour', false)
				  console.log("resume  session")
				},
				onPause:function(tour) { 
				  window.sessionStorage.setItem('start_tour', false)
				  console.log("pause session")
				},
				onClose:function(tour) { 
				  window.sessionStorage.setItem('start_tour', false)
				  console.log("close session")
				},
				onError:function(tour) { 
				  window.sessionStorage.setItem('start_tour', false)
				  console.log("on erroe session")
				}
			});
	
			tour.addStep({
						  element : "#add_security_role",
						  title : "Add Security Role",
						  content : "Click here to Add security Role",
						  delay: true
					  })
			tour.restart()
		  }
		},
		methods: {
		  getDataSourceList () {
			sessionCheck(this);
			var Authorization = this.$session.get('access_token')
			this.Organization = this.$session.get('user_id')
           var Authorization = this.$session.get('access_token')
           this.$http.get(config.DATA_SOURCE_URL + '/get_datasource_client/'+this.$session.get('client_id'),
             {
               headers: {
                 'Authorization': Authorization,
                 'Content-Type': 'application/json'
               }
   
             }).then(response => {
             	if(response){
				var data = JSON.parse(response.bodyText);
			  }else{
				data = {}
				this.DataSourceList = [];  
			  }
			  if(response.status == 200)
			  this.DataSourceList = []
			  this.DataSourceList = data
				$( "#DataSourceList" ).DataTable().destroy()
			  this.$nextTick(function() {
				$( "#DataSourceList" ).DataTable();
				$( "#SubMenu" ).css( "display", "block" );
			  })
			},response => {
			  if(response){
				var data = JSON.parse(response.bodyText);
			  }else{
				data = {}
			  }
			  var data =JSON.parse(response.bodyText)
			  if(data.message === "session_expired"){
				this.$session.destroy()
				sessionCheck(this);
			  } else if(data.message === "Not Found"){
            	this.DataSourceList = []
          		} else {
			  this.ShowErrorMessage=true
			  this.ErrorTitle=data.message
			  this.ErrorMessage=data.error
			  }
			}).catch(e => {
				console.log('in list')
				console.log(e)
			  this.ShowErrorMessage=true
			  this.ErrorTitle='Error Occured'
			  this.ErrorMessage='Something went wrong.Try Again'
			});
	
		  },
		showConfirmAlert (id) {
		  let confirmFn = function () {
			this.$parent.deleteDataSource(id)
		  }
		  let obj = {
			title: 'Delete',
			message: 'Are you sure want to delete this?',
			type: 'info',
			useConfirmBtn: true,
			onConfirm: confirmFn
		  }
		  this.$refs.simplert.openSimplert(obj)
		},
      	AddDataSourceModal(){
	        this.ErrorMessageForDatasource= false
      	},
		deleteDataSource (id) {
		  sessionCheck(this);
		  var Authorization = this.$session.get('access_token')
		  this.$http.delete(config.DATA_SOURCE_URL + '/delete_datasource/' + id, {
			headers: {
			  'Authorization': Authorization,
			  'Content-Type': 'application/json'
			}
		  }).then(response => {
			var data = JSON.parse(response.bodyText)
			if (response.status === 200) {
			  this.ShowSuccessMessage =true
			  this.getDataSourceList()
			}
		  }, response => {
			var data =JSON.parse(response.bodyText)
			if(data.message === "session_expired"){
			  this.$session.destroy()
			  sessionCheck(this);
			} else {
			this.ShowErrorMessage=true
			this.ErrorMessage=data.error
			this.ErrorTitle=data.message
			}
		  }).catch(e => {
			console.log('in delete')
			console.log(e)
			this.ShowErrorMessage=true
			this.ErrorTitle='Error Occured'
			this.ErrorMessage='Something went wrong.Try Again'
		  })
		},
      	validateBeforeSubmit (e) {
          var instance = $('#datasource_selection').parsley()
          if (instance.isValid() === true) {
            this.RedirectDataSource()
          }else{
            console.log(instance.isValid())
          }
      	},
      	RedirectDataSource() {
      		if (this.datasource_type==='connection_string'){
      			window.location.href = '/addConnectionString'
      		}
      		else if(this.datasource_type==='listener'){
      			window.location.href = '/addlistner'
      		}
      		// else if(this.datasource_type==='jde_datasource'){
      		// 	window.location.href = '/addjdedatasource'
      		// }	
      		else
      		{
      			window.location.href = '/createdatasource'
      		}
      	},
		MessageClosed(MessageType){
		  this.ShowErrorMessage=false
		  this.ErrorTitle=''
		  this.ErrorMessage=''
		  this.ShowSuccessMessage= false
		},
	  }
	}
</script>