<template>
  <div>
    <BreadCrumbs></BreadCrumbs>
    <h2> Data Source </h2>
    <div class="panel">
      <div class="panel-body">
        <h3 class="title-hero">
          Manage Data Source
        </h3>
        <font color="red">*All fields are Required</font>
        <div class="example-box-wrapper">
          <div id="ShowMessages">
            <div class="example-box-wrapper" v-if="ShowSuccessMessage">
              <div class="alert alert-close alert-success">
                <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('success')"></a>
                <div class="bg-green alert-icon">
                  <i class="glyph-icon icon-check"></i>
                </div>
                <div class="alert-content">
                  <h4 class="alert-title">Success</h4>
                  <p> Connected to DB successfully.</p>
                </div>
              </div>
            </div>
            <div class="alert alert-danger" v-if="ShowErrorMessage">
              <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('error')"></a>
              <div class="alert-content">
                <p>{{ErrorMessage}}</p>
              </div>
            </div>
          </div>
          <form @submit.prevent="validateBeforeSubmit" enctype="multipart/form-data" class="form-horizontal bordered-row" data-parsley-validate="" id="managedatasource" data-validate="parsley" novalidate>
            <div class="form-group" id="dbtypeselection">
              <label class="col-sm-3 control-label">Select Database Type</label>
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-md-8">
                    <select id="dbype" name="dbype" class="form-control" data-parsley-required v-model="collection.form.dbtype">
                      <option :disabled="dbtype.id ==='Select DB type'" v-for = "dbtype in DBTypeList" v-bind:value ="dbtype.id">{{ dbtype.name }}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Datasource Name</label>
              <div class="col-sm-4">
                <input type="text" id="datasource_name" name="datasource_name" class="form-control" placeholder="Enter Datasource Name" v-model="collection.form.datasource_name" data-parsley-required>
              </div>
            </div>
            <div class="form-group" id="datasourcepropselection">
              <label class="col-sm-3 control-label">Select Datasource Property</label>
                <div class="col-sm-6">
                    <div class="row">
                      <div class="col-md-8">
                        <select id="datasource_property" name="datasource_property" class="form-control" data-parsley-required v-model="collection.form.datasource_property">
                          <option v-for = "datasource_property in DataSourcePropertyList" v-bind:value ="datasource_property.id" :selected="datasource_property.id ==='Select Datasource Property'" :disabled="datasource_property.id ==='Select Datasource Property'">{{ datasource_property.name }}</option>
                        </select>
                      </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Host</label>
              <div class="col-sm-4">
                <input type="text" id="host" name="host" class="form-control " placeholder="Enter Host Name" v-model="collection.form.host" data-parsley-required>
              </div>
            </div>
            <div class="form-group" id="manageport">
              <label class="col-sm-3 control-label">Port</label>
              <div class="col-sm-4">
                <input type="number" id="port" name="port" class="form-control" placeholder="Enter Port Name" v-model="collection.form.port" data-parsley-required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">User Name</label>
              <div class="col-sm-4">
                <input type="text" id="username" name="username" class="form-control" placeholder="Enter User Name" v-model="collection.form.username" data-parsley-required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Password</label>
              <div class="col-sm-4">
                <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password" v-model="collection.form.password" data-parsley-required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Database</label>
              <div class="col-sm-4">
                <input type="text" id="database" name="database_name" class="form-control" placeholder="Enter Database Name" v-model="collection.form.database_name" data-parsley-required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Schema Name</label>
              <div class="col-sm-4">
                <input type="text" id="schema_name" name="schema_name" class="form-control" placeholder="Enter Schema Name" v-model="collection.form.schema_name" data-parsley-required>
              </div>
            </div>
            <div class="form-group" v-show="collection.form.dbtype == 'oracle'">
              <label class="col-sm-3 control-label">DB Link</label>
              <div class="col-sm-4">
                <input type="text" id="dblink" name="dblink" class="form-control" placeholder="Enter DB Link" v-model="collection.form.dblink">
              </div>
            </div>
<!--             <div class="form-group" id="evironmenttypeselection">
              <label class="col-sm-3 control-label">Restricted Environment Type</label>
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-md-8">
                    <select id="envtype" name="envtype" class="form-control" data-parsley-required v-model="collection.form.envtype">
                      <option :disabled="envtype.id ==='Select Restricted Environment type'" v-for = "envtype in ENVTypeList" v-bind:value ="envtype.id">{{ envtype.name }}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="form-group">
              <label class="col-sm-3 control-label">Description</label>
              <div class="col-sm-4">
                <textarea rows="2" cols="35" id="description" name="description" v-model="collection.form.description">
                </textarea>
              </div>
            </div>  
            <div class="form-group">
              <div class="col-sm-6">
                <button type="submit" name="submit" class="btn success">Save</button> 
                <button type="button" name="testcon" class="btn success" v-on:click="TestDBConnection()">Test Connection</button> 
                <button type="button" name="cancel" class="btn success" href="javascript:;" v-on:click="showConfirmCancelAlert()">Cancel</button>
              </div>
            </div>
          </form>
          <simplert :useRadius="true"
            :useIcon="true"
            ref="simplert">
          </simplert>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import config from '../../config.json'
  import Simplert from 'vue2-simplert'
  import BreadCrumbs from '../Breadcrumbs.vue'
  export default {
    components: {
    BreadCrumbs,
    Simplert
  },
    data () {
      return {
        ENVTypeList:[],
        DBTypeList: [],
        DataSourcePropertyList: [],
        test: '',
        datasourceid: '',
        collection:{
          form:{
            dbtype:'Select DB Type',
            envtype:'Select Restricted Environment type',
            host: '',
            port:'',
            username:'',
            password:'',
            database_name:'',
            client_id:'',
            schema_name:'',
            description:'',
            datasource_name:'',
            datasource_property:'Select Datasource Property',
            datasource_type:'datasource',
            dblink:''
          }
        },
        Organization: '',
        ipaddress:'',
        ShowSuccessMessage: false,
        ShowErrorMessage:false,
        ErrorTitle:'',
        ErrorMessage:''
      }
    },
    mounted () {
      this.SessionCheck()
      this.GetDBTypes()
      this.GetDatasourcePropert()
      $('#managedatasource').parsley()
    },
    methods: {
      SessionCheck () {
        this.isLoggedIn = this.$session.exists()
        if (this.isLoggedIn) {
          if (this.$cookies.isKey('Timeout')) { // check iscookie exists
            //  means session not yet get timeout
            //  so delete this cookie and again save new one.So timer will get reset
            this.$cookies.remove('Timeout')
            //  set new cookie with timeout. refresh timeout
            this.$cookies.set('Timeout', 'timeout', config.SESSION_TIMEOUT + 'min')
          } else {  // cookie not exist means session get timeout.So destroy the session manually
            this.$session.destroy()
            window.location.href = '/login'
          }
        } else { // session not exists. So redirect to login
          // remove previously exists cookie . if browser get closed without logout.
          if (this.$cookies.isKey('Timeout')) {
            this.$cookies.remove('Timeout')
          }
          if(this.$cookies.isKey('SessionExpMsg')){
            this.$cookies.remove('SessionExpMsg')
            }
            this.$cookies.set('SessionExpMsg','msg','1min')
            window.location.href = '/login'
          }
      },
      GetDBTypes () {
        let _this = this;
        this.SessionCheck()
        this.MessageClosed('error')
        this.Organization = this.$session.get('user_id')
          var Authorization = this.$session.get('access_token')
          this.$http.get(config.DATA_SOURCE_URL + '/get_database/datasource',
            {
              headers: {
                'Authorization': Authorization,
                'Content-Type': 'application/json'
              }
  
            }).then(response => {
              if(response.status == 200)
              {
              var data = JSON.parse(response.bodyText)
              this.DBTypeList.push({"id":"Select DB type","name":"Select DB type"})
              for (var i = 0; i< data.database.length; i++) {
              this.DBTypeList.push(data.database[i])
              };
              this.collection.form.dbtype = "Select DB type"
              this.GetENVTypes()
              } else {
             this.ShowErrorMessage=true
             this.ErrorMessage=data.message
             this.ErrorTitle='Data not found'
             }
           },response => {
           var data =JSON.parse(response.bodyText)
           if(data.message === "session_expired"){
           this.$session.destroy()
           this.SessionCheck()
           } else {
           this.ShowErrorMessage=true
           this.ErrorTitle=data.message
           this.ErrorMessage=data.error
           }
          }).catch(e => {
            this.ShowErrorMessage=true
            this.ErrorTitle='Error Occured'
            this.ErrorMessage='Something went wrong.Try Again'
          })
      },
      GetDatasourcePropert() {
        let _this = this;
        this.SessionCheck()
        this.MessageClosed('error')
        this.Organization = this.$session.get('user_id')
          var Authorization = this.$session.get('access_token')
          this.$http.get(config.DATA_SOURCE_URL + '/get_datasource_property',
            {
              headers: {
                'Authorization': Authorization,
                'Content-Type': 'application/json'
              }
  
            }).then(response => {
              if(response.status == 200)
              {
                var data = JSON.parse(response.bodyText)
                this.DataSourcePropertyList.push({"id":"Select Datasource Property","name":"Select Datasource Property"})
                for (var i = 0; i< data.datasource_property.length; i++) {
                this.DataSourcePropertyList.push(data.datasource_property[i])
                };
                this.collection.form.datasource_property = "Select Datasource Property"
              } else {
             this.ShowErrorMessage=true
             this.ErrorMessage=data.message
             this.ErrorTitle='Data not found'
             }
             },response => {
             var data =JSON.parse(response.bodyText)
             if(data.message === "session_expired"){
             this.$session.destroy()
             this.SessionCheck()
             } else {
             this.ShowErrorMessage=true
             this.ErrorTitle=data.message
             this.ErrorMessage=data.error
           }
          }).catch(e => {
            this.ShowErrorMessage=true
            this.ErrorTitle='Error Occured'
            this.ErrorMessage='Something went wrong.Try Again'
          })
      },
      GetENVTypes () {
        let _this = this;
        this.SessionCheck()
        this.MessageClosed('error')
        this.Organization = this.$session.get('user_id')
          var Authorization = this.$session.get('access_token')
          this.$http.get(config.DATA_SOURCE_URL + '/get_environment',
            {
              headers: {
                'Authorization': Authorization,
                'Content-Type': 'application/json'
              }
            }).then(response => {
              if(response.status == 200)
              {
                var data = JSON.parse(response.bodyText)
                this.ENVTypeList.push({"id":"Select Restricted Environment type","name":"Select Restricted Environment type"})
                for (var i = 0; i< data.environment.length; i++) {
                this.ENVTypeList.push(data.environment[i])
                };
                this.collection.form.envtype = "Select Restricted Environment type"
                if (this.$route.params.datasourceid) 
                {
                  this.getDataSourceByid()
                }
              } 
              else 
              {
                this.ShowErrorMessage=true
                this.ErrorMessage=data.message
                this.ErrorTitle='Data not found'
              }
             },response => {
              var data =JSON.parse(response.bodyText)
              if(data.message === "session_expired")
              {
                this.$session.destroy()
                this.SessionCheck()
              } 
              else 
              {
                this.ShowErrorMessage=true
                this.ErrorTitle=data.message
                this.ErrorMessage=data.error
              }
          }).catch(e => {
            this.ShowErrorMessage=true
            this.ErrorTitle='Error Occured'
            this.ErrorMessage='Something went wrong.Try Again'
          })
      },
      validateBeforeSubmitOld (e) {
        this.$validator.validateAll()
        if (!this.errors.any()) {
          this.save()
        }
      },
      validateBeforeSubmit (e) {
          var instance = $('#managedatasource').parsley()
          if (instance.isValid() === true) {
            this.save()
          }
      },
      saveData () {
        this.SessionCheck()
        var Authorization = this.$session.get('access_token')
        var client_id = this.$session.get('client_id')
        var user_id = this.$session.get('user_id')
        this.$http.post(config.DATA_SOURCE_URL + '/add_datasource', {
          'client_id': client_id,
          'user_id': user_id,
          'host': this.collection.form.host,
          'port': this.collection.form.port,
          'user': this.collection.form.username,
          'password': this.collection.form.password,
          'database_name': this.collection.form.database_name,
          'schema_name': this.collection.form.schema_name,
          'datasource_name': this.collection.form.datasource_name,
          'database_type': this.collection.form.dbtype,
          'restricted_environment_type':this.collection.form.envtype,
          'description': this.collection.form.description,
          'datasource_property':this.collection.form.datasource_property,
          'datasource_type':this.collection.form.datasource_type,
          'dblink':this.collection.form.dblink
        }, {
          headers: {
            'Authorization': Authorization,
            'Content-Type': 'application/json'
          }
        }).then(response => {
          if (response.status === 200) {
            var data = JSON.parse(response.bodyText)
              this.ShowSuccessMessage =true
              // this.getActivityLog('created')
              this.$router.push('/datasources')
          }},response => {
            var data =JSON.parse(response.bodyText)
            if(data.message === "session_expired")
            {
              this.$session.destroy()
              this.SessionCheck()
            } 
            else 
            {
              this.ShowErrorMessage=true
              this.ErrorTitle=data.message
              this.ErrorMessage=data.error
            }
          }).catch(e => {
          this.ShowErrorMessage=true
          this.ErrorTitle='Error Occured'
          this.ErrorMessage='Something went wrong.Try Again'
        })
      },
      getDataSourceByid () {
        this.SessionCheck()
        this.Organization = this.$session.get('user_id')
        var Authorization = this.$session.get('access_token')
        this.$http.get(config.DATA_SOURCE_URL + '/get_datasource/' + this.$route.params.datasourceid,
          {
            headers: {
              'Authorization': Authorization,
              'Content-Type': 'application/json'
            }
  
          }).then(response => {
            var data = JSON.parse(response.bodyText)
            console.log(data)
            if (response.status === 200) {
              this.collection.form.host=data.datasource_info.host
              this.collection.form.port=data.datasource_info.port
              this.collection.form.username=data.datasource_info.user
              this.collection.form.password=data.datasource_info.password
              this.collection.form.database_name=data.datasource_info.database_name
              this.collection.form.schema_name=data.datasource_info.schema_name
              this.collection.form.datasource_name=data.datasource_info.datasource_name
              this.collection.form.dbtype=data.datasource_info.database_type
              this.collection.form.envtype=data.datasource_info.restricted_environment_type
              this.collection.form.description=data.datasource_info.description
              this.collection.form.datasource_property=data.datasource_info.datasource_property
              this.collection.form.datasource_type=data.datasource_info.datasource_type
              this.collection.form.dblink=data.datasource_info.dblink
            }
          },response => {
            var data =JSON.parse(response.bodyText)
            if(data.message === "session_expired")
            {
              this.$session.destroy()
              this.SessionCheck()
            } 
            else 
            {
              this.ShowErrorMessage=true
              this.ErrorTitle=data.message
              this.ErrorMessage=data.error
            }
          }).catch(e => {
            console.log(e)
            this.ShowErrorMessage=true
            this.ErrorTitle='Error Occured'
            this.ErrorMessage='Something went wrong.Try Again'
          })
      },
      updateData () {
        this.SessionCheck()
        var Authorization = this.$session.get('access_token')
        var client_id = this.$session.get('client_id')
        var user_id = this.$session.get('user_id')
        this.$http.post(config.DATA_SOURCE_URL + '/update_datasource', {
          'client_id': client_id,
          'user_id':user_id,
          'host': this.collection.form.host,
          'port': this.collection.form.port,
          'user': this.collection.form.username,
          'password': this.collection.form.password,
          'database_name': this.collection.form.database_name,
          'schema_name': this.collection.form.schema_name,
          'database_type': this.collection.form.dbtype,
          'restricted_environment_type': this.collection.form.envtype,
          'datasource_id':this.$route.params.datasourceid,
          'datasource_name': this.collection.form.datasource_name,
          'description':this.collection.form.description,
          'datasource_property':this.collection.form.datasource_property,
          'datasource_type':this.collection.form.datasource_type,
          'dblink':this.collection.form.dblink
        }, {
          headers: {
            'Authorization': Authorization,
            'Content-Type': 'application/json'
          }
        }).then(response => {
          var data = JSON.parse(response.bodyText)
          if (response.status === 200) {
            this.$router.push('/datasources')
          }},response => {
            var data =JSON.parse(response.bodyText)
            if(data.message === "session_expired")
            {
              this.$session.destroy()
              this.SessionCheck()
            } 
            else 
            {
              this.ShowErrorMessage=true
              this.ErrorTitle=data.message
              this.ErrorMessage=data.error
            }
          }).catch(e => {
          console.log(e)
          this.ShowErrorMessage=true
          this.ErrorTitle='Error Occured'
          this.ErrorMessage='Something went wrong.Try Again'
        })
      },
      SaveLog(activity){
          this.$http.post(config.AUDIT_LOG_URL, activity).then(response => {
          })
        },
      save () {
        this.ShowSuccessMessage = false
        this.ShowErrorMessage = false
        this.SessionCheck()
        if (this.$route.params.datasourceid) {
          this.updateData()
        } else {
          this.saveData()
        }
      },
      TestDBConnection(){
        this.SessionCheck()
        var instance = $('#managedatasource').parsley()
          if (instance.isValid() === true) {
        var Authorization = this.$session.get('access_token')
        var client_id = this.$session.get('client_id')
        var user_id = this.$session.get('user_id')
        this.$http.post(config.DATA_SOURCE_URL + '/connection_test_db', {
          'client_id': client_id,
          'user_id': user_id,
          'host': this.collection.form.host,
          'port': this.collection.form.port,
          'user': this.collection.form.username,
          'password': this.collection.form.password,
          'database_name': this.collection.form.database_name,
          'schema_name': this.collection.form.schema_name,
          'database_type': this.collection.form.dbtype,
          'restricted_environment_type': this.collection.form.envtype,
          'description': this.collection.form.description,
          'datasource_property':this.collection.form.datasource_property,
          'dblink':this.collection.form.dblink

        }, {
          headers: {
            'Authorization': Authorization,
            'Content-Type': 'application/json'
          }
        }).then(response => {
          var data = JSON.parse(response.bodyText)
          if (response.status === 200) {
            this.ShowSuccessMessage = true;
          } else{
            this.ShowErrorMessage = true;
            this.ErrorMessage = 'Failed To Connect with DB'
          }},response => {
            var data =JSON.parse(response.bodyText)
            if(data.message === "session_expired"){
            this.$session.destroy()
            this.SessionCheck()
            } else {
            this.ShowErrorMessage=true
            this.ErrorTitle=data.message
            this.ErrorMessage=data.error
            }
          }).catch(e => {
          this.ShowErrorMessage=true
          this.ErrorTitle='Error Occured'
          this.ErrorMessage='Something went wrong.Try Again'
        })
       }
      },
      showConfirmCancelAlert () {
        let confirmFn = function () {
          this.$router.push('/datasourcelist')
        }
        let obj = {
          title: 'Cancel',
          message: 'Are you sure want to Cancel?',
          type: 'info',
          useConfirmBtn: true,
          onConfirm: confirmFn
        }
        this.$refs.simplert.openSimplert(obj)
      },
      MessageClosed(MessageType){
        if(MessageType === 'success') {
          this.ShowSuccessMessage=false
          // this.$router.push('/datasourcelist')
        } else if (MessageType === 'error') {
          this.ShowErrorMessage=false
          this.ErrorTitle=''
          this.ErrorMessage=''
        }
      },
    }
  }
</script>