<template lang="html">
<div>
  <h2>Calendar</h2>
    <div class="panel">
      <div class="panel-body">
        <div class="example-box-wrapper">
          <div id="fullcalendar">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import config from '../../config.json'
  export default {
    data () {
      return {
        EventList: [],
        Weekdays:["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
        }
      },
   mounted(){
      console.log('we are cal')
      console.log(this.$session)
      this.GenerateFullCal()
      this.GetEvents()
        
    },
    methods: {
      GenerateFullCal(){
          $('#fullcalendar').fullCalendar({
            header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay',
          },
          events: this.EventList,
          defaultView: 'month',
          editable: true,
          //for event double click
          eventRender:function(event,element){
            if(event.id==="d" || event.id ==="w" ||  event.id ==="h"){
              return (event.ranges.filter(function(range){
              return (event.start.isBefore(range.end) &&
                      event.end.isAfter(range.start));
          }).length)>0;
            }
            // element.bind('dblclick',function(){
            //   // alert('double click event')
            // });
          },
          //for day double click
          dayRender:function(date,cell)
          {
            // cell.css("background-color", color);
            cell.bind('dblclick',function(){
              // alert(date)
            })
          }
        })    
      },
      GetEvents () {
        var Authorization = this.$session.get('access_token')
        console.log(config.AUTHORIZATION_URL)
        this.$http.get(config.JOB_URL + '/get_all_rules',
        {
          headers: {
            'Authorization': Authorization,
            'Content-Type': 'application/json'
          }

        }).then(response => {
          var data = JSON.parse(response.bodyText)
          data = data["result"]
          console.log(data)
          
          for (var i = 0; i <  data.length; i++) {

            var start_time = data[i]["start_time"].slice(0,2)+':'+data[i]["start_time"].substr(2,2)
            var end_time = data[i]["end_time"].slice(0,2)+':'+data[i]["end_time"].substr(2,2)
            var title = data[i]["ruletitle"]
            var color =''
            if(data[i]['isallowed'] === true){
              color ="green"
            } else {
              color = "52BEEA"
            }

            if(data[i]['isrecursive'] === 'No'){
              this.GenrateSpecificEvents(data[i]["specificdate"].split('-')[0].trim(),data[i]["specificdate"].split('-')[1].trim(),start_time,end_time,title,color)
            } else {
              var recursiveType = data[i]['recursivetype']
              if(recursiveType === 'h'){
                this.GenerateHourEvents(data[i]["repeathour"],start_time,end_time,title,color,data[i]["specificdate"].split('-')[0].trim(),data[i]["specificdate"].split('-')[1].trim())
              } else if(recursiveType === 'd'){
                this.EventList.push({
                  id:"d",
                  start:start_time,
                  end:end_time,
                  title:title,
                  color:color,
                  ranges:[{start:moment(data[i]["specificdate"].split('-')[0].trim(),'YYYY-MM-DD'),end:moment(data[i]["specificdate"].split('-')[1].trim(),'YYYY-MM-DD').add(1,'day')}]
                })

              }else if(recursiveType === 'w'){
                var enventdays=[]
                var days =data[i]["days_of_week"]
                for(var j=0;j<days.length;j++){
                  enventdays.push(this.Weekdays.indexOf(days[j]))
                };
                this.EventList.push({
                  id:"w",
                  start:start_time,
                  end:end_time,
                  title:title,
                  dow:enventdays,
                  color:color,
                  ranges:[{start:moment(data[i]["specificdate"].split('-')[0].trim(),'YYYY-MM-DD'),end:moment(data[i]["specificdate"].split('-')[1].trim(),'YYYY-MM-DD').add(1,'day')}]
                }) 
              } else if(recursiveType === 'm') {
                this.GenrateMonthsEvents(data[i]["date_of_month"],start_time,end_time,title,color,data[i]["specificdate"].split('-')[0].trim(),data[i]["specificdate"].split('-')[1].trim())

              } else if(recursiveType === 'y'){


              }
            }
          };
          this.$nextTick(function() {
           $('#fullcalendar').fullCalendar('destroy')
           this.GenerateFullCal()
          })
        }, (response) => {
          this.GenerateFullCal()
          console.log(response)
        }).catch(e => {
          this.GenerateFullCal()
          console.log('error occured')
         console.log(e)
        })
      },
      GenerateHourEvents(hourStr,start_time,end_time,ruletitle,color,startdate,enddate)
      {
        var hour = hourStr.split(' ')[1]+'00'
        var starttime = parseInt(start_time.replace(':',''))
        var endtime = parseInt(end_time.replace(':',''))
        var timeDiff = parseInt(endtime)-parseInt(starttime)
        while(endtime <= 2400){
        this.EventList.push({
                id:"h",
                start:start_time,
                end:end_time,
                title:ruletitle,
                color:color,
                ranges:[{start:moment.utc(startdate,'YYYY-MM-DD'),end:moment.utc(enddate,'YYYY-MM-DD').add(1,'day')}]
              })        
        starttime  = endtime + parseInt(hour)
        start_time = starttime.toString().slice(0,2)+':'+starttime.toString().substr(2,2)
        endtime = endtime + parseInt(hour)+timeDiff
        end_time = endtime.toString().slice(0,2)+':'+endtime.toString().substr(2,2)
        }
      },
      GenrateSpecificEvents(startdate,enddate,starttime,endtime,ruletitle,color){
        var start = moment(startdate)
        var end =moment(enddate).add(1,'day')
        var day;
        while (start.isBefore(end+1)) {
          day = start.format('YYYY/MM/DD');
          var event = {
              title:ruletitle,
              start: day +' '+ starttime, 
              end: day + ' '+ endtime, 
              color:color
          }
          this.EventList.push(event);
          start.add(1, 'day');
        }
      },
      GenrateMonthsEvents(dates,starttime,endtime,ruletitle,color,startdate,enddate){
        var start = moment(startdate)
        var end = moment(enddate).add(1,'day')
        var day;
        var isLastDayPresent = false
        var index = dates.indexOf("LastDay")
        if ( index > -1){
          isLastDayPresent = true
          dates.splice(index,1)
        }
        var currentMonth = -1  // this var will help to track month
        var oldDateList = dates // this var will help to track date list change
        while (start.isBefore(end)) {
          if(isLastDayPresent) {
            var month = start.month()  // +1 because index start from 0 (zero) in moment.js
            var lastdate = 0
            if(currentMonth != month){  // true ? new month started
              dates = oldDateList.slice()  // new month begins so restore existinglist
              currentMonth = month
              lastdate = moment(start).endOf('month').date()  //get last date of current month
              index = dates.indexOf(lastdate.toString())
              if(index === -1) // means last date not present in list.for example 
                dates.push(lastdate.toString())  
                                      //user select 31 and Last day from date list at the time of rule creation
            }
          }
          for (var i = 0; i < dates.length; i++) {
              if (start.date() === parseInt(dates[i])) {
                day = start.format('YYYY-MM-DD');
                var event = {
                  title:ruletitle,
                  start: day + ' '+starttime, 
                  end: day + ' '+endtime, 
                  color:color
                }
                this.EventList.push(event);
              }
            };
          start.add(1, 'day');
        }
      },
    } 
  }
</script>

