<template>
<div>
<BreadCrumbs></BreadCrumbs>
<h2>  Rule </h2>
<div class="panel">
  <div class="panel-body">
	<h3 class="title-hero">
	 Manage  Rule
   </h3>
   <font color="red">*All fields are Required</font>
   <div class="example-box-wrapper">
	<div id="ShowMessages">
	  <div class="example-box-wrapper" v-if="ShowSuccessMessage">
		<div class="alert alert-close alert-success">
		  <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('success')"></a>
		  <div class="bg-green alert-icon">
			<i class="glyph-icon icon-check"></i>
		  </div>
		  <div class="alert-content">
			<h4 class="alert-title">Success</h4>
			<p>Rule get added successfully</p>
		  </div>
		</div>
	  </div>

	  <div class="alert alert-danger" v-if="ShowErrorMessage">
		<a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('error')"></a>
		<div class="bg-red alert-icon">
		  <i class="glyph-icon icon-times"></i>
		</div>
		<div class="alert-content">
		  <h4 class="alert-title">{{ErrorTitle}}</h4>
		  <p>{{ErrorMessage}}</p>
		</div>
	  </div>
	</div>
	<form @submit.prevent="validateBeforeSubmit" enctype="multipart/form-data" class="form-horizontal bordered-row" data-parsley-validate="" id="manageRule" data-validate="parsley" novalidate>
	  <div class="form-group">
		<label class="col-sm-3 control-label"> Rule Title</label>
		<div class="col-sm-4">
		  <input type="text" id="title" class="form-control" name="title" placeholder="Enter the title" v-model="form.fields.ruletitle" data-parsley-required>
		</div>
	  </div>
	  <div class="form-group">
		<label class="col-sm-3 control-label"> Start Time</label>
		<div class="col-sm-4">
		  <div class="input-group">
			<span class="add-on input-group-addon">
			  <i class="glyph-icon fa-clock-o"></i>
			</span>
			<input type="text" id="starttime" name="starttime" class="form-control timepicker" placeholder="Enter Start Time" data-parsley-required data-parsley-errors-container="#starttime-error">
		  </div>
		  <div id="starttime-error"></div>
		</div>

	  </div>
	  <div class="form-group">
		<label class="col-sm-3 control-label"> End Time</label>
		<div class="col-sm-4">
		  <div class="input-group">
			<span class="add-on input-group-addon">
			  <i class="glyph-icon fa-clock-o"></i>
			</span>
			<input type="text" id="endtime" name="endtime" class="form-control timepicker" placeholder="Enter end Time"  data-parsley-required data-parsley-errors-container="#endtime-error">
		  </div>
		  <div id="endtime-error"></div>
		</div>
	  </div>
	  <div class="form-group">
		<label class="col-sm-3 control-label">Active</label>
		<div class="col-sm-4">
		  <input type="checkbox" id="active" name="active" v-model="form.fields.activeStatus">
		</div>
	  </div>

	  <div class="form-group">
		<label class="col-sm-3 control-label">Override</label>
		<div class="col-sm-4">
		  <input type="checkbox" id="override" name="override" v-model="form.fields.override">
		</div>
	  </div>

	  <div class="form-group">
		<label class="col-sm-3 control-label">Allow job to run</label>
		<div class="col-sm-4">
		  <input type="checkbox" id="allowed" name="allowed" v-model="form.fields.isallowed">
		</div>
	  </div>

	  <div class="form-group">
		<label class="col-sm-3 control-label">Recurrent</label>
		<div class="col-sm-4">

		  <input type="radio" id="recno" value="No" name="rec" checked="checked" v-on:change="onRadioChange()" v-model="form.fields.isrecursive">No &nbsp;
		  <input type="radio" id="recyes" value="Yes" name="rec" v-on:change="onRadioChange()" v-model="form.fields.isrecursive"> Yes 
		</div>
	  </div>

	  <div class="form-group" id="recursiveselection">
		<label class="col-sm-3 control-label">Recursive Type</label>
		<div class="col-sm-4">

		  <select id="recursive_type" v-on:change="onRecursiveChange" name="recursive_type" class="form-control" v-model="form.fields.recursivetype" data-parsley-required>
			<option disabled value="">Select Recursive Type</option>
			<option value="d">Daily</option>
			<option value="w">Weekly</option>
			<option value="m">Monthly</option>
			<!-- <option value="y">Yearly</option> -->
		  </select>

		</div>
	  </div>

	  <div class="form-group" id="hourselection">
		<label class="col-sm-3 control-label">Select Reapeat Hour</label>
		<div class="col-sm-6">
		  <div class="row">
			<div class="col-md-8">
			  <select id="hour" name="hour" class="form-control" data-parsley-required v-model="form.fields.selectedHour">
				<option v-for = "Hour in Hours" v-bind:value ="Hour.Name" :selected="Hour.Id == ''" :disabled="Hour.Id == ''">{{ Hour.Name }}</option>
			  </select>
			</div>
		  </div>
		</div>
	  </div>

	  <div class="form-group" id="dayselection">
		<label class="col-sm-3 control-label">Select Days</label>
		<div class="col-sm-6">
		  <div class="row">
			<div class="col-md-8">
			  <select id="days" name="days" class="form-control" multiple="multiple" data-parsley-required v-model="form.fields.selectedDays">
				<option selected="true" v-for = "Day in Week" v-bind:value ="Day.Name">{{ Day.Name }}</option>
			  </select>
			</div>
		  </div>
		</div>
	  </div>

	  <div class="form-group" id="dateselection">
		<label class="col-sm-3 control-label">Select Dates</label>
		<div class="col-sm-6">
		  <div class="row">
			<div class="col-md-8">
			  <select id="dates" name="dates" class="form-control" multiple="multiple" data-parsley-required v-model="form.fields.selectedDates">
				<option selected="true" v-for = "date in Dates" v-bind:value ="date._id">{{ date.text }}</option>
			  </select>
			</div>
		  </div>
		</div>
	  </div>

	  <div class="form-group" id="monthselection">
		<label class="col-sm-3 control-label">Select Months</label>
		<div class="col-sm-6">
		  <div class="row">
			<div class="col-md-8">
			  <select id="months" name="months" class="form-control" multiple="multiple" data-parsley-required v-model="form.fields.selectedMonths">
				<option selected="true" v-for = "month in Months" v-bind:value ="month._id">{{ month.text }}</option>
			  </select>
			</div>
		  </div>
		</div>
	  </div>

	  <div class="form-group" id="daterangeselection">
		<label class="col-sm-3 control-label">Start &amp; End Date</label>
		<div class="col-sm-4">
		  <div class="input-prepend input-group">
			<!--<span class="add-on input-group-addon">
			  <i class="glyph-icon icon-calendar"></i>
			</span>
			<input type="text" id="specificdate" name="specificdate" class="form-control" data-parsley-required data-parsley-errors-container="#daterange-error">
		  -->
			<date-picker v-model="value3" range lang="en"></date-picker>
			</div>
		  <div id="daterange-error"></div>
		</div>  
	  </div>

	  <div class="form-group">
		<div class="col-sm-6">
		  <button type="submit" name="submit" class="btn success">Save</button> 
		  <button type="button" name="cancel" class="btn success" href="javascript:;" v-on:click="showConfirmCancelAlert()">Cancel</button>
		</div>
	  </div>
	</form>
	<simplert :useRadius="true"
	:useIcon="true"
	ref="simplert">
  </simplert>
</div>
</div>
</div>
</div>
</template>
<script>
import config from '../../config.json'
import Simplert from 'vue2-simplert'
import BreadCrumbs from '../Breadcrumbs.vue'
import DatePicker from 'vue2-datepicker'
export default {
components: {
BreadCrumbs,
Simplert,
DatePicker
},
data () {
return {
	time1: '',
	time2: '',
	shortcuts: [
		{
			text: 'Today',
			start: new Date(),
			end: new Date()
		}
	],
	value3:"",
  Hours:[{"Id":"","Name":"Repeat After"},{"Id":1,"Name":"After 1 hour"},{"Id":2,"Name":"After 2 hours"},{"Id":3,"Name":"After 3 hours"},{"Id":4,"Name":"After 4 hours"},{"Id":5,"Name":"After 5 hours"},{"Id":6,"Name":"After 6 hours"},{"Id":7,"Name":"After 7 hours"},{"Id":8,"Name":"After 8 hours"},{"Id":9,"Name":"After 9 hours"},{"Id":10,"Name":"After 10 hours"},{"Id":11,"Name":"After 11 hours"},{"Id":12,"Name":"After 12 hours"},{"Id":13,"Name":"After 13 hours"},{"Id":14,"Name":"After 14 hours"},{"Id":15,"Name":"After 15 hours"},{"Id":16,"Name":"After 16 hours"},{"Id":17,"Name":"After 17 hours"},{"Id":18,"Name":"After 18 hours"},{"Id":19,"Name":"After 19 hours"},{"Id":20,"Name":"After 20 hours"},{"Id":21,"Name":"After 21 hours"},{"Id":22,"Name":"After 22 hours"},{"Id":23,"Name":"After 23 hours"}],
  Week: [{"_id":"SU","Name":"Sunday"},{"_id":"MO","Name":"Monday"},
  {"_id":"TU","Name":"Tuesday"},{"_id":"WE","Name":"Wednesday"},
  {"_id":"TH","Name":"Thursday"},{"_id":"FR","Name":"Friday"},
  {"_id":"SA","Name":"Saturday"}],
  test: '',
  form:{ 
	fields:{
	  ruletitle:'',
	  starttime: '00:00',
	  endtime : '23:59',
	  activeStatus:true,
	  allowed:false,
	  override:false,
	  isrecursive:'No',
	  daterange:"",
	  recursivetype:'',
	  selectedHour:'Repeat After',
	  selectedDays: [],
	  selectedDates:[],
	  selectedMonths:[],
	  isallowed:false
	}
  },
  Organization: '',
  ipaddress:'',
  ShowErrorMessage:false,
  ErrorTitle:'',
  ErrorMessage:'',
  ShowSuccessMessage:false,
  Dates:[{"_id":"1","text":"1"},{"_id":"2","text":"2"},{"_id":"3","text":"3"},{"_id":"4","text":"4"},{"_id":"5","text":"5"},{"_id":"6","text":"6"},{"_id":"7","text":"7"},{"_id":"8","text":"8"},{"_id":"9","text":"9"},{"_id":"10","text":"10"}

  ,{"_id":"11","text":"11"},{"_id":"12","text":"12"},{"_id":"13","text":"13"},{"_id":"14","text":"14"},{"_id":"15","text":"15"},{"_id":"16","text":"16"},{"_id":"17","text":"17"},{"_id":"18","text":"18"},{"_id":"19","text":"19"},{"_id":"20","text":"20"}

  ,{"_id":"21","text":"21"},{"_id":"22","text":"22"},{"_id":"23","text":"23"},{"_id":"24","text":"24"},{"_id":"25","text":"25"},{"_id":"26","text":"26"},{"_id":"27","text":"27"},{"_id":"28","text":"28"},{"_id":"29","text":"29"},{"_id":"30","text":"30"}

  ,{"_id":"31","text":"31"},{"_id":"LastDay","text":"Last Day"}],

  Months:[{"_id":"jan","text":"January"},{"_id":"feb","text":"February"},{"_id":"mar","text":"March"},{"_id":"apr","text":"April"},{"_id":"may","text":"May"},{"_id":"june","text":"June"},{"_id":"july","text":"July"},{"_id":"aug","text":"August"},{"_id":"sep","text":"September"},{"_id":"oct","text":"October"},{"_id":"nov","text":"November"},{"_id":"dec","text":"December"}]
	// isLoggedIn: this.$session.exists()
  }
},
mounted () {
  if (this.$route.params.ruleid) {
	this.getRuleByid()
  }
  else{
	$(function() { "use strict";
	  $('#specificdate').daterangepicker({
		mindate:moment(),
		format:"YYYY/MM/DD"
	  });   
	});
  }
  $('#manageRule').parsley()

  $('#starttime').timepicker({
	defaultTime:'00:00',
	showMeridian:false,
	minuteStep:1
  })
  $('#endtime').timepicker({
	defaultTime:'23:59',
	showMeridian:false,
	minuteStep:1
  })

  
  this.showHideControl("r")
  
},
methods: {
  onRadioChange(){
   this.showHideControl("r")
 },
 onRecursiveChange(){
  this.showHideControl("d")
},
showHideControl(sender){
  $('#manageRule').parsley().destroy();
  if(sender ==="r"){
	if(this.form.fields.isrecursive ==="No"){

		//set required attribute false
		$('#recursive_type').attr('data-parsley-required', 'false');
		$('#hour').attr('data-parsley-required', 'false');
		$('#days').attr('data-parsley-required', 'false');
		$('#dates').attr('data-parsley-required', 'false');
		$('#months').attr('data-parsley-required', 'false');

		//set required attribute true
		// $('#specificdate').attr('data-parsley-required', 'true');


		$("#recursiveselection").css('display','none')            
		$("#dayselection").css('display','none')
		$("#dateselection").css('display','none')
		$("#monthselection").css('display','none')
		$("#hourselection").css('display','none')
		// $("#daterangeselection").css('display','block')
		this.form.fields.recursivetype=""
	  }
	  else  {
		//set required attribute true
		$('#recursive_type').attr('data-parsley-required', 'true');
		$('#days').attr('data-parsley-required', 'true');
		$('#dates').attr('data-parsley-required', 'true');
		$('#months').attr('data-parsley-required', 'true');
		$('#hour').attr('data-parsley-required', 'true');

		//set required attribute false
		// $('#specificdate').attr('data-parsley-required', 'false');

		$("#recursiveselection").css('display','block')
		this.form.daterange=""
	  }
	}
	else if(sender ==="d"){
	  this.form.fields.selectedHour="Repeat After"
	  this.form.fields.selectedDays=[]
	  this.form.fields.selectedDates=[]
	  this.form.fields.selectedMonths=[]
	  this.form.fields.specificdate = ''

	  $("#dayselection").css('display','none')
	  $("#dateselection").css('display','none')
	  $("#monthselection").css('display','none')
	  $("#hourselection").css('display','none')

	  $('#days').attr('data-parsley-required', 'false');
	  $('#dates').attr('data-parsley-required', 'false');
	  $('#months').attr('data-parsley-required', 'false');
	  $('#hour').attr('data-parsley-required', 'false');

	  if(this.form.fields.recursivetype === "h"){
		 $("#hourselection").css('display','block')
		$('#hour').attr('data-parsley-required', 'true');
	  }
	  else if(this.form.fields.recursivetype === "w"){
		$("#dayselection").css('display','block')
		$('#days').attr('data-parsley-required', 'true');
	  } else if(this.form.fields.recursivetype ==="m"){
		$("#dateselection").css('display','block')
	  } else if (this.form.fields.recursivetype === "y"){
		$("#monthselection").css('display','block')
		$('#months').attr('data-parsley-required', 'true');
	  } 
	}
	//reinitialize parsley
	$('#manageRule').parsley();
  },
  TimeChanged(){
	this.form.fields.starttime = $("#starttime").val()
	this.form.fields.endtime = $("#endtime").val()

	var Start_time = this.form.fields.starttime.replace(':','')
	var End_time = this.form.fields.endtime.replace(':','')
	if(parseInt(Start_time) >= parseInt(End_time)){
	  alert('Starttime should be less than end time')
	  $('#endtime').focus()
	  return false
	}
	return true       
  },
  validateBeforeSubmit (e) {
	var instance = $('#manageRule').parsley()
	console.log(instance.isValid())

	if (instance.isValid() === true && this.TimeChanged()=== true) {
	  this.form.fields.starttime = $("#starttime").val()
	  this.form.fields.endtime = $("#endtime").val()
	  this.form.fields.specificdate = $("#specificdate").val()
	  var pad ="00000"

	  this.form.fields.starttime =pad.substring(0, pad.length - $("#starttime").val().length) +$("#starttime").val()
	  this.form.fields.endtime = pad.substring(0, pad.length - $("#endtime").val().length) +$("#endtime").val()
	  this.save()
	}
  },
  LeftPad(str,length){
	str = str.toString()
	return str.length < length ? this.LeftPad("0"+str,length):str;
  },
  saveRuleData () {
	var Authorization = this.$session.get('access_token')
	var Organizationid = this.$session.get('client_id')
	this.$http.post(config.JOB_URL + '/add_rule', {
	  'ruletitle':this.form.fields.ruletitle,
	  'start_time': this.form.fields.starttime.replace(':',''),
	  'end_time': this.form.fields.endtime.replace(':',''),
	  'active': this.form.fields.activeStatus,
	  'isallowed':this.form.fields.isallowed,
	  'override':this.form.fields.override,
	  'isrecursive':this.form.fields.isrecursive,
	  'specificdate':this.form.fields.specificdate,
	  'recursivetype':this.form.fields.recursivetype,
	  'repeathour':this.form.fields.selectedHour,
	  'date_of_month':this.form.fields.selectedDates,
	  'months_of_year':this.form.fields.selectedMonths,
	  'client_id': Organizationid,
	  'days_of_week': this.form.fields.selectedDays
	}, {
	  headers: {
		'Authorization': Authorization,
		'Content-Type': 'application/json'
	  }
	}).then(response => {
	  console.log('we are here')
	  console.log(response)
	  var data = JSON.parse(response.bodyText)
	  if (response.status === 200) {
		this.ShowSuccessMessage =true
		// this.getActivityLog('created')
		this.$router.push('/rules')
	  }},response => {
		console.log('we are in error')
		var data =JSON.parse(response.bodyText)
		console.log(data)
		this.ShowErrorMessage=true
		this.ErrorTitle=data.message
		this.ErrorMessage=data.error
	  }).catch(e => {
		console.log(e)
		this.ShowErrorMessage=true
		this.ErrorTitle='Error Occured'
		this.ErrorMessage='Something went wrong.Try Again'
	  })
	},
	getRuleByid () {
	  this.Organization = this.$session.get('user_id')
	  var Authorization = this.$session.get('access_token')
	  this.$http.get(config.JOB_URL + '/get_rule_details/' + this.$route.params.ruleid,
	  {
		headers: {
		  'Authorization': Authorization,
		  'Content-Type': 'application/json'
		}
	  }).then(response => {
		console.log('we are success')
		var data = JSON.parse(response.bodyText)
		console.log(data.result[0])
		if (response.status === 200) {
		  this.form.fields.ruletitle = data.result[0].ruletitle
		  $('#starttime').timepicker('setTime',data.result[0].start_time.slice(0,2)+':'+data.result[0].start_time.substr(2,2))
		  $('#endtime').timepicker('setTime',data.result[0].end_time.slice(0,2)+':'+data.result[0].end_time.substr(2,2))
		  this.form.fields.override = data.result[0].override
		  this.form.fields.isallowed = data.result[0].isallowed
		  this.form.fields.isrecursive = data.result[0].isrecursive
		  this.showHideControl("r")
		  this.form.fields.recursivetype = data.result[0].recursivetype
		  this.showHideControl("d")
		  this.form.fields.selectedHour =data.result[0].repeathour
		  this.form.fields.selectedDays = data.result[0].days_of_week
		  this.form.fields.selectedDates = data.result[0].date_of_month
		  this.form.fields.selectedMonths = data.result[0].months_of_year
		  this.$nextTick(function() {
			$(function() { "use strict";
			  $('#specificdate').daterangepicker({
				startDate:moment(data.result[0].specificdate.split('-')[0].trim()),
				endDate:moment(data.result[0].specificdate.split('-')[1].trim()),
				minDate:moment(data.result[0].specificdate.split('-')[0].trim()),
				format:"YYYY/MM/DD"
			  });   
			});
			$('#specificdate').val(data.result[0].specificdate)
		  })
		}
	  },response => {
	   console.log('we are here')
	   var data =JSON.parse(response.bodyText)
	   this.ShowErrorMessage=true
	   this.ErrorTitle=data.message
	   this.ErrorMessage=data.error
	 }).catch(e => {
	  console.log(e)
	  this.ShowErrorMessage=true
	  this.ErrorTitle='Error Occured'
	  this.ErrorMessage='Something went wrong.Try Again'
	})
   },
   updateRuleData () {
	var Authorization = this.$session.get('access_token')
	var Organizationid = this.$session.get('client_id')
	this.$http.post(config.JOB_URL + '/update_rule/'+ this.$route.params.ruleid, {
	  'ruletitle':this.form.fields.ruletitle,
	  'start_time': this.form.fields.starttime.replace(':',''),
	  'end_time': this.form.fields.endtime.replace(':',''),
	  'active': this.form.fields.activeStatus,
	  'isallowed':this.form.fields.isallowed,
	  'override':this.form.fields.override,
	  'isrecursive':this.form.fields.isrecursive,
	  'specificdate':this.form.fields.specificdate,
	  'repeathour':this.form.fields.selectedHour,
	  'recursivetype':this.form.fields.recursivetype,
	  'date_of_month':this.form.fields.selectedDates,
	  'months_of_year':this.form.fields.selectedMonths,
	  'client_id': Organizationid,
	  'days_of_week': this.form.fields.selectedDays
	}, {
	  headers: {
		'Authorization': Authorization,
		'Content-Type': 'application/json'
	  }
	}).then(response => {
	  console.log('we are here')
	  var data = JSON.parse(response.bodyText)
	  if (response.status === 200) {
		this.ShowSuccessMessage =true
		// this.getActivityLog('created')
		this.$router.push('/rules')
	  }},response => {
		var data =JSON.parse(response.bodyText)
		console.log(data)
		this.ShowErrorMessage=true
		this.ErrorTitle=data.message
		this.ErrorMessage=data.error
	  }).catch(e => {
		console.log(e)
		this.ShowErrorMessage=true
		this.ErrorTitle='Error Occured'
		this.ErrorMessage='Something went wrong.Try Again'
	  })
	},
	SaveLog(activity){
	  console.log('we are in activity log')
	  this.$http.post(config.AUDIT_LOG_URL, activity).then(response => {
		console.log('success log')
	  })
	},
	save () {
	  if(this.form.fields.recursivetype === "h"){
		if(!this.validateHourRecursion())
		  return false
	  }
	  console.log(this.$route.params.ruleid)
	  if (this.$route.params.ruleid) {
		this.updateRuleData()
	  } else {
		this.saveRuleData()
	  }
	},
	validateHourRecursion(){
	  var endtime = this.form.fields.endtime.replace(':','')
	  var repeathour = this.form.fields.selectedHour.split(' ')[1]+ '00'
	  if(parseInt(endtime)+ parseInt(repeathour) > 2400){
		alert('Sum of End time & Repeat hour should not exceed 24 hours')
		return false
	  }
	  return true
	},
	showConfirmCancelAlert () {
	  let confirmFn = function () {
		this.$router.push('/rules')
	  }
	  let obj = {
		title: 'Cancel',
		message: 'Are you sure want to Cancel?',
		type: 'info',
		useConfirmBtn: true,
		onConfirm: confirmFn
	  }
	  this.$refs.simplert.openSimplert(obj)
	},
	MessageClosed(MessageType){
	  console.log('we are in messages')
	  console.log(MessageType)
	  if(MessageType === 'success') {
		this.$router.push('/Rulelist')
	  } else if (MessageType === 'error') {
		console.log('we are in error messages')
		this.ShowErrorMessage=false
		this.ErrorTitle=''
		this.ErrorMessage=''
	  }
	},
  }
}
</script>