<template>
<div>
<BreadCrumbs></BreadCrumbs>
<h2>Rules</h2>
            <div class="panel">
              <div class="panel-body">
                <div>
                  <router-link to="/createrule" id="add_Rule" class="btn btn-success">Add New Rule</router-link>
                </div>
                <div class="example-box-wrapper">
                  <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="RuleList">
                    <thead>
                      <tr>
                        <th>Title</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Allowed</th>
                        <th>Override</th>
                        <th>Recursive</th>
                        <th>Recursive Value</th>
                        <th>Recursive Limit</th>
                        <th>Actions</th>
                      </tr>
                      </thead>
                      <tbody>
                        <tr v-for="Rule in RuleList">
                          <td>{{Rule.ruletitle}} </td>
                          <td>{{Rule.start_time}} </td>
                          <td>{{Rule.end_time}} </td>
                          <td>{{Rule.isallowed}} </td>
                          <td>{{Rule.override}} </td>
                          <td>{{Rule.recursive}} </td>
                          <td>{{Rule.recursivevalue}} </td>
                          <td>{{Rule.recursivelimit}} </td>
                          <!-- <td> # </td> -->
                          <td><router-link :to="{ name: 'editrule', params: { ruleid: Rule.rule_id }}">Edit</router-link> |
                                 <a href="javascript:;" v-on:click="showConfirmAlert(Rule.rule_id)">Delete</a></td>
                        </tr>
                      </tbody>
                  </table>
                  <simplert :useRadius="true"
                            :useIcon="true"
                        ref="simplert">
                      </simplert>
                </div>
              </div>
            </div>
    </div>
</template>
<script>
  import config from '../../config.json'
import Simplert from 'vue2-simplert'
import BreadCrumbs from '../Breadcrumbs.vue'
  export default {
  components: {
    Simplert,
    BreadCrumbs
  },
  // beforeCreate: function () {
  //   this.isLoggedIn = this.$session.exists()
  //   if (!this.isLoggedIn) {
  //     this.$router.push('/login')
  //   } else {
  //     var self = this
  //     setTimeout(function () {
  //       self.$session.destroy()
  //     }, 1200000)
  //   }
  // },
    data () {
      return {
        RuleList: []
      // isLoneggedIn: this.$session.exists()
      }
    },
    mounted () {
      $( "#RuleList" ).DataTable()
      this.getRuleList()
      this.$nextTick(function() {
        $( "#SubMenu" ).css( "display", "block" );
      })      
    },
    methods: {
      getRuleList () {
        var Authorization = this.$session.get('access_token')
        // console.log(config.JOB_URL)
        this.$http.get(config.JOB_URL + '/get_all_rules',
        {
          headers: {
            'Authorization': Authorization,
            'Content-Type': 'application/json'
          }

        }).then(response => {
          var data = JSON.parse(response.bodyText)
          console.log(response.bodyText)
          this.RuleList = []
          this.RuleList = data.result
          for (var i = 0; i < this.RuleList.length; i++) {
            if(this.RuleList[i]['isrecursive'] === 'No'){
              this.RuleList[i]['recursive'] ='No'
              this.RuleList[i]['recursivevalue'] =this.RuleList[i]['specificdate']
              this.RuleList[i]['recursivelimit'] ='N/A'
            }
            else{
              if (this.RuleList[i]['recursivetype']=== 'h'){
                this.RuleList[i]['recursive'] ='Hourly'
                this.RuleList[i]['recursivevalue'] =this.RuleList[i]["repeathour"]
                this.RuleList[i]['recursivelimit'] =this.RuleList[i]['specificdate']
              }else if (this.RuleList[i]['recursivetype']=== 'd'){
                this.RuleList[i]['recursive'] ='Daily'
                this.RuleList[i]['recursivevalue'] ='Daily'
                this.RuleList[i]['recursivelimit'] =this.RuleList[i]['specificdate']
              } else if (this.RuleList[i]['recursivetype']=== 'w') {
                this.RuleList[i]['recursive'] ='Weekly'
                this.RuleList[i]['recursivevalue'] =this.RuleList[i]["days_of_week"].toString()
                this.RuleList[i]['recursivelimit'] =this.RuleList[i]['specificdate']
              } else if (this.RuleList[i]['recursivetype']=== 'm') {
                this.RuleList[i]['recursive'] ='Montly'
                this.RuleList[i]['recursivevalue'] =this.RuleList[i]["date_of_month"].toString()
                this.RuleList[i]['recursivelimit'] =this.RuleList[i]['specificdate']
              } else if (this.RuleList[i]['recursivetype']=== 'y') {
                this.RuleList[i]['recursive'] ='Weekly'
                this.RuleList[i]['recursivelimit'] =this.RuleList[i]['specificdate']
                this.RuleList[i]['recursivevalue'] =this.RuleList[i]["months_of_year"].toString()
              }
            }

            this.RuleList[i]["start_time"]=this.RuleList[i]["start_time"].slice(0,2)+":"+this.RuleList[i]["start_time"].substr(2,2)
            this.RuleList[i]["end_time"]=this.RuleList[i]["end_time"].slice(0,2)+":"+this.RuleList[i]["end_time"].substr(2,2)
            this.RuleList[i]["override"] === true ?this.RuleList[i]["override"]="True":this.RuleList[i]["override"]="False"

            this.RuleList[i]["isallowed"] === true ?this.RuleList[i]["isallowed"]="True":this.RuleList[i]["isallowed"]="False"
            
          };

          $( "#RuleList" ).DataTable().destroy()
          this.$nextTick(function() {
          //   console.log('in tick')
            $( "#RuleList" ).DataTable();
            $( "#SubMenu" ).css( "display", "block" );
          })
        }).catch(e => {
          console.log('error occured')
          console.log(e)
        })
      },
    showConfirmAlert (id) {
      let confirmFn = function () {
        this.$parent.deleteRule(id)
      }
      let obj = {
        title: 'Delete',
        message: 'Are you sure want to delete this?',
        type: 'info',
        useConfirmBtn: true,
        onConfirm: confirmFn
      }
      this.$refs.simplert.openSimplert(obj)
    },
    deleteRule (id) {
      var Authorization = this.$session.get('access_token')
      this.$http.get(config.JOB_URL + '/delete_rule/' + id, {
        headers: {
          'Authorization': Authorization,
          'Content-Type': 'application/json'
        }
      }).then(response => {
        var data = JSON.parse(response.bodyText)
        if (response.status === 200) {
          this.getRuleList()
        }
      }).catch(e => {
        console.log('error occured')
        console.log(this.error)
      })
    }
  }
}
</script>