<template lang="html">
<div>
<div class="float-right">
  <button class="btn btn-default" id="start-page-tour" style="margin-bottom:2px; margin-top:3px;margin-right:5px;height:26px;padding:0px;background-color: rgb(80, 214, 24);color: rgb(250, 250, 250);width:100px;line-height:25px;font-size:15px" v-on:click="InitAssetPageTour()">
      <i class="glyph-icon icon-lightbulb-o"></i> Start Tour
  </button>
</div>
<!-- <BreadCrumbs></BreadCrumbs> -->
<h2>Assets</h2>
            <div class="panel">
              <div class="panel-body">
                <div class="example-box-wrapper">
                  <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="AssetList">
                    <thead>
                      </thead>
                      <tbody>
                      </tbody>
                  </table>
                </div>
              </div>
            </div>
    </div>
</template>
<script>
	import config from '../../config.json'
  import BreadCrumbs from '../Breadcrumbs.vue'
  // import dataTable from '../../../static/widgets/datatable/datatable.js'
	export default {
  components: {
      BreadCrumbs
    },
	  data () {
	    return {
	      AssetList: [],
        table: null,

      // DataTable: '',
      // isLoggedIn: this.$session.exists()
	    }
	  },
    // created () {
    // this.getAssetList()
    // },
	  mounted () {
    this.SessionCheck()
    var self = this;
    this.table = $('#AssetList').dataTable({"paging": true,
    // "scrollY": "600px",
    // "scrollX": "98%",
    "lengthChange": true,
    "searching": true,
    "ordering": true,
    "order": [[ 0, "desc" ]],
    "info": true,
    "autoWidth": true,
    "data": [],
    "columns": [{
      "title": "Product Id",
      "data": "product_id"
    },{
        "title": "Module Id",
        "data": "module_id"
        }, {
        "title": "Operation",
        "data": "operation"
      }
    ]
    });
	  this.getAssetList()
    this.$nextTick(function() {
        $("#SubMenu").css( "display", "block" );
      })
    
   },
   
	  methods: {
      SessionCheck () {
        this.isLoggedIn = this.$session.exists()
        if (this.isLoggedIn) {
          if (this.$cookies.isKey('Timeout')) { // check iscookie exists
            //  means session not yet get timeout
            //  so delete this cookie and again save new one.So timer will get reset
            this.$cookies.remove('Timeout')
            //  set new cookie with timeout. refresh timeout
            this.$cookies.set('Timeout', 'timeout', config.SESSION_TIMEOUT + 'min')
          } else {  // cookie not exist means session get timeout.So destroy the session manually
            this.$session.destroy()
            window.location.href = '/login'
          }
        } else { // session not exists. So redirect to login
          // remove previously exists cookie . if browser get closed without logout.
          if (this.$cookies.isKey('Timeout')) {
            this.$cookies.remove('Timeout')
          }
          if(this.$cookies.isKey('SessionExpMsg')){
            this.$cookies.remove('SessionExpMsg')
            }
            this.$cookies.set('SessionExpMsg','msg','1min')
            window.location.href = '/login'
          }
      },
	    getAssetList () {
        this.SessionCheck()
	      var Authorization = this.$session.get('access_token')
	      console.log(config.AUTHORIZATION_URL)
	      this.$http.get(config.AUTHORIZATION_URL + '/assets/list',
        {
          headers: {
            'Authorization': Authorization,
            'Content-Type': 'application/json'
          }

        }).then(response => {
          var data = JSON.parse(response.bodyText)
          this.AssetList = null
          this.AssetList = data.data
          debugger;
          for (var i = 0; i <  this.AssetList.length; i++) {
              this.table.fnAddData(this.AssetList[i]);
              this.$nextTick(function() {
                console.log('in tick')
                $( "#SubMenu" ).css( "display", "block" );
              })
            };
        },response => {
          console.log(response)
          var data = JSON.parse(response.bodyText)
          if(data.message === "session_expired"){
            this.$session.destroy()
            this.SessionCheck()
          }
        }).catch(e => {
         console.log(e)
        })

	    },
      InitAssetPageTour:function() {
        SessionCheck ()
        var tour = new Tour({
            debug : true,
            storage: window.localStorage,
            onStart: function(tour){
              window.sessionStorage.setItem("start_role_tour", true)
              console.log("tour started")
            } ,          
            onEnd: function(tour) { 
              window.sessionStorage.setItem('start_role_tour', false)
              console.log("ending session")
            },
            onResume:function(tour) { 
              window.sessionStorage.setItem('start_role_tour', false)
              console.log("resume  session")
            },
            onPause:function(tour) { 
              window.sessionStorage.setItem('start_role_tour', false)
              console.log("pause session")
            },
            onClose:function(tour) { 
              window.sessionStorage.setItem('start_role_tour', false)
              console.log("close session")
            },
            onError:function(tour) { 
              window.sessionStorage.setItem('start_role_tour', false)
              console.log("on erroe session")
            }
        });
        tour.addStep({
                    element : "#auth_sub_menu",
                    title : "SubMenu",
                    content : "Click here to get Asset List",
                    orphan:true,
                    path : "/assetlist"                  
                }),

        tour.addStep({
                    element : "#asset",
                    title : "SubMenu",
                    content : "Click here to see auth sub module",
                    orphan:true,
                    path : "/assetlist"                   
                }),


        tour.addStep({
                    element : "#security_role",
                    title : "Security Role",
                    content : "Click here to get Security Role list",
                    orphan:true,                   
                }),

        tour.addStep(     
              {
                  element : "#roleasset",
                  title : "Role Asset",
                  content : "Click here to get Security Role and their Asset",
                  orphan:true,
                  path : "/securityrolelist"
              }),

        tour.addStep({
                  element : "#add_security_role",
                  title : "Add Security Role",
                  content : "Click here to Add security Role",
                  orphan:true,
                  path : "/securityrolelist"
                  }),


        // Start the tour
        tour.restart();       
    }
  }
}
</script>
