<template>
  <div>
   <BreadCrumbs> </BreadCrumbs>
    <div id="examplePlusWelcome">
      <div id="exampleContent" class="content">
        <div class="wrapper">
          <div class="content">
            <div class="data-block first_element_to_target" >               
                <h3>Step 1</h3>
                <h2>: Introduction</h2>
                <p id="abtReporting">Reporting is application which helps you to
                Authorization is process of giving someone permission to do or have something. </p>
            </div>
            <div class="data-block" id="second_element_to_target">
                <h3>Step 2</h3>
                <h2>: About Authorization</h2>
                <p>This service, define the permissions that granted to users  for access a certain object.</p> 
                <p>Authorization service is micro service which can use by any other product  as authorization module to authorize the register user. Service provide facility to create Security Roles, permissions , authorization maps and also assign authorization map to the user.</p>
                <p>The AS protocol involves three parties: a client web browser,the web application requesting authorization and Authorization Service server.It also involved a back-end service,such as database server, caching tool that does not have its own HTTP interface but communicate with web application.</p>
            </div>
            <div class="data-block third_element_to_target">
                <h3>Step 3</h3>
               <h2>: Register Product Assets</h2>
                <p></p> 
            </div>
            <div class="data-block" id="fourth_element_to_target">               
                <h3>Step 4</h3>
                <h2>: Organization create Assets Group</h2>
                <p></p> 
                </div>
            </div>            
            <div class="data-block fifth_element_to_target">
                <h3>Step 5</h3>
                  <h2>: Assign Asset group to Organization User</h2>
                  <p></p> 
            </div>
          </div>

          <!-- this set of pageguide steps will be displayed by default. -->
          <ul id="tlyPageGuide" data-tourtitle="check out these elements">
            <!-- use these classes to indicate where each number bubble should be
            positioned. data-tourtarget should contain the selector for the element to
            which you want to attach this pageguide step. -->
            <li class="tlypageguide_left" data-tourtarget=".first_element_to_target">
              Step 1
            </li>
            <li class="tlypageguide_left" data-tourtarget="#second_element_to_target">
              Step 2
            </li>
            <li class="tlypageguide_left" data-tourtarget=".third_element_to_target">
              Step 3
            </li>
            <li class="tlypageguide_left" data-tourtarget="#fourth_element_to_target">
              Step 4
            </li>
            <li class="tlypageguide_left" data-tourtarget=".fifth_element_to_target">
              Step 5
            </li>
          </ul>

          <!-- this is a second set of pageguide steps. it is possible to have multiple
              pageguides per page, but you will need to initiate them separately, using the
              steps_element parameter to specify the selectors for each. -->
            <ul id="titlePageGuide" data-tourtitle="check out these titles">
              <li class="tlypageguide_top" data-tourtarget=".first_element_to_target h3">
                Introduction
              </li>
              <li class="tlypageguide_top" data-tourtarget="#second_element_to_target h3">
                About Authorization
              </li>
              <li class="tlypageguide_top" data-tourtarget=".third_element_to_target h3">
                Register Product Assets
              </li>
              <li class="tlypageguide_top" data-tourtarget="#fourth_element_to_target h3">
                Organization create Assets Group
              </li>
              <li class="tlypageguide_top" data-tourtarget=".fifth_element_to_target h3">
                Assign Asset group to Organization User
              </li>
            </ul>
          </div>
        </div>
    </div>
  </div>
</template>
<script>
  import BreadCrumbs from '../Breadcrumbs.vue'
  export default {
  components: {
      BreadCrumbs
    },
  mounted (){
    this.test()
    tl.pg.init()
    var simpleGuide = {
       id: 'simple',
      'title': 'A very basic example',
       steps: [
        {
          target: '#first_element_to_target',
          content: 'Here I am on top of the target element',
          direction: 'top'
        },
        {
          target: '#second_element_to_target',
          content: 'Here I am on the right of the target element',
          direction: 'right'
        },
        {
          target: '#third_element_to_target',
          content: 'Here I am on the bottom of the target element',
          direction: 'bottom',
          margin: {
          bottom: 200
          }
        },
        {
          target: '#fourth_element_to_target',
          content: 'Here I am on the left of the target element',
          direction: 'left'
        },
        {
          target: '#fifth_element_to_target',
          content: 'Here I am on the left of the target element',
          direction: 'left'
        }
      ]
    }
    $(function() {
      $.pageguide('load', simpleGuide)
    });
  },

  methods : {
    test : function(){
      this.$nextTick(function() {
          console.log('in tick')
          $( "#SubMenu" ).css( "display", "block" );
          })
      }
    }
  }
</script>


<style type="text/css">
        
        .wrapper {
            margin: 0 auto;
            width: 100%;
            max-width: 1025px;
        }
        .data-block {
            width: 100%;
            min-height: 700px;

        }
        .data-block img {
            width: 100%;
        }

        #titlePageGuide {
            display: none;
            background:#00bca4;
        }



        #tlyPageGuideMessages span{
          background:#00bca4;
        } 

        .tlyPageGuideStepIndex
          {
           background:#00bca4;
          }
      
        /*close box page guide*/
        .tlypageguide_close{
          background:#00bca4;
          }

        /*pageguide side window*/
        .tlypageguide-open #tlyPageGuideWrapper .tlypageguide_toggle.tlyPageGuideToggleActive{
          background:#00bca4;
          }

        /*down navigation close button */
          #tlyPageGuideWrapper #tlyPageGuideMessages .tlypageguide_close{
               background:#00bca4;
          }

        /*step 1,2,3,4 number css from top to bottom */
          .tlypageguide-active .tlyPageGuideStepIndex{
             background:#008fe2;
          }

        /*step 1,2,3,4 number css from top to bottom bar */ 
        #tlyPageGuideWrapper #tlyPageGuideMessages span{
          background:#008fe2;
         }
</style>
