<template>
<div>
<h2>Auth Map</h2>
            <div class="panel">
              <div class="panel-body">
                <div>
                  <router-link to="/authmapcreate" class="btn btn-success">Add Auth Map</router-link>
                </div>
                <div class="example-box-wrapper">
                  <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
                    <thead>
                      <tr>
                         <th>User Id</th>
                          <th>Product</th>
                          <th>Security Role</th>
                          <th>Operation</th>
                          <th>Actions</th>
                      </tr>
                      </thead>
                      <tbody>
                        <tr v-for="AuthMap in AuthMapList">
                          <td>{{AuthMap.user_id}} </td>
                          <td>{{AuthMap.product_id}} </td>
                          <td>{{AuthMap.security_role}} </td>
                          <td>{{AuthMap.asset}} </td>
                          <td>
                                 <a href="javascript:;" v-on:click="showConfirmAlert(AuthMap._id)">Delete</a></td>
                        </tr>
                      </tbody>
                  </table>
                  <simplert useRadius=true
                            useIcon=true
                        ref="simplert">
                      </simplert>
                </div>
              </div>
            </div>
    </div>
</template>
<script>
  import config from '../../config.json'
import Simplert from 'vue2-simplert'
  export default {
    components: {
      Simplert
    },
    // beforeCreate: function () {
    //   this.isLoggedIn = this.$session.exists()
    //   if (!this.isLoggedIn) {
    //     this.$router.push('/login')
    //   } else {
    //     var self = this
    //     setTimeout(function () {
    //       self.$session.destroy()
    //     }, 1200000)
    //   }
    // },
    data () {
      return {
        AuthMapList: []
        // isLoggedIn: this.$session.exists()
      }
    },
    mounted () {
      this.getAuthMapList()
    },
    methods: {
      getAuthMapList () {
        var Authorization = this.$session.get('access_token')
        console.log(config.AUTHORIZATION_URL)
        this.$http.get(config.AUTHORIZATION_URL + '/auth_maps/list',
          {
            headers: {
              'Authorization': Authorization,
              'Content-Type': 'application/json'
            }

          }).then(response => {
            var data = JSON.parse(response.bodyText)
            console.log(response.bodyText)
            this.AuthMapList = data.data
          }).catch(e => {
            console.log('error occured')
            console.log(this.error)
          })
      },
      showConfirmAlert (id) {
        let confirmFn = function () {
          this.$parent.deleteAuthMap(id)
        }
        let obj = {
          title: 'Delete',
          message: 'Are you sure want to delete this?',
          type: 'info',
          useConfirmBtn: true,
          onConfirm: confirmFn
        }
        this.$refs.simplert.openSimplert(obj)
      },
      deleteAuthMap (id) {
        var Authorization = this.$session.get('access_token')
        this.$http.delete(config.AUTHORIZATION_URL + '/auth_maps/delete/' + id, {
          headers: {
            'Authorization': Authorization,
            'Content-Type': 'application/json'
          }
        }).then(response => {
          var data = JSON.parse(response.bodyText)
          if (data.status === 200) {
            this.getAuthMapList()
          }
        }).catch(e => {
          console.log('error occured')
          console.log(this.error)
        })
      }
    }
}
</script>
