<template lang="html">
  <div class="panel">
    <div class="panel-body">
      <h3 class="title-hero">
        Manage Security Role
      </h3>
      <div class="example-box-wrapper">
          <ul class="nav-responsive nav nav-tabs">
              <li @click="changeTab" :class="{'active': activeTab == 'tab-ErpDataCloud'}" data-tab="tab-ErpDataCloud"><a href="#ErpDataCloud" data-toggle="tab">ErpDataCloud</a></li>

              <li @click="changeTab" :class="{'active': activeTab == 'tab-Reporting'}" data-tab="tab-Reporting"><a href="#Reporting" data-toggle="tab">Reporting</a></li>

              <li @click="changeTab" :class="{'active': activeTab == 'tab-Archival'}" data-tab="tab-Archival"><a href="#Archival" data-toggle="tab">Archival</a></li>
          </ul>
          <div class="tab-content">
              <div class="tab-pane active" id="ErpDataCloud">
                <div class="example-box-wrapper">
                  <div class="hide-columns">
                    <table class="table table-bordered table-striped table-condensed" v-if="AssetList">
                      <thead class="cf">
                        <tr>
                            <th>Security Role</th>
                            <td v-for="asset in AssetList">{{asset.operation}}</td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="role in securityRoleList">
                          <td>{{role.name}}</td>
                          <td v-for="asset in AssetList">
                            <input type="checkbox" :name="role.id" :value="asset.operation"
                            :id="asset.id" :checked="CheckAssignedAsset(asset.id, role.assets)" >
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    </div>
                  </div>

              </div>
              <div class="tab-pane" id="Reporting">
                  <p>Reporting</p>
              </div>
              <div class="tab-pane" id="Archival">
                  <p>Archival.</p>
              </div>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
  import config from '../../config.json'
// import dataTable from '../../../static/widgets/datatable/datatable.js'
  export default {
  // beforeCreate: function () {
  //   this.isLoggedIn = this.$session.exists()
  //   if (!this.isLoggedIn) {
  //     this.$router.push('/login')
  //   } else {
  //     var self = this
  //     setTimeout(function () {
  //       self.$session.destroy()
  //     }, 1200000)
  //   }
  // },
    data () {
      return {
        AssetList: [],
        securityRoleList: [],
        activeTab: 'tab-ErpDataCloud',
        is_exists: 1
      // DataTable: '',
      // isLoggedIn: this.$session.exists()
      }
    },
    mounted () {
      this.changeTab(event)
    // this.DataTable = dataTable
    // $('#datatable-example').dataTable()
    },
    methods: {
      changeTab: function (event) {
        if (typeof event !== 'undefined') {
          if (event.target.getAttribute('data-tab')) {
            this.activeTab = event.target.getAttribute('data-tab')
          } else {
            this.activeTab = event.target.parentNode.getAttribute('data-tab')
          }
        } else {
          this.activeTab = 'tab-ErpDataCloud'
        }
        var product = this.activeTab.split('-')[1]
        var Authorization = this.$session.get('access_token')
        this.$http.get(config.AUTHORIZATION_URL + '/assets/list/' + product,
          {
            headers: {
              'Authorization': Authorization,
              'Content-Type': 'application/json'
            }

          }).then(response => {
            var data = JSON.parse(response.bodyText)
            console.log(data)
            this.AssetList = data.data
          }).catch(e => {
            console.log('error occured')
            console.log(this.error)
          })

        this.$http.get(config.AUTHORIZATION_URL + '/security_role/list/' + product,
          {
            headers: {
              'Authorization': Authorization,
              'Content-Type': 'application/json'
            }

          }).then(response => {
            var data = JSON.parse(response.bodyText)
            console.log(data)
            this.securityRoleList = data.data
          }).catch(e => {
            console.log('error occured')
            console.log(this.error)
          })
      },
      CheckAssignedAsset: function (assetId, roleId) {
        for (var eachRole = 0; eachRole < roleId.length; eachRole++) {
          console.log(roleId[eachRole].id)
          if (assetId === roleId[eachRole].id) {
            return this.is_exists
          }
        }
      }
    }
}
</script>

