<template>
  <div>
    <BreadCrumbs></BreadCrumbs>
              <h2> Security Role </h2>
              <div class="panel">
                <div class="panel-body">
                    <h3 class="title-hero">
                       Manage Security Role
                    </h3>
                    <font color="red">*All fields are Required</font>
                    <div class="example-box-wrapper">
                      <div id="ShowMessages">
                        <div class="example-box-wrapper" v-if="ShowSuccessMessage">
                            <div class="alert alert-close alert-success">
                                <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('success')"></a>
                                <div class="bg-green alert-icon">
                                    <i class="glyph-icon icon-check"></i>
                                </div>
                                <div class="alert-content">
                                    <h4 class="alert-title">Success</h4>
                                    <p>Role get added successfully</p>
                                </div>
                            </div>
                        </div>

                        <div class="alert alert-danger" v-if="ShowErrorMessage">
                          <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('error')"></a>
                          <div class="bg-red alert-icon">
                              <i class="glyph-icon icon-times"></i>
                          </div>
                          <div class="alert-content">
                              <h4 class="alert-title">{{ErrorTitle}}</h4>
                              <p>{{ErrorMessage}}</p>
                          </div>
                        </div>
                      </div>
                        <form @submit.prevent="validateBeforeSubmit" enctype="multipart/form-data" class="form-horizontal bordered-row" data-parsley-validate="" id="managerole" data-validate="parsley" novalidate>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Security Role</label>
                                <div class="col-sm-4">
                                    <input type="text" id="name" name="name" class="form-control popover-button-default" placeholder="Enter Security Role" data-content=" 1) Only alphanumeric text allowed expect underscore[_]" title="Rules" data-trigger="focus" data-placement="top" data-parsley-type="alphanum" v-model="role_name" data-parsley-required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Select Product</label>
                                <div class="col-sm-4">
                                  <select id="product_id" v-on:change="onSecurityRoleChange" name="product_id" class="form-control" v-model="product_id" data-parsley-required>
                                    <option disabled value="">Select Product</option>
                                    <option value="Reporting">Reporting</option>
                                    <option value="ErpDataCloud">ErpDataCloud</option>
                                    <option value="UserProvisioning">User Provisioning</option>
                                    <option value="archival">Archival</option>
                                    <option value="SchedulerBackend">SchedulerBackend</option>
                                    <option value="SchedulerFrontend">SchedulerFrontend</option>
                                    <option value="AuthorizationFrontend">AuthorizationFrontend</option>
                                    <option value="AuthorizationBackend">AuthorizationBackend</option>
                                  </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Select Assets</label>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-md-8">
                                          <select id="assets" name="assets" class="form-control" multiple="multiple" data-parsley-required v-model="selectedAssets">
                                            <option selected="true" v-for = "Asset in AssetList" v-bind:value ="Asset.id">{{ Asset.operation }}</option>
                                          </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                          <div class="form-group">
                            <div class="col-sm-6">
                              <button type="submit" name="submit" class="btn success">Save</button>
                              <button type="button" name="cancel" class="btn success" href="javascript:;" v-on:click="showConfirmCancelAlert()">Cancel</button>
                            </div>
                          </div>
                        </form>
                        <simplert :useRadius="true"
                        :useIcon="true"
                        ref="simplert">
                        </simplert>
                    </div>
                </div>
              </div>
  </div>
</template>
<script>
  import config from '../../config.json'
  import Simplert from 'vue2-simplert'
  import BreadCrumbs from '../Breadcrumbs.vue'
  export default {
    components: {
    BreadCrumbs,
    Simplert
  },
    data () {
      return {
        AssetList: [],
        test: '',
        product_id: '',
        role_name: '',
        selectedAssets: [],
        Organization: '',
        NewSelectedAsset : [],
        ipaddress:'',
        ShowSuccessMessage: false,
        ShowErrorMessage:false,
        ErrorTitle:'',
        ErrorMessage:''
        // isLoggedIn: this.$session.exists()
      }
    },
    mounted () {
      this.SessionCheck()
      if (this.$route.params.securityroleid) {
        this.getSecurityRoleByid()
      }
      $('#managerole').parsley()
    },
    methods: {
      SessionCheck () {
        this.isLoggedIn = this.$session.exists()
        if (this.isLoggedIn) {
          if (this.$cookies.isKey('Timeout')) { // check iscookie exists
            //  means session not yet get timeout
            //  so delete this cookie and again save new one.So timer will get reset
            this.$cookies.remove('Timeout')
            //  set new cookie with timeout. refresh timeout
            this.$cookies.set('Timeout', 'timeout', config.SESSION_TIMEOUT + 'min')
          } else {  // cookie not exist means session get timeout.So destroy the session manually
            this.$session.destroy()
            window.location.href = '/login'
          }
        } else { // session not exists. So redirect to login
          // remove previously exists cookie . if browser get closed without logout.
          if (this.$cookies.isKey('Timeout')) {
            this.$cookies.remove('Timeout')
          }
          if(this.$cookies.isKey('SessionExpMsg')){
            this.$cookies.remove('SessionExpMsg')
            }
            this.$cookies.set('SessionExpMsg','msg','1min')
            window.location.href = '/login'
          }
      },
      onSecurityRoleChange () {
        this.SessionCheck()
        this.MessageClosed('error')
        this.AssetList = []
        this.Organization = this.$session.get('user_id')
        if (this.product_id !== '') {
          var Authorization = this.$session.get('access_token')
          console.log(config.AUTHORIZATION_URL)
          this.$http.get(config.AUTHORIZATION_URL + '/assets/list_product/' + this.product_id,
            {
              headers: {
                'Authorization': Authorization,
                'Content-Type': 'application/json'
              }

            }).then(response => {
              var data = JSON.parse(response.bodyText)
              console.log(data)
              if(data.status === 200){
              this.AssetList = data.data
              this.$nextTick(function(){
                this.selectedAssets = this.NewSelectedAsset
              })
            } else {
            this.AssetList = data.data
            this.ShowErrorMessage=true
            this.ErrorMessage=data.message
            this.ErrorTitle='Data not found'
            }
            },response => {
            var data =JSON.parse(response.bodyText)
            if(data.message === "session_expired"){
            this.$session.destroy()
            this.SessionCheck()
            } else {
            this.ShowErrorMessage=true
            this.ErrorTitle=data.message
            this.ErrorMessage=data.error
          }
          }).catch(e => {
            this.ShowErrorMessage=true
            this.ErrorTitle='Error Occured'
            this.ErrorMessage='Something went wrong.Try Again'
          })
        }
      },
      validateBeforeSubmitOld (e) {
        this.$validator.validateAll()
        if (!this.errors.any()) {
          this.save()
        }
      },
      validateBeforeSubmit (e) {
          var instance = $('#managerole').parsley()
          if (instance.isValid() === true) {
            this.save()
          }else{
            console.log(instance.isValid())
          }
      },
      saveRoleData () {
        this.SessionCheck()
        var Authorization = this.$session.get('access_token')
        var Organizationid = this.$session.get('client_id')
        this.$http.post(config.AUTHORIZATION_URL + '/security_role/registerone', {
          'organization_id': Organizationid,
          'name': this.role_name,
          'product_id': this.product_id,
          'assets': this.selectedAssets
        }, {
          headers: {
            'Authorization': Authorization,
            'Content-Type': 'application/json'
          }
        }).then(response => {
          console.log('we are here')
          var data = JSON.parse(response.bodyText)
          if (data.status === 200) {
            this.ShowSuccessMessage =true
            this.getActivityLog('created')
            this.$router.push('/securityrolelist')
          }},response => {
            var data =JSON.parse(response.bodyText)
            if(data.message === "session_expired"){
            this.$session.destroy()
            this.SessionCheck()
            } else {
            console.log(data)
            this.ShowErrorMessage=true
            this.ErrorTitle=data.message
            this.ErrorMessage=data.error
            }
          }).catch(e => {
          console.log(e)
          this.ShowErrorMessage=true
          this.ErrorTitle='Error Occured'
          this.ErrorMessage='Something went wrong.Try Again'
        })
      },
      getSecurityRoleByid () {
        this.SessionCheck()
        this.Organization = this.$session.get('user_id')
        var Authorization = this.$session.get('access_token')
        console.log(config.AUTHORIZATION_URL)
        this.$http.get(config.AUTHORIZATION_URL + '/security_role/get/' + this.$route.params.securityroleid,
          {
            headers: {
              'Authorization': Authorization,
              'Content-Type': 'application/json'
            }

          }).then(response => {
            console.log('we are here')
          // console.log(response.bodyText)
            var data = JSON.parse(response.bodyText)
            console.log(data.status)
            if (data.status === 200) {
              this.role_name = data.data.name
              this.product_id = data.data.product_id
              this.NewSelectedAsset =  data.data.assets
              this.onSecurityRoleChange()
            }
          },response => {
            var data =JSON.parse(response.bodyText)
            if(data.message === "session_expired"){
            this.$session.destroy()
            this.SessionCheck()
            } else {
            console.log(data)
            this.ShowErrorMessage=true
            this.ErrorTitle=data.message
            this.ErrorMessage=data.error
            }
          }).catch(e => {
            this.ShowErrorMessage=true
            this.ErrorTitle='Error Occured'
            this.ErrorMessage='Something went wrong.Try Again'
          })
      },
      updateRoleData () {
        this.SessionCheck()
        var Authorization = this.$session.get('access_token')
        var Organizationid = this.$session.get('client_id')
        this.$http.post(config.AUTHORIZATION_URL + '/security_role/update', {
          'organization_id': Organizationid,
          'name': this.role_name,
          'product_id': this.product_id,
          'assets': this.selectedAssets,
          'id': this.$route.params.securityroleid
        }, {
          headers: {
            'Authorization': Authorization,
            'Content-Type': 'application/json'
          }
        }).then(response => {
          console.log('we are here')
          var data = JSON.parse(response.bodyText)
          if (data.status === 200) {
            this.getActivityLog('updated')
            this.$router.push('/securityrolelist')
          }},response => {
            var data =JSON.parse(response.bodyText)
            if(data.message === "session_expired"){
            this.$session.destroy()
            this.SessionCheck()
            } else {
            console.log(data)
            this.ShowErrorMessage=true
            this.ErrorTitle=data.message
            this.ErrorMessage=data.error
            }
          }).catch(e => {
          console.log(e)
          this.ShowErrorMessage=true
          this.ErrorTitle='Error Occured'
          this.ErrorMessage='Something went wrong.Try Again'
        })
      },
      SaveLog(activity){
        console.log('we are in activity log')
          this.$http.post(config.AUDIT_LOG_URL, activity).then(response => {
                console.log('success log')
          })
        },
      save () {
        this.SessionCheck()
        if (this.$route.params.securityroleid) {
          this.updateRoleData()
        } else {
          this.saveRoleData()
        }
      },
      showConfirmCancelAlert () {
        let confirmFn = function () {
          this.$router.push('/securityrolelist')
        }
        let obj = {
          title: 'Cancel',
          message: 'Are you sure want to Cancel?',
          type: 'info',
          useConfirmBtn: true,
          onConfirm: confirmFn
        }
        this.$refs.simplert.openSimplert(obj)
      },
      getActivityLog(Action){
        console.log('asset role name')
        // console.log(this.selectedAssets)
        // console.log(this.AssetList[0].id)
        var AssetNameList = ''
        for (var i = 0; i < this.selectedAssets.length; i++) {
          for (var j = 0; j < this.AssetList.length; j++) {
            if(this.AssetList[j].id === this.selectedAssets[i])
              AssetNameList = AssetNameList + this.AssetList[j].operation+ ','
          };
        };
        var newStr = AssetNameList.substring(0, AssetNameList.length-1)
        AssetNameList = newStr

        var currentDate = new Date()
        var CurrentUTCDate = currentDate.toUTCString()
        var ActivityMessage = 'User ' + this.$session.get('email')+' belong to the organisation '+this.$session.get('client_name')+' '+ Action +' role '+ this.role_name+' for the product '+this.product_id+' with the assets '+AssetNameList+' at '+CurrentUTCDate
        console.log(ActivityMessage)
        var activity = {"org_id": this.$session.get('client_id'),
                        "org": this.$session.get('client_name'),
                        "user_id": this.$session.get('user_id'),
                        "username": this.$session.get('email'),
                        "service_id": config.SERVICE_ID,
                        "ipaddress": this.$session.get('ipaddress'),
                        "datetime": CurrentUTCDate,
                        "browser_agent": navigator.userAgent,
                        "msg": ActivityMessage}
        console.log("activity")
        console.log(activity)
        this.SaveLog(activity)
      },
      MessageClosed(MessageType){
        console.log('we are in messages')
        console.log(MessageType)
        if(MessageType === 'success') {
          this.$router.push('/securityrolelist')
        } else if (MessageType === 'error') {
          console.log('we are in error messages')
          this.ShowErrorMessage=false
          this.ErrorTitle=''
          this.ErrorMessage=''
        }
      },
    }
}
</script>
