<template>
  <div>
              <h2> Auth Map </h2>
              <div class="panel">
                <div class="panel-body">
                    <h3 class="title-hero">
                      Manage Auth Map
                    </h3>
                    <div class="example-box-wrapper">

                       <div class="alert alert-danger" id="error" v-if="IsErrorOccurred">
                                <div class="bg-red alert-icon">
                                    <i class="glyph-icon icon-times"></i>
                                </div>
                                <div class="alert-content">
                                    <h4 class="alert-title">{{ ErrorHeader }}</h4>
                                    <p>{{ ErrorMessage }}</p>
                                </div>
                            </div>

                        <form @submit.prevent="validateBeforeSubmit" enctype="multipart/form-data" class="form-horizontal bordered-row" data-parsley-validate="">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">User Name</label>
                                <div class="col-sm-4">
                                    <input type="text" id="name" name="name" class="form-control popover-button-default" placeholder="Enter Security Role" data-content=" 1) Only alphanumeric text allowed expect underscore[_]" title="Rules" data-trigger="focus" data-placement="top" data-parsley-type="alphanum" v-model="user_name" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Select Product</label>
                                <div class="col-sm-4">
                                  <select id="product_id" v-on:change="onProductChange" name="product_id" class="form-control" v-model="product_id" required>
                                    <option disabled value="">Select Product</option>
                                    <option value="reporting">Reporting</option>
                                    <option value="ErpDataCloud">ErpDataCloud</option>
                                    <option value="UserProvisioning">User Provisioning</option>
                                    <option value="archival">Archival</option>
                                    <option value="SchedulerBackend">SchedulerBackend</option>
                                    <option value="SchedulerFrontend">SchedulerFrontend</option>
                                    <option value="AuthorizationFrontend">AuthorizationFrontend</option>
                                    <option value="AuthorizationBackend">AuthorizationBackend</option>
                                  </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Select Role</label>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-md-8">
                                          <select id="assets" name="assets" class="form-control"  required v-model="selectedRoles" multiple>
                                            <option v-for = "Role in RoleList" v-bind:value ="Role.id">{{ Role.name }}</option>
                                          </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                          <div class="form-group">
                            <div class="col-sm-6">
                              <button type="submit" name="submit" class="btn success">Save</button>
                              <button type="button" name="cancel" class="btn success">Cancel</button>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
              </div>
  </div>
</template>
<script>
  import config from '../../config.json'
  export default {
    // beforeCreate: function () {
    //   this.isLoggedIn = this.$session.exists()
    //   if (!this.isLoggedIn) {
    //     this.$router.push('/login')
    //   } else {
    //     var self = this
    //     setTimeout(function () {
    //       self.$session.destroy()
    //     }, 1200000)
    //   }
    // },
    data () {
      return {
        RoleList: [],
        test: '',
        product_id: '',
        user_name: '',
        selectedRoles: [],
        Organization: '',
        IsErrorOccurred: false,
        ErrorHeader: '',
        ErrorMessage: ''
        // isLoggedIn: this.$session.exists()
      }
    },
    methods: {
      onProductChange () {
        this.RoleList = []
        this.Organization = this.$session.get('user_id')
        if (this.product_id !== '') {
          var Authorization = this.$session.get('access_token')
          console.log(config.AUTHORIZATION_URL)
          this.$http.get(config.AUTHORIZATION_URL + '/security_role/product_role_list/' + this.product_id,
            {
              headers: {
                'Authorization': Authorization,
                'Content-Type': 'application/json'
              }

            }).then(response => {
              console.log('we are here')
            // console.log(response.bodyText)
              var data = JSON.parse(response.bodyText)
              this.RoleList = data.data
              console.log(this.RoleList)
            }).catch(e => {
              console.log('error occured')
              console.log(this.error)
            })
        }
      },
      validateBeforeSubmit (e) {
        this.$validator.validateAll()
        if (!this.errors.any()) {
          this.saveRoleData()
        }
      },
      saveRoleData () {
        this.IsErrorOccurred = false
        var Authorization = this.$session.get('access_token')
        this.$http.post(config.AUTHORIZATION_URL + '/auth_maps/insertone', {
          'user_id': this.user_name,
          'security_role_ids': this.selectedRoles
        }, {
          headers: {
            'Authorization': Authorization,
            'Content-Type': 'application/json'
          }
        }).then(response => {
          console.log('we are here')
          var data = JSON.parse(response.bodyText)
          if (data.status === 200) {
            this.$router.push('/authmaplist')
          } else {
            console.log(data)
            this.IsErrorOccurred = true
            this.ErrorHeader = data.message
            this.ErrorMessage = data.error
          }
        }).catch(e => {
          console.log('error occured')
          console.log(e.error)
        })
      }
    }
}
</script>
