<template lang="html">
  <div>
    <BreadCrumbs></BreadCrumbs>
     <h2>Product Asset View</h2>
    <div class="panel">
      <div class="panel-body">
        <div class="example-box-wrapper">
            <ul  class="nav-responsive nav nav-tabs">
                <li v-for="product in productList" :id="product" :data-tab="'tab-' + product"  @click="changeTab" :class="{'active': activeTab == 'tab-' + product}"><a :href="'#' + product" data-toggle="tab">{{product}}</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="activeTab">
                  <div class="example-box-wrapper">
                    <div class="hide-columns">
                      <table class="table table-bordered table-striped table-condensed" v-if="AssetList">
                        <thead class="cf">
                          <tr>
                              <th>Asset</th>
                              <td v-for="role in securityRoleList">{{role.name}}</td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="asset in AssetList">
                            <td>{{asset.operation}}</td>
                            <td v-for="role in securityRoleList">
                              <input type="checkbox" :name="role.id" :value="asset.operation"
                              :id="asset.id" :checked="CheckAssignedAsset(asset.id, role.assets)" >
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import config from '../../config.json'
// import dataTable from '../../../static/widgets/datatable/datatable.js'
   import BreadCrumbs from '../Breadcrumbs.vue'
  export default {
    components: {
    BreadCrumbs
  },
  // beforeCreate: function () {
  //   this.isLoggedIn = this.$session.exists()
  //   if (!this.isLoggedIn) {
  //     this.$router.push('/login')
  //   } else {
  //     var self = this
  //     setTimeout(function () {
  //       self.$session.destroy()
  //     }, 1200000)
  //   }
  // },
    data () {
      return {
        AssetList: [],
        securityRoleList: [],
        productList:[],
        activeTab: 'tab-ErpDataCloud',
        is_exists: 1
      // DataTable: '',
      // isLoggedIn: this.$session.exists()
      }
    },
    mounted () {
      this.SessionCheck()
      this.GetProducts()
      // this.changeTab(event)
    },
    methods: {
      SessionCheck () {
        this.isLoggedIn = this.$session.exists()
        if (this.isLoggedIn) {
          if (this.$cookies.isKey('Timeout')) { // check iscookie exists
            //  means session not yet get timeout
            //  so delete this cookie and again save new one.So timer will get reset
            this.$cookies.remove('Timeout')
            //  set new cookie with timeout. refresh timeout
            this.$cookies.set('Timeout', 'timeout', config.SESSION_TIMEOUT + 'min')
          } else {  // cookie not exist means session get timeout.So destroy the session manually
            this.$session.destroy()
            window.location.href = '/login'
          }
        } else { // session not exists. So redirect to login
          // remove previously exists cookie . if browser get closed without logout.
          if (this.$cookies.isKey('Timeout')) {
            this.$cookies.remove('Timeout')
          }
          if(this.$cookies.isKey('SessionExpMsg')){
            this.$cookies.remove('SessionExpMsg')
            }
            this.$cookies.set('SessionExpMsg','msg','1min')
            window.location.href = '/login'
          }
      },
      GetProducts(){
        this.SessionCheck()
        var Authorization = this.$session.get('access_token')
        this.$http.get(config.AUTHORIZATION_URL + '/auth_map/get_all_products',
          {
            headers: {
              'Authorization': Authorization,
              'Content-Type': 'application/json'
            }

          }).then(response => {
            var data = JSON.parse(response.bodyText)
            this.productList = data.data.product_list
            this.activeTab = 'tab-'+this.productList[0]
            this.changeTab()
            this.$nextTick(function() {
              $( "#SubMenu" ).css( "display", "block" );
            })
          },response => {
              var data =JSON.parse(response.bodyText)
              if(data.message === "session_expired"){
                this.$session.destroy()
                this.SessionCheck()
              } else {
              this.ShowErrorMessage=true
              this.ErrorMessage=data.error
              this.ErrorTitle=data.message
              }
            }).catch(e => {
            console.log('error occured')
            console.log(this.error)
          })
      },
      changeTab: function (event) {
        this.SessionCheck()
        debugger;
        if (typeof event !== 'undefined') {
          if (event.target.getAttribute('data-tab')) {
            this.activeTab = event.target.getAttribute('data-tab')
          } else {
            this.activeTab = event.target.parentNode.getAttribute('data-tab')
          }
       }
        // else {
        //   this.activeTab = 'tab-ErpDataCloud'
        // }
        // if (this.activeTab === null) {
        //   this.activeTab = 'tab-ErpDataCloud'

        // }
        var product = this.activeTab.split('-')[1]
        var Authorization = this.$session.get('access_token')
        this.$http.get(config.AUTHORIZATION_URL + '/assets/list/' + product,
          {
            headers: {
              'Authorization': Authorization,
              'Content-Type': 'application/json'
            }

          }).then(response => {
            var data = JSON.parse(response.bodyText)
            this.AssetList = data.data
          },response => {
              var data =JSON.parse(response.bodyText)
              if(data.message === "session_expired"){
                this.$session.destroy()
                this.SessionCheck()
              } else {
              this.ShowErrorMessage=true
              this.ErrorMessage=data.error
              this.ErrorTitle=data.message
              }
            }).catch(e => {
            console.log('error occured')
            console.log(this.error)
          })

        this.$http.get(config.AUTHORIZATION_URL + '/security_role/list/' + product,
          {
            headers: {
              'Authorization': Authorization,
              'Content-Type': 'application/json'
            }

          }).then(response => {
            var data = JSON.parse(response.bodyText)
            this.securityRoleList = data.data
          },response => {
              var data =JSON.parse(response.bodyText)
              if(data.message === "session_expired"){
                this.$session.destroy()
                this.SessionCheck()
              } else {
              this.ShowErrorMessage=true
              this.ErrorMessage=data.error
              this.ErrorTitle=data.message
              }
            }).catch(e => {
            console.log('error occured')
            console.log(this.error)
          })
      },
      CheckAssignedAsset: function (assetId, roleId) {
        this.SessionCheck()
        for (var eachRole = 0; eachRole < roleId.length; eachRole++) {
          if (assetId === roleId[eachRole].id) {
            return this.is_exists
          }
        }
      }
    }
}
</script>

