<template>
<div>
<BreadCrumbs></BreadCrumbs>
<h2>Security Roles</h2>
            <div class="panel">
              <div class="panel-body">
                <div>
                  <router-link to="/securityrolecreate" id="add_security_role" class="btn btn-success">Add Security Role</router-link>
                </div>
                <div class="example-box-wrapper">
                  <div id="ShowMessages">
                        <div class="example-box-wrapper" v-if="ShowSuccessMessage">
                            <div class="alert alert-close alert-success">
                                <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('success')"></a>
                                <div class="bg-green alert-icon">
                                    <i class="glyph-icon icon-check"></i>
                                </div>
                                <div class="alert-content">
                                    <h4 class="alert-title">Success</h4>
                                    <p>Role get deleted successfully</p>
                                </div>
                            </div>
                        </div>
                        <div class="alert alert-danger" v-if="ShowErrorMessage">
                          <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('error')"></a>
                          <div class="bg-red alert-icon">
                              <i class="glyph-icon icon-times"></i>
                          </div>
                          <div class="alert-content">
                              <h4 class="alert-title">{{ErrorTitle}}</h4>
                              <p>{{ErrorMessage}}</p>
                          </div>
                        </div>
                      </div>
                  <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="RoleList">
                    <thead>
                      <tr>
                        <th>Role</th>
                        <th>Product</th>
                        <!-- <th>Operation</th> -->
                        <th>Actions</th>
                      </tr>
                      </thead>
                      <tbody>
                        <tr v-for="SecurityRole in SecurityRoleList">
                          <td>{{SecurityRole.name}} </td>
                          <td>{{SecurityRole.product_id}} </td>
                          <!-- <td> # </td> -->
                          <td><router-link :to="{ name: 'securityroleedit', params: { securityroleid: SecurityRole.id }}">Edit</router-link> |
                                 <a href="javascript:;" v-on:click="showConfirmAlert(SecurityRole.id)">Delete</a></td>
                        </tr>
                      </tbody>
                  </table>
                  <simplert :useRadius="true"
                            :useIcon="true"
                        ref="simplert">
                      </simplert>
                </div>
              </div>
            </div>
    </div>
</template>
<script>
  import config from '../../config.json'
import Simplert from 'vue2-simplert'
import BreadCrumbs from '../Breadcrumbs.vue'
  export default {
  components: {
    Simplert,
    BreadCrumbs
  },
  // beforeCreate: function () {
  //   this.isLoggedIn = this.$session.exists()
  //   if (!this.isLoggedIn) {
  //     this.$router.push('/login')
  //   } else {
  //     var self = this
  //     setTimeout(function () {
  //       self.$session.destroy()
  //     }, 1200000)
  //   }
  // },
    data () {
      return {
        SecurityRoleList: [],
        ShowSuccessMessage: false,
        ShowErrorMessage:false,
        ErrorTitle:'',
        ErrorMessage:''
      // isLoneggedIn: this.$session.exists()
      }
    },
    mounted () {
      this.SessionCheck()
      $( "#RoleList" ).DataTable()
      this.getSecurityRoleList()
      this.$nextTick(function() {
        $( "#SubMenu" ).css( "display", "block" );
      })
      if( window.sessionStorage.getItem("start_tour") === 'true'){
        var tour = new Tour({
            debug : true,
            storage: window.localStorage,
            onStart: function(tour){
              window.sessionStorage.setItem("start_tour", true)
              console.log("tour started")
            } ,
            onEnd: function(tour) {
              window.sessionStorage.setItem('start_tour', false)
              console.log("ending session")
            },
            onResume:function(tour) {
              window.sessionStorage.setItem('start_tour', false)
              console.log("resume  session")
            },
            onPause:function(tour) {
              window.sessionStorage.setItem('start_tour', false)
              console.log("pause session")
            },
            onClose:function(tour) {
              window.sessionStorage.setItem('start_tour', false)
              console.log("close session")
            },
            onError:function(tour) {
              window.sessionStorage.setItem('start_tour', false)
              console.log("on erroe session")
            }
        });

        tour.addStep({
                      element : "#add_security_role",
                      title : "Add Security Role",
                      content : "Click here to Add security Role",
                      delay: true
                  })
        tour.restart()
      }
    },
    methods: {
      SessionCheck () {
        this.isLoggedIn = this.$session.exists()
        if (this.isLoggedIn) {
          if (this.$cookies.isKey('Timeout')) { // check iscookie exists
            //  means session not yet get timeout
            //  so delete this cookie and again save new one.So timer will get reset
            this.$cookies.remove('Timeout')
            //  set new cookie with timeout. refresh timeout
            this.$cookies.set('Timeout', 'timeout', config.SESSION_TIMEOUT + 'min')
          } else {  // cookie not exist means session get timeout.So destroy the session manually
            this.$session.destroy()
            window.location.href = '/login'
          }
        } else { // session not exists. So redirect to login
          // remove previously exists cookie . if browser get closed without logout.
          if (this.$cookies.isKey('Timeout')) {
            this.$cookies.remove('Timeout')
          }
          if(this.$cookies.isKey('SessionExpMsg')){
            this.$cookies.remove('SessionExpMsg')
            }
            this.$cookies.set('SessionExpMsg','msg','1min')
            window.location.href = '/login'
          }
      },
      getSecurityRoleList () {
        this.SessionCheck()
        var Authorization = this.$session.get('access_token')
        // console.log(config.AUTHORIZATION_URL)
        this.$http.get(config.AUTHORIZATION_URL + '/security_role/list',
        {
          headers: {
            'Authorization': Authorization,
            'Content-Type': 'application/json'
          }

        }).then(response => {
          var data = JSON.parse(response.bodyText)
          this.SecurityRoleList = []
          this.SecurityRoleList = data.data
           $( "#RoleList" ).DataTable().destroy()
          this.$nextTick(function() {
            $( "#RoleList" ).DataTable();
            $( "#SubMenu" ).css( "display", "block" );
          })
        },response => {
          var data =JSON.parse(response.bodyText)
          if(data.message === "session_expired"){
            this.$session.destroy()
            this.SessionCheck()
          } else {
          this.ShowErrorMessage=true
          this.ErrorTitle=data.message
          this.ErrorMessage=data.error
          }
        }).catch(e => {
          console.log('error occured')
          console.log(e)
          this.ShowErrorMessage=true
          this.ErrorTitle='Error Occured'
          this.ErrorMessage='Something went wrong.Try Again'
        })
      },
    showConfirmAlert (id) {
      let confirmFn = function () {
        this.$parent.deleteSecurityrole(id)
      }
      let obj = {
        title: 'Delete',
        message: 'Are you sure want to delete this?',
        type: 'info',
        useConfirmBtn: true,
        onConfirm: confirmFn
      }
      this.$refs.simplert.openSimplert(obj)
    },
    deleteSecurityrole (id) {
      this.SessionCheck()
      var Authorization = this.$session.get('access_token')
      this.$http.delete(config.AUTHORIZATION_URL + '/security_role/delete/' + id, {
        headers: {
          'Authorization': Authorization,
          'Content-Type': 'application/json'
        }
      }).then(response => {
        var data = JSON.parse(response.bodyText)
          console.log(response.bodyText)
        if (data.status === 200) {
          this.ShowSuccessMessage =true
          this.getSecurityRoleList()
        }
      }, response => {
        var data =JSON.parse(response.bodyText)
        if(data.message === "session_expired"){
          this.$session.destroy()
          this.SessionCheck()
        } else {
        this.ShowErrorMessage=true
        this.ErrorMessage=data.error
        this.ErrorTitle=data.message
        }
      }).catch(e => {
        console.log('error occured')
        console.log(e)
        this.ShowErrorMessage=true
        this.ErrorTitle='Error Occured'
        this.ErrorMessage='Something went wrong.Try Again'
      })
    },
    MessageClosed(MessageType){
      this.ShowErrorMessage=false
      this.ErrorTitle=''
      this.ErrorMessage=''
      this.ShowSuccessMessage= false
    },
  }
}
</script>
