<template>
  <div id="app-header">
    <div id="page-wrapper">
      <div id="page-header" class="bg-gradient-9"> 
        <div id="mobile-navigation">
          <button id="nav-toggle" class="collapsed" data-toggle="collapse" data-target="#page-sidebar"><span></span></button>
          <a href="/dashboard" class="logo-content-small" title="MonarchUI"></a>
        </div>
        <div id="header-logo" class="logo-bg">
          <a href="/dashboard" class="logo-content-big" title="MonarchUI">
            Monarch <i>UI</i>
            <span>The perfect solution for user interfaces</span>
          </a>
          <a href="/dashboard" class="logo-content-small" title="MonarchUI">
            Monarch <i>UI</i>
            <span>The perfect solution for user interfaces</span>
          </a>
          <a id="close-sidebar" href="#" title="Close sidebar">
            <i class="glyph-icon icon-angle-right"></i>
          </a>
        </div>
        <div id="header-nav-left">
          <div class="user-account-btn dropdown">
            <a href="#" title="My Account" class="user-profile clearfix" data-toggle="dropdown">
            <div style="overflow:hidden;display:inline-block;white-space: nowrap;">
                <span style="width:auto;">{{ username }}<br>
                {{ currenttime }} ({{zone}})</span>
                <i class="glyph-icon icon-angle-down"></i>
              </div>
            </a>
            <div class="dropdown-menu">
                <div class="box-sm">
                    <div class="login-box clearfix">
                        <div class="user-info">
                            <span>
                                {{ username }}
                                <i>({{zone}})</i>
                            </span>
                            <router-link :to="{path: profileUrl}">Edit profile</router-link>
                            <router-link to="changepassword">Change password</router-link>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <ul class="reset-ul mrg5B">

                        <li>
                            <a id="accountmanagement" href="/accountmanagement" title="Manage Account">
                              Manage Account
                            </a>
                        </li>
                    </ul>
                    <div class="divider"></div>
                    <ul class="reset-ul mrg5B">

                        <li>
                            <a id="deleteaccount" title="Delete Account" class="deleteaccount" href="javascript:;" v-on:click="showConfirmAlert()">
                              Delete Account
                            </a>
                        </li>
                    </ul>
                    <div class="pad5A button-pane button-pane-alt text-center">
                        <a href="#" v-on:click="logout" class="btn display-block font-normal btn-danger">
                            <i class="glyph-icon icon-power-off"></i>
                            Logout
                        </a>
                    </div>
                </div>
            </div>
          </div>
        </div>

        <!-- #header-nav-left -->
        <simplert :useRadius="true"
                    :useIcon="true"
                ref="simplert">
              </simplert>
        <Notification v-if="isLoggedIn"></Notification>
      </div>
    </div>
  </div>
</template>
<script>

  import Notification from './Notification.vue'
  import Simplert from 'vue2-simplert'
  import config from '../config.json'
  var moment = require("moment-timezone")
  export default {
    name: 'app',
    components: {
      Simplert,
      Notification
    },
    data () {
      return {
        isLoggedIn: this.$session.exists(),
        username: '',
        timezone: this.$session.get('time_zone_preference'),
        zone: '',
        profileUrl: '',
        ipaddress:'',
        currenttime: ''
      }
    },

    created(){
      // this.web_connect();
      // this.getLogStashData();
    },
    mounted () {
      this.MainCheckUrl()
      this.profileUrl = '/getmyprofile/' + this.$session.get('user_id')
      this.zone = moment().tz(this.$session.get('time_zone_preference')).format('zz')
      this.capitalize(this.$session.get('user_name'))
      var d = new Date()
      // this.currenttime = moment(d, "x").tz(this.$session.get('time_zone_preference')).format('HH:mm')
      this.interval = setInterval(this.time, 1000)

      // console.log(this.profileUrl)
    },
    methods: {
      capitalize: function (str) {
        var splitStr = str.toLowerCase().split(' ');
        for (var i = 0; i < splitStr.length; i++) {
          splitStr[i] = splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);
        }
        this.username = splitStr.join(' ');
      },
      time() {
      this.currenttime = moment().tz(this.$session.get('time_zone_preference')).format('HH:mm:ss')

      },
      logout: function () {
        var CurrentDate = new Date()
        var CurrentUTCDate = CurrentDate.toUTCString()
        var ActivityMessage ='User ' + this.$session.get('email')+' belogs to the organisation '+this.$session.get('client_name')+' get successfully logged out from the system at '+CurrentUTCDate
        console.log(ActivityMessage)

        var activity = {"org_id": this.$session.get('client_id'),
                        "org": this.$session.get('client_name'),
                        "user_id": this.$session.get('user_id'),
                        "username": this.$session.get('email'),
                        "service_id": config.SERVICE_ID,
                        "ipaddress": this.$session.get('ipaddress'),
                        "datetime": CurrentUTCDate,
                        "browser_agent": navigator.userAgent,
                        "msg": ActivityMessage}
        console.log("activity")
        console.log(activity)

        this.$http.post(config.AUTHENTICATION_URL+'/logout', {
          'access_token': this.$session.get('access_token')
        }, {
          headers: {
            'Content-Type': 'application/json'
          }
        }).then(response => {
            var data = JSON.parse(response.bodyText)
            if (this.$cookies.isKey('Timeout')) {
            this.$cookies.remove('Timeout')
          }
            this.$session.destroy()
            window.location.href = "/login"
            // }
          }).catch(e => {
            if (this.$cookies.isKey('Timeout')) {
            this.$cookies.remove('Timeout')
          }
            this.$session.destroy()
            window.location.href = "/login"
         })


      },
      SaveLog(activity){
        console.log('we are in activity log')
            this.$http.post(config.AUDIT_LOG_URL, activity).then(response => {
                  console.log('success log')
            })
      },
    web_connect(){
       var self = this;
        console.log("Connecting");
        var url = "ws://magellan-notification.clu.pw/activity/"+this.$session.get('access_token')
        this.ws = new WebSocket(url)
        console.log("ws://magellan-notification.clu.pw/activity/"+this.$session.get('access_token'))
        this.ws.onopen = function(){
          console.log("connected");
        };
        this.ws.onclose = function(){
            console.log("connection lost");
            self.web_connect();
        };
        this.ws.onerror = function(){
            console.log("connection error");
            setTimeout(function(){self.web_connect()}, 5000);
        };
    },
    deleteAccount () {
      console.log(this.$session.getAll())
      var Authorization = this.$session.get('access_token')
      this.$http.post(config.ACCOUNT_REGISTRATION_URL + '/delete/super_admin/link',{
          "client_id": this.$session.get('client_id'),
          "username": this.$session.get('email'),
          "client_name": this.$session.get('client_name'),
          "phone": this.$session.get('phone')
        },
      {
        headers: {
          'Authorization': Authorization,
          'Content-Type': 'application/json'
        }
      }).then(response => {
        debugger;
        var data = JSON.parse(response.bodyText)
        if (data.status === 200) {
          this.$root.$data.sourceOfTruth = 'Delete link has been successfully sent.';
        }
      }, response => {
        var data =JSON.parse(response.bodyText)
        if(data.message === "session_expired"){
          this.$session.destroy()
          sessionCheck(this);
        } else {
          console.log("error")
        }
      }).catch(e => {
      console.log('in delete')
      console.log(e)
        console.log(e)
      })
    },
    getLogStashData(){
      this.ws.onmessage = (ev) =>{
        var notification_data = JSON.parse(ev.data)
        $.jGrowl(notification_data.content.content, {
              sticky: false,
              position: 'top-right',
              theme: 'bg-blue-alt'
        });
      };
    },
    showConfirmAlert () {
       debugger; 
      let confirmFn = function () {
        this.$parent.deleteAccount()
        alert("Delete Account link has been sent successfully");
      }
      let obj = {
        title: 'Delete Account',
        message: 'Are you sure want to delete this account?',
        type: 'info',
        useConfirmBtn: true,
        onConfirm: confirmFn
      }
      this.$refs.simplert.openSimplert(obj)
    },
    }
  }
</script>
