<template>
	<div>
		<ul class="breadcrumb">
            <li v-for="route in breadcrumbsList">
              <router-link :to="{name: route.name}">
                {{ route.value }}
              </router-link>
            </li>
          </ul>
          <!-- <SessionTimer></SessionTimer> -->
	</div>
</template>

<script>
	import config from '../config.json'
	import SessionTimer from './SessionTimer.vue'
	 export default {
	 	components: {
	 		SessionTimer
	 	},
	 	// beforeCreate: function () {
   //      this.isLoggedIn = this.$session.exists()
   //      if (!this.isLoggedIn) {
   //        // this.$router.push('/')
   //      } else {
   //        var self = this
   //        setTimeout(function () {
   //          self.$session.destroy()
   //          this.$router.push('/')
   //        }, config.SESSION_TIMEOUT)
   //      }
   //    },
	 	data () {
	 		return {
	 			breadcrumbsList: []
	 		}
	 	},
	 	mounted () {
	 		this.CreateBreadCrump()
	 	},
	 	methods: {
	 	CreateBreadCrump () {
	 		console.log(this.$session.get('access_token'))
	        var breadcrumbsstring = this.$breadcrumbs[0].meta['breadcrumb']
	        var crump = breadcrumbsstring.split('/')
	        for (var i = 0; i < crump.length; i++) {
	          var key = crump[i]
	          key = key.replace(/ /g, '')
	          key = key.toLowerCase()
	          if(key === 'home')
	          {
	          	key = 'dashboard'
	          }
	          var json = {'name': key, 'value': crump[i]}
	          this.breadcrumbsList.push(json)
	        }
	        // console.log(this.breadcrumbsList)
	        // console.log(this.$breadcrumbs)
      		}	
	 	}
	 }
</script>