<template>
  <div>
      <BreadCrumbs></BreadCrumbs>
              <div class="panel">
                <div class="panel-body">
                    <h3 class="title-hero">
                      Manage Profile
                    </h3>
                    <div class="example-box-wrapper">

                       <div id="ShowMessages">
                        <div class="example-box-wrapper" v-if="ShowSuccessMessage">
                            <div class="alert alert-close alert-success">
                                <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('success')"></a>
                                <div class="alert-content">
                                    <h4 class="alert-title">Success</h4>
                                    <p>Password get changed successfully</p>
                                </div>
                            </div>
                        </div>
                        <div class="alert alert-danger" v-if="ShowErrorMessage">
                          <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('error')"></a>
                          <div class="alert-content">
                              <p>{{ErrorMessage}}</p>
                          </div>
                      </div>
                    </div>
                            <font color="red">*All fields are Required</font>

                        <form @submit.prevent="validateBeforeSubmit" enctype="multipart/form-data" class="form-horizontal bordered-row" data-parsley-validate="" id="changepw">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Current password</label>
                                <div class="col-sm-4">
                                    <input type="password" @blur="checkpasswords" id="password" name="password" class="form-control" placeholder="Enter Current Password" v-model="collection.form.oldPassword" required>
                                </div>
                            </div>
                            <div class="form-group" id="passworddiv">
                                <label class="col-sm-3 control-label">Password</label>
                                <div class="col-sm-4">
                                  <input id="password" @blur="checkpasswords" name="password" v-model="collection.form.newPassword" v-validate="'required|confirmed:password_confirmation'" :class="{'input': true, 'is-danger': errors.has('password') }" type="password" placeholder="Password" required>
                                <p class ="text-danger" v-if="msg">{{msg}}</p>

                                </div>
                            </div>
                            <div class="form-group" id="passwordcondiv">
                              <label class="col-sm-3 control-label">Confirm Password</label>
                              <div class="col-sm-4">
                                <input id="password_confirmation" name="password_confirmation" v-model="collection.form.c_password" :class="{'input': true, 'is-danger': errors.has('password_confirmation') }"type="password" placeholder="Confirm your Password">
                                <i v-show="errors.has('password')" class="fa fa-warning"></i>
                                <span v-show="errors.has('password')" class="help is-danger">These passwords don't match. Try again?
                                </span>
                              </div>
                            </div>
                          <div class="form-group">
                            <div class="col-sm-6">
                              <button type="submit" name="submit" class="btn success">Save</button>
                              <button type="button" name="cancel" class="btn success" href="javascript:;" v-on:click="showConfirmCancelAlert()">Cancel</button>
                            </div>
                          </div>
                        </form>
                        <simplert :useRadius="true"
                        :useIcon="true"
                        ref="simplert">
                      </simplert>
                    </div>
                </div>
              </div>
  </div>
</template>
<script>
  import config from '../config.json'
  import Simplert from 'vue2-simplert'
  import BreadCrumbs from './Breadcrumbs.vue'
  var moment = require("moment-timezone");
  export default {
    components: {
      Simplert,
      BreadCrumbs
    },
    data () {
      return {
        collection:{
            form:{
              oldPassword:'',
              newPassword:'',
              c_password:''
            }
          },
        ShowErrorMessage: false,
        ErrorMessage: '',
        ShowSuccessMessage:false,
        msg:''
      }
    },
    mounted () {
        this.msg=''
        $("#changepw").parsley()
        this.SessionCheck()
    },
    methods: {
      SessionCheck () {
        this.isLoggedIn = this.$session.exists()
        if (this.isLoggedIn) {
          if (this.$cookies.isKey('Timeout')) { // check iscookie exists
            //  means session not yet get timeout
            //  so delete this cookie and again save new one.So timer will get reset
            this.$cookies.remove('Timeout')
            //  set new cookie with timeout. refresh timeout
            this.$cookies.set('Timeout', 'timeout', config.SESSION_TIMEOUT + 'min')
          } else {  // cookie not exist means session get timeout.So destroy the session manually
            this.$session.destroy()
            window.location.href = '/login'
          }
        } else { // session not exists. So redirect to login
          // remove previously exists cookie . if browser get closed without logout.
          if (this.$cookies.isKey('Timeout')) {
            this.$cookies.remove('Timeout')
          }
          if(this.$cookies.isKey('SessionExpMsg')){
            this.$cookies.remove('SessionExpMsg')
            }
            this.$cookies.set('SessionExpMsg','msg','1min')
            window.location.href = '/login'
          }
      },
      validateBeforeSubmit (e) {
        this.SessionCheck()
        var instance = $('#changepw').parsley()
        if (instance.isValid()) {
          this.save()
        }
      },
      checkpasswords () {
        if(this.collection.form.newPassword === this.collection.form.oldPassword && (this.collection.form.newPassword!='' || this.collection.form.oldPassword!=''))
        {
          debugger;
          this.collection.form.newPassword=''
          this.msg='Old and new password should not be same'
        }
        else{
          this.msg=''
        }
      },
      
      changepassword () {
        this.ShowSuccessMessage = false
        this.ShowErrorMessage =false

        var Authorization = this.$session.get('access_token')
        var clientId = this.$session.get('client_id')
        this.$http.post(config.USER_PROVISION_URL + '/change_password', {
          'username': this.$session.get('email'),
          'old_password':this.collection.form.oldPassword,
          'new_password':this.collection.form.newPassword
        }, {
          // emulateJSON: true,
          headers: {
            'Authorization': Authorization,
            'Content-Type': 'application/json'
          }
        }).then(response => {
          if (response.status === 200) {
            this.ShowSuccessMessage=true  
            this.collection.form.oldPassword=''
            this.collection.form.c_password=''
            this.collection.form.newPassword=''
          } else {
            console.log(data)
            var data = JSON.parse(response.bodyText)
            this.ShowErrorMessage = true
            this.ErrorMessage = data.message
          }
        },(response) => {
            console.log(response)
            this.collection.form.oldPassword=''
            this.collection.form.newPassword=''
            this.collection.form.c_password=''
            var data = JSON.parse(response.bodyText)
            if(data.message === "session_expired"){
              this.$session.destroy()
              this.SessionCheck()
            }
            this.ShowErrorMessage = true
            this.ErrorMessage = data.message
          }).catch(e => {
          console.log('error occured')
          this.ShowErrorMessage = true
          this.ErrorMessage = 'Something went wrong.Try again'
          console.log(e)
        })
        
      },
      save () {
        this.changepassword()
      },
      showConfirmCancelAlert () {
        let confirmFn = function () {
          this.$router.push('/dashboard')
        }
        let obj = {
          title: 'Cancel',
          message: 'Are you sure want to Cancel?',
          type: 'info',
          useConfirmBtn: true,
          onConfirm: confirmFn
        }
        this.$refs.simplert.openSimplert(obj)
      },
    MessageClosed(MessageType){
        console.log('we are in messages')
        console.log(MessageType)
        if(MessageType === 'success') {
          this.ShowSuccessMessage=false
        } else if (MessageType === 'error') {
          console.log('we are in error messages')
          this.ShowErrorMessage=false
          this.ErrorMessage=''
        }
      },
    }
}
</script>
