<template>
<div>
    <!--div class="example-box-wrapper" v-if="showWelcomeMessage">
        <div class="alert alert-notice">
            <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="ShowWelcome()"></a>
            <div class="bg-blue alert-icon">
                <i class="glyph-icon icon-info" ></i>
            </div>
            <div class="alert-content">
                <h4 class="alert-title">Hi {{this.$session.get('user_name')}}</h4>
                <p>Welcome to ERP Data Cloud</p>
            </div>
        </div>
    </div-->
    <div class="float-right">
        <button class="btn btn-default" id="start-page-tour" style="margin-bottom:2px; margin-top:3px;margin-right:5px;height:26px;padding:0px;background-color: rgb(80, 214, 24);color: rgb(250, 250, 250);width:100px;line-height:25px;font-size:15px" v-on:click="InitPageTour()">
            <i class="glyph-icon icon-lightbulb-o"></i> Start Tour
        </button>
    </div>
    <BreadCrumbs></BreadCrumbs>
    <div>
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-body">
                    <div class="example-box-wrapper">
                        <div class="row">
                            <div class="col-md-6">
                                <a id="report" href="/Reports"  title="Check your reports" class="tile-box tile-box-shortcut btn-primary" style="min-height:141px">
                                    <div class="tile-header">
                                        Report
                                    </div>
                                    <div class="tile-content-wrapper">
                                        <i class="glyph-icon icon-line-chart"></i>
                                    </div>
                                </a>                                 
                            </div>
                            
                            <div class="col-md-6">                                
                                <a id="scheduler" href="#" target="_blank" title="Schedule your tasks" class="tile-box tile-box-shortcut btn-primary" style="min-height:141px">
                                    <div class="tile-header">
                                        Archival
                                    </div>
                                    <div class="tile-content-wrapper">
                                        <i class="glyph-icon icon-dashboard"></i>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-6">                                
                                <a id="scheduler" href="/calendar" title="Schedule your tasks" class="tile-box tile-box-shortcut btn-primary" style="min-height:141px">
                                    <div class="tile-header">
                                        Calendar
                                    </div>
                                    <div class="tile-content-wrapper">
                                        <i class="glyph-icon icon-dashboard"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-body">
                    <h3 class="title">
                        My Report
                    </h3>
                    <div class="example-box-wrapper">
                        <div class="example-box-wrapper">
                        <img v-bind:src="'../../static/images/graph.png'" width="100%">
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>
<script>
import config from '../config.json'
import BreadCrumbs from './Breadcrumbs.vue'

export default {
    components: {
        BreadCrumbs
    },
    data(){
    return {
        sessionval:this.$session.get('access_token'),
        username:this.$session.get('user_name'),
        isLoggedIn: this.$session.exists(),
        ProductList: [],
        reportUrl:'',
        showWelcomeMessage: false

        }
    },
    mounted () {
        this.SessionCheck()
      // this.getModules()
      // this.ProductList = ["Test","Test1","Test3"]
      //$('body').addClass('closed-sidebar')
      //$('#header-logo').css('display','none')
      //$('#mobile-navigation').css('display','none')
      this.reportUrl = config.REPORT_URL + '/OauthRedirect?access_token=' +this.$session.get('access_token') + '&userId='+ this.$session.get('user_id')+ '&clientId=' +this.$session.get('client_id')
      console.log(this.$session)
      if(this.$session.get('showwelcome') === 'true')
          this.showWelcomeMessage = true
    },
    methods: {
        SessionCheck () {
        this.isLoggedIn = this.$session.exists()
        if (this.isLoggedIn) {
          if (this.$cookies.isKey('Timeout')) { // check iscookie exists
            //  means session not yet get timeout
            //  so delete this cookie and again save new one.So timer will get reset
            this.$cookies.remove('Timeout')
            //  set new cookie with timeout. refresh timeout
            this.$cookies.set('Timeout', 'timeout', config.SESSION_TIMEOUT + 'min')
          } else {  // cookie not exist means session get timeout.So destroy the session manually
            this.$session.destroy()
            window.location.href = '/login'
          }
        } else { // session not exists. So redirect to login
          // remove previously exists cookie . if browser get closed without logout.
          if (this.$cookies.isKey('Timeout')) {
            this.$cookies.remove('Timeout')
          }
          if(this.$cookies.isKey('SessionExpMsg')){
            this.$cookies.remove('SessionExpMsg')
            }
            this.$cookies.set('SessionExpMsg','msg','1min')
            window.location.href = '/login'
          }
      },
        ShowWelcome()
        {
            this.$session.set('showwelcome','false')
            this.showWelcomeMessage = false
        },

        InitPageTour: function() {   
        this.SessionCheck()       
        var tour = new Tour({
            debug : true,
            storage: window.localStorage,
            onStart: function(tour){
              console.log("tour started")
            } ,          
            onEnd: function(tour) { 
              console.log("ending session")
            },
            onResume:function(tour) { 
              console.log("resume  session")
            },
            onPause:function(tour) { 
              console.log("pause session")
            },
            onClose:function(tour) { 
              console.log("close session")
            },
            onError:function(tour) { 
              console.log("on erroe session")
            }
          });
      
        tour.addStep({
                    path : "/dashboard",
                    element : "#userprovisioning",
                    title : "User operation",
                    content : "Click here to Manage User"
                });

        tour.addStep( {
                    path : "/dashboard",
                    element : "#authorization",
                    title : "User Authorization",
                    content : "Click here to Manage Security Role"
                });

        tour.addStep({
                    path : "/dashboard",
                    element : "#accountmanagement",
                    title : "Account Management",
                    content : "Click here to Manage",
                  });

         tour.addStep({
                    path : "/dashboard",
                    element : "#report",
                    title : "Reporting",
                    content : "Click here fetch Report"
                });

        //tour.addStep({
        //            path : "/dashboard",
        //            element : "#kibbana",
        //            title : "Logger",
        //            content : "Click here to check application level Logs"
        //        });

       
        tour.addStep({
                    path : "/dashboard",
                    element : "#streamer",
                    title : "Streamer",
                    content : "Click here to See all Logs"
                });


        tour.addStep({
                    path : "/dashboard",
                    element : "#scheduler",
                    title : "Scheduler",
                    content : "Click here to Schedule Process"
                });
                
        tour.addStep({
                    path : "/dashboard",
                    element : "#notification",
                    title : "Notification",
                    content : "Click here to get notification"
                });


        

        // Initialize the tour
        tour.init();

        // Start the tour
        tour.restart();   
    },

    destroyed () {
        // alert('destroyed')
        this.$session.set('showwelcome','false')
        this.showWelcomeMessage = false
    }
    }
}
</script>