<template>
  <div class="center-vertical center_div">
<!--       <div id="ShowMessages">
        <div class="example-box-wrapper" v-if="ShowSuccessMessage">
            <div class="alert alert-close alert-success">
                <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('success')"></a>
                <div class="bg-green alert-icon">
                    <i class="glyph-icon icon-check"></i>
                </div>
                <div class="alert-content">
                    <h4 class="alert-title">Success</h4>
                    <p>Your account get deleted successfully</p>
                </div>
            </div>
        </div>
        <div class="alert alert-danger" v-if="ShowErrorMessage">
          <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('error')"></a>
          
          <div class="alert-content">
              <p>{{ErrorMessage}}</p>
          </div>
        </div>
      </div> -->

      <div class="center-content row">
        <form @submit.prevent="validateBeforeSubmit" id="deleteaccount-form" class="col-md-5 col-sm-5 col-xs-11 col-lg-4 center-margin">
          <h3 class="text-center pad25B font-gray text-transform-upr font-size-23">ERP DATA CLOUD <span class="opacity-80">v1.0</span></h3>
          <div id="deleteaccount-form" class="content-box bg-default">
            <div class="content-box-wrapper pad20A">
                <div id="ShowMessages">
                <div class="alert alert-danger" v-if="ShowErrorMessage">
                      <div class="alert-content">
                        <h4 class="alert-title">{{ErrorTitle}}</h4>
                        <p>{{ErrorMessage}}</p>
                      </div>
                    </div>
                    <div class="alert alert-info" v-if="ShowMessage">
                      <div class="alert-content">
                        <p>{{Message}}</p>
                      </div>
                    </div>
                    <div class="example-box-wrapper" v-if="ShowSuccessMessage">
                            <div class="alert alert-close alert-success">
                                <div class="alert-content">
                                <h4 class="alert-title">{{successMessage}}</h4>
                                    <p>{{successMessageTitle}}</p>
                                </div>
                            </div>
                        </div>
                  </div>

              <div v-if="is_show_form">
              <div class="form-group">
                <div class="input-group">
                  <h4><b>Permanently delete your account?</b></h4>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <p>You are about to delete the {{collection.form.username}} account.</p>
                  <p>Remember, deleting your account is permanent.</p>
                  <p v-if="list_of_active_users.length > 0">You're currently  the only admin of these boards/teams; you can select who the new admin should be:</p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6" v-if="list_of_active_users.length > 0">{{collection.form.username}}</div>
                  <div class="col-sm-6">
                    <select id="users_list" v-model="collection.form.selected_user" name="users_list" class="form-control"  v-if="list_of_active_users.length > 0">
                      <option v-for = "selected_user in list_of_active_users" v-bind:value ="selected_user" :selected="default_selected_user">{{ selected_user }}</option>
                    </select>
                  </div>
              </div>
              <br/>
              <div class="form-group">
                <div>
                  <button type="submit" name="submit" class="btn success">Delete my account</button>
                  <button type="button" name="cancel" class="btn success" href="javascript:;" v-on:click="showConfirmCancelAlert()">Cancel</button>
                </div>
              </div>
              <br/>
          </div>
        </div>
        </div>
      </form>
      <simplert :useRadius="true"
              :useIcon="true"
              ref="simplert">
      </simplert>
    </div>
  </div>
  </div>
  </div>
</template>

<script>
  var logjson = require('../logdata.json')
  import config from '../config.json'
  import apptoken from '../apptoken.json'
  import Simplert from 'vue2-simplert'
  export default {
    name: 'deleteAccount',
    components: {
      Simplert
    },
    data () {
      return {
          ipaddress: '',
          collection:{
              form:{
                  username:'',
                  account_id:'',
                  selected_user:''
              }
          },
          list_of_active_users:[],
          loginisActive: false,
          ShowSuccessMessage: false,
          ShowErrorMessage: false,
          ErrorMessage: "",
          default_selected_user: '',
          successMessage:'',
          successMessageTitle : '',
          ErrorTitle : '',
          is_show_form : true,
      }
    },
    mounted () {
      this.getIPaddress()
      $('#resetpass-form').parsley()
      this.tokencheck()
    },
    methods: {
      validateBeforeSubmit (e) {
        debugger;
        var _this = this;
         var instance = $('#deleteaccount-form').parsley();
         console.log(instance)
        if (instance.isValid() === true) {
          console.log("valid form")
          _this.accountDelete(); 
        }else{
          console.log("error")
          console.log(instance.isValid())
        }
      },
      getIPaddress (){
        this.$http.get("https://api.ipify.org?format=jsonp"
            ).then(response => {
              var ip = response.bodyText
              var ipadd = JSON.parse(ip.slice(9, -2))
              console.log("IP ADDRESS ARESPONSE")
              console.log(ipadd.ip)
              this.ipaddress = ipadd.ip
          },(response) => {
              console.log(response)
            })
      },
      SaveLog(activity){
        console.log('we are in activity log')
            this.$http.post(config.AUDIT_LOG_URL, activity).then(response => {
                  console.log('success log')
            })
      },
      tokencheck () {
        // console.log($route.query.token)
      this.$http.get(config.ACCOUNT_REGISTRATION_URL+'/verify/delete_super_admin/'+this.$route.query.token, 
        { 
          headers: {'Authorization': apptoken.APP_TOKEN}
        }
        ).then(response => {
          var data = response
          if (data.status===200) {
            this.collection.form.username = data.body['username']
            this.list_of_active_users = data.body['list_of_active_users']
            this.default_selected_user = this.list_of_active_users[0] 
            this.collection.form.account_id = data.body['account_id']
          }else{
            console.log("Account delete token expired12");
            this.$cookies.set('token_expired', '1')
          }
          },response => {
            var data = JSON.parse(response.bodyText)
            this.ShowErrorMessage = true
            this.ErrorTitle = data.data
            this.ErrorMessage = data.message
            this.is_show_form=false
         }).catch(e=>{
          this.ShowErrorMessage = true
          this.ErrorTitle = "Error"
          this.ErrorMessage = "Something went wrong!! Please reverify.."
          this.is_show_form=false
         })
      },
      accountDelete(){
        this.ShowErrorMessage=false
        this.ShowSuccessMessage = false
        this.ErrorMessage = ''
        this.starttime = Math.trunc((new Date()).getTime())
        logjson.method = 'POST'
        this.collection.form.list_of_active_users = this.list_of_active_users
        this.$http.post(config.ACCOUNT_REGISTRATION_URL+'/delete_super_admin', this.collection.form,
          {
            headers: {'Authorization': apptoken.APP_TOKEN}
          }
        ).then(response=> {
          var data = response
          if (data.status===200) {
            this.ShowSuccessMessage =true
            this.successMessage='Success!';
            this.successMessageTitle= response.body;
            this.is_show_form=false
        }
        },response=>{
          debugger;
          this.ShowErrorMessage=true
          this.ErrorMessage=response.bodyText
          this.is_show_form=false
        }).catch(e=>{
          this.ShowErrorMessage=true
          this.ShowSuccessMessage = false;
          this.is_show_form=false
          this.ErrorTitle='Error Occured'
          this.ErrorMessage='Something went wrong.Try Again'
         })
      },
      showConfirmCancelAlert () {
        debugger;
        let confirmFn = function () {
         window.location.href = "/login"
        }
        let obj = {
          title: 'Cancel',
          message: 'Are you sure want to Cancel?',
          type: 'info',
          useConfirmBtn: true,
          onConfirm: confirmFn
        }
        this.$refs.simplert.openSimplert(obj)
      },
      MessageClosed(MessageType){
        console.log('we are in messages')
        console.log(MessageType)
        if (MessageType === 'error') {
          console.log('we are in error messages')
          this.ShowErrorMessage=false
          this.ErrorMessage=''
        }
      },
    }
  }  
</script>