<template lang="html">
<div>
<BreadCrumbs></BreadCrumbs>
    <div class="panel">
      <div class="panel-body">
        <div class="example-box-wrapper">
          <div id="ShowMessages">
            <div class="example-box-wrapper" v-if="ShowSuccessMessage">
                <div class="alert alert-close alert-success">
                    <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('success')"></a>
                    <div class="bg-green alert-icon">
                        <i class="glyph-icon icon-check"></i>
                    </div>
                    <div class="alert-content">
                        <h4 class="alert-title">Success</h4>
                        <p>User get {{act}} successfully</p>
                    </div>
                </div>
            </div>
            <div class="alert alert-danger" v-if="ShowErrorMessage">
              <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('error')"></a>
              <div class="bg-red alert-icon">
                  <i class="glyph-icon icon-times"></i>
              </div>
              <div class="alert-content">
                  <h4 class="alert-title">{{ErrorTitle}}</h4>
                  <p>{{ErrorMessage}}</p>
              </div>
            </div>
          </div>
          <a href="#" v-on:click="download">download</a>
          Click here to Download Agent
        </div>
      </div>
    </div>
    </div>
</template>
<script>
  import config from '../config.json'
  import BreadCrumbs from './Breadcrumbs.vue'
  // import dataTable from '../../../static/widgets/datatable/datatable.js'
  export default {
  components: {
      BreadCrumbs
    },
    data () {
      return {
        ShowSuccessMessage: false,
        ShowErrorMessage: false,
        ErrorTitle: '',
        ErrorMessage: ''
      }
    },
    mounted () {

    },
    methods: {
      download(){
      var user_agent_details = {"user_agent":navigator.userAgent, "platform":navigator.platform, "user_id":this.$session.get('user_id'), "user_name":this.$session.get('user_name'), 
       "client_id":this.$session.get('client_id'), "client_name":this.$session.get('client_name'), "email":this.$session.get('email'), "status":"Agent downloading"
      }
      var Authorization = this.$session.get('access_token')
      this.$http.post(config.REPORT_URL + '/rest/agentservice/saveagentdownload_details', user_agent_details , {
          // emulateJSON: true,
          headers: {
            'Authorization': Authorization,
            'Content-Type': 'application/json'
          }
        }).then(response => {
          
        }).catch(e => {
          console.log('error occured')
          console.log(e.error)
          this.ShowErrorMessage=true
          this.ErrorTitle='Error Occured'
          this.ErrorMessage='Something went wrong.Try Again'
        }) 
    },

    MessageClosed(MessageType){
        console.log('we are in messages')
        console.log(MessageType)
        if(MessageType === 'success') {
          window.location.href = "/"
        } else if (MessageType === 'error') {
          console.log('we are in error messages')
          this.ShowErrorMessage=false
          this.ErrorTitle=''
          this.ErrorMessage=''
        }
      },
  }
}
</script>
