<!--<template>-->
 <!---->

<!--</template>-->
<!--<script>-->
  <!--import Vue from 'vue'-->
  <!--var modal = new Vue({-->
    <!--el: '#login-modal',-->
    <!--data: {-->
      <!--active: null,-->
    <!--},-->
    <!--methods: {-->
      <!--// ...-->
    <!--}-->
  <!--});-->
  <!--export default {-->
    <!--name: 'example',-->
    <!--data: {-->
      <!--classObject: {-->
        <!--active: false,-->
        <!--'text-danger': false-->
      <!--}-->
    <!--},-->
    <!--methods: {-->
      <!--open: function (which, e) {-->
        <!--// Prevents clicking the link from doing anything-->
        <!--if (modal.active !== null) {-->
          <!--$('#form-'+modal.active).removeClass('active');-->
          <!--$('#'+modal.active+'-form').removeClass('active');-->
        <!--}-->

        <!--$('#login-modal').addClass('active');-->
        <!--$('#form-'+which).addClass('active');-->
        <!--$('#'+which+'-form').addClass('active');-->
        <!--modal.active = which;-->
        <!--e.preventDefault();-->
      <!--},-->
      <!--close: function(e) {-->
        <!--e.preventDefault();-->
        <!--console.log(e.target)-->
        <!--console.log(this.$el)-->
        <!--if (e.target === this.$el) {-->
          <!--$('#login-modal').removeClass('active');-->
        <!--}-->
      <!--},-->
      <!--flip: function(which, e) {-->
        <!--if (which !== this.active) {-->
          <!--$('#form-' + this.active).removeClass('active');-->
          <!--$('#form-' + which).addClass('active');-->
          <!--$('#'+which+'-form').addClass('active');-->
          <!--$('#'+this.active+'-form').removeClass('active');-->

          <!--this.active = which;-->
        <!--}-->
      <!--},-->
      <!--submit: function(which, e) {-->
        <!--e.preventDefault();-->
        <!--var data = { form: which };-->

        <!--switch(which) {-->
          <!--case 'register':-->
            <!--data.name = this.registerName;-->
            <!--data.email = this.registerEmail;-->
            <!--data.password = this.registerPassword;-->
            <!--this.$set('registerSubmit', 'Registering...');-->
            <!--break;-->
          <!--case 'login':-->
            <!--data.user = this.loginUser;-->
            <!--data.password = this.loginPassword;-->
            <!--this.$set('loginSubmit', 'Logging In...');-->
            <!--break;-->
          <!--case 'password':-->
            <!--data.email = this.passwordEmail;-->
            <!--this.$set('passwordSubmit', 'Resetting Password...')-->
            <!--break;-->
        <!--}-->

        <!--// TODO: submit our `data` variable-->
      <!--}-->
    <!--}-->
  <!--}-->

<!--//  var modal = new Vue({-->
<!--//    el: '#login-modal',-->
<!--//    methods: {-->
<!--//      close: function(e) {-->
<!--//        e.preventDefault();-->
<!--//        $('#login-modal').removeClass('active');-->
<!--//      }-->
<!--//    }-->
<!--//  });-->
<!--</script>-->
<!--<style>-->
  <!--.user-modal-container * {-->
    <!--box-sizing: border-box;-->
  <!--}-->
  <!--.user-modal-container {-->
    <!--position: fixed;-->
    <!--width: 100%;-->
    <!--height: 100%;-->
    <!--top: 0;-->
    <!--left: 0;-->
    <!--opacity: 0;-->
    <!--visibility: hidden;-->
    <!--cursor: pointer;-->
    <!--overflow-y: auto;-->
    <!--z-index: 3;-->
    <!--font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';-->
    <!--font-size: 14px;-->
    <!--background-color: rgba(17,17,17,.9);-->
     <!-- -webkit-transition: all 0.25s linear;-->
     <!-- -moz-transition: all 0.25s linear;-->
     <!-- -o-transition: all 0.25s linear;-->
     <!-- -ms-transition: all 0.25s linear;-->
    <!--transition: all 0.25s linear;-->
  <!--}-->

  <!--.user-modal-container.active {-->
    <!--opacity: 1;-->
    <!--visibility: visible;-->
  <!--}-->
  <!--.user-modal-container .user-modal {-->
    <!--position: relative;-->
    <!--margin: 50px auto;-->
    <!--width: 90%;-->
    <!--max-width: 500px;-->
    <!--background-color: #f6f6f6;-->
    <!--cursor: initial;-->
  <!--}-->
  <!--.user-modal-container ul.form-switcher {-->
    <!--margin: 0;-->
    <!--padding: 0;-->
  <!--}-->

  <!--.user-modal-container ul.form-switcher li {-->
    <!--list-style: none;-->
    <!--display: inline-block;-->
    <!--width: 50%;-->
    <!--float: left;-->
    <!--margin: 0;-->
  <!--}-->

  <!--.user-modal-container ul.form-switcher li a {-->
    <!--width: 100%;-->
    <!--display: block;-->
    <!--height: 50px;-->
    <!--line-height: 50px;-->
    <!--color: #666666;-->
    <!--background-color: #dddddd;-->
    <!--text-align: center;-->
  <!--}-->

  <!--.user-modal-container ul.form-switcher li a.active {-->
    <!--color: #000000;-->
    <!--background-color: #f6f6f6;-->
  <!--}-->
  <!--.user-modal-container .form-login,-->
  <!--.user-modal-container .form-register,-->
  <!--.user-modal-container .form-password {-->
    <!--padding: 75px 25px 25px;-->
    <!--display: none;-->
  <!--}-->

  <!--.user-modal-container .form-login.active,-->
  <!--.user-modal-container .form-register.active,-->
  <!--.user-modal-container .form-password.active {-->
    <!--display: block;-->
  <!--}-->
<!--</style>-->
