<template>
  <div class="center-vertical center_div">

      <div id="ShowMessages">
        <div class="example-box-wrapper" v-if="ShowSuccessMessage">
            <div class="alert alert-close alert-success">
                <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('success')"></a>
                <div class="bg-green alert-icon">
                    <i class="glyph-icon icon-check"></i>
                </div>
                <div class="alert-content">
                    <h4 class="alert-title">Thank You</h4>
                    <p>For Registering with ERP DATA CLOUD, Inorder to access your account please click on the link send to your email</p>
                </div>
            </div>
        </div>
        
      </div>

      <div class="center-content row">
      

        <form @submit.prevent="validateBeforeSubmit" id="resetpass-form" class="col-md-4 col-sm-5 col-xs-11 col-lg-4 center-margin" :class="{'hide':resetisActive}" >
<h3 class="text-center pad25B font-gray text-transform-upr font-size-23">ERP DATA CLOUD <span class="opacity-80">v1.0</span></h3>
          <div id="reset-form" class="content-box bg-default">
            <div class="content-box-wrapper pad20A">
              <div class="alert alert-danger" v-if="ShowErrorMessage">
                <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('error')"></a>
                <div class="bg-red alert-icon">
                    <i class="glyph-icon icon-times"></i>
                </div>
                <div class="alert-content">
                    <h4 class="alert-title">{{ErrorTitle}}</h4>
                    <p>{{ErrorMessage}}</p>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <h4>Hi, {{collection.form.username}}</h4>
                  <h4>Please reset your Password</h4>
                </div>
              </div>

              <!-- <img class="mrg25B center-margin radius-all-100 display-block" src="" alt=""> -->
              <div class="form-group">
                <div class="input-group">
                      <span class="input-group-addon  bg-gray">
                          <i class="glyph-icon icon-key"></i>
                      </span>
                  <input type="password" id="ps1" v-model="collection.form.new_password" data-parsley-required class="form-control" data-parsley-minlength="8" data-parsley-errors-container="#password-error" data-parsley-required data-parsley-required-message="Password is required">
                </div>
                <div id="password-error" style="text-align:center;"></div>
              </div>
              <div class="form-group">
                <div class="input-group">
                      <span class="input-group-addon  bg-gray">
                          <i class="glyph-icon icon-key"></i>
                      </span>
                  <input type="password" data-parsley-equalto="#ps1" data-parsley-required class="form-control"  data-parsley-errors-container="#repassword-error" data-parsley-required-message="Password does not match">
                </div>
                <div id="repassword-error" style="text-align:center;"></div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <div class="col-sm-12 col-md-push-4">
                  <input v-model="reset" class="btn btn-primary" type="submit">
              </div>
            </div>
              </div>
      </div>
      </div>
    </form>
<!--         <div class="col-md-4 col-sm-5 col-xs-11 col-lg-4 center-margin" :class="{'hide':isActive}">
        <h4>Token has Expired due to time out </h4>
          <h4>Please <a  href="javascript:;" v-on:click="loginpage">Login</a></h4>
        </div> -->
      </div>
      <login v-if="loginisActive"></login>
      </div>

</template>

<script>
  // import consul from '../main'
  var logjson = require('../logdata.json')
  import config from '../config.json'
  import apptoken from '../apptoken.json'
  import Simplert from 'vue2-simplert'
  import login from './login.vue'
  export default {
    name: 'forget',
    data () {
      return {
          ipaddress: '',
          collection:{
              form:{
                  username:'',
                  new_password:''
              }
          },
        resetisActive:false,
        isActive:true,
        reset:'Reset',
        disabled:1,
        password:'',
        username:'',
        loginisActive: false,
        loginfromisActive:'',
        ShowSuccessMessage: false,
        ShowErrorMessage:false,
        ErrorTitle:'',
        ErrorMessage:''
      }
    },

   components: {
      login
    },
    mounted () {
      this.getIPaddress()
      $('#resetpass-form').parsley()
      this.tokencheck()
    },
    methods: {
      validateBeforeSubmit (e) {
       var instance = $('#resetpass-form').parsley();
       console.log(instance)
      if (instance.isValid() === true) {
        console.log("valid form") 
        this.reseting()
      }else{
        console.log("error")
        console.log(instance.isValid())
      }
    },
    getIPaddress (){
      this.$http.get("https://api.ipify.org?format=jsonp"
          ).then(response => {
            var ip = response.bodyText
            var ipadd = JSON.parse(ip.slice(9, -2))
            console.log("IP ADDRESS ARESPONSE")
            console.log(ipadd.ip)
            this.ipaddress = ipadd.ip
        },(response) => {
            console.log(response)
          })
    },
    SaveLog(activity){
        console.log('we are in activity log')
            this.$http.post(config.AUDIT_LOG_URL, activity).then(response => {
                  console.log('success log')
            })
          },
        tokencheck () {
        this.$http.get(config.USER_PROVISION_URL+'/forgot_verify_token/'+this.$route.query.token, 
          { 
            headers: {'Authorization': apptoken.APP_TOKEN}
          }
          ).then(response => {
          // success callback
          var data = response
          if (data.status===200) {
            this.isActive = true
            this.collection.form.username = data.body
            
              // console.log(data.response_data);
          }else {
              this.$cookies.set('password_token_exprired','1')
              this.resetisActive = true
              this.isActive=false
              this.loginisActive = true
            }
          }, response => {
              this.$cookies.set('password_token_exprired','1')
              this.resetisActive = true
              this.isActive=false
              this.loginisActive = true
         }).catch(e=>{
          console.log(e)
         });
      },
      MessageClosed(MessageType){
        console.log('we are in messages')
        console.log(MessageType)
        if(MessageType === 'success') {
          window.location.href = "/"
        } else if (MessageType === 'error') {
          console.log('we are in error messages')
          this.btnDisabled = false
          this.ShowErrorMessage=false
          this.ErrorTitle=''
          this.ErrorMessage=''
        }
      },
  reseting () {
    this.starttime = Math.trunc((new Date()).getTime())
    logjson.method = 'POST'
        
    this.$http.post(config.USER_PROVISION_URL+'/reset_password', this.collection.form,
      {
        headers: {'Authorization': apptoken.APP_TOKEN}
      }
    ).then(response => {
      var data = response
      if (data.status===200) {
        this.$root.$data.sourceOfTruth = 'Please login with New password';
        console.log(data)
          var currentData = new Date()
          var CurrentUTCDate = currentData.toUTCString()
          var ActivityMessage = 'User ' + this.collection.form.username+' belogs to the  organisation '+'test'+' has changed his password at '+CurrentUTCDate
          console.log(ActivityMessage)
           var activity = {"org_id": data.data.clientId, 
                          "org": data.data.clientName,
                          "user_id": data.data.userId,
                          "username": this.collection.form.username,
                          "service_id": config.SERVICE_ID,
                          "ipaddress": this.ipaddress,
                          "datetime": CurrentUTCDate,
                          "browser_agent": navigator.userAgent,
                          "msg": ActivityMessage}
          console.log("activity")
          console.log(activity)

        this.resetisActive = true
        this.loginisActive = true
        console.log(this.$root.$data.sourceOfTruth)
        this.SaveLog(activity)
        this.$router.push('/login')
        this.responseLogger(logjson,response,this.starttime)    
        }else {
        console.log('failure form ');
        this.ShowErrorMessage=true
        this.ErrorTitle='Error Occurred'
        this.ErrorMessage=data.message
      }
    }, response => {
      console.log('error');
      this.ShowErrorMessage=true
      this.ErrorTitle='Error Occurred'
      this.ErrorMessage='Something went wrong.Please try again'
      this.errorLogger(logjson,response,this.starttime)
      console.log(response);

      // error callback
    }).catch(e=>{
      console.log(e)
    });
    this.reset='Reseting'
  }
      }
    }




</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
