<template>
  <div class="hello">
    <div class="center-vertical">
      <div class="center-content row">
      <div class="full-width-div">
        <form @submit.prevent="login" id="login-validation" class="col-md-4 col-sm-5 col-xs-11 col-lg-3 center-margin">
          <h3 class="text-center pad25B font-gray text-transform-upr font-size-23">ERP DATA CLOUD<span class="opacity-80">v1.0</span></h3>
          <div id="login-form" class="content-box bg-default">
            <div class="content-box-wrapper pad20A">
              <!--<img class="mrg25B center-margin radius-all-100 display-block" src="../assets/image-resources/gravatar.jpg" alt="">-->
              <div class="form-group">
                <div class="input-group">
                            <span class="input-group-addon addon-inside bg-gray">
                                <i class="glyph-icon icon-envelope-o"></i>
                            </span>
                  <input v-model="collection.form.username" type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter username">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                            <span class="input-group-addon addon-inside bg-gray">
                                <i class="glyph-icon icon-unlock-alt"></i>
                            </span>
                  <input v-model="collection.form.password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-block btn-primary">Login</button>
                <p class ="text-danger" v-if="check">{{msg}}</p>
              </div>
              <div class="row">
                <div class="checkbox-primary col-md-6" style="height: 20px;">
                  <label>
                    <input type="checkbox" id="loginCheckbox1" class="custom-checkbox">
                    Remember me
                  </label>
                </div>
                <div class="text-right col-md-6">
                  <a href="/register" class="switch-button" switch-target="#login-forgot" switch-parent="#login-form" title="Recover password">Forgot your password?</a>
                  <input type="checkbox" id="loginCheckbox1" class="custom-checkbox">
                </div>
              </div>
            </div>
            <p>Don't have an account? <router-link to="/register" class="">Sign up</router-link></p>

          </div>

          <div id="login-forgot" class="content-box bg-default hide">
            <div class="content-box-wrapper pad20A">

              <div class="form-group">
                <label for="exampleInputEmail2">Email address:</label>
                <div class="input-group">
                            <span class="input-group-addon addon-inside bg-gray">
                                <i class="glyph-icon icon-envelope-o"></i>
                            </span>
                  <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
                </div>
              </div>
            </div>
            <div class="button-pane text-center">
              <button type="submit" class="btn btn-md btn-primary">Recover Password</button>
              <a href="#" class="btn btn-md btn-link switch-button" switch-target="#login-form" switch-parent="#login-forgot" title="Cancel">Cancel</a>
            </div>
          </div>

        </form>
<!--{{this.errors}}-->
      </div>
      </div>
    </div>
  </div>
</template>

<script>
// import consul from '../main'
// import config from '../config.json'
//  var data = querystring.stringify({
//    params: JSON.stringify({'email': this.email , 'password': this.password})
//  })
//  const config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded' } }
//  import axios from 'axios'
export default {
  name: 'hello',
  data () {
    return {
      check: false,
//      errors: [],
      msg: '',
      collection: {
        form: {
          username: '',
          password: '',
          data: ''
        }
      }
    }
  },
  methods: {
    login () {
      this.$http.post('http://192.168.2.144:8000/validate', {
        'username': this.collection.form.username,
        'password': this.collection.form.password,
        'grant_type': 'password'
      }, {
        headers: {
          'Content-Type': 'application/json'
        }
      }).then(response => {
        console.log('dev')
        console.log(response)
        var data = JSON.parse(response.bodyText)
//          console.log(data.status)
        if (data.status === 'success') {
          console.log(data.next)
          this.logger()
          window.location.href = data.next
        }
        if (data.status === '401 Unauthorized') {
          this.check = true
          this.msg = data.Message
          this.logger()
        }
      })
        .catch(e => {
//          console.log('rohan')
//          console.log(e)
//          this.errors.push(e)
        })
    },
    logger () {
      this.$http.post('http://magellan-logger.clu.pw/chronicle/log', {
        'username': this.collection.form.username,
        'password': this.collection.form.password,
        'grant_type': 'password'
      }, {
        headers: {
          'Content-Type': 'application/json'
        }
      }).then(response => {
        console.log('dev')
        console.log(response)
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .full-width-div {
    position: absolute;
    width: 100%;
    left: 0;
  }
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
