<template>
  <div id ="login">
    <div class="center-vertical center_div">
      <div class="center-content row">
        <form @submit.prevent="validateBeforeSubmit" action="" id="loginform" class="form-horizontal bordered-row col-md-4 col-sm-5 col-xs-11 col-lg-4 center-margin" :class="{'hide':loginfromisActive}"method="" data-parsley-validate="" autocomplete="off">
          <!-- <form @submit.prevent="validateBeforeSubmit" class="form-horizontal bordered-row col-md-4 col-sm-5 col-xs-11 col-lg-8 center-margin" id="demo-form" data-parsley-validate=""> -->
          <h3 class="text-center pad25B font-gray text-transform-upr font-size-23">ERP DATA CLOUD <span class="opacity-80">v1.0</span></h3>
          <div id="login-form" class="content-box bg-default" :class="{'hide':loginisActive}">
            <div class="content-box-wrapper pad20A">
              <img class="mrg25B center-margin radius-all-100 display-block" src="../assets/image-resources/erpdatac.jpg" alt="">
              <div id="ShowMessages">
                <div class="alert alert-danger" v-if="ShowErrorMessage">
                    <!--a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('error')"></a>
                    <div class="bg-red alert-icon">
                        <i class="glyph-icon icon-times"></i>
                      </div-->
                      <div class="alert-content">
                        <!--h4 class="alert-title">{{ErrorTitle}}</h4-->
                        <p>{{ErrorMessage}}</p>
                      </div>
                    </div>
                    <div class="alert alert-info" v-if="ShowMessage">
                    <!--a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('error')"></a>
                    <div class="bg-red alert-icon">
                        <i class="glyph-icon icon-times"></i>
                      </div-->
                      <div class="alert-content">
                        <!--h4 class="alert-title">{{ErrorTitle}}</h4-->
                        <p>{{Message}}</p>
                      </div>
                    </div>
                    <div class="example-box-wrapper" v-if="ShowSuccessMessage">
                            <div class="alert alert-close alert-success">
                               <!--  <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('success')"></a> -->
                                <div class="alert-content">
                                    <p>{{SuccessMessage}}</p>
                                </div>
                            </div>
                        </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon bg-blue">
                        <i class="glyph-icon icon-envelope-o"></i>
                      </span>                    
                      <input data-parsley-type="email" required v-model="collection.form.username" type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter Username" data-parsley-errors-container="#username-error" data-parsley-required data-parsley-required-message="Username is required">
                    </div>
                    <div id="username-error" style="text-align:center;"></div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon bg-blue">
                        <i class="glyph-icon icon-unlock-alt"></i>
                      </span>
                      <input required v-model="collection.form.password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" data-parsley-errors-container="#loginpassword-error" data-parsley-required data-parsley-required-message="Password is required">
                    </div>
                    <div id="loginpassword-error" style="text-align:center;"></div>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-block btn-primary" type="submit" name="submit">Login</button>
                    <p class ="text-danger" v-if="msg">{{msg}}</p>
                  </div>


                  <div class="row">
                    <div v-if="check" class="loading-spinner">
                      <i class="bg-azure"></i>
                      <i class="bg-azure"></i>
                      <i class="bg-azure"></i>
                      <i class="bg-azure"></i>
                      <i class="bg-azure"></i>
                      <i class="bg-azure"></i>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="checkbox-primary col-md-5 float-left" style="height: 20px;overflow:hidden;display:inline-block;white-space:nowrap; font-size:12px">
                      <label>
                        <input type="checkbox" id="loginCheckbox1" class="custom-checkbox ">
                        Remember me
                      </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <!--div style="overflow:hidden;display:inline-block;white-space: nowrap;"-->
                    <div class="col-md-6">
                      <a href="" v-on:click.stop.prevent="switchform('forgot')" class="switch-button" switch-target="" style="color:#00bca4" switch-parent="#login-form" title="Recover password">Forgot your Password</a>
                    </div>
                    <div class="col-md-6 float-right">                 
                      <a href="/register"  class="" style="color:#00bca4" v-on:click.stop.prevent="switchform('register')">Create New Account</a>
                    </div>
                    <!--/div-->
                  </div>                
                </div>
              </div>
              <div id="login-forgot" class="content-box bg-default" :class="{'hide':forgotisActive}">
                
                <div class="alert alert-info" v-if="Message">
                      <div class="alert-content">
                        <p>{{Message}}</p>
                      </div>
                </div>
                <div class="content-box-wrapper pad20A">
                  <div class="form-group">
                    <label for="exampleInputEmail2">Email address:</label>
                    <div class="input-group">
                      <span class="input-group-addon bg-gray">
                        <i class="glyph-icon icon-envelope-o"></i>
                      </span>
                      <input required v-model="collection.form.username" type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email" data-parsley-type="email" data-parsley-errors-container="#reset-error" data-parsley-required-message="Username is required">
                    </div>
                    <div id="reset-error" style="text-align:center;"></div>

                    <p class ="text-danger" style="text-align:center;" v-if="msg">{{msg}}</p>
                    <p v-if="msg">Please try again or <a v-on:click.stop.prevent="switchform('register')">Sign Up</a></p>
                  </div>
                </div>
                <div class="button-pane text-center">

                  <button @click.prevent="forgot" type="submit" class="btn btn-md btn-primary">Recover Password</button>
                  <a href="#" v-on:click.stop.prevent="switchform('login')" class="btn btn-md btn-link switch-button" switch-target=" " switch-parent="#login-forgot" title="Cancel">Cancel</a>
                </div>
              </div>
              <div id="forgot" class="content-box bg-default" :class="{'hide':sendemailisActive}">
                <!-- <div class="content-box-wrapper pad20A"> -->
                <div class="alert alert-close alert-success">
                  <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('success')"></a>
                  <div class="bg-green alert-icon">
                    <i class="glyph-icon icon-check"></i>
                  </div>
                  <div class="alert-content">
                    <h4 class="alert-title">Success</h4>
                    <p>Reset password link sent successfully to {{this.collection.form.username}}
                    Kindly check your mail to reset password</p>
                  </div>
                </div>
                <!-- </div> -->
              </div>
            </form>
            <!-- <form action="" id="register-validation" class="col-md-8  center-margin" :class="{'hide':registerfromisActive}" method=""> -->
            <!-- <h3 class="text-center pad25B font-gray text-transform-upr font-size-23">Welcome to ERP DATA CLOUD <span class="opacity-80">v1.0</span></h3> -->
            <register v-if="registerfromisActive"></register>

            <!-- </div> -->
            <!-- </div> -->
            <!-- </form> -->
          </div>
        </div>
      </div>
    </template>

    <script>
  // import consul from '../main'
  var logjson = require('../logdata.json')
  // import Logger from '../logger.js'
  import config from '../config.json'
  import apptoken from '../apptoken.json'
  import register from './Register.vue'
  import Simplert from 'vue2-simplert'
  export default {
    name: 'hello',
    data () {
      return {
        glowmessage:'',
        loginisActive:false,
        application_token: '',
        forgotisActive:true,
        loginfromisActive: false,
        registerfromisActive:false,
        sendemailisActive:true,
        disabled: 1,
        disabledlogin:0,
        isLoggedIn: this.$session.exists(),
        nexturl: '',
        starttime: '',
        endtime: '',
        check: false,
        ShowErrorMessage:false,
        ErrorTitle:'',
        ErrorMessage:'',
        ShowMessage:false,
        Message:'',
        ShowSuccessMessage:false,
        SuccessMessage:"",
//      errors: [],
msg: '',
ipaddress: '',
collection: {
  form: {
    username: '',
    password: '',
    data: ''
  }
}
}
},
mounted () {
  if(this.$route.query.token){
    var Authorization = apptoken.APP_TOKEN
    this.$http.get(config.ACCOUNT_REGISTRATION_URL+'/rest/ClientService/verify_client/'+this.$route.query.token, {
      headers: {
        'Authorization': Authorization
      }
    }).then(response => {
      var data = JSON.parse(response.bodyText)
      if (response.status == 200) {
        this.ShowSuccessMessage = true;
        this.SuccessMessage ="Account verified successfully."
      } else {
        console.log("CLIENT TOKEN EXPIRED")
        this.$cookies.set('token_expired', '1')
        window.location.href = "/register"
      }
    },response =>{
      var data = JSON.parse(response.bodyText)
      this.ShowErrorMessage = true
      this.ErrorTitle = "Error"
      this.ErrorMessage = "Something went wrong!! Please reverify.."

    }).catch(e => {
      console.log(this.error)
    })
  }

  if(this.$route.query.usertoken){
    var Authorization = apptoken.APP_TOKEN
    this.$http.get(config.USER_PROVISION_URL+'/verify_user/'+this.$route.query.usertoken, {
      headers: {
        'Authorization': Authorization
      }
    }).then(response => {
      var data = response
      if (data.status === 200) {
        this.ShowSuccessMessage = true;
        this.SuccessMessage ="Account verified successfully."
      }
    },response =>{
      var data = JSON.parse(response.bodyText)
      this.ShowErrorMessage = true
      this.ErrorTitle = data.data
      this.ErrorMessage = data.message

    }).catch(e => {
      this.ShowErrorMessage = true
      this.ErrorTitle = "Error"
      this.ErrorMessage = "Something went wrong!! Please reverify.."
    })
  }

 if(this.$cookies.isKey('password_token_exprired')){
  this.$cookies.remove('password_token_exprired')
    this.ShowErrorMessage = true
    this.ErrorTitle = 'Token expired'
    this.ErrorMessage = 'Reset token get expired. Reset password again.'
 }
  if(this.$cookies.isKey('SessionExpMsg')){
    this.$cookies.remove('SessionExpMsg')
        // alert('Session got expired,Please login again')
        this.ShowErrorMessage = true
        this.ErrorTitle = 'Session expired'
        this.ErrorMessage = 'Session expired. Login again.'
      }

      this.getIPaddress()
      var instance = $('#loginform').parsley();
      console.log(this.$route)
      console.log("message"+this.$route.query.message)
      console.log(apptoken.APP_TOKEN)
      this.getmessage()
      if (this.glowmessage!='') {
        this.onAnchorClick()
      }
      if(this.$route.query.error_message)
      {
        this.ShowErrorMessage=true
        this.ErrorMessage=this.$route.query.error_message
        this.ErrorTitle=this.$route.query.error_message
      }
      if(this.$route.query.message)
      {
        this.ShowMessage=true
        this.Message=this.$route.query.message
      }
    }
    ,
    beforeCreate: function () {
      if (this.$session.exists()) {
        this.$router.push('/dashboard')
      } else {
        var self = this
        setTimeout(function () {
          self.$session.destroy()
        }, 1200000)
      }
    },
    methods: {
      validateBeforeSubmit (e) {
        console.log(this.collection.form.username)

        var instance = $('#loginform').parsley();
        console.log(instance)
        if (instance.isValid() === true) {
          this.login()
        }else{
          console.log("error from form")
          console.log(instance.isValid())
        }
      },
      getIPaddress (){
        this.$http.get("https://api.ipify.org?format=jsonp"
          ).then(response => {
            var ip = response.bodyText
            var ipadd = JSON.parse(ip.slice(9, -2))
            console.log("IP ADDRESS ARESPONSE")
            console.log(ipadd.ip)
            this.ipaddress = ipadd.ip
          },(response) => {
            console.log(response)
          })
        },
        login () {
        // this.getIPaddress()
        this.ShowSuccessMessage=false;
        this.disabledlogin = 1
        this.check = true
        this.starttime = Math.trunc((new Date()).getTime())
        logjson.method = 'POST'
        // this.$http.get('../dummy/login.json', {
        this.$http.post(config.AUTHENTICATION_URL+'/validate', {
          'username': this.collection.form.username,
          'password': this.collection.form.password,
          'grant_type': 'password',
          'application_token':apptoken.APP_TOKEN
        }, {
          headers: {
            'Content-Type': 'application/json'
          }
        }).then(response => {
          
          var data = JSON.parse(response.bodyText)
          if (data.status === 'success') {
            console.log('data')
            console.log(data)
            this.responseLogger(logjson,response,this.starttime)    
            this.nexturl = data.next
            //remove previously exists cookie . if browser closed without logout.
            if(this.$cookies.isKey('Timeout')){
              this.$cookies.remove('Timeout')
            }
            debugger;
            this.$session.start()
            console.log("All data :"+JSON.stringify(data));
            this.$session.set('access_token', data.access_token)
            this.$session.set('client_id', data.clientId)
            this.$session.set('user_id', data.userId)
            this.$session.set('user_name', data.firstName + ' ' + data.lastName)
            this.$session.set('phone', data.phone)
            this.$session.set('client_name',data.clientName)
            this.$cookies.set('Timeout','timeout',config.SESSION_TIMEOUT + 'min')
            this.$session.set('ipaddress',this.ipaddress)
            this.$session.set('email',this.collection.form.username)
            this.$session.set('time_zone_preference',data.time_zone_preference)
            this.$session.set('date_format',data.date_format)
            this.$session.set('allow_job_to_run',data.job_calender_rules_allowed)
            this.$session.set('showwelcome','true')
            this.$session.set('is_jd_application','false')
            this.MarkLogin(data.userId, apptoken.APP_TOKEN)
            console.log('activity log')
            var currentData = new Date()
            var CurrentUTCDate = currentData.toUTCString()
            var ActivityMessage = 'User ' + this.$session.get('email')+' belogs to the  organisation '+this.$session.get('client_name')+' get successfully logged in to the system at '+CurrentUTCDate
            console.log(ActivityMessage)
            var activity = {"org_id": this.$session.get('client_id'), 
            "org": this.$session.get('client_name'),
            "user_id": this.$session.get('user_id'),
            "username": this.$session.get('email'),
            "service_id": config.SERVICE_ID,
            "ipaddress": this.$session.get('ipaddress'),
            "datetime": CurrentUTCDate,
            "browser_agent": navigator.userAgent,
            "msg": ActivityMessage}
            console.log("activity")
            console.log(activity)
            this.SaveLog(activity)
            window.location.href = "/dashboard"
          }
          // else if(data.status === 'failure'){
          //   this.check = false
          //   this.msg = response.bodyText
          //   this.errorLogger(logjson,response,this.starttime)
          // }
          else {
            this.check = false
            this.msg = response.bodyText
            this.errorLogger(logjson,response,this.starttime)
          }
        },response => {
          this.check =false
          console.log('we are in 2nd response')
          var data = JSON.parse(response.bodyText)
          console.log(data)
          this.ShowErrorMessage = true
          if(data.status === 401 || data.status === "failure"){
            this.ErrorTitle = data.status
            this.ErrorMessage = data.message
          } else if (data.status === 'failure'){
            this.ErrorTitle = 'Contact Admin'
            this.ErrorMessage = 'Some issue with the service.'
          } else if(data.status === 'service_error'){
            this.ErrorTitle = 'Contact Admin'
            this.ErrorMessage = 'Some issue with the internal service.'
          }
        }).catch(e => {
          console.log(e)
          this.check = false
          this.ShowErrorMessage = true
          this.disabledlogin = 0
            // this.errorLogger(logjson,e,this.starttime)
            // this.msg = "Invalid Username or password"
            // this.LoggerData(logjson)
            this.ErrorTitle = 'Try Again'
            this.ErrorMessage = 'Something went wrong.'
          })
      },
      SaveLog(activity){
        console.log('we are in activity log')
        this.$http.post(config.AUDIT_LOG_URL, activity).then(response => {
          console.log('success log')
        })
      },
      MarkLogin(user_id, token){
        console.log('we are marking user login time')
        this.$http.get(config.USER_PROVISION_URL+"/marklogin/"+user_id, {
          headers: {
            'Authorization': token, 
            'Content-Type': 'application/json'
          }
        }).then(response => {
          console.log('success log')
        })
      },
      forgot () {
        this.ShowErrorMessage =false
        this.starttime = Math.trunc((new Date()).getTime())
        this.$http.get(config.USER_PROVISION_URL+'/forgot_password/'+ this.collection.form.username, { emulateJSON: true,
          headers: {'Authorization': apptoken.APP_TOKEN}
        }).then(response => {
          console.log('we are in response')
          console.log(response)
          
          var data = response
          
          if (data.status===200){
            console.log('success')
            console.log(data)
            var currentData = new Date()
            var CurrentUTCDate = currentData.toUTCString()
            var ActivityMessage = 'User ' + this.collection.form.username+' belogs to the  organisation '+data.data.clientName+' requested to change the password at '+CurrentUTCDate
            console.log(ActivityMessage)
            var activity = {"org_id": data.data.clientId, 
            "org": data.data.clientName,
            "user_id": data.data.userId,
            "username": this.collection.form.username,
            "service_id": config.SERVICE_ID,
            "ipaddress": this.ipaddress,
            "datetime": CurrentUTCDate,
            "browser_agent": navigator.userAgent,
            "msg": ActivityMessage}
            console.log("activity")
            console.log(activity)
            this.SaveLog(activity)
            this.forgotisActive = true
            this.sendemailisActive = false
            this.responseLogger(logjson,response,this.starttime) 
          } else {
            console.log('failure response')
            console.log(response)
          }
        },response =>{
          
          if (response.status == 404){
            // this.ShowErrorMessage = true
            this.Message = "User not found"
          }else{
            this.Message = "There is some internal issue, Please try after some time"
          }
        }).catch(e => {
          
          var data = JSON.parse(e)
          this.errorLogger(logjson,e,this.starttime)
          console.log('error from forgot api');
          console.log(e)
        })
        // console.log('')
      },
      emailcheck () {
        console.log('email check')
        console.log(config.USER_PROVISION_URL)
        console.log(this.collection.form.username)
        this.starttime = Math.trunc((new Date()).getTime())
        logjson.method = 'POST'
        this.$http.get(config.USER_PROVISION_URL+'/userexists/' + this.collection.form.username,{
         headers: {
           'Authorization':apptoken.APP_TOKEN
         }
       }).then(response => {
              // this.responseLogger(logjson,response,this.starttime)    
              console.log(response)
              var emailcheckdata = JSON.parse(response.bodyText)
              if (emailcheckdata.status !== 1) {
               this.disabled = 1
               this.msg = 'Not a valid Email'

             }
             else {
               this.disabled = 0
               this.msg = ''
             }
             console.log(emailcheckdata.exists);
           }, response => {
            console.log('2nd response')
            console.log(response)
          })
       .catch(e => {
         console.log('error');
         console.log(e)
       })
     },
     switchform (which) {
      switch (which) {
        case 'forgot':
        this.forgotisActive = false
        this.loginisActive = true
        this.msg=''

        break;
        case 'login':
        this.forgotisActive = true
        this.loginisActive = false

        break;
        case 'register':
        this.loginfromisActive=true
        this.registerfromisActive = true
        this.$router.push('/register')
        break;
        default:

      }
    },
    onAnchorClick () {
      $.jGrowl(this.glowmessage, {
        sticky: false,
        position: 'top-right',
        theme: 'bg-blue-alt'
      });
    },
    getmessage () {
      if (this.$root.$data.sourceOfTruth) {
        this.glowmessage = this.$root.$data.sourceOfTruth
      }else{
        this.glowmessage = ''
      }
          // console.log(this.$root.$data.sourceOfTruth)
        },
        MessageClosed(MessageType){
          console.log('we are in messages')
          console.log(MessageType)
          if(MessageType === 'success') {
            this.ShowSuccessMessage=false
            this.SuccessMessage=""
            // window.location.href = "/"
          } else if (MessageType === 'error') {
            console.log('we are in error messages')
            this.ShowErrorMessage=false
            this.ErrorTitle=''
            this.ErrorMessage=''
          }
        },


      },
      components: {
        register
      }
    }
  </script>

  <!-- Add "scoped" attribute to limit CSS to this component only -->
  <style scoped>
    .user-modal-container * {
      box-sizing: border-box;
    }
    .user-modal-container {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;
      cursor: pointer;
      overflow-y: auto;
      z-index: 3;
      font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
      font-size: 14px;
      background-color: rgba(17,17,17,.9);
      -webkit-transition: all 0.25s linear;
      -moz-transition: all 0.25s linear;
      -o-transition: all 0.25s linear;
      -ms-transition: all 0.25s linear;
      transition: all 0.25s linear;
    }

    .user-modal-container.active {
      opacity: 1;
      visibility: visible;
    }
    .center_div{
      margin: 0 auto;
      width:80% /* value of your choice which suits your alignment */
    }
  </style>
