<template>
  <div class="">
    <ul id="sidebar-menu">
      <!-- <li class="header"><span>Overview</span></li>
      <li>
          <a href="index.html" title="Admin Dashboard">
              <i class="glyph-icon icon-linecons-tv"></i>
              <span>Admin dashboard</span>
          </a>
      </li>
      <li class="divider"></li>
      <li class="no-menu">
          <a href="../frontend-template/index.html" title="Frontend template">
              <i class="glyph-icon icon-linecons-beaker"></i>
              <span>Frontend template</span>
              <span class="bs-label label-danger">
                  NEW
              </span>
          </a>
      </li> -->

      <li class="header"><span>OVERVIEW</span></li>

      <li>
        <a href="/dashboard" ><i class="glyph-icon icon-linecons-diamond"></i><span>Dashboard</span></a>
      </li>

      <li v-if="MainMenuList" class="header"><span>Product</span></li>
      <li v-if="MainMenuList" v-for="menu in MainMenuList">
        <a :href="menu.url" id="auth_sub_menu" title="Elements">
            <i class="glyph-icon icon-linecons-diamond"></i>
            <span>{{menu.MenuName}}</span>
        </a>
        <div class="sidebar-submenu" id="SubMenu">

            <ul v-if="menu.SubMenu">
                <li v-for="link in menu.SubMenu" :id="link.SubMenuId">
                  <router-link :to="{path: link.suburl}">
                    {{ link.SubMenuName }}
                  </router-link>
               </li>
            </ul>

        </div>

        <!-- <div class="sidebar-submenu">

            <ul>
                <li><a href="/assetlist"  title="Asset List"><span>Assets</span></a></li>
                <li><a href="/securityrolelist" title="Security List"><span> Security Role </span></a></li>
            </ul>

        </div> -->

      </li>
      
      

      <li>
        <!-- <a href="#" title="Helpers">
            <i class="glyph-icon icon-linecons-doc"></i>
            <span>Helpers</span>
        </a> -->
        <div class="sidebar-submenu">

          <ul>
            <li><a href="helper-classes.html" title="Helper classes"><span>Helper classes</span></a></li>
            <li><a href="page-transitions.html" title="Page transitions"><span>Page transitions</span></a></li>
            <li><a href="animations.html" title="Animations"><span>Animations</span></a></li>
          </ul>

        </div><!-- .sidebar-submenu -->
      </li>
    </ul><!-- #sidebar-menu -->

  </div>
</template>
<script>
import config from '../config.json'
export default {
  data(){
  return {
      reportUrl:'',
      MenuUrl:'',
      MenuName:'',
      SubMenu:[],
      isSubMenuAvailable : false
    }
  },
  mounted () {
    // this.getModules()
    this.MainCheckUrl()
    console.log('In Navigation')
    console.log(this.MainMenuList)
    // this.ProductList = ["Test","Test1","Test3"]
      this.reportUrl = config.REPORT_URL + '/OauthRedirect?access_token=' +this.$session.get('access_token') + '&userId='+ this.$session.get('user_id')+ '&clientId=' +this.$session.get('client_id')
      // console.log(this.reportUrl)
  }
}
</script>
