<template>
   <div id="header-nav-right">
        <!--a href="#" class="hdr-btn popover-button" title="" data-placement="bottom" data-id="#popover-search" data-original-title="Search">
            <i class="glyph-icon icon-search"></i>
        </a>
        <div class="hide" id="popover-search">
            <div class="pad5A box-md">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search terms here ...">
                    <span class="input-group-btn">
                        <a class="btn btn-primary" href="#">Search</a>
                    </span>
                </div>
            </div>
        </div>
        <a href="#" class="hdr-btn" id="fullscreen-btn" title="Fullscreen">
            <i class="glyph-icon icon-arrows-alt"></i>
        </a>
        <a href="#" class="hdr-btn sb-toggle-left" id="chatbox-btn" title="Chat sidebar">
            <i class="glyph-icon icon-linecons-paper-plane"></i>
        </a-->
        <div class="dropdown open" id="notifications-btn">
            <a data-toggle="dropdown" href="#" title="" aria-expanded="true">
                <span class="small-badge bg-yellow"></span>
                <i class="glyph-icon icon-linecons-megaphone"></i>
            </a>
            <div class="dropdown-menu box-md float-right" style="display:none;">

                <div class="popover-title display-block clearfix pad10A">
                    Notifications
                    <a class="text-transform-cap font-primary font-normal btn-link float-right" href="#" title="View more options">
                        More options...
                    </a>
                </div>
                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 250px;"><div class="scrollable-content scrollable-slim-box" style="overflow: hidden; width: auto; height: 250px;">
                    <ul class="no-border notifications-box">
                        <li>
                            <span class="bg-danger icon-notification glyph-icon icon-bullhorn"></span>
                            <span class="notification-text">This is an error notification</span>
                            <div class="notification-time">
                                a few seconds ago
                                <span class="glyph-icon icon-clock-o"></span>
                            </div>
                        </li>
                        <li>
                            <span class="bg-warning icon-notification glyph-icon icon-users"></span>
                            <span class="notification-text font-blue">This is a warning notification</span>
                            <div class="notification-time">
                                <b>15</b> minutes ago
                                <span class="glyph-icon icon-clock-o"></span>
                            </div>
                        </li>
                        <li>
                            <span class="bg-green icon-notification glyph-icon icon-sitemap"></span>
                            <span class="notification-text font-green">A success message example.</span>
                            <div class="notification-time">
                                <b>2 hours</b> ago
                                <span class="glyph-icon icon-clock-o"></span>
                            </div>
                        </li>
                        <li>
                            <span class="bg-azure icon-notification glyph-icon icon-random"></span>
                            <span class="notification-text">This is an error notification</span>
                            <div class="notification-time">
                                a few seconds ago
                                <span class="glyph-icon icon-clock-o"></span>
                            </div>
                        </li>
                        <li>
                            <span class="bg-warning icon-notification glyph-icon icon-ticket"></span>
                            <span class="notification-text">This is a warning notification</span>
                            <div class="notification-time">
                                <b>15</b> minutes ago
                                <span class="glyph-icon icon-clock-o"></span>
                            </div>
                        </li>
                        <li>
                            <span class="bg-blue icon-notification glyph-icon icon-user"></span>
                            <span class="notification-text font-blue">Alternate notification styling.</span>
                            <div class="notification-time">
                                <b>2 hours</b> ago
                                <span class="glyph-icon icon-clock-o"></span>
                            </div>
                        </li>
                        <li>
                            <span class="bg-purple icon-notification glyph-icon icon-user"></span>
                            <span class="notification-text">This is an error notification</span>
                            <div class="notification-time">
                                a few seconds ago
                                <span class="glyph-icon icon-clock-o"></span>
                            </div>
                        </li>
                        <li>
                            <span class="bg-warning icon-notification glyph-icon icon-user"></span>
                            <span class="notification-text">This is a warning notification</span>
                            <div class="notification-time">
                                <b>15</b> minutes ago
                                <span class="glyph-icon icon-clock-o"></span>
                            </div>
                        </li>
                        <li>
                            <span class="bg-green icon-notification glyph-icon icon-user"></span>
                            <span class="notification-text font-green">A success message example.</span>
                            <div class="notification-time">
                                <b>2 hours</b> ago
                                <span class="glyph-icon icon-clock-o"></span>
                            </div>
                        </li>
                        <li>
                            <span class="bg-purple icon-notification glyph-icon icon-user"></span>
                            <span class="notification-text">This is an error notification</span>
                            <div class="notification-time">
                                a few seconds ago
                                <span class="glyph-icon icon-clock-o"></span>
                            </div>
                        </li>
                        <li>
                            <span class="bg-warning icon-notification glyph-icon icon-user"></span>
                            <span class="notification-text">This is a warning notification</span>
                            <div class="notification-time">
                                <b>15</b> minutes ago
                                <span class="glyph-icon icon-clock-o"></span>
                            </div>
                        </li>
                    </ul>
                </div><div class="slimScrollBar" style="background: rgb(141, 160, 170); width: 6px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 118.147px;"></div><div class="slimScrollRail" style="width: 6px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
                <div class="pad10A button-pane button-pane-alt text-center">
                    <a href="#" class="btn btn-primary" title="View all notifications">
                        View all notifications
                    </a>
                </div>
            </div>
        </div>
        <!--div class="dropdown" id="progress-btn">
            <a data-toggle="dropdown" href="#" title="">
                <span class="small-badge bg-azure"></span>
                <i class="glyph-icon icon-linecons-params"></i>
            </a>
            <div class="dropdown-menu pad0A box-sm float-right" id="progress-dropdown">
                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 250px;"><div class="scrollable-content scrollable-slim-box" style="overflow: hidden; width: auto; height: 250px;">
                    <ul class="no-border progress-box progress-box-links">
                        <li>
                            <a href="#" title="">
                                <b class="pull-right">23%</b>
                                <div class="progress-title">
                                    Finishing uploading files
                                    
                                </div>
                                <div class="progressbar-smaller progressbar" data-value="23">
                                    <div class="progressbar-value bg-blue-alt" style="width: 0px;">
                                        <div class="progressbar-overlay"></div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <b class="pull-right">91%</b>
                                <div class="progress-title">
                                    Roadmap progress
                                </div>
                                <div class="progressbar-smaller progressbar" data-value="91">
                                    <div class="progressbar-value bg-red" style="width: 0px;">
                                        <div class="progressbar-overlay"></div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <b class="pull-right">58%</b>
                                <div class="progress-title">
                                    Images upload
                                </div>
                                <div class="progressbar-smaller progressbar" data-value="58">
                                    <div class="progressbar-value bg-green" style="width: 0px;"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <b class="pull-right">74%</b>
                                <div class="progress-title">
                                    WordPress migration
                                </div>
                                <div class="progressbar-smaller progressbar" data-value="74">
                                    <div class="progressbar-value bg-purple" style="width: 0px;"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                 <b class="pull-right">91%</b>
                                <div class="progress-title">
                                    Agile development procedures
                                </div>
                                <div class="progressbar-smaller progressbar" data-value="91">
                                    <div class="progressbar-value bg-black" style="width: 0px;">
                                        <div class="progressbar-overlay"></div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <b class="pull-right">58%</b>
                                <div class="progress-title">
                                    Systems integration
                                </div>
                                <div class="progressbar-smaller progressbar" data-value="58">
                                    <div class="progressbar-value bg-azure" style="width: 0px;"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                 <b class="pull-right">97%</b>
                                <div class="progress-title">
                                    Code optimizations
                                </div>
                                <div class="progressbar-smaller progressbar" data-value="97">
                                    <div class="progressbar-value bg-yellow" style="width: 0px;"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div><div class="slimScrollBar" style="background: rgb(141, 160, 170); width: 6px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px;"></div><div class="slimScrollRail" style="width: 6px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
                <div class="pad5A button-pane button-pane-alt text-center">
                    <a href="#" class="btn display-block font-normal hover-green" title="View all notifications">
                        View all notifications
                    </a>
                </div>
            </div>
        </div>
        <div class="dropdown" id="cloud-btn">
            <a href="#" data-placement="bottom" class="tooltip-button sb-toggle-right" title="" data-original-title="Statistics Sidebar">
                <i class="glyph-icon icon-linecons-cloud"></i>
            </a>
        </div-->
        <div class="dropdown" id="dashnav-btn">
            <a href="#" data-toggle="dropdown" data-placement="bottom" class="popover-button-header tooltip-button" title="" data-original-title="Dashboard Quick Menu">
                <i class="glyph-icon icon-linecons-cog"></i>
            </a>
            <div class="dropdown-menu float-right">
                <div class="box-sm">
                    <div class="pad5T pad5B pad10L pad10R dashboard-buttons clearfix" v-show="is_jd_application=='false'">
                        <a href="/dashboard" class="btn vertical-button remove-border btn-info" title="">
                            <span class="glyph-icon icon-separator-vertical pad0A medium">
                                <i class="glyph-icon icon-dashboard opacity-80 font-size-20"></i>
                            </span>
                            Dashboard
                        </a>
                        <a id="userprovisioning" href="/userlist" title="Manage users details" class="btn vertical-button remove-border btn-danger">
                            <span class="glyph-icon icon-separator-vertical pad0A medium">
                                <i class="glyph-icon icon-users opacity-80 font-size-20"></i>
                            </span>
                            Users
                        </a>

                        <a id="authorization" href="/assetlist" title="Manage user details" class="btn vertical-button remove-border btn-purple">
                            <span class="glyph-icon icon-separator-vertical pad0A medium">
                                <i class="glyph-icon icon-cogs opacity-80 font-size-20"></i>
                            </span>
                            Roles
                        </a>
                    </div>
                    <div class="divider" v-show="is_jd_application=='false'"></div>
                    <div class="pad5T pad5B pad10L pad10R dashboard-buttons clearfix" v-show="is_jd_application=='false'">
                        <a href="#" class="btn vertical-button remove-border btn-azure" v-on:click="download()">
                            <span class="glyph-icon icon-separator-vertical pad0A medium">
                                <i class="glyph-icon icon-laptop opacity-80 font-size-20"></i>
                            </span>
                            Agent
                        </a>

                        <a id="authorization" href="/datasources" title="Manage user details" class="btn vertical-button remove-border btn-purple">
                            <span class="glyph-icon icon-separator-vertical pad0A medium">
                                <i class="glyph-icon icon-cogs opacity-80 font-size-20"></i>
                            </span>
                            Data Source
                        </a>
                        <a id="environment" href="/environment" title="Manage Environment details" class="btn vertical-button remove-border btn-danger">
                            <span class="glyph-icon icon-separator-vertical pad0A medium">
                                <i class="glyph-icon icon-cogs opacity-80 font-size-20"></i>
                            </span>
                            Environment
                        </a>
                    </div>
                    <div class="divider" v-show="is_jd_application=='false'"></div>
                    <div class="pad5T pad5B pad10L pad10R dashboard-buttons clearfix" v-show="is_jd_application=='false'">
                        <a id="catalog" href="/catalog" title="Manage Catalog details" class="btn vertical-button remove-border btn-info">
                            <span class="glyph-icon icon-separator-vertical pad0A medium">
                                <i class="glyph-icon icon-cogs opacity-80 font-size-20"></i>
                            </span>
                            Catalog
                        </a>
                        <a id="jde_application" href="/jdeapplication" title="JDE Application" class="btn vertical-button remove-border btn-info">
                            <span class="glyph-icon icon-separator-vertical pad0A medium">
                                <i class="glyph-icon icon-cogs opacity-80 font-size-20"></i>
                            </span>
                            JDE App
                        </a>

                    </div>
                    <!-- <div class="divider"></div> -->
                    <div class="pad5T pad5B pad10L pad10R dashboard-buttons clearfix" v-show="is_jd_application=='true'">
                        <a id="edc_portal" href="#" title="EDC Portal" class="btn vertical-button remove-border btn-purple" v-on:click="EdcPortal()">
                            <span class="glyph-icon icon-separator-vertical pad0A medium">
                                <i class="glyph-icon icon-cogs opacity-80 font-size-20"></i>
                            </span>
                            <font size=1.5px>EDC <br/>Portal</font>
                        </a>
                        <a id="create_env" href="/createenvironment" title="Automate Environment" class="btn vertical-button remove-border btn-purple">
                            <span class="glyph-icon icon-separator-vertical pad0A medium">
                                <i class="fa fa-database opacity-80 font-size-20"></i>
                            </span>
                            <font size=1.5px>Auto <br/>Environment</font>
                        </a>
                        <a id="show_env" href="/showenvironment" title="Show Environment" class="btn vertical-button remove-border btn-purple">
                            <span class="glyph-icon icon-separator-vertical pad0A medium">
                                <i class="fa fa-database opacity-80 font-size-20"></i>
                            </span>
                            <font size=1.5px>Show <br/>Environment</font>
                        </a>
                        
                    </div>
                    <div class="divider" v-show="is_jd_application=='true'"></div>
                    <div class="pad5T pad5B pad10L pad10R dashboard-buttons clearfix" v-show="is_jd_application=='true'">
                        <a id="create_datasource" href="/showdatasource" title="Create Data Source" class="btn vertical-button remove-border btn-purple">
                            <span class="glyph-icon icon-separator-vertical pad0A medium">
                                <i class="icomoon icon-table opacity-80 font-size-20"></i>
                            </span>
                            <font size=1.5px>Create <br/>Data Source</font>
                        </a>
                        <a id="combined_view_table" href="/combinedviewaccess" title="Combined View Table Access" class="btn vertical-button remove-border btn-purple">
                            <span class="glyph-icon icon-separator-vertical pad0A medium">
                                <i class="icomoon icon-table opacity-80 font-size-20"></i>
                            </span>
                            <font size=1.5px>Combined <br/>View Access</font>
                        </a>
                        <a id="create_combined_view" href="/createcombinedview" title="Create Combined View Environment" class="btn vertical-button remove-border btn-purple">
                            <span class="glyph-icon icon-separator-vertical pad0A medium">
                                <i class="icomoon icon-table opacity-80 font-size-20"></i>
                            </span>
                            <font size=1.5px>Create <br/>Combined View</font>
                        </a>

                    </div>

                    <!--div class="pad5T pad5B pad10L pad10R dashboard-buttons clearfix">
                        <a href="#" class="btn vertical-button remove-border btn-info" title="">
                            <span class="glyph-icon icon-separator-vertical pad0A medium">
                                <i class="glyph-icon icon-dashboard opacity-80 font-size-20"></i>
                            </span>
                            Dashboard
                        </a>
                        <a href="#" class="btn vertical-button remove-border btn-danger" title="">
                            <span class="glyph-icon icon-separator-vertical pad0A medium">
                                <i class="glyph-icon icon-tags opacity-80 font-size-20"></i>
                            </span>
                            Widgets
                        </a>
                        <a href="#" class="btn vertical-button remove-border btn-purple" title="">
                            <span class="glyph-icon icon-separator-vertical pad0A medium">
                                <i class="glyph-icon icon-fire opacity-80 font-size-20"></i>
                            </span>
                            Tables
                        </a>
                        <a href="#" class="btn vertical-button remove-border btn-azure" title="">
                            <span class="glyph-icon icon-separator-vertical pad0A medium">
                                <i class="glyph-icon icon-bar-chart-o opacity-80 font-size-20"></i>
                            </span>
                            Charts
                        </a>
                        <a href="#" class="btn vertical-button remove-border btn-yellow" title="">
                            <span class="glyph-icon icon-separator-vertical pad0A medium">
                                <i class="glyph-icon icon-laptop opacity-80 font-size-20"></i>
                            </span>
                            Buttons
                        </a>
                        <a href="#" class="btn vertical-button remove-border btn-warning" title="">
                            <span class="glyph-icon icon-separator-vertical pad0A medium">
                                <i class="glyph-icon icon-code opacity-80 font-size-20"></i>
                            </span>
                            Panels
                        </a>
                    </div-->
                </div>
            </div>
        </div>
        <!--a class="header-btn" id="logout-btn" href="lockscreen-3.html" title="Lockscreen page example">
            <i class="glyph-icon icon-linecons-lock"></i>
        </a-->

    </div><!-- #header-nav-right -->
</template>
<script>
import config from '../config.json'
export default {
    data () {
      return {
        is_jd_application: this.$session.get('is_jd_application')
      }
    },
    methods: {
      download : function(){
          this.$http.post('http://192.168.2.134:8081/download', {
            "service": "download",
             "source": {
               "org":"Essentio",
               "user": "smitak099@gmail.com",
                "queue":"AJG",
                "phone": "9819152408"
                }
            },{
          headers: {
            'Content-Type': 'application/json'
          }
        }).then(response => {
            window.location.href ="http://192.168.2.134:8081"+ response.data.file_path
            console.log('in 1st res')
            console.log(response)
        },response => {
            //window.location.href ="http://192.168.2.134:8081/download/test.txt"
        console.log('in 2nd res')
        console.log(response.status)
        }).catch(e=> {
            console.log('error')
            console.log(e)
        })
    },
    EdcPortal:function(){
        // this.$session.start()
        // var Authorization = this.$session.get('access_token')
        // this.$http.post( config.AUTO_ENV + '/close_connection',{
        //     'ds_id':this.$session.get('datasource_id'),
        //     'job_id':this.$session.get('job_id'),
        //     'tr_id':this.$session.get('tr_id'),
        //     'dest_queue':this.$session.get('dest_queue')
        // },{
        //     headers: {
        //       'Authorization': Authorization,
        //       'Content-Type': 'application/json'
        //     }
        //   }).then(response => {
        //     var data = JSON.parse(response.bodyText)
        //     if (data === 'success') {
        //       this.is_jd_application = this.$session.set('is_jd_application','false')
        //       window.location.href = "/dashboard"
        //     }  
        //     },response => {
        //       var data =JSON.parse(response.bodyText)
        //       if(data.message === "session_expired"){
        //       this.$session.destroy()
        //       // this.SessionCheck()
        //       } else {
        //       this.ShowErrorMessage=true
        //       this.ErrorTitle=data.message
        //       this.ErrorMessage=data.error
        //       }
        //     }).catch(e => {
        //     this.ShowErrorMessage=true
        //     this.ErrorTitle='Error Occured'
        //     this.ErrorMessage='Something went wrong.Try Again'
        //   }) 
        this.is_jd_application = this.$session.set('is_jd_application','false')
        window.location.href = "/dashboard"    
    }
    }
}
</script>