<template>
  <div class="RegisterForm" id="Register">
    <div class="center-vertical center_div">
      <div class="center-content row">
        <div class="example-box-wrapper col-sm-12">
        <div class="row clearfix">
        <div class="col-sm-6 col-sm-offset-3">
          <form @submit.prevent="validateBeforeSubmit" class="form-horizontal bordered-row center-margin" id="register-form" autocomplete = 'off'>
            <div class="bg-default content-box text-center pad20A mrg25T">
              <div id="form" class="content-box bg-default">
                <div class="content-box-wrapper pad20A">
                <img class="mrg25B center-margin radius-all-100 display-block" src="../assets/image-resources/erpdatac.jpg" alt="">
                  <div id="ShowMessages" v-if="ShowSuccessMessage || ShowErrorMessage">
                    <div class="example-box-wrapper" v-if="ShowSuccessMessage">
                      <div class="alert alert-close alert-success">
                        <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('success')"></a>
                        <div class="bg-green alert-icon">
                          <i class="glyph-icon icon-check"></i>
                        </div>
                        <div class="alert-content">
                          <h4 class="alert-title">{{successMessage}}</h4>
                          <p>{{successMessageTitle}} </p>
                        </div>
                      </div>
                    </div>
                    <div class="alert alert-danger" v-if="ShowErrorMessage">
                      <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('error')"></a>
                      <!-- <div class="bg-red alert-icon">
                            <i class="glyph-icon icon-times"></i>
                          </div> -->
                      <div class="alert-content">
                        <h4 class="alert-title">{{ErrorTitle}}</h4>
                        <p>{{ErrorMessage}}</p>
                      </div>
                    </div><!-- end of show error message -->
                    <div class="row">
                          <div class="form-group  float:left">
                          <div class="input-group">
                            Already have an account? <a href="javascript:;" v-on:click="loginpage">Login </a>
                          </div>
                        </div>
                    </div>
                  </div>
                  <div class="form-group" v-show="!ShowSuccessMessage && !ShowErrorMessage">
                    <div class="input-group">
                      <span class="input-group-addon  bg-gray">
                        <i class="glyph-icon icon-building-o"></i>
                      </span>
                      <input tabIndex="1" type="text" name="Company" v-validate="'required'" v-model="collection.form.client_name" id="com" placeholder="Company Name"  class="form-control ">                          
                      <i class="loader fa-li fa fa-spinner fa-spin" v-if="processing"></i>
                    </div>
                    <span v-show="errors.has('Company')" class="help cr-red is-danger">{{ errors.first('Company') }}</span>
                  </div>

                  <!-- <div v-show="companymessage">
                    <p>Company Name already registered, For More Information Please provide official Email ID</p>
                    
                    <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon  bg-gray">
                        <i class="glyph-icon icon-envelope-o"></i>
                      </span>
                      <input  type="text" placeholder="Email" v-model="collection.form.email" class="form-control">                          
                    </div>
                    <div id="email-error"></div>
                    </div>

                    <div class="row">
                    <div class="form-group col-md-push-4 col-xs-4">
                      <div class="input-group">
                        <button class="btn btn-primary" type="button" @click="sendCompanyInfo()" name="Send" >Send</button>
                      </div>
                    </div>&nbsp
                  </div>

                  </div> -->

                  <div v-show="!ShowSuccessMessage && !ShowErrorMessage">
                  <div class="form-group">
                    <div class="input-group">
                      
                      <div class="col-md-6 leftPadding0">
                        <div class="input-group">
                          <span class="input-group-addon  bg-gray">
                            <i class="glyph-icon icon-user"></i>
                          </span>
                          <input type="text" tabIndex="2" name="First Name" v-validate="'required'" placeholder="First Name" v-model="collection.form.first_name" class="form-control">
                        </div>
                        <span v-show="errors.has('First Name')" class="help cr-red is-danger">{{ errors.first('First Name') }}</span>
                        <!--<div id="firstname-error"></div>-->
                      </div>

                      <div class="col-md-6 rightPadding0">
                        <div class="input-group">
                         <span class="input-group-addon  bg-gray">
                            <i class="glyph-icon icon-user"></i>
                          </span>
                          <input type="text" tabIndex="3" name="Last Name" v-validate="'required'" placeholder="Last Name" v-model="collection.form.last_name"  class="form-control">
                        </div>
                        <span v-show="errors.has('Last Name')" class="help cr-red is-danger">{{ errors.first('Last Name') }}</span>
                        <!--<div id="lastname-error"></div>-->
                      </div>

                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon  bg-gray">
                        <i class="glyph-icon icon-envelope-o"></i>
                      </span>
                      <input tabIndex="4" name="Email" v-validate="'required|email'" type="text" placeholder="Email" v-model="collection.form.email"  class="form-control">                          
                    </div>
                    <span v-show="errors.has('Email')" class="help cr-red is-danger">{{ errors.first('Email') }}</span>
                    <!--<div  id="email-error" class="parsley-errors-list filled" v-if="emailmessage">
                      <p class="parsley-required">{{emailmessage}}</p>       |isExist
                    </div> -->
                    <div id="email-error"></div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon  bg-gray">
                          <i class="glyph-icon icon-phone"></i>
                      </span>
                      <!-- We have "validate-number" validator to validate phone number -->
                      <input type="text" id="phone" name="Phone" v-validate="'required'" tabIndex="5" class="phoneAllignment" v-input-mask >
                    </div>
                    <span v-show="errors.has('Phone')" class="help cr-red is-danger">{{ errors.first('Phone') }}</span>
                    <!--<div id="phone-error" class="parsley-errors-list filled parsley-required">
                    </div>-->
                  </div>                      
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon  bg-gray">
                          <i class="glyph-icon icon-key"></i>
                      </span>
                    <!--  <input type="password" tabIndex="6" name="password" v-validate="'required|min:8'" placeholder="Enter password" id="ps1" v-model="collection.form.password" class="form-control" v-on:keyup="AttachStrength()"  data-indicator="pwindicator">                     
                    -->
                    <vue-password v-model="collection.form.password" tabIndex="6" name="password" v-validate="'required|min:8'" placeholder="Enter password" classes="input"></vue-password>
                    <!-- <password v-model="collection.form.password"> </password> -->
                    </div>
                    <span v-show="errors.has('password')" class="help cr-red is-danger">{{ errors.first('password') }}</span>
                    <div id="strengthcontainer">
                    
                    </div> 
                    <div id="password-error"></div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon  bg-gray">
                          <i class="glyph-icon icon-key"></i>
                      </span>
                      <input type="password" tabIndex="7" placeholder="Confirm Password" name="Confirm Password" v-validate="'required|confirmed:password'" class="form-control">   
                    </div>
                    <span v-show="errors.has('Confirm Password')" class="help cr-red is-danger">{{ errors.first('Confirm Password') }}</span>
                    <div id="repassword-error"></div>
                  </div>
                  <div class="form-group">
                    <div>
                      <div class="checkbox">
                          <label class="leftFloat">
                              <input type="checkbox" tabIndex="8" v-validate="'required'" name="Terms and condition">
                              I agree erpdata.cloud’s Terms and condition.
                          </label>
                      </div>
                      <span v-show="errors.has('Terms and condition')" class="help cr-red is-danger">{{ errors.first('Terms and condition') }}</span>
                    </div>
                    <div id="acceptance-error"></div>
                  </div>
                  <!-- <div v-if="check" class="loading-spinner">
                    <i class="bg-azure"></i>
                    <i class="bg-azure"></i>
                    <i class="bg-azure"></i>
                    <i class="bg-azure"></i>
                    <i class="bg-azure"></i>
                    <i class="bg-azure"></i>
                  </div> -->
                  <div class="row">
                    <div class="form-group col-md-push-4 col-xs-4">
                      <div class="input-group">
                      <vue-ladda name="vue-ladda" :loading="button.loading" :data-style="button.dataStyle"
                       style="background: #00bca4;" :progress="button.progress" 
                        data-style="expand-left">Register</vue-ladda>
                      </div>
                    </div>&nbsp
                  </div>
                  
                  <div class="row">
                  <div class="form-group  float:left">
                    <div class="input-group">
                      Already have an account? <a href="javascript:;" v-on:click="loginpage">Login </a>
                    </div>
                  </div>
                </div>
                </div><!--End Of company Checkpoint -->

                </div>
              </div>
            </div>
          </form>
          </div>
          </div>
        </div>
      </div>      
    </div>
    <div id="pwindicator">
      <div class="bar col-md-6"> </div>
      <div class="label labelsize"></div>
        </div>
  </div>
</template>

<script>
var logjson = require('../logdata.json')
import login from './login.vue'
import apptoken from '../apptoken.json'
import config from '../config.json'
import getIPaddress from '../methods/getIPaddress'
import saveLog from '../methods/saveLog'
import  loginScreen from '../methods/loginPage'
import { post as postToServer } from '../methods/serverCall'
import validateNumber from '../validator/validateNumber'
  export default {
    name: 'form-example',
    data: () => ({
      starttime:'',
      processing:false,
      companymessage: '',
      emailmessage:'',
      ipaddress:'',
      ShowSuccessMessage: false,
      successMessage:'',
      successMessageTitle:'',
      ShowErrorMessage:false,
      ErrorTitle:'',
      ErrorMessage:'',
      btnDisabled:false,
      check:false,
      button:{
        "loading":false,
        "dataStyle":"expand-left",
        "progress":0
      },
      collection: {
        form: {
          client_name: '',
          email: '',
          first_name: '',
          last_name:'',
          phone: '',
          password: ''
        }
      }
    }),
    mounted () {
      var current = this;
      this.$validator.extend('validate-number', validateNumber);
      this.$validator.extend('isExist', {
          getMessage(field, args) {
              return `Email Already Exist`
          },
          validate(value, [limit]) {
              return current.$http.get(config.ACCOUNT_REGISTRATION_URL + '/userexists/' + value, { headers: { 'Authorization': apptoken.APP_TOKEN } }).then(response => {
                 response = JSON.parse(response.bodyText);
                 var result =  response.message == "User name aleready exists" ? false : true ;
                 return {
                   valid : result
                 }  
              }).catch(e => {
                  this.errorLogger(logjson, e, this.starttime)
                  return true;
                  console.log(e)
              })
          }
      });

      if(this.$cookies.isKey('token_expired')){
        this.$cookies.remove('token_expired')
        // alert('Session got expired,Please login again')
        this.ShowSuccessMessage = false;
        this.ShowErrorMessage = true
        this.ErrorTitle = 'Token expired'
        this.ErrorMessage = 'Token expired. PLease register again.'
      }
       $("#phone").intlTelInput({
          initialCountry: "auto",
          geoIpLookup: function(callback) {
          $.get('https://ipinfo.io', function() {}, "jsonp").always(function(resp) {
            var countryCode = (resp && resp.country) ? resp.country : "";
            callback(countryCode);
          });
        },
        utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/12.1.6/js/utils.js"
      })
      // this.ipaddress = getIPaddress(this);
      getIPaddress(this).then(response=>{
        this.ipaddress = response;
      });
      $('#ps1').pwstrength()
      $("#phone").on("countrychange", function (e, countryData) {
        $("#phone").val('')
        var placeholder = $("#phone").attr('placeholder').replace(/[0-9]/g, 0);
        $("#phone").mask(placeholder)
      })
    },
    methods: {
      sendCompanyInfo(){
        if(!this.collection.form.email){
          this.ErrorTitle='Invalid Email'
          this.ErrorMessage='Please Provide Email ID'
          this.ShowErrorMessage = true;
          this.ShowSuccessMessage = false;
          return;
        }
        var baseUrl = config.ACCOUNT_REGISTRATION_URL;
        var endPoint = baseUrl+'/rest/ClientService/send_mail';
        var inputJson = {
              "client_name":	this.collection.form.client_name,
              "email_id":this.collection.form.email
            }

        var that = this;

        //  this.$http.post(config.ACCOUNT_REGISTRATION_URL+'/rest/ClientService/send_mail', inputJson, {
        //       headers: {
        //         'Authorization': apptoken.APP_TOKEN,
        //         'Content-Type': 'application/json'
        //       }
        //     }).then(response => {
        postToServer(this, endPoint, inputJson).then(response=>{
           response =JSON.parse(response)
           if(response.status == "success"){
              this.ShowErrorMessage = false;
              this.ShowSuccessMessage =true;
              this.successMessage='Success!';
              this.successMessageTitle= response.message;   
           }else{
             this.ShowErrorMessage = true;
             this.ShowSuccessMessage =false;
             this.ErrorTitle='Invalid Email'
             this.ErrorMessage=response.message
           }
          //  console.log(response);
        },response => {
          var data =JSON.parse(response)
          if(data.message === "session_expired"){
            that.$session.destroy()
            sessionCheck(that);
          } else {
          that.ShowErrorMessage=true
          that.ShowSuccessMessage = false;
          that.ErrorTitle=data.message
          that.ErrorMessage=data.error
          }
        }).catch(e => {
          that.ShowErrorMessage=true
          that.ShowSuccessMessage = false;
          that.ErrorTitle='Error Occured'
          that.ErrorMessage='Something went wrong.Try Again'
        });
      },
      AttachStrength(){
        if($('#strengthcontainer').is(':empty')) {
          $( "#pwindicator" ).appendTo( "#strengthcontainer");
        }
        else{
          if(this.collection.form.password==='') {
            $( "#pwindicator" ).removeClass()
            $( "#pwindicator" ).removeAttr('class')
          }
        }
      },
      validateBeforeSubmit () {
        this.button.loading = true;
        this.button.progress = 1;
         this.$validator.validateAll().then((result) => {
            if (result) {
              this.save()
            }else{
              this.button.loading = false;
              this.button.progress = 0;
            }
         });
      },   
      save () {
        this.ShowSuccessMessage = false
        this.ShowErrorMessage = false
        this.check = true
        this.starttime = Math.trunc((new Date()).getTime())
        this.collection.form.phone = $("#phone").intlTelInput("getNumber")
        // alert(this.collection.form.phone)
        console.log(this.collection.form)
        logjson.method = 'POST'
            this.$http.post(config.ACCOUNT_REGISTRATION_URL+'/rest/ClientService/register', this.collection.form, {
              headers: {
                'Authorization': apptoken.APP_TOKEN,
                'Content-Type': 'application/json'
              }
            }).then(response => {
              console.log(response)
              this.button.loading = false;
              this.check = false
              if (response.status == 200) {
                this.responseLogger(logjson,response,this.starttime) 
                this.btnDisabled = true
                this.ShowSuccessMessage =true
                this.successMessage='Success!';
                this.successMessageTitle= 'You are done. In order to access your account please click on the link sent to your registered email id';      
                // var currentDate = new Date()
                // var CurrentUTCDate = currentDate.toUTCString()
                // var ActivityMessage = 'New organisation name as ' + this.collection.form.client_name+' , with username '+this.collection.form.email+' get successfully registered in to the system at '+CurrentUTCDate
                // console.log(ActivityMessage)
                // var activity = {"org_id": data.clientid, 
                //                 "org": this.collection.form.client_name,
                //                 "user_id": data.user_id,
                //                 "username": this.collection.form.email,
                //                 "service_id": config.SERVICE_ID,
                //                 "ipaddress": this.ipaddress,
                //                 "datetime": CurrentUTCDate,
                //                 "browser_agent": navigator.userAgent,
                //                 "msg": ActivityMessage}
                // console.log("activity")
                // console.log(activity)
                // saveLog(this, activity);
              }
              //   this.ErrorMessage=response.bodyText
            // this.$router.push('/login')
          },response => {
                // console.log('2nd responsssse')
                this.check = false;
                this.button.loading = false;
                var data = JSON.parse(response.bodyText)
                // console.log(data)
                this.btnDisabled = false;
                this.ShowErrorMessage = true;
                this.ErrorMessage=data.message;
                // this.ErrorTitle=data.message;
              })
              .catch(e => {
                  console.log('error from register');
                  this.check = false;
                  this.button.loading = false;
                  this.errorLogger(logjson,e,this.starttime)
                  console.log(e)
                  this.btnDisabled = false
                  this.ShowErrorMessage=true
                  this.ErrorTitle='Error Occurred'
                  this.ErrorMessage='Something went wrong.Please try again'
              })
            // return
      },

      loginpage(){
        loginScreen()
      },
      companycheck () {
        this.processing = true;
        this.starttime = Math.trunc((new Date()).getTime())
        logjson.method = 'GET'
        console.log('we reached companycheck')
        this.$http.get(config.ACCOUNT_REGISTRATION_URL+'/rest/ClientService/exists/' + this.collection.form.client_name,{headers: {'Authorization': apptoken.APP_TOKEN}}).then(response => {
        this.processing=false;
        this.responseLogger(logjson,response,this.starttime)    
          var data = JSON.parse(response.bodyText)
          console.log(data.exists)
          if (data.exists === 1) {
            this.companymessage = 'company name already exist'
          } else {
            this.companymessage = ''
          }
        })
          .catch(e => {
            this.processing=false;
            // var data = JSON.parse(e.bodyText)
            // this.errorLogger(logjson,e,this.starttime)
            console.log(e)
          })
      },
      emailcheck () {
        this.starttime = Math.trunc((new Date()).getTime())
        logjson.method = 'GET'
        this.$http.get(config.ACCOUNT_REGISTRATION_URL+'/userexists/' + this.collection.form.email,{headers: {'Authorization': apptoken.APP_TOKEN}}).then(response => {
          console.log(response)
          // this.LoggerData(logjson)
          this.responseLogger(logjson,response,this.starttime)    
          var data = JSON.parse(response.bodyText)
          console.log(data)
          if (data.status === 1) {
            this.emailmessage = 'email already exist'
          } else {
            this.emailmessage = ''
          }
        }).catch(e => {
            this.errorLogger(logjson,e,this.starttime)
            console.log(e)
          })
      },
      MessageClosed(MessageType){
        console.log('we are in messages')
        console.log(MessageType)
        if(MessageType === 'success') {
          window.location.href = "/"
        } else if (MessageType === 'error') {
          console.log('we are in error messages')
          window.location.href = "/register"
          // this.btnDisabled = false
          // this.ShowErrorMessage=false
          // this.ErrorTitle=''
          // this.ErrorMessage=''
        }
      },
    },
     components: {
      login
    }
  }

 </script>
<style scopped>
.loader{
    top: 11px;
    left: 95%;
    z-index: 2;
    /* right: 1px; */
}
.VuePassword__Toggle__Icon{
    position: absolute;
    right: 10px;
}
.VuePassword__Message{
display: none !important;
}
</style> 
