
<template >
  <div id="page-title"> <BreadCrumbs></BreadCrumbs>
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Json Log</h4>
          </div>
          <div class="modal-body">
            <pre>
              <div v-html="collections.singleLogStash"></div>
            </pre>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

      <!-- <h2>Streamer</h2> -->

      <!-- <p>The most complete user interface framework that can be used to create stunning admin dashboards and presentation websites.</p> -->

      <div class="panel">
        <div class="ribbon ribbon-tr">
          <div class="bg-primary" id="logCount">{{collections.logCount}}</div>
        </div>
              <div class="panel-body">
                <!-- Modal -->
                    <h3 class="title-hero">Live Log Stream
                      <button class="btn ra-100 btn-success growl-start" v-on:click="on_start"><i class="glyph-icon icon-play"></i> Start</button>
                      <button class="btn ra-100 btn-danger" v-on:click="on_stop"><i class="glyph-icon icon-stop"></i> Stop</button>
                      <button class="btn ra-100 btn-azure" v-on:click="on_refresh"><i class="glyph-icon icon-refresh"></i> Refresh</button></h3>
                    <div class="col-sm-12">
                      <form class="form-horizontal bordered-row">
                        <div class="form-group">
                        <div class="col-sm-3">
                        <select class="form-control"  v-model="collections.log">
                          <option value="" disabled>Select field to search</option>
                          <option value="1">Category</option>
                          <option value="2">Severity</option>
                          <option value="3">Service</option>
                          <option value="4">IP Port</option>
                          <option value="5">Domain</option>
                          <option value="6">User</option>
                          <option value="7">Organisation</option>
                          <option value="8">Method</option>
                          <option value="9">Runtime</option>
                        </select>
                        </div>
                            <div class="col-sm-3">
                                <input type="text" class="form-control"   id="search_key" name="every"  placeholder="Enter search key" >
                            </div>
                        </div>
                      </form>
                    </div>
              </div>
          </div><!-- panel body-->
          <div class="panel">
              <div class="panel-body">
                  <div class="example-box-wrapper">
                    <table class="table table-striped table-bordered" id="Streamv1" style="box-sizing:border-box;">
                          <thead></thead>
                          <tbody></tbody>
                      </table>
                      <simplert :useRadius="true"
                        :useIcon="true"
                        ref="simplert">
                      </simplert>
                  </div>
              </div>
          </div>
  </div>

</template>

<script>
import Simplert from 'vue2-simplert'
import BreadCrumbs from './Breadcrumbs.vue'
export default{
  components: {
    Simplert,
    BreadCrumbs
  },
  data () {
    return {
      collections: {
        singleLogStash: '',
        log: '',
        logCount: 0,
        stream : 1,
      },
      ws: null,
      table: null
    }
  },
  created(){
    this.web_connect();
    this.getLogStashData();
  },
  mounted () {
    var self = this;
    this.table = $('#Streamv1').dataTable({"paging": true,
    "scrollY": "600px",
    "scrollX": "98%",
    "lengthChange": true,
    "searching": true,
    "ordering": true,
    "order": [[ 0, "desc" ]],
    "info": true,
    "autoWidth": true,
    "data": [],
    "columns": [{
      "title": "Timestamp",
      "data": "req.time"
    },{
        "title": "Cat",
        "data": "req.cat"
        }, {
        "title": "Severity",
        "data": "req.severity"
      }, {
          "title": "Service",
          "data": "req.source.service_id"
      }, {
          "title": "IP : Port",
          "data": "req.source.ipport"
      }, {
          "title": "Domain",
          "data": "req.source.domain"
      }, {
          "title": "User",
          "data": "req.source.user"
      }, {
          "title": "Organisation",
          "data": "req.source.org"
      }, {
          "title": "Method",
          "data": "req.method"
      }, {
          "title": "Runtime",
          "data": "req.runtime"
      }
    ]
    });

   $("#search_key").keyup( function() { self.fnFilterColumn( 1 );
    } );
    $('#Streamv1 thead tr#filterrow th').each( function () {
       var title = $('#Streamv1 thead th').eq( $(this).index() ).text();
       $(this).html( '<input type="text" onclick="stopPropagation(event);" placeholder=" " />' );
   } );
   this.table.fnAdjustColumnSizing();
    $('.dataTables_filter input').attr("placeholder", "Search...");
    this.getLogStashData()
    $('#Streamv1 tbody').on( 'click', 'tr', function (e) {
        self.openModal(JSON.stringify(self.table.fnGetData(this)))
      });
    $('#Streamv1 tbody').on('mouseenter', 'tr', function() {$(this).toggleClass('tr-selected');});
    $('#Streamv1 tbody').on('mouseleave', 'tr', function() {$(this).toggleClass('tr-selected');});
    this.table.fnFilter('info',2)
  },
  methods: {
    fnFilterColumn(){
      var self = this
      console.log(self.collections.log);
      this.table.fnFilter($('#search_key').val(), self.collections.log );
    },
    on_start(){
      var self = this;
      this.web_connect();
      $.jGrowl("Streaming Started", {
              sticky: false,
              position: 'top-right',
              theme: 'bg-blue-alt'
      });
    },
    on_stop(){
      var self = this;
      this.collections.stream = 0;
      this.ws.close();
      $.jGrowl("Stream stopped!!", {
              sticky: false,
              position: 'top-right',
              theme: 'bg-red'
      });
    },
    on_refresh(){
      var self = this;
      this.table.fnClearTable();
      $.jGrowl("Stream refreshed", {
              sticky: false,
              position: 'top-right',
              theme: 'bg-azure'
      });
    },
    web_connect(){
       var self = this;
        console.log("Connecting");
        this.ws = new WebSocket("ws://magellan-logger.clu.pw/streamer");
        this.ws.onopen = function(){
          $.jGrowl("Stream connection!", {
              sticky: false,
              position: 'top-right',
              theme: 'bg-blue'
          });
          console.log("connected");
        };
        this.ws.onclose = function(){
          $.jGrowl("Stream connection error!", {
              sticky: false,
              position: 'top-right',
              theme: 'bg-red'
          });
            console.log("connection lost");
            if(self.collections.stream==1){
            setTimeout(function(){ self.web_connect();
            }, 5000);
          }
        };
        this.ws.onerror = function(){
          $.jGrowl("Stream connection lost!", {
              sticky: false,
              position: 'top-right',
              theme: 'bg-red'
          });
            console.log("connection error");
            setTimeout(function(){self.web_connect()}, 5000);
        };
    },
    openModal(data) {
      $('#myModal').modal();
      data = this.syntaxHighlight(data);
      this.collections.singleLogStash = data;
    },
    getLogStashData(){
      this.ws.onmessage = (ev) =>{
        console.log(ev.data);
        //this.log.unshift(ev.data);
        this.table.fnAddData(JSON.parse(ev.data));
        this.collections.logCount = this.collections.logCount + 1;
      };
    },
    syntaxHighlight(json) {
        json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
        return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
            var cls = 'number';
            if (/^"/.test(match)) {
                if (/:$/.test(match)) {
                    cls = 'key';
                  } else {
                      cls = 'string';
                  }
              } else if (/true|false/.test(match)) {
                cls = 'boolean';
            } else if (/null/.test(match)) {
                cls = 'null';
            }
            if (cls =='key') { return '<span class="' + cls + '">' + match + '</span>'; }
            else return '<span class="' + cls + '">' + match + '</span><br/>';
        });
    }
    }
  }
</script>
<style lang="css">
.modal-enter .modal-backdrop, .modal-leave .modal-backdrop {
      opacity: 0 !important;
      position: "relative"  ;
  }
pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }
</style>
