<template>
  <div>
	  <BreadCrumbs></BreadCrumbs>
			  <div class="panel">
				<div class="panel-body">
					<h3 class="title-hero">
					  Manage Profile
					</h3>
					<div class="example-box-wrapper">

					   <div class="alert alert-danger" id="error" v-if="IsErrorOccurred">
								<div class="bg-red alert-icon">
									<i class="glyph-icon icon-times"></i>
								</div>
								<div class="alert-content">
									<h4 class="alert-title">{{ ErrorHeader }}</h4>
									<p>{{ ErrorMessage }}</p>
								</div>
							</div>
							<font color="red">*All fields are Required</font>

						<form @submit.prevent="validateBeforeSubmit" enctype="multipart/form-data" class="form-horizontal bordered-row" data-parsley-validate="" id="managemypro">
							<div class="form-group">
								<label class="col-sm-3 control-label">First Name</label>
								<div class="col-sm-4">
									<input type="text" id="name" name="name" class="form-control popover-button-default" placeholder="Enter Name" data-content=" 1) Only alphanumeric text allowed expect underscore[_]" title="Rules" data-trigger="focus" data-placement="top" data-parsley-type="alphanum" v-model="collection.form.name" required>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Last Name</label>
								<div class="col-sm-4">
									<input type="text" id="lastName" name="lastName" class="form-control popover-button-default" placeholder="Enter Last Name" data-content=" 1) Only alphanumeric text allowed expect underscore[_]" title="Rules" data-trigger="focus" data-placement="top" data-parsley-type="alphanum" v-model="collection.form.lastName" required>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Email</label>
								<div class="col-sm-4">
									<input disabled type="email" id="username" name="username" class="form-control popover-button-default" placeholder="Enter Email" data-trigger="focus" data-placement="top" data-parsley-type="alphanum" v-model="collection.form.username" required>
									<p class ="text-danger" v-if="msg">{{msg}}</p>
								</div>
							</div>
							<!-- <div class="form-group" id="passworddiv">
								<label class="col-sm-3 control-label">Password</label>
								<div class="col-sm-4">
								  <input id="password" name="password" v-model="collection.form.password" v-validate="'required|confirmed:password_confirmation'" :class="{'input': true, 'is-danger': errors.has('password') }" type="password" placeholder="Password" required>
								</div>
							</div> -->
							<!-- <div class="form-group" id="passwordcondiv">
							  <label class="col-sm-3 control-label">Confirm Password</label>
							  <div class="col-sm-4">
								<input id="password_confirmation" name="password_confirmation" v-model="collection.form.c_password" :class="{'input': true, 'is-danger': errors.has('password_confirmation') }"type="password" placeholder="Confirm your Password">
								<i v-show="errors.has('password')" class="fa fa-warning"></i>
								<span v-show="errors.has('password')" class="help is-danger">These passwords don't match. Try again?
								</span>
							  </div>
							</div> -->
							<!-- <div class="form-group">
								<label class="col-sm-3 control-label">Active</label>
								<div class="col-sm-4">
									<input type="checkbox" id="checkbox" v-model:value="collection.form.checkbox">
								</div>
							</div> -->
							<div class="form-group">
								<label class="col-sm-3 control-label">Time Zone</label>
								<div class="col-sm-4">
								  <select placeholder="Please select one" v-model="collection.form.time_zone_preference" class="form-control">
									<option value="" disabled>Please select one</option>
									<option v-for="(tz, index) in tzs" v-bind:key="index"  v-bind:value="tz.value">   {{tz.text}} </option>
								  </select>
								</div>
							</div>

						  <div class="form-group">
							<div class="col-sm-6">
							  <button type="submit" name="submit" class="btn success">Save</button>
							  <button type="button" name="cancel" class="btn success" href="javascript:;" v-on:click="showConfirmCancelAlert()">Cancel</button>
							</div>
						  </div>
						</form>
						<simplert :useRadius="true"
						:useIcon="true"
						ref="simplert">
					  </simplert>
					</div>
				</div>
			  </div>
  </div>
</template>
<script>
  import config from '../config.json'
  import Simplert from 'vue2-simplert'
  import BreadCrumbs from './Breadcrumbs.vue'
  var moment = require("moment-timezone");
  export default {
	components: {
	  Simplert,
	  BreadCrumbs
	},
	data () {
	  return {
		  collection:{
			  form:{
				username: '',
				name: '',
				lastName: '',
				checkbox: false,
				// password: '',
				// c_password: '',
				time_zone_preference: ''
			  }
		  },
		client: {},
		tzs:[{"value":"UTC","text":"UTC"}],
		msg: '',
		password: '',
		IsErrorOccurred: false,
		ErrorHeader: '',
		ErrorMessage: '',
		role: '',
		isupdate: true,
		CurrentUsername:''
		// isLoggedIn: this.$session.exists()
	  }
	},
	mounted () {
	  $('#managemypro').parsley()
	  if (this.$route.params.userid) {
		this.getUserByid()
		this.isupdate = false
	  }

	  // var timezone = moment.tz.names();
	  // for (var i = 0; i < timezone.length; i++) {
	  // var tz={};
	  // tz.value=timezone[i];
	  // tz.text=timezone[i];
	  // this.tzs.push(tz);
	  // }
	  var now = moment.utc();
// get the zone offsets for this time, in minutes
var UtcOffset = moment.tz.zone("UTC").offset(now); 


  var timezone = moment.tz.names();
  
   for (var i = 0; i < timezone.length; i++) {
   var tz={};
   var TzOffset=moment.tz.zone(timezone[i]).offset(now); 
   var hrs=(TzOffset -UtcOffset) / 60;
   var hrs_unsigned=Math.abs(hrs);
   var hr=Math.floor(hrs_unsigned);
   var min=(hrs_unsigned-hr)*60;
   if(hrs_unsigned!=0)
   hr=hr*(hrs/hrs_unsigned);
   tz.value=timezone[i];

   tz.text=timezone[i]+" ("+hr+":"+min+" UTC)";
   var array = $.grep(this.tzs, function(value) {
	return value.text.indexOf(" ("+hr+":"+min+" UTC)") >= 0;
	});
   if(array.length<=0)
   this.tzs.push(tz);
   }

	},
	methods: {
	  validateBeforeSubmit (e) {
		var instance = $('#managemypro').parsley()
		if (instance.isValid()) {
		  this.save()
		}
	  },
	  emailcheck () {
		console.log('emailcheck reached')
		console.log(this.CurrentUsername);
		var Authorization = this.$session.get('access_token')
		if (this.CurrentUsername != this.collection.form.username) {
		this.$http.get(config.USER_PROVISION_URL+'/userexists/' + this.collection.form.username,{
		  headers: {
			'Authorization':Authorization
		  }
		}).then(response => {
		  var emailcheckdata = JSON.parse(response.bodyText)
		  if (emailcheckdata.status === 1) {
			this.msg = 'Email already exists'

		  }
		  else {
			this.msg = ''
		  }
		  console.log(emailcheckdata.exists);
		})
		  .catch(e => {
			console.log('error');
			console.log(e)
		  })
	  }else {
		this.msg=''
	  }
	},
	  getUserByid () {
		this.Organization = this.$session.get('user_id')
		var Authorization = this.$session.get('access_token')
		this.$http.get(config.USER_PROVISION_URL + '/get_user_by_id/' + this.$route.params.userid,
		  {
			headers: {
			  'Authorization': Authorization,
			  'Content-Type': 'application/json'
			}

		  }).then(response => {
			var data = JSON.parse(response.bodyText)
			if (response.status === 200) {
			  console.log(data)
			  this.collection.form.username = data.username
			  this.collection.form.name = data.first_name
			  this.collection.form.lastName = data.last_name
			  this.CurrentUsername = data.username
			  this.collection.form.time_zone_preference = data.time_zone_preference
			}
		  },response =>{
			var data = JSON.parse(response.bodyText)
			if(data.message === "session_expired"){
			  this.$session.destroy()
			  this.SessionCheck()
			}
		  }).catch(e => {
			console.log('ERROR occured')
			console.log(e)
		  })
	  },
	  updateUserData () {
		console.log('IN UPDATE USER')
		this.IsErrorOccurred = false
		var Authorization = this.$session.get('access_token')
		var clientId = this.$session.get('client_id')
		this.$http.post(config.USER_PROVISION_URL + '/update_user', {
		  'username': this.collection.form.username,
		  'client_id': clientId,
		  'first_name': this.collection.form.name,
		  'last_name': this.collection.form.lastName,
		  // 'password': this.collection.form.password,
		  'userid': this.$route.params.userid,
		  'full_name': this.collection.form.name + ' '+this.collection.form.lastName,
		  'time_zone_preference': this.collection.form.time_zone_preference,
		}, {
		  // emulateJSON: true,
		  headers: {
			'Authorization': Authorization,
			'Content-Type': 'application/json'
		  }
		}).then(response => {
		  var data = JSON.parse(response.bodyText)
		  console.log(data)
		  if (response.status === 200) {
			this.$session.set('user_name', this.collection.form.name + ' ' + this.collection.form.lastName)
			this.$session.set('email', this.collection.form.username)
			this.$session.set('time_zone_preference', this.collection.form.time_zone_preference)
			window.location.href = "/dashboard"
		  } else {
			console.log(data)
			this.IsErrorOccurred = true
			this.ErrorHeader = data.message
			this.ErrorMessage = data.error
		  }
		},(response) => {
			console.log(response)
			var data = JSON.parse(response.bodyText)
			if(data.message === "session_expired"){
			  this.$session.destroy()
			  this.SessionCheck()
			}
			this.IsErrorOccurred = true
			this.ErrorMessage = data.message
		  }).catch(e => {
		  console.log('error occured')
		  console.log(e)
		})
	  },
	  save () {
		if (this.$route.params.userid) {
		  this.updateUserData()
		} else {
		  this.saveUserData()
		}
	  },
	  showConfirmCancelAlert () {
		let confirmFn = function () {
		  this.$router.push('/dashboard')
		}
		let obj = {
		  title: 'Cancel',
		  message: 'Are you sure want to Cancel?',
		  type: 'info',
		  useConfirmBtn: true,
		  onConfirm: confirmFn
		}
		this.$refs.simplert.openSimplert(obj)
	  }
	}
}
</script>
