.RegisterForm .leftPadding0 {
    padding-left: 0px;
}

.RegisterForm .rightPadding0 {
    padding-right: 0px;
}

.RegisterForm .phoneAllignment {
    align: left;
    width: 100%;
    padding-left: 35px;
    border: 0px
}

.RegisterForm .leftFloat {
    float: left;
}

.RegisterForm .labelsize {
    font-size: 14px;
    font-family: arial;
}


/* ********************* Fixed Header table */

.fixedHeader table {
    table-layout: fixed;
    margin: auto;
}

.fixedHeader thead,
tfoot {
    background: #f9f9f9;
    display: table;
}

.fixedHeader tbody {
    height: 300px;
    overflow: auto;
    overflow-x: hidden;
    display: block;
    width: 100%;
}

.fixedHeader tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}


/* ***************END******************** */

.fs-20 {
    font-size: 20px;
}

.cr-red {
    color: red
}