<template lang="html">
    <div>
        <div class="float-right">
            <button class="btn btn-default" id="start-page-tour" style="margin-bottom:2px; margin-top:3px;margin-right:5px;height:26px;padding:0px;background-color: rgb(80, 214, 24);color: rgb(250, 250, 250);width:100px;line-height:25px;font-size:15px" v-on:click="InitPageTour()">
            <i class="glyph-icon icon-lightbulb-o"></i> Start Tour
            </button>
        </div>
        <BreadCrumbs></BreadCrumbs> 
        <div>
            <ul class="nav-responsive nav nav-tabs">
                <li id="AccountManagementTab" class="active"><router-link to="/accountmanagement">Account Preferences</router-link></li>
                <li id="SubscriptionTab"><router-link to="/packages">Subscription</router-link></li>
                <li id="ActivityLogsTab"><router-link to="/activitylogs">Activity Logs</router-link></li>
                <li id="AuditorTab"><router-link to="#">Auditor</router-link></li>
            </ul>
        </div>
        <div class="panel">
            <div class="panel-body">
                <div id="ShowMessages">
                    <div class="example-box-wrapper" v-if="ShowSuccessMessage">
                        <div class="alert alert-close alert-success">
                            <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('success')"></a>
                            <div class="alert-content">
                                <h4 class="alert-title">Success</h4>
                                <p>Role get added successfully</p>
                            </div>
                        </div>
                    </div>
                
                    <div class="alert alert-danger" v-if="ShowErrorMessage">
                      <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('error')"></a>
                      <div class="alert-content">
                          <h4 class="alert-title">{{ErrorTitle}}</h4>
                          <p>{{ErrorMessage}}</p>
                      </div>
                    </div>
                </div>
                <div id="loadingSpinner" class="progress-overlay pad45A float_center">
                    <img src="../../assets/images/spinner/loader-dark.gif" alt="">
                </div>
                <div class="container">
                    <button type="button" name="update" id="edit" class="btn success right" data-dismiss="modal"  v-on:click="editAccountSettings">Edit</button>
                </div>
                <h3 class="left">Details</h3>
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="ShowData">
                    <tbody>
                        <tr>
                            <td>Organization</td>
                            <td>{{client.client_name}}</td>
                        </tr>
                        <tr>
                           <td>Account Creation Date</td>
                           <td>{{createDate}} {{GMTwithSelectedTimezone}} ({{preferences.date_format}})</td>
                        </tr>
                        <tr>
                           <td>Super Admin</td>
                           <td>{{superAdmin.full_name}}</td>
                        </tr>
                        <tr>
                           <td>Super Admin Email</td>
                           <td>{{superAdmin.username}}</td>
                        </tr>
                        <tr>
                            <td>Phone Number</td>
                            <td>{{client.phone}}</td>
                        </tr>
                    </tbody>
                </table>
                <h3>Preferences</h3>
                <br>
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="ShowPreferences">
                   <tbody>
                      <tr>
                         <td>Time Zone Preference</td>
                         <td>{{preferences.time_zone_preference}}</td>
                      </tr>
                      <tr>
                         <td>Date Format</td>
                         <td>{{preferences.date_format}}</td>
                      </tr>
                      <tr>
                         <td>User Email verification</td>
                         <td>{{preferences.user_email_verification?"Enabled":"Disabled"}}
                         </td>
                      </tr>
                      <!-- <tr>
                          <td>Job Calender Rules Allowed To Run</td>
                          <td>{{preferences.job_calender_rules_allowed?'Yes':'No'}}</td>
                      </tr> -->
                      <tr>
                         <td>Password Expires in</td>
                         <td>{{preferences.password_policy}} days</td>
                      </tr>
                      <tr>
                         <td>Minimum length of password</td>
                         <td>{{preferences.min_password_length}}
                         </td>
                      </tr>
                      <tr>
                         <td>Maximum length of password</td>
                         <td>{{preferences.max_password_length}}
                         </td>
                      </tr>
                      <tr>
                         <td>Max wrong password attempts</td>
                         <td>{{preferences.wrong_password_attempts}}</td>
                      </tr>
                      <tr>
                         <td>New password cannot be same as previous how many passwords</td>
                         <td>{{preferences.password_cannot_be_same_as_previous_n_passwords}}</td>
                      </tr>
                      <tr>
                         <td>Password must contain</td>
                         <td>{{preferences.password_must_contain_numeric?'Number,':''}}
                         {{preferences.password_must_contain_alphabates?'Alphabets,':''}}
                         {{preferences.password_must_contain_special_character?'Special Characters,':''}}
                         {{preferences.password_must_contain_lowercase?'Lower Case,':''}}
                        {{preferences.password_must_contain_uppercase?'Upper Case':''}}</td>
                      </tr>                      
                      <!-- <tr>
                         <td>Characters allowed in password</td>
                         <td>{{preferences.password_allow_numeric?'Numbers':''}}<br>
                         {{preferences.password_allow_alphabates?'Alphabets':''}}<br>
                         {{preferences.password_allow_special_character?'Special Characters':''}}</td>
                      </tr> -->                      
                   </tbody>
                </table>
                <h3> Products </h3>
                <br>
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="ShowProducts">
                    <tbody>
                        <tr>
                            <td>
                                <router-link to="/userList">User Provisioning</router-link>
                            </td>
                            <td>Manages Users and their roles</td>
                            <td>
                                <router-link to="/userList">
                                  User Guide
                                </router-link>
                            </td>
                        </tr>
                        <tr>
                          <td><router-link to="/Agent">Reporting</router-link></td>
                          <td>Viewing and Analysing Reports of JDE database </td>
                          <td>
                              <router-link to="/AgentGuide">
                                User Guide
                              </router-link>
                          </td>
                      </tr>
                    </tbody>
                </table>
            </div>         
        </div>
    </div>
</template>
<style type="text/css">
   .container{width:100%;}
.left{float:left;width:100px;}
.right{float:right;width:100px;}
.center{margin:0 auto;width:100px;}

</style>
<script>
import config from '../../config.json'
import Simplert from 'vue2-simplert'
import BreadCrumbs from '../Breadcrumbs.vue'
var moment = require("moment-timezone");
export default {
   components: {
      Simplert,
      BreadCrumbs
   },
   data() {
      return {
         client: [],
         createDate: "",
         createdBy: {},
         superAdmin: {},
         productList: [],
         reportUrl: '',
         preferences: {},
         no_client: "",
         GMTwithSelectedTimezone:"",
         Authorization: this.$session.get('access_token'),
         clientId: this.$session.get('client_id'),
         msg: '',
         ShowSuccessMessage: false,
         ShowErrorMessage:false,
         ErrorTitle:'',
         ErrorMessage:'',
      }
   },
   mounted() {
      $("#loadingSpinner").fadeOut();
      moment.locale('en')
      this.getClient()
      $("#ShowData").find("td:last-child").css("font-weight", "bold")
      $("#ShowPreferences").find("td:last-child").css("font-weight", "bold")
      $("#ShowProducts").find("td:last-child").css("font-weight", "bold")
      this.reportUrl = config.REPORT_URL + '/OauthRedirect?access_token=' + this.$session.get('access_token') + '&userId=' + this.$session.get('user_id') + '&clientId=' + this.$session.get('client_id')
   },
   methods: {
      SessionCheck () {
          this.isLoggedIn = this.$session.exists()
          if (this.isLoggedIn) {
              if (this.$cookies.isKey('Timeout')) { // check iscookie exists
                //  means session not yet get timeout
                //  so delete this cookie and again save new one.So timer will get reset
                this.$cookies.remove('Timeout')
                //  set new cookie with timeout. refresh timeout
                this.$cookies.set('Timeout', 'timeout', config.SESSION_TIMEOUT + 'min')
              } else {  // cookie not exist means session get timeout.So destroy the session manually
                this.$session.destroy()
                window.location.href = '/login'
              }
          } else { // session not exists. So redirect to login
              // remove previously exists cookie . if browser get closed without logout.
              if (this.$cookies.isKey('Timeout')) {
                this.$cookies.remove('Timeout')
              }
              if(this.$cookies.isKey('SessionExpMsg')){
                this.$cookies.remove('SessionExpMsg')
                }
                this.$cookies.set('SessionExpMsg','msg','1min')
                window.location.href = '/login'
              }
      },

      getClient() {
          this.SessionCheck()
          var Authorization = this.$session.get('access_token')
          var client = this.$session.get('client_id')
          $("#loadingSpinner").fadeIn();
          this.$http.get(config.ACCOUNT_MANAGEMENT_URL + '/client_details/' + client, {
            headers: {
               'Authorization': Authorization,
               'Content-Type': 'application/json'
            }
          }).then(response => {
              $("#loadingSpinner").fadeOut();
              var data = JSON.parse(response.bodyText)
              if (response.status === 200) {
                 this.client = data.client
                 this.superAdmin = data.super_admin_obj
                 this.createdBy = this.client.created_by
                 this.preferences =  data.account_preference
                 this.productList =  data.product_list
                 this.createDate = moment(this.client.created_date).tz(  this.preferences.time_zone_preference).format(this.preferences.date_format)
                 this.GMTwithSelectedTimezone = moment().tz(this.preferences.time_zone_preference).format('zz')

              } else {
                  this.ShowErrorMessage = true
                  this.ErrorMessage = 'Requested client does not exists'
              }
          },response => {
              $("#loadingSpinner").fadeOut();
              var data = JSON.parse(response.bodyText)
              if(data.message === 'session_expired'){
                this.$session.destroy()
                this.SessionCheck()
              }
              }).catch(e => {
                $("#loadingSpinner").fadeOut();
                console.log(this.error)
              })
      },


    getGMTTimeCompare(timezoneSelected)
        {
           var now = moment.utc();
           var UtcOffset = moment.tz.zone("GMT").offset(now); 
           var TzOffset=moment.tz.zone(timezoneSelected).offset(now); 
           var hrs=(TzOffset -UtcOffset) / 60;
           var hrs_unsigned=Math.abs(hrs);
           var hr=Math.floor(hrs_unsigned);
           var min=(hrs_unsigned-hr)*60;
           if(hrs_unsigned!=0)
           hr=hr*(hrs/hrs_unsigned);
           return " ("+hr+":"+min+" GMT)";
        },
    
    editAccountSettings()
        {
            console.log("--------------editAccountSettings")
           this.$router.push('/accountmanagementsettings')   
        },
      
    openAccountPreference()
        {

           console.log("--------------openAccountPreference")
           this.$router.push('/accountmanagement')   
        },
    
    openSubscription()
        {
           console.log("--------------openSubscription")
           this.$router.push('/packages')   
        },
    
    openActivityLogs()
        {
           this.$router.push('/activitylogs')   
        },
    
    MessageClosed(MessageType){
        console.log('we are in messages')
        console.log(MessageType)
        if(MessageType === 'success') {
          this.$router.push('/securityrolelist')
        } else if (MessageType === 'error') {
          console.log('we are in error messages')
          this.ShowErrorMessage=false
          this.ErrorTitle=''
          this.ErrorMessage=''
        }
      },

    InitPageTour(){
        var tour = new Tour({
            debug : true,
            onStart: function(tour){
             
              console.log("tour started")
            } ,          
            onEnd: function(tour) { 
              
              console.log("ending session")
            },
            onResume:function(tour) { 
             
              console.log("resume  session")
            },
            onPause:function(tour) { 
             
              console.log("pause session")
            },
            onClose:function(tour) { 
             
              console.log("close session")
            },
            onError:function(tour) { 
             
              console.log("on erroe session")
            }
        });

        tour.addStep({
                      element : "#AccountManagementTab",
                      title : "Account Management",
                      content : "Click here to check Account Preferences",
                      delay: true
                  });
        tour.addStep({
                      element : "#edit",
                      title : "Account Management",
                      content : "Click here to edit Account Preferences",
                      delay: true
                  });
        tour.addStep({
                      element : "#SubscriptionTab",
                      title : "Subscription",
                      content : "Click here to check Subscription details",
                      delay: true
                  });
        tour.addStep({
                      element : "#ActivityLogsTab",
                      title : "Cancel",
                      content : "Click here to check Activity Logs",
                      delay: true
                  });
         tour.addStep({
                      element : "#AuditorTab",
                      title : "Cancel",
                      content : "Click here to set Auditor Settings",
                      delay: true
                  });
        tour.restart()
     

      }
   }
}
</script>