<template lang="html">
	<div>
		<div class="float-right">
			<button class="btn btn-default" id="start-page-tour" style="margin-bottom:2px; margin-top:3px;margin-right:5px;height:26px;padding:0px;background-color: rgb(80, 214, 24);color: rgb(250, 250, 250);width:100px;line-height:25px;font-size:15px" v-on:click="InitPageTour()">
			  <i class="glyph-icon icon-lightbulb-o"></i> Start Tour
			</button>
		</div>
		<BreadCrumbs></BreadCrumbs>
		<div>
			<ul class="nav-responsive nav nav-tabs">
				<li id="AccountManagementTab" class="active"><router-link to="/accountmanagement">Account Preferences</router-link></li>
				<li id="SubscriptionTab"><router-link to="/packages">Subscription</router-link></li>
				<li id="ActivityLogsTab"><router-link to="#">Activity Logs</router-link></li>
				<li id="AuditorTab"><router-link to="#">Auditor</router-link></li>
			</ul>
		</div>
		<div class="panel">
			<div class="panel-body">
				<div class="example-box-wrapper">
					<div id="ShowMessages">
						<div class="example-box-wrapper" v-if="ShowSuccessMessage">
							<div class="alert alert-close alert-success">
								<a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('success')"></a>
								<div class="alert-content">
									<h4 class="alert-title">Success</h4>
									<p>{{SuccessMessage}}</p>
								</div>
							</div>
						</div>
					
						<div class="alert alert-danger" v-if="ShowErrorMessage">
						  <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('error')"></a>
						  <div class="alert-content">
							  <h4 class="alert-title">{{ErrorTitle}}</h4>
							  <p>{{ErrorMessage}}</p>
						  </div>
						</div>
					</div>
					<div id="loadingSpinner" class="progress-overlay pad45A float_center">
						<img src="../../assets/images/spinner/loader-dark.gif" alt="">
					</div>
				   
					</div>
					<font color="red">*All fields are Required</font>
					<form @submit.prevent="validateBeforeSubmit" enctype="multipart/form-data" class="form-horizontal bordered-row" data-parsley-validate="">
						<div class="form-group">
							<label class="col-sm-4 control-label">Phone number</label>
							<div class="col-sm-6">
								<input type="text" id="phone" style="align:left;width:100%;padding-left:35px;border:0px" data-parsley-required data-parsley-errors-container="#phone-error" v-model="client.phone" data-parsley-required data-parsley-required-message="Phone number is required">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">New User Email Verification</label>
							<div class="col-sm-6">
								<label class="radio-inline" for="enabled">
									<input type="radio" id="enabled" name="user_email_verification" value="true" v-model="preferences.user_email_verification" v-bind:value="1">
									Enabled
								</label>
								<label class="radio-inline" for="disabled">
									<input  class="radio-inline" type="radio" name="user_email_verification" id="disabled" value="false" v-model="preferences.user_email_verification" v-bind:value="0"> 
									Disabled
								</label>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Time Zone</label>
							<div class="col-sm-4">
							   <select placeholder="Please select one" v-model="preferences.time_zone_preference" class="form-control">
								  <option value="" disabled>Please select one</option>
								  <option v-for="tz in tzs"  v-bind:value="tz.value" v-bind:selected="tz.value == preferences.time_zone_preference">   {{tz.text}} </option>
								  <!-- <option v-for="tz in tzs" v-bind:value="tz.value">{{tz.text}}</option>-->
							   </select>
							</div>
						</div>
						<div class="form-group">
						  <label class="col-sm-4 control-label">Date Format</label>
						  <div class="col-sm-4">
							 <select placeholder="Please select one" v-model="preferences.date_format" class="form-control">
								<option value="" disabled>Please select one</option>
								<option v-for="date_format in date_formats"  v-bind:value="date_format" v-bind:selected="date_format == preferences.date_format">  {{date_format}} </option>
								<!-- <option v-for="tz in tzs" v-bind:value="tz.value">{{tz.text}}</option>-->
							 </select>
						  </div>
						</div>
						
						<div class="form-group">
							<h4>Password Policy</h4>
							<div class="example-box-wrapper">
								<div class="form-group">
									<label class="col-sm-4 control-label">Password expiry</label>
									<div class="col-sm-4">
										<div class="row">
											<div class="col-md-6">
									      		<input type="text" id="name" name="name" class="form-control popover-button-default" placeholder="Enter Password expiry in days" data-content=" 1) Only numbers are allowed" title="Rules" data-trigger="focus" data-placement="top" data-parsley-type="digits" v-model="preferences.password_policy" required>
									      	</div>
									      	<label for="inputKey" class="control-label">Days</label>
									    </div>
									   	<p class ="text-danger" v-if="msg">{{msg}}</p>

									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">Minimum password length</label>
									<div class="col-sm-4">
									   <input type="text" id="min_password_length" name="min_password_length" class="form-control popover-button-default" placeholder="Minimum password length for users" data-content=" 1) Only numbers are allowed" title="Rules" data-trigger="focus" data-placement="top" data-parsley-type="digits"  v-model="preferences.min_password_length" required>
									   <p class ="text-danger" v-if="msg">{{msg}}</p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">Maximum password length</label>
									<div class="col-sm-4">
									   <input type="text" id="max_password_length" name="max_password_length" class="form-control popover-button-default" placeholder="Maximum password length for users" data-content=" 1) Only numbers are allowed" title="Rules" data-trigger="focus" data-placement="top" data-parsley-type="digits" v-model="preferences.max_password_length" required>
									   <p class ="text-danger" v-if="msg">{{msg}}</p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">Number of password attempts if wrong</label>
									<div class="col-sm-4">
									   <input type="text" id="wrong_password_attempts" name="wrong_password_attempts" class="form-control popover-button-default" placeholder="Minimum password length for users" title="Rules" data-trigger="focus" data-placement="top" v-model="preferences.wrong_password_attempts" required>
									   <p class ="text-danger" v-if="msg">{{msg}}</p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">New password cannot be same as previous how many passwords</label>
									<div class="col-sm-4">
									   <input type="text" id="password_cannot_be_same_as_previous_n_passwords" name="password_cannot_be_same_as_previous_n_passwords" class="form-control popover-button-default" placeholder="New password cannot be same as previous n number of passwords" data-content=" 1) Only numbers are allowed" title="Rules" data-trigger="focus" data-placement="top" data-parsley-type="digits" v-model="preferences.password_cannot_be_same_as_previous_n_passwords" required>
									   <p class ="text-danger" v-if="msg">{{msg}}</p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">Password must contain</label>
									<div class="col-sm-6">
										<div class="row">
											<div class="col-sm-12">
												<label class="checkbox-inline">
												  <input type="checkbox" v-model="preferences.password_must_contain_numeric">
												  Number
												</label>
												<label class="checkbox-inline">
													<input type="checkbox" v-model="preferences.password_must_contain_alphabates">
													Alphabates
												</label>
												<label class="checkbox-inline">
													<input type="checkbox" id="" v-model="preferences.password_must_contain_special_character">
												   Special Character
												</label>
												<label class="checkbox-inline">
													<input type="checkbox" id="" v-model="preferences.password_must_contain_uppercase">
												   Upper Case
												</label>
											</div>
											<div class="col-sm-12">
												<label class="checkbox-inline">
													<input type="checkbox" id="" v-model="preferences.password_must_contain_lowercase">
												   Lower Case
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
						  <div class="col-sm-6">
							 <button id="saveDetails" type="submit" name="submit" class="btn success">Save</button>
							 <button id="cancel" type="button" name="cancel" class="btn success" href="javascript:;" v-on:click="showConfirmCancelAlert()">Cancel</button>
						  </div>
						</div>
					</form>
					<simplert :useRadius="true"
					   :useIcon="true"
					   ref="simplert">
					</simplert>
				</div>
			</div>         
		</div>
	</div>
</template>
<style type="text/css">
   .container{width:100%;}
.left{float:left;width:100px;}
.right{float:right;width:100px;}
.center{margin:0 auto;width:100px;}

</style>
<script>
   import config from '../../config.json'
import Simplert from 'vue2-simplert'
import BreadCrumbs from '../Breadcrumbs.vue'
var moment = require("moment-timezone");
export default {
   components: {
	  Simplert,
	  BreadCrumbs
   },
   data() {
	  return {
		 client: {},
		 createDate: "",
		 createdBy: {},
		 superAdmin: {},
		 expiryDays: "",
		 productList: [],
		 reportUrl: '',
		 preferences: {},
		 noClient: "",
		 passwordContainNumber: '',
		 passwordContainAlph: '',
		 passwordContainSpecialChar: '',
		 passwordContainUpperCase: '',
		 passwordContainLowerCase: '',
		 GMTwithSelectedTimezone:"",
		 Authorization: this.$session.get('access_token'),
		 clientId: this.$session.get('client_id'),
		 msg: '',
		 ShowSuccessMessage: false,
		 ShowErrorMessage:false,
		 ErrorTitle:'',
		 ErrorMessage:'',
		 IsErrorOccurred:false,
		 tzs:[{"value":"UTC","text":"UTC (0:0 UTC)"}],
		 date_formats:[
		  'DD/MM/YYYY',
		  'DD/MM/YYYY HH:mm:ss',
		  'DD MM YYYY HH:mm:ss',
		  'DD-MM-YYYY HH:mm:ss',
		  'D MMMM YYYY',
		  'D MMMM YYYY HH:mm',
		  'D MMMM YYYY HH:mm:ss',
		  'dddd, D MMMM YYYY HH:mm',
		  'YYYY-MM-DDTHH:MM:SSZ',
		  'MM/DD/YYYY',
		  'MM-DD-YYYY HH:mm:ss',
		  'MM/DD/YYYY HH:mm:ss',
		  'MM DD YYYY HH:mm:ss',
		  'MM-DD-YYYY HH:mm:ss',
		  'MMM DD YYYY',
		  'MMM DD YYYY HH:mm:ss',
			]

	  }
   },

  mounted() {
	  this.SessionCheck()
	  $("#loadingSpinner").fadeOut();
	  moment.locale('en')
	  this.getClient()
	  $("#ShowData").find("td:last-child").css("font-weight", "bold")
	  $("#ShowPreferences").find("td:last-child").css("font-weight", "bold")
	  $("#ShowProducts").find("td:last-child").css("font-weight", "bold")
	  this.reportUrl = config.REPORT_URL + '/OauthRedirect?access_token=' + this.$session.get('access_token') + '&userId=' + this.$session.get('user_id') + '&clientId=' + this.$session.get('client_id')
	  $("#phone").intlTelInput()
	  $('#register-form').parsley()
	  var now = moment.utc();
	  // get the zone offsets for this time, in minutes
	  var UtcOffset = moment.tz.zone("UTC").offset(now); 

	  var timezone = moment.tz.names();        
		  for (var i = 0; i < timezone.length; i++){
			var tz={};
			var TzOffset=moment.tz.zone(timezone[i]).offset(now); 
			var hrs=(TzOffset -UtcOffset) / 60;
			var hrs_unsigned=Math.abs(hrs);
			var hr=Math.floor(hrs_unsigned);
			var min=(hrs_unsigned-hr)*60;
			if(hrs_unsigned!=0) 
			hr=hr*(hrs/hrs_unsigned);
			tz.value=timezone[i];
			tz.text=timezone[i]+" ("+hr+":"+min+" UTC)";
			var array = $.grep(this.tzs, function(value) {
				return value.text.indexOf(" ("+hr+":"+min+" UTC)") >= 0;
			});
			if(array.length<=0)
			this.tzs.push(tz);
		  }       
  },


  methods: {
	  SessionCheck () {
		this.isLoggedIn = this.$session.exists()
		if (this.isLoggedIn) {
		  if (this.$cookies.isKey('Timeout')) { // check iscookie exists
			//  means session not yet get timeout
			//  so delete this cookie and again save new one.So timer will get reset
			this.$cookies.remove('Timeout')
			//  set new cookie with timeout. refresh timeout
			this.$cookies.set('Timeout', 'timeout', config.SESSION_TIMEOUT + 'min')
		  } else {  // cookie not exist means session get timeout.So destroy the session manually
			this.$session.destroy()
			window.location.href = '/login'
		  }
		} else { // session not exists. So redirect to login
		  // remove previously exists cookie . if browser get closed without logout.
		  if (this.$cookies.isKey('Timeout')) {
			this.$cookies.remove('Timeout')
		  }
		  if(this.$cookies.isKey('SessionExpMsg')){
			this.$cookies.remove('SessionExpMsg')
		  }
			this.$cookies.set('SessionExpMsg','msg','1min')
			window.location.href = '/login'
		}
	  },
	  
	  getClient() {

		 this.SessionCheck()
		 var Authorization = this.$session.get('access_token')
		 var client = this.$session.get('client_id')
		 console.log(this.$route.params.userid)
		 $("#loadingSpinner").fadeIn();
		 this.$http.get(config.ACCOUNT_MANAGEMENT_URL + '/client_details/' + client, {
			headers: {
			   'Authorization': Authorization,
			   'Content-Type': 'application/json'
			}
		}).then(response => {
		   $("#loadingSpinner").fadeOut();
				var data = JSON.parse(response.bodyText)
				
			  if (response.status === 200) {
			  	console.log(data)
				 this.client = data.client
				 this.superAdmin = data.super_admin_obj
				 this.createdBy = this.created_by
				 this.preferences =  data.account_preference
				 this.expiryDays = this.preferences.password_policy
				 this.productList =  data.result.product_list
				 this.preferences.password_must_contain_numeric = this.preferences.password_must_contain_numeric  ?true:false
				 this.preferences.password_must_contain_alphabates = this.preferences.password_must_contain_alphabates  ?true:false
				 this.preferences.password_must_contain_special_character = this.preferences.password_must_contain_special_character  ?true:false
				 this.preferences.password_must_contain_uppercase = this.preferences.password_must_contain_uppercase  ?true:false
				 this.preferences.password_must_contain_lowercase = this.preferences.password_must_contain_lowercase  ?true:false
				 this.createDate = moment(this.client.created_date, "x").tz(  this.preferences.time_zone_preference).format(this.preferences.date_format)
				 this.GMTwithSelectedTimezone=this.getGMTTimeCompare(this.preferences.time_zone_preference);
			  } else {
				  this.ShowErrorMessage = true
				  this.ErrorMessage = 'Requested client does not exists'
			  }
		},response => {
			var data = JSON.parse(response.bodyText)
			if(data.message === 'session_expired'){
				this.$session.destroy()
				this.SessionCheck()
			}
			if (data.status==='success'){
				var currentData = new Date()
				var CurrentUTCDate = currentData.toUTCString()
				var ActivityMessage = 'User ' + this.$session.get('email')+' have changed settings of Account of the organization '+this.$session.get('client_name')
				console.log(ActivityMessage)
				var activity = {"org_id": this.$session.get('client_id'), 
								  "org": this.$session.get('client_name'),
								  "user_id": this.$session.get('user_id'),
								  "username": this.$session.get('email'),
								  "service_id": config.SERVICE_ID,
								  "ipaddress": this.$session.get('ipaddress'),
								  "datetime": CurrentUTCDate,
								  "browser_agent": navigator.userAgent,
								  "msg": ActivityMessage}
				this.SaveLog(activity)
			}
		}).catch(e => {
			$("#loadingSpinner").fadeOut();
			console.log(this.error)
		})
	  },

	  MessageClosed(MessageType){
		  console.log('we are in messages')
		  console.log(MessageType)
		  if(MessageType === 'success') {
			this.$router.push('/securityrolelist')
		  } else if (MessageType === 'error') {
			console.log('we are in error messages')
			this.ShowErrorMessage=false
			this.ErrorTitle=''
			this.ErrorMessage=''
		  }
	  },
	
	  getGMTTimeCompare(timezoneSelected)
		{
		   var now = moment.utc();
		   var UtcOffset = moment.tz.zone("GMT").offset(now); 
		   var TzOffset=moment.tz.zone(timezoneSelected).offset(now); 
		   var hrs=(TzOffset -UtcOffset) / 60;
		   var hrs_unsigned=Math.abs(hrs);
		   var hr=Math.floor(hrs_unsigned);
		   var min=(hrs_unsigned-hr)*60;
		   if(hrs_unsigned!=0)
		   hr=hr*(hrs/hrs_unsigned);
		   return " ("+hr+":"+min+" GMT)";
		},
	
	  openAccountPreference()
		{
			  console.log("--------------openAccountPreference")
		   this.$router.push('/accountmanagement')   
		},
	  
	  openSubscription()
		{
			  console.log("--------------openSubscription")
		   this.$router.push('/packages')   
		},
	  
	  openActivityLogs()
		{
				 console.log("--------------openActivityLogs")
		   this.$router.push('/activitylogs')   
		},

		
	  SaveLog(activity){
		console.log('we are in activity log')
		  this.$http.post(config.AUDIT_LOG_URL, activity).then(response => {
				console.log('success log')
		  })
	  },
	  
	  validateBeforeSubmit (e) {
		 this.$validator.validateAll()
		 if (!this.errors.any()) {
			this.save()
		 }
	  },

	  updateClientPreferences() {
		this.SessionCheck()
		this.IsErrorOccurred = false
		this.ShowSuccessMessage=false
		this.ShowErrorMessage=false
		this.client.phone = $("#phone").intlTelInput("getNumber")
		$("#loadingSpinner").fadeIn();
		
		this.$http.post(config.ACCOUNT_MANAGEMENT_URL + '/set_client_preference', {
			'user_email_verification': this.preferences.user_email_verification,
			'client_id': this.clientId,
			'time_zone_preference': this.preferences.time_zone_preference,
			'date_format': this.preferences.date_format,
			'password_policy': this.preferences.password_policy,
			'min_password_length': this.preferences.min_password_length,
			'max_password_length': this.preferences.max_password_length,
			'wrong_password_attempts': this.preferences.wrong_password_attempts,
			'password_cannot_be_same_as_previous_n_passwords':  this.preferences.password_cannot_be_same_as_previous_n_passwords,
			'password_must_contain_numeric': this.preferences.password_must_contain_numeric  ?1:0,
			'password_must_contain_alphabates': this.preferences.password_must_contain_alphabates  ?1:0,
			'password_must_contain_special_character': this.preferences.password_must_contain_special_character  ?1:0,
			'password_must_contain_uppercase': this.preferences.password_must_contain_uppercase  ?1:0,
			'password_must_contain_lowercase': this.preferences.password_must_contain_lowercase  ?1:0
			/*'password_allow_numeric':this.preferences.password_allow_numeric,
			'password_allow_alphabates':this.preferences.password_allow_alphabates,
			'password_allow_special_character':this.preferences.password_allow_special_character,
			'job_calender_rules_allowed':this.preferences.job_calender_rules_allowed*/
			},
			{
			 // emulateJSON: true,
			 headers: {
			 'Authorization': this.Authorization,
			 'Content-Type': 'application/json'
			}
		}).then(response => {
			$("#loadingSpinner").fadeOut();
			this.getClient()
			var data = JSON.parse(response.bodyText)
			if (response.status === 200) {
			   var currentData = new Date()
				  var CurrentUTCDate = currentData.toUTCString()
				  var ActivityMessage = 'User ' + this.$session.get('email')+' have changed settings of Account of the organization '+this.$session.get('client_name')
				  console.log(ActivityMessage)
				  var activity = {"org_id": this.$session.get('client_id'), 
									"org": this.$session.get('client_name'),
									"user_id": this.$session.get('user_id'),
									"username": this.$session.get('email'),
									"service_id": config.SERVICE_ID,
									"ipaddress": this.$session.get('ipaddress'),
									"datetime": CurrentUTCDate,
									"browser_agent": navigator.userAgent,
									"msg": ActivityMessage}
				  console.log("activity")
				  console.log(activity)
				  this.SaveLog(activity)
				  this.$router.push('/accountmanagement')  
			} 
			else {
			   console.log(data)
			   this.IsErrorOccurred = true
			   this.ErrorHeader = data.message
			   this.ErrorMessage = data.error
			}
		},(response) => {
			$("#loadingSpinner").fadeOut();
			console.log(response)
			var data = JSON.parse(response.bodyText)
			if(data.message === 'session_expired'){
			  this.$session.destroy()
			  this.SessionCheck()
			}
		}).catch(e => {
			$("#loadingSpinner").css("display","none");
			console.log('error occured')
			console.log(e.error)
		})
	  },
	  
	  save () {  
		this.updateClientPreferences()
		this.ShowSuccessMessage = true
		this.SuccessMessage = 'Successfully updated account Settings'
	  },
	  
	  showConfirmCancelAlert () {
		  let confirmFn = function () {
			this.$router.push('/accountmanagement')  
		  }
	  
		  let obj = {
			  title: 'Cancel',
			  message: 'Are you sure want to Cancel?',
			  type: 'info',
			  useConfirmBtn: true,
			  onConfirm: confirmFn
		  }
		  this.$refs.simplert.openSimplert(obj)
		}
	  },

	  InitPageTour(){
		  var tour = new Tour({
			  debug : true,
			  onStart: function(tour){
				console.log("tour started")
			  } ,          
			  onEnd: function(tour) { 
				console.log("ending session")
			  },
			  onResume:function(tour) { 
				console.log("resume  session")
			  },
			  onPause:function(tour) { 
				console.log("pause session")
			  },
			  onClose:function(tour) { 
				console.log("close session")
			  },
			  onError:function(tour) { 
				console.log("on erroe session")
			  }
		  });

		  tour.addStep({
						element : "#AccountManagementTab",
						title : "Account Management",
						content : "Click here to check Account Preferences",
						delay: true
					});

		  tour.addStep({
						element : "#saveDetails",
						title : "Save",
						content : "Click here to save Account Preferences",
						delay: true
					});
		  tour.addStep({
						element : "#cancel",
						title : "Cancel",
						content : "Click here to cancel",
						delay: true
					});
		  tour.addStep({
						element : "#SubscriptionTab",
						title : "Subscription",
						content : "Click here to check Subscription details",
						delay: true
					});
		  tour.addStep({
						element : "#ActivityLogsTab",
						title : "Activity Logs",
						content : "Click here to check Activity Logs",
						delay: true
					});
		   tour.addStep({
						element : "#AuditorTab",
						title : "Cancel",
						content : "Click here to set Auditor Settings",
						delay: true
					});
		  tour.restart();
	  }
}
</script>