<template >
  <div>
  <BreadCrumbs> </BreadCrumbs>
    <h2>User Guide </h2>
    <div class="wrapper">
		<div class="content">
				<h2 id="step1">1: Account Preferences</h2>
				<p id="abtAdminPanel">Account Preferences Tab allows to views all thye organization account related details and preferences like TimeZone, password policy etc. It alos allows admin to edit these details.
				</p>
		 
				<h2 id="step2">2: Subscription</h2>
				<p>In Subscription Tab all the packages related to user's region are shown to user and allows to subscribe for any package.</p>
			  
				<h2 id="step3">3: Activity Logs</h2>
				<p>In Activity Logs Tab, all the recent account related activities by users are displayed.</p>

				<h2 id="step3">4: Auditors</h2>
				<p>In Auditors Tab Super Admin is allowed to set all the data management settings like purge and archive.</p>
			<br class="clear">
			<br class="clear">
		</div>
	</div>

<div id="StepFooter" class="footer navbar-fixed-bottom"><ul class="pagination" style=" vertical-align: bottom; margin: 0px;"><li id="ab_1"><button name="#step1" class="btn success" v-on:click="navStep1('#step1')">1</button></li><li id="ab_2"><button name="#step2" class="btn success" v-on:click="navStep1('#step2')">2</button></li><li id="ab_3"><button name="#step3" class="btn success" v-on:click="navStep1('#step3')">3</button></li></ul></div>
  </div>
</template>
<script>
   import config from '../../config.json'
import Simplert from 'vue2-simplert'
import BreadCrumbs from '../Breadcrumbs.vue'
var moment = require("moment-timezone");
export default {
   components: {
      Simplert,
      BreadCrumbs
   },
   data() {
      return {
      }
   },
   mounted() {
  
   },
   methods: {
   	navStep1(i) {
			$("h2").removeClass('underline-text');
			$("h2").removeClass('bg-info');
			$(i).addClass('underline-text');

			$(i).addClass('bg-info');
			$('html, body').animate({
				scrollTop : $(i). position().top
			}, 300,"linear",false);
			return false; 
		}
   }
}
</script>
<style>
.wrapper {
    width: 960px;
    margin: 20px auto;
}
.popover-double-width {
	max-width: 552px !important;
}

h2 {
    font-size: 18px;
    margin: 20px 0;
    color: black;
    display: inline-flex;
}
p {
    padding: 5px 0px;
}
.box {
    width: 49%;
}
.clear {
    clear: both;
}
* {
    margin: 0;
    padding: 0;
}
.footer {
    padding: 11px 9px;
     margin: 20px 0 0;
    background: #0099DE;
    text-align: center;
    color: white;
}
button {
	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	overflow: hidden;
	outline: none;
	
	padding: 0;
	padding: 5px 0px;
	color: #333;
	font-family: "Calibri", "Myriad Pro", Arial, sans-serif;
	font-size: 16px;
	text-shadow: 1px 1px 1px white;
}
a {
    color: blue;
    text-decoration: none;
}
.underline-text {
	text-decoration-line: underline;
}
</style>