<template lang="html">
<div>
<BreadCrumbs></BreadCrumbs>
<h2>Account Preference</h2>
            <div class="panel">
              <div class="panel-body">
                <div class="example-box-wrapper">
                {{noClient}}
                <div class="form-group">
                  <label>Time Zone Preference:</label>
                        {{preference.time_zone_preference}}
                </div>
                <div class="form-group">
                  <label>User Email verification:</label>
                        {{preference.user_email_verification}}
                </div>
                <div class="form-group">
                  <label>Password Policy:</label>
                        {{preference.password_policy}} days
                </div>
                <div class="form-group">
                  <label>Minimum length of password:</label>
                        {{preference.min_password_length}} 
                </div>
                <div class="form-group">
                  <label>Max wrong password attempts:</label>
                        {{preference.wrong_password_attempts}}
                </div>
                 <div class="form-group">
                  <label>Password should contain number:</label>
                        {{preference.password_must_contain_numeric}}
                </div>
                 <div class="form-group">
                  <label>Password should contain alphabets:</label>
                        {{preference.password_must_contain_alphabates}}
                </div>
                 <div class="form-group">
                  <label>Password should contain special character:</label>
                        {{preference.password_must_contain_special_character}}
                </div>
                 <div class="form-group">
                  <label>Number allowed in password:</label>
                        {{preference.password_allow_numeric}}
                </div>
                 <div class="form-group">
                  <label>alphabets allowed in password:</label>
                        {{preference.password_allow_alphabates}}
                </div>
                 <div class="form-group">
                  <label>Special character allowed in password:</label>
                        {{preference.password_allow_special_character}}
                </div>
               <router-link to="../manageaccount">
               Edit
              </router-link>
              
                </div>
                </div>
              </div>
            </div>
    </div>
</template>
<script>
  import config from '../../config.json'
  import BreadCrumbs from '../Breadcrumbs.vue'
// import dataTable from '../../../static/widgets/datatable/datatable.js'
  export default {
    components: {
      BreadCrumbs
    },
    data () {
      return {
        preference: {},
        noClient:""
      }
    },
    mounted () {
      this.getClient()
    },
    methods: {
      getClient () {
        var Authorization = this.$session.get('access_token')
        var client = this.$session.get('client_id')
        console.log(this.$route.params.userid)
        this.$http.get(config.ACCOUNT_REGISTRATION_URL + '/AccountManagement/rest/AccountService/preferences/' + client,
          {
            headers: {
              'Authorization': Authorization,
              'Content-Type': 'application/json'
            }
          }).then(response => {
            var data = JSON.parse(response.bodyText)
            // var responseData = JSON.parse(data.response_data)
            console.log(data)
            if (data.status === 'success') {
              this.preference = data.preference
            } else {
              this.noClient = 'No Client Found'
            }
          },response => {
          var data = JSON.parse(response.bodyText)
          if(data.message === 'session_expired'){
            this.$session.destroy()
            this.SessionCheck()
          }
         }).catch(e => {
            console.log(this.error)
          })
      }
    }
}
</script>