<template lang="html">
   <div>
   <div class="float-right">
   <button class="btn btn-default" id="start-page-tour" style="margin-bottom:2px; margin-top:3px;margin-right:5px;height:26px;padding:0px;background-color: rgb(80, 214, 24);color: rgb(250, 250, 250);width:100px;line-height:25px;font-size:15px" v-on:click="InitPageTour()">
      <i class="glyph-icon icon-lightbulb-o"></i> Start Tour
  </button>
  </div>
      <BreadCrumbs></BreadCrumbs>
      <div>
            <ul class="nav-responsive nav nav-tabs">
                <li id="AccountManagementTab"><router-link to="/accountmanagement">Account Preferences</router-link></li>
               <li id="SubscriptionTab"><router-link to="/packages">Subscription</router-link></li>
               <li id="ActivityLogsTab"  class="active"><router-link to="#">Activity Logs</router-link></li>
               <li id="AuditorTab"><router-link to="#">Auditor</router-link></li>
            </ul>
        </div>
    <div class="panel">
         <div class="panel-body">
         <div class="example-box-wrapper">
        <ul>
    <li v-for="user in UserList">
      {{user.name}} last logged in at {{user.last_login_date}}.
    </li>
    </ul>
               </div>
              </div>
         
      </div>
   </div>
</template>
<style type="text/css">
   .container{width:100%;}
.left{float:left;width:100px;}
.right{float:right;width:100px;}
.center{margin:0 auto;width:100px;}

</style>
<script>
   import config from '../../config.json'
import Simplert from 'vue2-simplert'
import BreadCrumbs from '../Breadcrumbs.vue'
var moment = require("moment-timezone");
export default {
   components: {
      Simplert,
      BreadCrumbs
   },
   data() {
      return {
         client: {},
         UserList:[],
         clientId: this.$session.get('client_id')
      }
   },
   mounted() {
      this.SessionCheck()

      $("#loadingSpinner").fadeOut();
      moment.locale('en')
      this.getClient()
   this.getUserList()

      
   },
   methods: {
      SessionCheck () {
        this.isLoggedIn = this.$session.exists()
        if (this.isLoggedIn) {
          if (this.$cookies.isKey('Timeout')) { // check iscookie exists
            //  means session not yet get timeout
            //  so delete this cookie and again save new one.So timer will get reset
            this.$cookies.remove('Timeout')
            //  set new cookie with timeout. refresh timeout
            this.$cookies.set('Timeout', 'timeout', config.SESSION_TIMEOUT + 'min')
          } else {  // cookie not exist means session get timeout.So destroy the session manually
            this.$session.destroy()
            window.location.href = '/login'
          }
        } else { // session not exists. So redirect to login
          // remove previously exists cookie . if browser get closed without logout.
          if (this.$cookies.isKey('Timeout')) {
            this.$cookies.remove('Timeout')
          }
          if(this.$cookies.isKey('SessionExpMsg')){
            this.$cookies.remove('SessionExpMsg')
            }
            this.$cookies.set('SessionExpMsg','msg','1min')
            window.location.href = '/login'
          }
      },
          InitPageTour(){

        var tour = new Tour({
            debug : true,
            onStart: function(tour){
              console.log("tour started")
            } ,          
            onEnd: function(tour) { 
              console.log("ending session")
            },
            onResume:function(tour) { 
              console.log("resume  session")
            },
            onPause:function(tour) { 
              console.log("pause session")
            },
            onClose:function(tour) { 
              console.log("close session")
            },
            onError:function(tour) { 
              console.log("on erroe session")
            }
        });
         tour.addStep({
                      element : "#ActivityLogsTab",
                      title : "Activity Logs",
                      content : "Click here to check Activity Logs",
                      delay: true
                  });
         tour.addStep({
                      element : "#AuditorTab",
                      title : "Cancel",
                      content : "Click here to set Auditor Settings",
                      delay: true
                  });
        tour.addStep({
                      element : "#AccountManagementTab",
                      title : "Account Management",
                      content : "Click here to check Account Preferences",
                      delay: true
                  });

        tour.addStep({
                      element : "#saveDetails",
                      title : "Save",
                      content : "Click here to save Account Preferences",
                      delay: true
                  });
        tour.addStep({
                      element : "#cancel",
                      title : "Cancel",
                      content : "Click here to cancel",
                      delay: true
                  });
        tour.addStep({
                      element : "#SubscriptionTab",
                      title : "Subscription",
                      content : "Click here to check Subscription details",
                      delay: true
                  });
       
        tour.restart();
          },
     
      openAccountPreference()
      {
            console.log("--------------openAccountPreference")
         this.$router.push('/accountmanagement')   
      },
      openSubscription()
      {
            console.log("--------------openSubscription")
         this.$router.push('/packages')   
      },
      openActivityLogs()
      {
               console.log("--------------openActivityLogs")
         this.$router.push('/activitylogs')   
      },
      getClient() {
         this.SessionCheck()

         var Authorization = this.$session.get('access_token')
         var client = this.$session.get('client_id')
         console.log(this.$route.params.userid)
         $("#loadingSpinner").fadeIn();
         this.$http.get(config.ACCOUNT_REGISTRATION_URL + '/AccountManagement/rest/AccountService/orgdetails/' + client, {
            headers: {
               'Authorization': Authorization,
               'Content-Type': 'application/json'
            }
         }).then(response => {
            $("#loadingSpinner").fadeOut();
            var data = JSON.parse(response.bodyText)
            // var responseData = JSON.parse(data.response_data)
            console.log(data)
            if (data.status === 'success') {
               this.client = data.client
              
            } else {
               this.noClient = 'No Client Found'
            }
         },response => {
          var data = JSON.parse(response.bodyText)
          if(data.message === 'session_expired'){
            this.$session.destroy()
            this.SessionCheck()
          }
         }).catch(e => {
            $("#loadingSpinner").fadeOut();
            console.log(this.error)
         })

      },
   showConfirmCancelAlert () {
   let confirmFn = function () {
    this.$router.push('/accountmanagement')  
   }
   let obj = {
   title: 'Cancel',
   message: 'Are you sure want to Cancel?',
   type: 'info',
   useConfirmBtn: true,
   onConfirm: confirmFn
   }
   this.$refs.simplert.openSimplert(obj)
   },
      getUserList () {
        this.SessionCheck()
        this.allSelected = false
        var Authorization = this.$session.get('access_token')
        var clientId = this.$session.get('client_id')
        this.$http.get(config.USER_PROVISION_URL + '/get_last_login_user_count/' + clientId+"/"+5,
          {
            headers: {
              'Authorization': Authorization
            }
          }).then(response => {
            var data = JSON.parse(response.bodyText)
            var temp = data.data
            console.log(temp)
            for (let j of temp) {
              j.last_login_date = moment(j.last_login_date, "x").tz(this.$session.get('time_zone_preference')).format('dddd, D MMMM YYYY HH:mm')
            }
            this.UserList = temp
            console.log(this.UserList)
          },(response) => {
            console.log(response)
            this.errorMsg = response.bodyText
          var data = JSON.parse(response.bodyText)
          if(data.message === 'session_expired'){
            this.$session.destroy()
            this.SessionCheck()
          } // this.$router.push('/login')
          }).catch(e => {
            console.log(e)
            console.log(this.error)
          })
      }
   }
}
</script>