<template lang="html">
   <div>
      <BreadCrumbs></BreadCrumbs>
      <h2>Manage Preference</h2>
      <div class="panel">
         <div class="panel-body">
          
            <div class="example-box-wrapper">
               <div class="alert alert-danger" id="error" v-if="IsErrorOccurred">
                  <div class="bg-red alert-icon">
                     <i class="glyph-icon icon-times"></i>
                  </div>
                  <div class="alert-content">
                     <h4 class="alert-title">{{ ErrorHeader }}</h4>
                     <p>{{ ErrorMessage }}</p>
                  </div>
               </div>
               <font color="red">*All fields are Required</font>
               <form @submit.prevent="validateBeforeSubmit" enctype="multipart/form-data" class="form-horizontal bordered-row" data-parsley-validate="">
                <div class="form-group">
                     <label class="col-sm-4 control-label">Phone number</label>
                     <div class="col-sm-6">
                         <input type="text" id="phone" style="align:left;width:100%;padding-left:35px;border:0px" data-parsley-required data-parsley-errors-container="#phone-error" v-model="collection.form.phone" data-parsley-required data-parsley-required-message="Phone number is required">
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="col-sm-4 control-label">New User Email Verification</label>
                     <div class="col-sm-6">
                                             
                            <label  class="radio-inline" for="enabled"> <input type="radio" id="enabled" name="user_email_verification" value="true" v-model="collection.form.user_email_verification">
                        Enabled</label>
                        <label class="radio-inline" for="disabled">
                        <input  class="radio-inline" type="radio" name="user_email_verification" id="disabled"   value="false" v-model="collection.form.user_email_verification" >
                       Disabled</label>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="col-sm-4 control-label">Time Zone</label>
                     <div class="col-sm-4">
                        <select placeholder="Please select one" v-model="collection.form.time_zone_preference" class="form-control">
                           <option value="" disabled>Please select one</option>
                           <option v-for="tz in tzs"  v-bind:value="tz.value" v-bind:selected="tz.value == preference.time_zone_preference">   {{tz.text}} </option>
                       
                          <!-- <option v-for="tz in tzs" v-bind:value="tz.value">{{tz.text}}</option>-->

                        </select>
                     </div>
                  </div>
                 <div class="form-group">  
        <h4>
            Password Policy
        </h4>
        <div class="example-box-wrapper">
                  <div class="form-group">
                     <label class="col-sm-4 control-label">Password Expiry</label>
                     <div class="col-sm-4">
                        <input type="text" id="name" name="name" class="form-control popover-button-default" placeholder="Enter Password Expiry in days" data-content=" 1) Only numbers are allowed" title="Rules" data-trigger="focus" data-placement="top" data-parsley-type="digits" v-model="collection.form.password_policy" required>
                        <p class ="text-danger" v-if="msg">{{msg}}</p>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="col-sm-4 control-label">Minimum password length</label>
                     <div class="col-sm-4">
                        <input type="text" id="min_password_length" name="min_password_length" class="form-control popover-button-default" placeholder="Minimum password length for users" data-content=" 1) Only numbers are allowed" title="Rules" data-trigger="focus" data-placement="top" data-parsley-type="digits" v-model="collection.form.min_password_length" required>
                        <p class ="text-danger" v-if="msg">{{msg}}</p>
                     </div>
                  </div>
                   <div class="form-group">
                     <label class="col-sm-4 control-label">Number of password attempts if wrong</label>
                     <div class="col-sm-4">
                        <input type="text" id="wrong_password_attempts" name="wrong_password_attempts" class="form-control popover-button-default" placeholder="Minimum password length for users" data-content=" 1) Only numbers are allowed" title="Rules" data-trigger="focus" data-placement="top" data-parsley-type="digits" v-model="collection.form.wrong_password_attempts" required>
                        <p class ="text-danger" v-if="msg">{{msg}}</p>
                     </div>
                  </div>
                  
                  <div class="form-group">
                     <label class="col-sm-4 control-label">Password must contain number?</label>
                     <div class="col-sm-6">
                                             
                            <label class="radio-inline" for="enabled"> <input type="radio" id="enabled" name="password_must_contain_numeric" value="true" v-model="collection.form.password_must_contain_numeric">
                        Yes</label>
                        <label class="radio-inline"  for="disabled">
                        <input type="radio" name="password_must_contain_numeric" id="disabled"   value="false" v-model="collection.form.password_must_contain_numeric" >
                       No</label>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="col-sm-4 control-label">Password must contain alphabets?</label>
                     <div class="col-sm-6">
                                            
                            <label class="radio-inline" for="enabled"> <input type="radio" id="enabled" name="password_must_contain_alphabates" value="true" v-model="collection.form.password_must_contain_alphabates">
                        Yes</label>
                        <label class="radio-inline" for="disabled">
                        <input type="radio" name="password_must_contain_alphabates" id="disabled"   value="false" v-model="collection.form.password_must_contain_alphabates" >
                       No</label>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="col-sm-4 control-label">Password must contain special characters?</label>
                     <div class="col-sm-6">
                                            
                            <label class="radio-inline" for="enabled"> <input type="radio" id="enabled" name="password_must_contain_special_character" value="true" v-model="collection.form.password_must_contain_special_character">
                        Yes</label>
                        
                            <label class="radio-inline" for="disabled">
                        <input type="radio" name="password_must_contain_special_character" id="disabled"   value="false" v-model="collection.form.password_must_contain_special_character" >
                        No</label>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="col-sm-4 control-label">Allow number in password?</label>
                     <div class="col-sm-6">
                                           
                            <label class="radio-inline" for="enabled"> <input type="radio" id="enabled" name="password_allow_numeric" value="true" v-model="collection.form.password_allow_numeric">
                        Yes</label>
                        
                            <label class="radio-inline" for="disabled">
                        <input type="radio" name="password_allow_numeric" id="disabled"   value="false" v-model="collection.form.password_allow_numeric" >
                        No</label>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="col-sm-4 control-label">Allow alphabets in password?</label>
                     <div class="col-sm-6">
                                             
                            <label class="radio-inline" for="enabled"> <input type="radio" id="enabled" name="password_allow_alphabates" value="true" v-model="collection.form.password_allow_alphabates">
                        Yes</label>
                       
                            <label class="radio-inline" for="disabled">
                        <input type="radio" name="password_allow_alphabates" id="disabled"   value="false" v-model="collection.form.password_allow_alphabates" >
                       No</label>
                     </div>
                  </div>
                   <div class="form-group">
                     <label class="col-sm-4 control-label">Allow special character in password?</label>
                     <div class="col-sm-6">
                                             
                            <label class="radio-inline" for="enabled"> <input type="radio" id="enabled" name="password_allow_special_character" value="true" v-model="collection.form.password_allow_special_character">
                        Yes</label>
                      
                            <label class="radio-inline" for="disabled">
                        <input type="radio" name="password_allow_special_character" id="disabled"   value="false" v-model="collection.form.password_allow_special_character" >
                       No</label>
                     </div>
                  </div>
                  </div>
                 </div>
            <div class="form-group">
            <div class="col-sm-6">
            <button type="submit" name="submit" class="btn success">Save</button>
            <button type="button" name="cancel" class="btn success" href="javascript:;" v-on:click="showConfirmCancelAlert()">Cancel</button>
            </div>
            </div>
            </form>
            <simplert :useRadius="true"
               :useIcon="true"
               ref="simplert">
            </simplert>
         </div>
      </div>
   </div>
   </div>
</template>
<script>
   import config from '../../config.json'
   import Simplert from 'vue2-simplert'
   import BreadCrumbs from '../Breadcrumbs.vue'
   var moment = require("moment-timezone");
   export default {
   components: {
   Simplert,
   BreadCrumbs
   },
   data () {
   return {
Authorization: this.$session.get('access_token'),
  clientId: this.$session.get('client_id'),
    preference: {},
   tzs:[{"value":"UTC","text":"UTC"}],
   collection:{
   form:{
   phone:'',
   user_email_verification: true,
   time_zone_preference: 'UTC',
   password_policy: '',
   min_password_length: '',
   wrong_password_attempts: '',
  password_must_contain_numeric: false,
  password_must_contain_alphabates: false,
  password_must_contain_special_character: false,
  password_allow_numeric: true,
  password_allow_alphabates: true,
  password_allow_special_character: true
   }
   },
   msg: '',
   password: '',
   IsErrorOccurred: false,
   ErrorHeader: '',
   ErrorMessage: '',
   role: '',
   isupdate: true,
   CurrentUsername:''
   // isLoggedIn: this.$session.exists()
   }
   },
   mounted () {
     $("#phone").intlTelInput()
      $('#register-form').parsley()
var now = moment.utc();
// get the zone offsets for this time, in minutes
var UtcOffset = moment.tz.zone("UTC").offset(now); 


    this.getClient()
   var timezone = moment.tz.names();
   for (var i = 0; i < timezone.length; i++) {
   var tz={};
   var TzOffset=moment.tz.zone(timezone[i]).offset(now); 
   var hrs=(TzOffset -UtcOffset) / 60;
   var hrs_unsigned=Math.abs(hrs);
   var hr=Math.floor(hrs_unsigned);
   var min=(hrs_unsigned-hr)*60;
   if(hrs_unsigned!=0)
   hr=hr*(hrs/hrs_unsigned);
   tz.value=timezone[i];

   tz.text=timezone[i]+" ("+hr+":"+min+" UTC)";
   this.tzs.push(tz);
   }
   
   
  
   if (this.$route.params.userid) {
   this.getUserByid()
   this.isupdate = false
   }
   },
   methods: {
  getClient () {

        this.$http.get(config.ACCOUNT_REGISTRATION_URL + '/AccountManagement/rest/AccountService/orgdetails/' + this.clientId,
          {
            headers: {
              'Authorization': this.Authorization,
              'Content-Type': 'application/json'
            }
          }).then(response => {
            var data = JSON.parse(response.bodyText)
            // var responseData = JSON.parse(data.response_data)
            console.log(data)
            if (data.status === 'success') {
              this.preference = data.client.preferences
               this.collection.form.phone = data.client.phone
              
               this.collection.form.user_email_verification = this.preference.user_email_verification
              this.collection.form.time_zone_preference = this.preference.time_zone_preference
              this.collection.form.password_policy = this.preference.password_policy
               this.collection.form.min_password_length = this.preference.min_password_length
              this.collection.form.wrong_password_attempts = this.preference.wrong_password_attempts
              this.collection.form.password_must_contain_numeric = this.preference.password_must_contain_numeric
               this.collection.form.password_must_contain_alphabates = this.preference.password_must_contain_alphabates
              this.collection.form.password_must_contain_special_character = this.preference.password_must_contain_special_character
              this.collection.form.password_allow_numeric = this.preference.password_allow_numeric
              this.collection.form.password_allow_alphabates = this.preference.password_allow_alphabates
              this.collection.form.password_allow_special_character = this.preference.password_allow_special_character
            } else {
              this.noClient = 'No Client Found'
            }
          }).catch(e => {
            console.log(this.error)
          })
    },
   validateBeforeSubmit (e) {
   this.$validator.validateAll()
   if (!this.errors.any()) {
   this.save()
   }
   },
   updateClientPreferences() {
   console.log('IN UPDATE USER')
   this.IsErrorOccurred = false
  this.collection.form.phone = $("#phone").intlTelInput("getNumber")
   console.log(config.ACCOUNT_REGISTRATION_URL + '/AccountManagement/rest/AccountService/setClientPreference')
   this.$http.post(config.ACCOUNT_REGISTRATION_URL + '/AccountManagement/rest/AccountService/setClientPreference', {
   'user_email_verification': this.collection.form.user_email_verification,
   'phone': this.collection.form.phone,
   'clientId': this.clientId,
   'time_zone_preference': this.collection.form.time_zone_preference,
   'password_policy': this.collection.form.password_policy,
   'min_password_length': this.collection.form.min_password_length,
    'wrong_password_attempts': this.collection.form.wrong_password_attempts,
     'password_must_contain_numeric': this.collection.form.password_must_contain_numeric,
      'password_must_contain_alphabates': this.collection.form.password_must_contain_alphabates,
        'password_must_contain_special_character': this.collection.form.password_must_contain_special_character ,
        'password_allow_numeric':this.collection.form.password_allow_numeric,
        'password_allow_alphabates':this.collection.form.password_allow_alphabates,
         'password_allow_special_character':this.collection.form.password_allow_special_character
   }, {
   // emulateJSON: true,
   headers: {
   'Authorization': this.Authorization,
   'Content-Type': 'application/json'
   }
   }).then(response => {
   var data = JSON.parse(response.bodyText)
   console.log(data)
   if (data.status === 'success') {
   this.$router.push('/organizationdetails')
   } else {
   console.log(data)
   this.IsErrorOccurred = true
   this.ErrorHeader = data.message
   this.ErrorMessage = data.error
   }
   },(response) => {
   console.log(response)
   }).catch(e => {
   console.log('error occured')
   console.log(e.error)
   })
   },
   save () {
  
   this.updateClientPreferences()
   },
   showConfirmCancelAlert () {
   let confirmFn = function () {
   this.$router.push('/organizationdetails')
   }
   let obj = {
   title: 'Cancel',
   message: 'Are you sure want to Cancel?',
   type: 'info',
   useConfirmBtn: true,
   onConfirm: confirmFn
   }
   this.$refs.simplert.openSimplert(obj)
   }
   }
   }
   

</script>