<template lang="html">
<div>
<BreadCrumbs></BreadCrumbs>
<h2>Organization Details</h2>
            <div class="panel">
              <div class="panel-body">
                <div>
                  <router-link to="../manageaccount" class="btn btn-success">Settings</router-link>
                </div>
              </br>
                <div class="example-box-wrapper">
                {{noClient}}
<h3>Organization Information</h3><br>
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="ShowData">
                  <tbody>
                <tr>
                  <td>
                    Organization
                  </td>
                  <td>
                          {{client.name}}
                  </td>
                </tr>
                  <tr>
                  <td>Account Creation Date</td>
                        <td>{{createDate}}</td>
                </tr>
                <tr>
                  <td>
                  Super Admin</td>
                  <td>{{superAdmin.name}}
                  </td>
                    </tr> 
                <tr>
                  <td>Super Admin Email
                        <td>{{superAdmin.username}}</td>
                    </tr> 
                <tr>
                  <td>Phone Number
                    <td>{{client.phone}}
                    </td>
                    </tr>  
                    </tbody>
                  </table> 
                <h3>  Preferences</h3><br>
                   <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="ShowPreferences">
                  <tbody>
                      <tr>
                  <td>Time Zone Preference
                        <td>{{preferences.time_zone_preference}}</td>
                    </tr> 
                <tr>
                  <td>User Email verification
                    <td>{{preferences.user_email_verification?'Enabled':'Disabled'}}
                    </td>
                    </tr>   
                      <tr>
                  <td>Password Expires in
                        <td>{{preferences.password_policy}} days</td>
                    </tr> 
                <tr>
                  <td>Minimum length of password
                    <td>{{preferences.min_password_length}}
                    </td>
                    </tr>   
                      <tr>
                  <td>Max wrong password attempts
                        <td>{{preferences.wrong_password_attempts}}</td>
                    </tr> 
                <tr>
                  <td>Password must contain number
                    <td>{{preferences.password_must_contain_numeric?'Yes':'Not necessary'}}
                    </td>
                    </tr>   
                      <tr>
                  <td>Password must contain alphabets
                        <td>{{preferences.password_must_contain_alphabates?'Yes':'Not necessary'}}</td>
                    </tr> 
                <tr>
                  <td>Password must contain special character
                    <td>{{preferences.password_must_contain_special_character?'Yes':'Not necessary'}}
                    </td>
                    </tr>   
                      <tr>
                  <td>Number allowed in password</td>
                        <td>{{preferences.password_allow_numeric?'Yes':'No'}}</td>
                    </tr> 
                <tr>
                  <td>alphabets allowed in password
                    <td>{{preferences.password_allow_alphabates?'Yes':'No'}}
                    </td>
                    </tr>   
                      <tr>
                  <td>Special character allowed in password
                        <td>{{preferences.password_allow_special_character?'Yes':'No'}}</td>
                    </tr> 
                
                  </tbody>
                  </table>
                   </table> 
                <h3> Products </h3><br>
                  <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="ShowProducts">
                  
                  <tbody>
  <tr>
   <td>  <router-link to="/userList">
               User Provisioning
              </router-link> </td><td>Manages Users and their roles</td>
  </tr>
  <tr>
   <td>  <a v-bind:href="reportUrl">
              Reporting
              </a> </td><td>Viewing and Analysing Reports of JDE database </td>
  </tr>

</tbody>
</table>
                </div> 
                </div>
                </div>
              </div>
            </div>
    </div>
</template>
<script>
  import config from '../../config.json'
  import BreadCrumbs from '../Breadcrumbs.vue'
// import dataTable from '../../../static/widgets/datatable/datatable.js'
 var moment = require("moment-timezone");
  export default {
    components: {
      BreadCrumbs
    },
    data () {
      return {
        client: {},
        createDate: "",
        createdBy: {},
        superAdmin: {},
productList:[],
 reportUrl:'',
        preferences: {},
        noClient:""
      }
    },
    mounted () {
      this.getClient()
      $("#ShowData").find("td:last-child").css("font-weight", "bold")
      $("#ShowPreferences").find("td:last-child").css("font-weight", "bold")  
          $("#ShowProducts").find("td:last-child").css("font-weight", "bold")     
      this.reportUrl = config.REPORT_URL + '/OauthRedirect?access_token=' +this.$session.get('access_token') + '&userId='+ this.$session.get('user_id')+ '&clientId=' +this.$session.get('client_id')

    },
    methods: {
      getClient () {
        var Authorization = this.$session.get('access_token')
        var client = this.$session.get('client_id')
        console.log(this.$route.params.userid)
        this.$http.get(config.ACCOUNT_REGISTRATION_URL + '/AccountManagement/rest/AccountService/orgdetails/' + client,
          {
            headers: {
              'Authorization': Authorization,
              'Content-Type': 'application/json'
            }
          }).then(response => {
            var data = JSON.parse(response.bodyText)
            // var responseData = JSON.parse(data.response_data)
            console.log(data)
            if (data.status === 'success') {
              this.client = data.client
              this.superAdmin = this.client.super_admin
              this.createdBy = this.client.created_by
              this.preferences = this.client.preferences
               this.productList = this.client.product_list
               this.createDate = moment(this.client.created_date, "x").tz(this.preferences.time_zone_preference).format('YYYY-MM-DD HH:mm:ss');
            } else {
              this.noClient = 'No Client Found'
            }
          }).catch(e => {
            console.log(this.error)
          })
      
      }
    }
}
</script>