<template lang="html">
   <div>
      <BreadCrumbs></BreadCrumbs>
      <h2>Account Management</h2>

      <div class="panel">
         <div class="panel-body">
            <div class="example-box-wrapper">
             
    </div>
               <ul class="nav-responsive nav nav-tabs">
                  <li class="active"><a href="#tab1" data-toggle="tab">Organization Details</a></li>
                  <li><a href="#tab2" data-toggle="tab">Settings</a></li>
               </ul>
               <div class="tab-content">
                <div id="loadingSpinner" class="progress-overlay pad45A float_center">
                            <img src="../../assets/images/spinner/loader-dark.gif" alt="">
                        </div>
          
                  <div class="tab-pane active" id="tab1">
                     <div class="panel">

                        <div class="panel-body">
                          
                           </br>
                           <div class="example-box-wrapper">
                            
                              {{noClient}}
                              <h3>Organization Information</h3>
                              <br>
                              <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="ShowData">
                                 <tbody>
                                    <tr>
                                       <td>
                                          Organization
                                       </td>
                                       <td>
                                          {{client.name}}
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>Account Creation Date</td>
                                       <td>{{createDate}} {{preferences.time_zone_preference}}</td>
                                    </tr>
                                    <tr>
                                       <td>
                                          Super Admin
                                       </td>
                                       <td>{{superAdmin.name}}
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>Super Admin Email</td>
                                       <td>{{superAdmin.username}}</td>
                                    </tr>
                                    <tr>
                                       <td>Phone Number</td>
                                       <td>{{client.phone}}
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                              <h3>  Preferences</h3>
                              <br>
                              <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="ShowPreferences">
                                 <tbody>
                                    <tr>
                                       <td>Time Zone Preference</td>
                                       <td>{{preferences.time_zone_preference}}</td>
                                    </tr>
                                     <tr>
                                       <td>Date Format</td>
                                       <td>{{preferences.date_format}}</td>
                                    </tr>
                                    <tr>
                                       <td>User Email verification</td>
                                       <td>{{preferences.user_email_verification?'Enabled':'Disabled'}}
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>Password Expires in</td>
                                       <td>{{preferences.password_policy}} days</td>
                                    </tr>
                                    <tr>
                                       <td>Minimum length of password</td>
                                       <td>{{preferences.min_password_length}}
                                       </td>
                                    </tr>
                                     <tr>
                                       <td>Maximum length of password</td>
                                       <td>{{preferences.max_password_length}}
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>Max wrong password attempts</td>
                                       <td>{{preferences.wrong_password_attempts}}</td>
                                    </tr>
                                    <tr>
                                       <td>New password cannot be same as previous how many passwords</td>
                                       <td>{{preferences.password_cannot_be_same_as_previous_n_passwords}}</td>
                                    </tr>
                                    <tr>
                                       <td>Password must contain</td>
                                       <td>{{preferences.password_must_contain_numeric?'Number':''}}<br>
                                       {{preferences.password_must_contain_alphabates?'Alphabets':''}}<br>
                                       {{preferences.password_must_contain_special_character?'Special Characters':''}}
                                       </td>
                                    </tr>
                                    
                                    <tr>
                                       <td>Characters allowed in password</td>
                                       <td>{{preferences.password_allow_numeric?'Numbers':''}}<br>
                                       {{preferences.password_allow_alphabates?'Alphabets':''}}<br>
                                       {{preferences.password_allow_special_character?'Special Characters':''}}
                                       </td>
                                    </tr>
                                    
                                 </tbody>
                              </table>
                              <h3> Products </h3>
                              <br>
                              <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="ShowProducts">
                                 <tbody>
                                    <tr>
                                       <td>
                                          <router-link to="/userList">
                                             User Provisioning
                                          </router-link>
                                       </td>
                                       <td>Manages Users and their roles</td>
                                    </tr>
                                    <tr>
                                       <td>  <a v-bind:href="reportUrl">
                                          Reporting
                                          </a> 
                                       </td>
                                       <td>Viewing and Analysing Reports of JDE database </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                 </div>
                  <div class="tab-pane" id="tab2">
               <div class="panel">
                  <div class="panel-body">
                     <div class="example-box-wrapper">
                        <div class="alert alert-danger" id="error" v-if="IsErrorOccurred">
                           <div class="bg-red alert-icon">
                              <i class="glyph-icon icon-times"></i>
                           </div>
                           <div class="alert-content">
                              <h4 class="alert-title">{{ ErrorHeader }}</h4>
                              <p>{{ ErrorMessage }}</p>
                           </div>
                        </div>
                        <font color="red">*All fields are Required</font>
                        <form @submit.prevent="validateBeforeSubmit" enctype="multipart/form-data" class="form-horizontal bordered-row" data-parsley-validate="">
                           <div class="form-group">
                              <label class="col-sm-4 control-label">Phone number</label>
                              <div class="col-sm-6">
                                 <input type="text" id="phone" style="align:left;width:100%;padding-left:35px;border:0px" data-parsley-required data-parsley-errors-container="#phone-error" v-model="client.phone" data-parsley-required data-parsley-required-message="Phone number is required">
                              </div>
                           </div>
                           <div class="form-group">
                              <label class="col-sm-4 control-label">New User Email Verification</label>
                              <div class="col-sm-6">
                                 <label  class="radio-inline" for="enabled"> <input type="radio" id="enabled" name="user_email_verification" value="true" v-model="client.user_email_verification">
                                 Enabled</label>
                                 <label class="radio-inline" for="disabled">
                                 <input  class="radio-inline" type="radio" name="user_email_verification" id="disabled"   value="false" v-model="client.user_email_verification" >
                                 Disabled</label>
                              </div>
                           </div>
                           <div class="form-group">
                              <label class="col-sm-4 control-label">Time Zone</label>
                              <div class="col-sm-4">
                                 <select placeholder="Please select one" v-model="preferences.time_zone_preference" class="form-control">
                                    <option value="" disabled>Please select one</option>
                                    <option v-for="tz in tzs"  v-bind:value="tz.value" v-bind:selected="tz.value == preferences.time_zone_preference">   {{tz.text}} </option>
                                    <!-- <option v-for="tz in tzs" v-bind:value="tz.value">{{tz.text}}</option>-->
                                 </select>
                              </div>
                           </div>
                            <div class="form-group">
                              <label class="col-sm-4 control-label">Date Format</label>
                              <div class="col-sm-4">
                                 <select placeholder="Please select one" v-model="preferences.date_format" class="form-control">
                                    <option value="" disabled>Please select one</option>
                                    <option v-for="date_format in date_formats"  v-bind:value="date_format" v-bind:selected="date_format == preferences.date_format">   {{date_format}} </option>
                                    <!-- <option v-for="tz in tzs" v-bind:value="tz.value">{{tz.text}}</option>-->
                                 </select>
                              </div>
                           </div>
                           <div class="form-group">
                              <h4>
                                 Password Policy
                              </h4>
                              <div class="example-box-wrapper">
                                 <div class="form-group">
                                    <label class="col-sm-4 control-label">Password Expiry</label>
                                    <div class="col-sm-4">
                                       <input type="text" id="name" name="name" class="form-control popover-button-default" placeholder="Enter Password Expiry in days" data-content=" 1) Only numbers are allowed" title="Rules" data-trigger="focus" data-placement="top" data-parsley-type="digits" v-model="preferences.password_policy" required>
                                       <p class ="text-danger" v-if="msg">{{msg}}</p>
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <label class="col-sm-4 control-label">Minimum password length</label>
                                    <div class="col-sm-4">
                                       <input type="text" id="min_password_length" name="min_password_length" class="form-control popover-button-default" placeholder="Minimum password length for users" data-content=" 1) Only numbers are allowed" title="Rules" data-trigger="focus" data-placement="top" data-parsley-type="digits" v-model="preferences.min_password_length" required>
                                       <p class ="text-danger" v-if="msg">{{msg}}</p>
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <label class="col-sm-4 control-label">Maximum password length</label>
                                    <div class="col-sm-4">
                                       <input type="text" id="min_password_length" name="max_password_length" class="form-control popover-button-default" placeholder="Maximum password length for users" data-content=" 1) Only numbers are allowed" title="Rules" data-trigger="focus" data-placement="top" data-parsley-type="digits" v-model="preferences.max_password_length" required>
                                       <p class ="text-danger" v-if="msg">{{msg}}</p>
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <label class="col-sm-4 control-label">Number of password attempts if wrong</label>
                                    <div class="col-sm-4">
                                       <input type="text" id="wrong_password_attempts" name="wrong_password_attempts" class="form-control popover-button-default" placeholder="Minimum password length for users" data-content=" 1) Only numbers are allowed" title="Rules" data-trigger="focus" data-placement="top" data-parsley-type="digits" v-model="preferences.wrong_password_attempts" required>
                                       <p class ="text-danger" v-if="msg">{{msg}}</p>
                                    </div>
                                 </div>
                                  <div class="form-group">
                                    <label class="col-sm-4 control-label">New password cannot be same as previous how many passwords</label>
                                    <div class="col-sm-4">
                                       <input type="text" id="password_cannot_be_same_as_previous_n_passwords" name="password_cannot_be_same_as_previous_n_passwords" class="form-control popover-button-default" placeholder="New password cannot be same as previous n number of passwords" data-content=" 1) Only numbers are allowed" title="Rules" data-trigger="focus" data-placement="top" data-parsley-type="digits" v-model="preferences.password_cannot_be_same_as_previous_n_passwords" required>
                                       <p class ="text-danger" v-if="msg">{{msg}}</p>
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <label class="col-sm-4 control-label">Password must contain</label>
                                   <div class="col-sm-6">
                                 <label class="checkbox-inline">
                            <input type="checkbox" v-model="preferences.password_must_contain_numeric">
                           Number
                        </label>
                         <label class="checkbox-inline">
                            <input type="checkbox" v-model="preferences.password_must_contain_alphabates">
                            Alphabates
                        </label>
                         <label class="checkbox-inline">
                            <input type="checkbox" id="" v-model="preferences.password_must_contain_special_character">
                           Special Character
                        </label>
                                    </div>
                                 </div>
                                 
                                 <div class="form-group">
                                    <label class="col-sm-4 control-label">Allowed Characters in password?</label>
                                     <div class="col-sm-6">
                                 <label class="checkbox-inline">
                            <input type="checkbox" v-model="preferences.password_allow_numeric">
                           Number
                        </label>
                         <label class="checkbox-inline">
                            <input type="checkbox" v-model="preferences.password_allow_alphabates">
                            Alphabates
                        </label>
                         <label class="checkbox-inline">
                            <input type="checkbox" id="" v-model="preferences.password_allow_special_character">
                           Special Character
                        </label>
                                    </div>
                                    
                                 </div>
                                
                                
                              </div>
                           </div>
                           <div class="form-group">
                              <div class="col-sm-6">
                                 <button type="submit" name="submit" class="btn success">Save</button>
                                 <button type="button" name="cancel" class="btn success" href="javascript:;" v-on:click="showConfirmCancelAlert()">Cancel</button>
                              </div>
                           </div>
                        </form>
                        <simplert :useRadius="true"
                           :useIcon="true"
                           ref="simplert">
                        </simplert>
                     </div>
                  </div>
               </div>
               </div>
           </div>
         </div>
      </div>
   </div>
  </div>
</template>
<script>
  import config from '../../config.json'
   import Simplert from 'vue2-simplert'
  import BreadCrumbs from '../Breadcrumbs.vue'
// import dataTable from '../../../static/widgets/datatable/datatable.js'
 var moment = require("moment-timezone");
  export default {
    components: {
     Simplert,
      BreadCrumbs
    },
    data () {
      return {
       client: {},
        createDate: "",
        createdBy: {},
        superAdmin: {},
productList:[],
 reportUrl:'',
        preferences: {},
        noClient:"",
        Authorization: this.$session.get('access_token'),
  clientId: this.$session.get('client_id'),
   tzs:[{"value":"UTC","text":"UTC (0:0 UTC)"}],
   date_formats:[
  'DD/MM/YYYY',
  'DD/MM/YYYY HH:mm:ss',
  'DD MM YYYY HH:mm:ss',
  'DD-MM-YYYY HH:mm:ss',
  'D MMMM YYYY',
  'D MMMM YYYY HH:mm',
  'D MMMM YYYY HH:mm:ss',
  'dddd, D MMMM YYYY HH:mm'
],
   msg: '',
   IsErrorOccurred: false,
   ErrorHeader: '',
   ErrorMessage: ''
   
      }
    },
    mounted () {
     
    $("#loadingSpinner").fadeOut();
    moment.locale('en')
      this.getClient()
      $("#ShowData").find("td:last-child").css("font-weight", "bold")
      $("#ShowPreferences").find("td:last-child").css("font-weight", "bold")  
          $("#ShowProducts").find("td:last-child").css("font-weight", "bold")     
      this.reportUrl = config.REPORT_URL + '/OauthRedirect?access_token=' +this.$session.get('access_token') + '&userId='+ this.$session.get('user_id')+ '&clientId=' +this.$session.get('client_id')

          $("#phone").intlTelInput()
      $('#register-form').parsley()
var now = moment.utc();
// get the zone offsets for this time, in minutes
var UtcOffset = moment.tz.zone("UTC").offset(now); 


  var timezone = moment.tz.names();
  
   for (var i = 0; i < timezone.length; i++) {
   var tz={};
   var TzOffset=moment.tz.zone(timezone[i]).offset(now); 
   var hrs=(TzOffset -UtcOffset) / 60;
   var hrs_unsigned=Math.abs(hrs);
   var hr=Math.floor(hrs_unsigned);
   var min=(hrs_unsigned-hr)*60;
   if(hrs_unsigned!=0)
   hr=hr*(hrs/hrs_unsigned);
   tz.value=timezone[i];

   tz.text=timezone[i]+" ("+hr+":"+min+" UTC)";
   var array = $.grep(this.tzs, function(value) {
    return value.text.indexOf(" ("+hr+":"+min+" UTC)") >= 0;
});
   if(array.length<=0)
   this.tzs.push(tz);
   }
   var thisvue = this;
  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
  thisvue.getClient()
});
    }
    ,
    methods: {
      getClient () {
        var Authorization = this.$session.get('access_token')
        var client = this.$session.get('client_id')
        console.log(this.$route.params.userid)
         $("#loadingSpinner").fadeIn();
        this.$http.get(config.ACCOUNT_REGISTRATION_URL + '/AccountManagement/rest/AccountService/orgdetails/' + client,
          {
            headers: {
              'Authorization': Authorization,
              'Content-Type': 'application/json'
            }
          }).then(response => {
           $("#loadingSpinner").fadeOut();
            var data = JSON.parse(response.bodyText)
            // var responseData = JSON.parse(data.response_data)
            console.log(data)
            if (data.status === 'success') {
              this.client = data.client
              this.superAdmin = this.client.super_admin
              this.createdBy = this.client.created_by
              this.preferences = this.client.preferences
               this.productList = this.client.product_list
               this.createDate = moment(this.client.created_date, "x").tz(this.preferences.time_zone_preference).format('YYYY-MM-DD HH:mm:ss');
            } else {
              this.noClient = 'No Client Found'
            }
          }).catch(e => {
           $("#loadingSpinner").fadeOut();
            console.log(this.error)
          })
      
      },
      validateBeforeSubmit (e) {
   this.$validator.validateAll()
   if (!this.errors.any()) {
   this.save()
   }
   },
   updateClientPreferences() {
   console.log('IN UPDATE USER')
   this.IsErrorOccurred = false
  this.client.phone = $("#phone").intlTelInput("getNumber")
   console.log(config.ACCOUNT_REGISTRATION_URL + '/AccountManagement/rest/AccountService/setClientPreference')
   $("#loadingSpinner").fadeIn();
   this.$http.post(config.ACCOUNT_REGISTRATION_URL + '/AccountManagement/rest/AccountService/setClientPreference', {
   'user_email_verification': this.preferences.user_email_verification,
   'phone': this.client.phone,
   'clientId': this.clientId,
   'time_zone_preference': this.preferences.time_zone_preference,
   'date_format': this.preferences.date_format,
   'password_policy': this.preferences.password_policy,
   'min_password_length': this.preferences.min_password_length,
    'max_password_length': this.preferences.max_password_length,
    'wrong_password_attempts': this.preferences.wrong_password_attempts,
    'password_cannot_be_same_as_previous_n_passwords': this.preferences.password_cannot_be_same_as_previous_n_passwords,
     'password_must_contain_numeric': this.preferences.password_must_contain_numeric,
      'password_must_contain_alphabates': this.preferences.password_must_contain_alphabates,
        'password_must_contain_special_character': this.preferences.password_must_contain_special_character ,
        'password_allow_numeric':this.preferences.password_allow_numeric,
        'password_allow_alphabates':this.preferences.password_allow_alphabates,
         'password_allow_special_character':this.preferences.password_allow_special_character
   }, {
   // emulateJSON: true,
   headers: {
   'Authorization': this.Authorization,
   'Content-Type': 'application/json'
   }
   }).then(response => {
   $("#loadingSpinner").fadeOut();
    this.getClient()
   var data = JSON.parse(response.bodyText)
   console.log(data)
   if (data.status === 'success') {
   $('.nav-tabs a:first').tab('show') 
   } else {
   console.log(data)
   this.IsErrorOccurred = true
   this.ErrorHeader = data.message
   this.ErrorMessage = data.error
   }
   },(response) => {
   $("#loadingSpinner").fadeOut();
   console.log(response)
   }).catch(e => {
    $("#loadingSpinner").css("display","none");
   console.log('error occured')
   console.log(e.error)
   })
   },
   save () {
  
   this.updateClientPreferences()
   },
   showConfirmCancelAlert () {
   let confirmFn = function () {
    this.getClient()
 $('.nav-tabs a:first').tab('show') 
   }
   let obj = {
   title: 'Cancel',
   message: 'Are you sure want to Cancel?',
   type: 'info',
   useConfirmBtn: true,
   onConfirm: confirmFn
   }
   this.$refs.simplert.openSimplert(obj)
   }
      }
    }

</script>