<template>
<div class="">
 <div class="float-right">
<button class="btn btn-default" id="start-page-tour" style="margin-bottom:2px; margin-top:3px;margin-right:5px;height:26px;padding:0px;background-color: rgb(80, 214, 24);color: rgb(250, 250, 250);width:100px;line-height:25px;font-size:15px" v-on:click="InitPageTour()">
      <i class="glyph-icon icon-lightbulb-o"></i> Start Tour
  </button>
  </div>
 <BreadCrumbs></BreadCrumbs>
  <div>
            <ul class="nav-responsive nav nav-tabs">
               <li id="AccountManagementTab"><router-link to="/accountmanagement">Account Preferences</router-link></li>
               <li id="SubscriptionTab" class="active"><router-link to="/packages">Subscription</router-link></li>
               <li id="ActivityLogsTab"><router-link to="/activitylogs">Activity Logs</router-link></li>
                <li id="AuditorTab"><router-link to="#">Auditor</router-link></li>
            </ul>
            </div>
        <div class="panel">
         <div class="panel-body">
          <h3 class="title-hero">
                    Packages
                    </h3>
    <div class="content-box pad25A">
           <div class="row">
            <div class="col-md-4" v-for="package in packageList">
                <div class="pricing-box content-box" >
        <h3 class="bg-black pricing-title">{{package.name}}</h3>
                    <div class="bg-blue pricing-specs">
                        <span><sup>$</sup>{{package.fees}}</span>
                        <i>once per {{package.validity}} days</i>
                        <i>{{package.user_limit}} users</i>
                    </div>
               
                <!--ul>
                    <li v-for="product in package.product_feature_list">{{product.product_name}}</li>
                   
                     
                </ul-->
                    <div class="pad25A" v-if="!packageClientId.includes(package.package_id)">
                     <router-link :to="{ name: 'subscribe', params: { packageid: package.package_id }}"> 
                    <div class="btn btn-lg text-transform-upr btn-black font-size-12 font-size-12">Subscribe</b></div>
                    </router-link>
                </div>
                 <div class="pad25A" v-else>
                    
                    <div class="btn btn-lg text-transform-upr font-size-12 font-size-12">Subscribed</b></div>
                    
                </div>
            </div>
           
</div>
        </div>

     
   </div>
   <div class="panel-body">
                <h3 class="title-hero">
                    Feature Comparison
                </h3>
                <div class="example-box-wrapper">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Feature</th>
                            <th v-for="package in packageList">{{package.name}}</th>
                            
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>No. of Products</td>
                            <td v-for="package in packageList">{{package.product_feature_list.length}}</td>
                           
                        </tr>
                        <tr>
                            <td>Validity</td>
                             <td v-for="package in packageList">{{package.validity}} days</td>
                        </tr>
                        <tr>
                            <td>No. of Users</td>
                             <td v-for="package in packageList">{{package.user_limit}}</td>
                        </tr>
                        <tr>
                            <td>Fees</td>
                            <td v-for="package in packageList">${{package.fees}}</td>
                        </tr>
                         <tr>
                            <td>Regions</td>
                            <td v-for="package in packageList"><ul style="-webkit-padding-start: 20px;"><li v-for="region in package.region">{{region}} </li></ul></td>
                        </tr>
                         <tr>
                            <td>Product Features</td>
                            <td v-for="package in packageList"><ul style="-webkit-padding-start: 20px;" v-for="product_feature in package.product_feature_list"><h5>{{product_feature.product_name}}</h5><li v-for="feature in product_feature.feature_list">{{feature.entity_name}}|{{feature.entity_limited_value}}</li></ul></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
</div>
</div>
 </div>
</template>
<style>
.pricing-box ul li span {
    font-size: 12px;
}
.pricing-box ul {
  list-style-type: none;
}
.pricing-box ul li {
  padding: 0 1em;
   line-height: 30px;
height: 70px;
}
.pricing-box ul li:nth-child(3n+1) {
  clear: both;
}
</style>
<script>
  import config from '../../config.json'
   import Simplert from 'vue2-simplert'
  import BreadCrumbs from '../Breadcrumbs.vue'
 var moment = require("moment-timezone")
  export default {
    components: {
     Simplert,
      BreadCrumbs
    },
    data () {
      return {
      Authorization : this.$session.get('access_token'),
      errorMsg:'',
        client: {},
        packageClientId:[],
        packageList:[],
        packageLength:0,
        rowLength:0
     }
    },
    mounted () {
      this.SessionCheck()

 this.getPackageList()
 this.getClientPackageList()


    }
    ,
    methods: {
      SessionCheck () {
        this.isLoggedIn = this.$session.exists()
        if (this.isLoggedIn) {
          if (this.$cookies.isKey('Timeout')) { // check iscookie exists
            //  means session not yet get timeout
            //  so delete this cookie and again save new one.So timer will get reset
            this.$cookies.remove('Timeout')
            //  set new cookie with timeout. refresh timeout
            this.$cookies.set('Timeout', 'timeout', config.SESSION_TIMEOUT + 'min')
          } else {  // cookie not exist means session get timeout.So destroy the session manually
            this.$session.destroy()
            window.location.href = '/login'
          }
        } else { // session not exists. So redirect to login
          // remove previously exists cookie . if browser get closed without logout.
          if (this.$cookies.isKey('Timeout')) {
            this.$cookies.remove('Timeout')
          }
          if(this.$cookies.isKey('SessionExpMsg')){
            this.$cookies.remove('SessionExpMsg')
            }
            this.$cookies.set('SessionExpMsg','msg','1min')
            window.location.href = '/login'
          }
      },
InitPageTour(){


        var tour = new Tour({
            debug : true,
            onStart: function(tour){
              console.log("tour started")
            } ,          
            onEnd: function(tour) { 
              console.log("ending session")
            },
            onResume:function(tour) { 
              console.log("resume  session")
            },
            onPause:function(tour) { 
              console.log("pause session")
            },
            onClose:function(tour) { 
              console.log("close session")
            },
            onError:function(tour) { 
              console.log("on erroe session")
            }
        });

      
        tour.addStep({
                      element : "#SubscriptionTab",
                      title : "Subscription",
                      content : "Click here to check Subscription details",
                      delay: true
                  });
        tour.addStep({
                      element : "#ActivityLogsTab",
                      title : "Cancel",
                      content : "Click here to check Activity Logs",
                      delay: true
                  });
          tour.addStep({
                      element : "#AccountManagementTab",
                      title : "Account Management",
                      content : "Click here to check Account Preferences",
                      delay: true
                  });
           tour.addStep({
                      element : "#AuditorTab",
                      title : "Cancel",
                      content : "Click here to set Auditor Settings",
                      delay: true
                  });
        tour.restart();
      
},
      openAccountPreference()
      {
         this.$router.push('/accountmanagement')   
      },
      openSubscription()
      {
         this.$router.push('/packages')   
      },
      openActivityLogs()
      {
         this.$router.push('/activitylogs')   
      },
      getPackageList() {
this.SessionCheck()

        this.$http.get(config.SUBSCRIPTION_URL + '/get_all_packages',
          {
            headers: {
              'Authorization': this.Authorization,
              'Content-Type': 'application/json'
            }
          }).then(response => {
            var data = JSON.parse(response.bodyText)
            console.log(data)
            if (data.status === "success") {
              var packagelists = data.result
              this.packageList = packagelists
              this.packageLength = this.packageList.length
              
            } else {
              this.errorMsg = 'No data found'
            }
          }).catch(e => {
            console.log(e)
          })
    
         },
           getClientPackageList() {
            this.SessionCheck()

 var client = this.$session.get('client_id')
        this.$http.get(config.SUBSCRIPTION_URL + '/get_client_packages/'+client,
          {
            headers: {
              'Authorization': this.Authorization,
              'Content-Type': 'application/json'
            }
          }).then(response => {
            var data = JSON.parse(response.bodyText)
            console.log(data)
            if (data.status === "success") {
             var subscribedpackages=data.result
             var i=0;
              for (i = 0; i < subscribedpackages.length; i++) { 
this.packageClientId.push(subscribedpackages[i].package_id)
              }
              console.log("client package id "+this.packageClientId)
            } else {
              this.errorMsg = 'No data found'
            }
          }).catch(e => {
            console.log(e)
          })
    
         }
      }
    }

</script>