<template>
  <div>
 <div class="float-right">
  <button class="btn btn-default" id="start-page-tour" style="margin-bottom:2px; margin-top:3px;margin-right:5px;height:26px;padding:0px;background-color: rgb(80, 214, 24);color: rgb(250, 250, 250);width:100px;line-height:25px;font-size:15px" v-on:click="InitPageTour()">
      <i class="glyph-icon icon-lightbulb-o"></i> Start Tour
  </button>
  </div>
      <BreadCrumbs></BreadCrumbs>
             
            
                <div>   
            <ul class="nav-responsive nav nav-tabs">
               <li id="AccountManagementTab"><router-link to="/accountmanagement">Account Preferences</router-link></li>
               <li id="SubscriptionTab" class="active"><router-link to="/packages">Subscription</router-link></li>
               <li id="ActivityLogsTab"><router-link to="/activitylogs">Activity Logs</router-link></li>
              <li id="AuditorTab"><router-link to="#">Auditor</router-link></li>
            </ul>
            </div>
              <div class="panel">
                <div class="panel-body">
         <h3 class="title-hero">
                     Subscribe for Package
                    </h3>
                    <div class="example-box-wrapper">

                       <div id="ShowMessages">
                        <div class="example-box-wrapper" v-if="ShowSuccessMessage">
                            <div class="alert alert-close alert-success">
                                <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('success')"></a>
                                <div class="bg-green alert-icon">
                                    <i class="glyph-icon icon-check"></i>
                                </div>
                                <div class="alert-content">
                                    <h4 class="alert-title">Success</h4>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="alert alert-danger" v-if="ShowErrorMessage">
                          <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('error')"></a>
                          <div class="bg-red alert-icon">
                              <i class="glyph-icon icon-times"></i>
                          </div>
                          <div class="alert-content">
                              <h4 class="alert-title">{{ErrorTitle}}</h4>
                              <p>{{ErrorMessage}}</p>
                          </div>
                      </div>
                    </div>
                       <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="ShowData">
                                 <tbody>
                                 <tr>
                            <td>No. of Products</td>
                            <td>{{packageSelected.product_feature_list.length}}</td>
                           
                        </tr>
                        <tr>
                            <td>Validity</td>
                             <td>{{packageSelected.validity}} days</td>
                        </tr>
                        <tr>
                            <td>No. of Users</td>
                             <td>{{packageSelected.user_limit}}</td>
                        </tr>
                        <tr>
                            <td>Fees</td>
                            <td>${{packageSelected.fees}}</td>
                        </tr>
                         <tr>
                            <td>Regions</td>
                            <td><ul style="-webkit-padding-start: 20px;"><li v-for="region in packageSelected.region">{{region}} </li></ul></td>
                        </tr>
                         <tr>
                            <td>Product Features</td>
                            <td><ul style="-webkit-padding-start: 20px;" v-for="product_feature in packageSelected.product_feature_list"><h5>{{product_feature.product_name}}</h5><li v-for="feature in product_feature.feature_list">{{feature.entity_name}}|{{feature.entity_limited_value}}</li></ul></td>
                        </tr>
                          </tbody>
                        </table>
                         <div class="form-group">
                              <div class="col-sm-6">
                         <button id="#subscribe" type="button" name="submit" class="btn success" data-dismiss="modal" v-on:click="subscribe">Proceed to Pay</button>
                          <button id="#cancel" type="button" name="cancel" class="btn success" data-dismiss="modal" v-on:click="showConfirmCancelAlert">Cancel</button>
                          </div>
                            <simplert :useRadius="true"
                        :useIcon="true"
                        ref="simplert">
                        </simplert>
                          </div>
                </div>
              </div>
            </div>
        </div>
    </template>
<script>
 import config from '../../config.json'
   import Simplert from 'vue2-simplert'
  import BreadCrumbs from '../Breadcrumbs.vue'
 var moment = require("moment-timezone")
  export default {
    components: {
     Simplert,
      BreadCrumbs
    },
    data () {
      return {
      errorMsg:'',
      packageSelected:{},
      IsErrorOccurred: false,
      ErrorHeader: '',
      ErrorMessage: '',
      ShowSuccessMessage: false,
      ShowErrorMessage:false,
      ErrorTitle:'',
      ErrorMessage:'',
      Authorization : this.$session.get('access_token')
     }
    },
    mounted () {
      this.SessionCheck()
    console.log('in package subscribe page');
 this.getPackageSelected()

 
   
    }
    ,
    methods: { 
      SessionCheck () {
        this.isLoggedIn = this.$session.exists()
        if (this.isLoggedIn) {
          if (this.$cookies.isKey('Timeout')) { // check iscookie exists
            //  means session not yet get timeout
            //  so delete this cookie and again save new one.So timer will get reset
            this.$cookies.remove('Timeout')
            //  set new cookie with timeout. refresh timeout
            this.$cookies.set('Timeout', 'timeout', config.SESSION_TIMEOUT + 'min')
          } else {  // cookie not exist means session get timeout.So destroy the session manually
            this.$session.destroy()
            window.location.href = '/login'
          }
        } else { // session not exists. So redirect to login
          // remove previously exists cookie . if browser get closed without logout.
          if (this.$cookies.isKey('Timeout')) {
            this.$cookies.remove('Timeout')
          }
          if(this.$cookies.isKey('SessionExpMsg')){
            this.$cookies.remove('SessionExpMsg')
            }
            this.$cookies.set('SessionExpMsg','msg','1min')
            window.location.href = '/login'
          }
      },
InitPageTour(){

        var tour = new Tour({
            debug : true,
            onStart: function(tour){
              console.log("tour started")
            } ,          
            onEnd: function(tour) { 
              console.log("ending session")
            },
            onResume:function(tour) { 
              console.log("resume  session")
            },
            onPause:function(tour) { 
              console.log("pause session")
            },
            onClose:function(tour) { 
              console.log("close session")
            },
            onError:function(tour) { 
              console.log("on erroe session")
            }
        });

      
        tour.addStep({
                      element : "#SubscriptionTab",
                      title : "Subscription",
                      content : "Click here to check Subscription details",
                      delay: true
                  });
           tour.addStep({
                      element : "#subscribe",
                      title : "Cancel",
                      content : "Click here to subscribe for the package",
                      delay: true
                  });
        tour.addStep({
                      element : "#cancel",
                      title : "Cancel",
                      content : "Click here to cancel",
                      delay: true
                  });
        tour.addStep({
                      element : "#ActivityLogsTab",
                      title : "Cancel",
                      content : "Click here to check Activity Logs",
                      delay: true
                  });
        tour.addStep({
                      element : "#AuditorTab",
                      title : "Cancel",
                      content : "Click here to set Auditor Settings",
                      delay: true
                  });
       tour.addStep({
                      element : "#AccountManagementTab",
                      title : "Account Management",
                      content : "Click here to check Account Preferences",
                      delay: true
                  });
        tour.restart();

},
   showConfirmCancelAlert () {
   let confirmFn = function () {
    
this.$router.push('/packages')
   }
   let obj = {
   title: 'Cancel',
   message: 'Are you sure want to Cancel?',
   type: 'info',
   useConfirmBtn: true,
   onConfirm: confirmFn
   }
   this.$refs.simplert.openSimplert(obj)
   },
     getPackageSelected () { 
      this.SessionCheck()

       console.log('in get selected package method');
        this.$http.get(config.SUBSCRIPTION_URL + '/get_package_details/' + this.$route.params.packageid,
          {
            headers: {
              'Authorization': this.Authorization,
              'Content-Type': 'application/json'
            }

          }).then(response => {

            var data = JSON.parse(response.bodyText)
            if (data.status === 'success') {
              console.log(data.user)
           this.packageSelected=data.result
            }
          }).catch(e => {
            console.log('ERROR occured')
            console.log(e)
          })
      },
    subscribe()
    {
      this.SessionCheck()

      var clientId = this.$session.get('client_id')
    this.$http.post(config.SUBSCRIPTION_URL + '/subscribe', {
        'package_id': this.packageSelected.package_id,
          'client_id': clientId,
          'payment_mode': 'internet banking',
          'amount_paid': parseInt(this.packageSelected.fees, 10)
          
        }, {
          headers: {
           'Authorization': this.Authorization,
            'Content-Type': 'application/json'
          }
        }).then(response => {
          var data = JSON.parse(response.bodyText)
          if (data.status === 'success') {
            console.log("subscribed")
            this.$router.push('/packages')
          } else {
            console.log(data)
            this.ShowErrorMessage=true
            this.ErrorTitle='Error Occurred'
            this.ErrorMessage=response.bodyText
          }
        }).catch(e => {
          console.log('error occured')
          console.log(e.error)
          this.ShowErrorMessage=true
          this.ErrorTitle='Error Occured'
          this.ErrorMessage='Something went wrong.Try Again'
        })
    }
       }
    }
    </script>