<template lang="html">
<div>
<BreadCrumbs></BreadCrumbs>
<h2>Add Users</h2>
            <div class="panel">
            <font color="red">*All fields are Required</font>
              <div class="panel-body" align="center">
                <div class="example-box-wrapper">

                  <div id="ShowMessages">
                        <div class="example-box-wrapper" v-if="ShowSuccessMessage">
                            <div class="alert alert-close alert-success">
                                <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('success')"></a>
                                <div class="alert-content">
                                    <p>User get added successfully</p>
                                </div>
                            </div>
                        </div>
                        <div class="alert alert-danger" v-if="ShowErrorMessage">
                          <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('error')"></a>
                          <div class="alert-content">
                              <p>{{ErrorMessage}}</p>
                          </div>
                      </div>
                    </div>

                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
                  <tbody>
                    <tr v-for="product in securityRoleList">
                      <td>
                      <div class="row">
                          <div class="form-group">
                            <label class="col-sm-3 control-label" >{{ product.productName }}</label>
                            <div class="col-sm-4">
                              <select id="role" name="assets" class="form-control" v-model="product.selectedProductid">
                                <option v-for = "role in product.data" v-bind:value ="role.id" :selected="role.id == product.selectedProductid">{{ role.name }}</option>
                              </select>
                            </div>
                            <div class="col-sm-4">
                              <a class="btn btn-default font-blue-alt" href="#" role="button" data-toggle="modal" data-target="#AddSecurityRoleModal" v-on:click="AddRoleForProduct(product.productName,$event)" data-backdrop="static" data-keyboard="false">Create New Role</a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <form @submit.prevent="validateBeforeSubmit" class="form-horizontal bordered-row" id="demo-form" data-parsley-validate="">
                  <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                       <!-- <th>Password</th>
                        <th>Confirm Password</th> -->
                        <th>Active</th>
                        <th>Action</th>
                      </tr>
                      </thead>
                      <tbody>
                        <tr  v-for="(row,index) in rows">
                          <td>
                           <input type="text" id="name" placeholder="First Name" v-model="row.first_name" class="form-control" data-parsley-type="alphanum" data-parsley-required>

                            </td>
                            <td>
                                  <input type="text" id="lastName" v-model="row.last_name" name="lastName" placeholder="Last Name" class="form-control" data-parsley-type="alphanum" data-parsley-required>

                            </td>
                            <td>
                                    <input @blur="emailcheck(index)" type="email" v-model="row.username" id="username" name="username" class="form-control popover-button-default" placeholder="Enter Email" data-trigger="focus" data-placement="top" data-parsley-type="email" data-parsley-required>
                                    <p class ="text-danger" v-if="row.msg">{{row.msg}}</p>
                            </td>
                            <!--<td>
                            <input type="password" v-bind:id="'ps' + index " v-model="row.password" placeholder="Password" class="form-control" data-parsley-required>

                            </td>
                            <td>
                            <input type="password" v-bind:data-parsley-equalto="'#ps' + index " placeholder="Password" class="form-control" data-parsley-required>
                            </td>
                            -->
                            <td>
                                    <input type="checkbox" id="checkbox" v-model="row.active">
                            </td>
                            <td>
                              <a v-on:click="removeElement(row);" style="cursor: pointer">Remove</a>
                            </td>
                        </tr>
                      </tbody>
                  </table>
               <div>{{rows.index}}</div>
                  <button v-bind:disabled="isButtonDisabled" type="submit" name="submit" id="submit_user" class="btn btn-success" style="width:150px">Save</button>
                  <button type="button" name="add" id="add_multiple_user" class="btn btn-success" href="javascript:;" v-on:click="addRow" style="width:150px">Add Another</button>
                  <button type="button" name="cancel" id="cancel" class="btn btn-success" href="javascript:;" v-on:click="showConfirmCancelAlert()" style="width:150px">Cancel</button>
                  <simplert :useRadius="true"
                        :useIcon="true"
                        ref="simplert">
                      </simplert>
                      </form>
                </div>
              </div>

              <div class="modal fade" id="AddSecurityRoleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title"> {{ addSecurityProductName }} - Add Security Role</h4>
                      </div>
                      <div class="modal-body">
                        <div id="ShowMessages">
                        <div class="example-box-wrapper" v-if="ShowSuccessMessageForRole">
                            <div class="alert alert-close alert-success">
                                <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('success')"></a>
                                <div class="bg-green alert-icon">
                                    <i class="glyph-icon icon-check"></i>
                                </div>
                                <div class="alert-content">
                                    <h4 class="alert-title">Success</h4>
                                    <p>Role get added successfully</p>
                                </div>
                            </div>
                        </div>

                        <div class="alert alert-danger" v-if="ShowErrorMessageForRole">
                          <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('error')"></a>
                          <div class="bg-red alert-icon">
                              <i class="glyph-icon icon-times"></i>
                          </div>
                          <div class="alert-content">
                              <h4 class="alert-title">{{ErrorTitleForRole}}</h4>
                              <p>{{ErrorMessageForRole}}</p>
                          </div>
                        </div>
                      </div>
                          <form @submit.prevent="validateBeforeSubmitRole" enctype="multipart/form-data" class="form-horizontal bordered-row" data-parsley-validate="" id="managerole" data-validate="parsley" novalidate>
                              <div class="form-group">
                                  <label class="col-sm-3 control-label">Security Role</label>
                                  <div class="col-sm-6">
                                      <input type="text" id="name" name="name" class="form-control popover-button-default" placeholder="Enter Security Role" data-content=" 1) Only alphanumeric text allowed expect underscore[_]" title="Rules" data-trigger="focus" data-placement="top" data-parsley-type="alphanum" v-model="role_name" data-parsley-required>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-sm-3 control-label">Select Assets</label>
                                  <div class="col-sm-6">
                                      <div class="row">
                                          <div class="col-md-12">
                                            <select id="assets" name="assets" class="form-control" multiple="multiple" data-parsley-required v-model="selectedAssets">
                                              <option selected="true" v-for = "Asset in AssetList" v-bind:value ="Asset.id">{{ Asset.operation }}</option>
                                            </select>
                                          </div>
                                      </div>
                                  </div>
                              </div>

                            <div class="form-group">
                              <div class="col-sm-6">
                                <button type="submit" name="submit" class="btn success">Save</button>
                                <button type="button" name="cancel" class="btn success" data-dismiss="modal">Cancel</button>
                              </div>
                            </div>
                          </form>
                      </div>
                     </div>
              </div>
        </div>

            </div>
    </div>
</template>

<script>
  import config from '../../config.json'
  import Simplert from 'vue2-simplert'
  import BreadCrumbs from '../Breadcrumbs.vue'
  export default {
    components: {
      Simplert,
      BreadCrumbs
    },
    data () {
      return {
        rows: [{first_name: '', last_name: '', username: '', password: '', active:true, client_id: this.$session.get('client_id'), msg: ''}],
          collection:{
              form:{
                username: '',
                name: '',
                lastName: '',
                checkbox: true,
                password: '',
                c_password: ''
              }
          },
          isButtonDisabled:false,
        // msg: '',
        password: '',
        IsErrorOccurred: false,
        ErrorHeader: '',
        ErrorMessage: '',
        role: '',
        isupdate: true,
        CurrentUsername:'',
        productList:[],
        securityRoleList: [],
        selectedRoleProductwise: [],
        addSecurityProductName: '',
        AssetList:[],
        selectedAssets:[],
        role_name:'',
        IsErrorOccurredForRole: false,
        ErrorMessageForRole:'',
        ErrorHeaderForRole:'',
        selectedRoles: [],

        ShowSuccessMessageForRole: false,
        ShowErrorMessageForRole:false,
        ErrorTitleForRole:'',
        ErrorMessageForRole:'',

        ShowSuccessMessage: false,
        ShowErrorMessage:false,
        ErrorTitle:'',
        ErrorMessage:'',
        Roles: '',
        newUserRoles: ''
      }
    },
    mounted () {
      $('#demo-form').parsley();
      $("#parsley-id-multiple-checkbox").remove();

      $('#managerole').parsley()
      this.productList = ["Reporting", "ErpDataCloud", "UserProvisioning", "SchedulerFrontend", "AuthorizationFrontend"]
      this.get_RolesByProductId()

      if (this.$route.params.userid) {
        // this.getUserByid()
        this.isupdate = false
      }

      if( window.sessionStorage.getItem("start_user_tour") === 'true'){
        var tour = new Tour({
            debug : true,
            onStart: function(tour){
              window.sessionStorage.setItem("start_user_tour", true)
              console.log("tour started")
            } ,
            onEnd: function(tour) {
              window.sessionStorage.setItem('start_user_tour', false)
              console.log("ending session")
            },
            onResume:function(tour) {
              window.sessionStorage.setItem('start_user_tour', false)
              console.log("resume  session")
            },
            onPause:function(tour) {
              window.sessionStorage.setItem('start_user_tour', false)
              console.log("pause session")
            },
            onClose:function(tour) {
              window.sessionStorage.setItem('start_user_tour', false)
              console.log("close session")
            },
            onError:function(tour) {
              window.sessionStorage.setItem('start_user_tour', false)
              console.log("on erroe session")
            }
        });

        tour.addStep({
                      element : "#submit_user",
                      title : "Submit user",
                      content : "Click here to submit user",
                      delay: true,
                      path : "/addBulkUser",
                  }),
        tour.addStep({
                      element : "#add_multiple_user",
                      title : "Add Bulk user ",
                      content : "Click here to add bulk user",
                      delay: true,
                      path : "/addBulkUser",
                  }),
        tour.addStep({
                      element : "#cancel",
                      title : "Cancel",
                      content : "Click here to cancel action",
                      delay: true,
                      path : "/addBulkUser",
                  }),

        tour.addStep({
                      element : "#add_bulk_user",
                      title : "Add User ",
                      content : "Click here to add bulk user",
                      delay: true,
                      path : "/addBulkUser",
                  }),
        tour.restart()
      }
    },
    methods: {
      SessionCheck () {
        this.isLoggedIn = this.$session.exists()
        if (this.isLoggedIn) {
          if (this.$cookies.isKey('Timeout')) { // check iscookie exists
            //  means session not yet get timeout
            //  so delete this cookie and again save new one.So timer will get reset
            this.$cookies.remove('Timeout')
            //  set new cookie with timeout. refresh timeout
            this.$cookies.set('Timeout', 'timeout', config.SESSION_TIMEOUT + 'min')
          } else {  // cookie not exist means session get timeout.So destroy the session manually
            this.$session.destroy()
            window.location.href = '/login'
          }
        } else { // session not exists. So redirect to login
          // remove previously exists cookie . if browser get closed without logout.
          if (this.$cookies.isKey('Timeout')) {
            this.$cookies.remove('Timeout')
          }
          if(this.$cookies.isKey('SessionExpMsg')){
            this.$cookies.remove('SessionExpMsg')
            }
            this.$cookies.set('SessionExpMsg','msg','1min')
            window.location.href = '/login'
          }
      },
     validateBeforeSubmit (e) {
      this.SessionCheck()
      var instance = $('#demo-form').parsley();
      if (instance.isValid() === true) {
        console.log("valid form")
        this.addAll()
      }else{
        console.log("error")
        console.log(instance.isValid())
      }
      },
      SaveLog(activity){
        console.log('we are in activity log')
           this.$http.post(config.AUDIT_LOG_URL, activity).then(response => {
                 console.log('success log')
           })
      },
      addRow: function(){
        this.rows.push({first_name: '', last_name: '', username: '', password: '', active:true, client_id: this.$session.get('client_id'), msg: ''});
      },
      removeElement: function (row) {
        var index = this.rows.indexOf(row);
        this.rows.splice(index, 1);
      },
      getRoleName (){
      ;
        this.SessionCheck()
        var Authorization = this.$session.get('access_token')
        this.$http.post(config.AUTHORIZATION_URL+'/security_role/fetch_role_data', {
          'role_ids': this.selectedRoles}, {
          headers: {
              'Authorization': Authorization
            }
        }).then(response => {
          var data = JSON.parse(response.bodyText)
          if (data.status === 200) {
            var temp_role = []
            for (let j of data.data.security_role_list) {
                temp_role.push(j.name+' of '+j.product_id+' ')
              }
            this.newUserRoles = temp_role.join()
          } else {
            this.Roles = ''
            console.log(data)
          }
            console.log(data)
          },(response) => {
            console.log(response)
          })
      },
      getRolesUser (){

        this.SessionCheck()
        var Authorization = this.$session.get('access_token')
        this.$http.get(config.AUTHORIZATION_URL+'/auth_maps/get_product_role/'+this.$session.get('user_id'), {
          headers: {
              'Authorization': Authorization
            }
        }).then(response => {
          var data = JSON.parse(response.bodyText)
          if (data.status === 200) {
            var temp = data.data
            var rolelist = []
              for (let j of temp) {
                rolelist.push(j.role_name+' of '+j.product_id)
              }
            this.Roles = rolelist.join()
          } else {
            this.Roles = ''
            console.log(data)
          }
            console.log(data)
          },response => {
            console.log(response)
            var data =JSON.parse(response.bodyText)
            if(data.message === "session_expired"){
              this.$session.destroy()
              this.SessionCheck()
            }
          })
      },
      makeListUser (){
        this.SessionCheck()
        console.log("INSIDE ACTIVITY BULK")
        // this.getRolesUser()
        this.nameArray = []
        var d = new Date()
        var datetime = d.toUTCString()
        for (let item of this.rows) {
          var msg = ''
          var msg = this.Roles+' '+this.$session.get('email')+" created user "+item.firstname+" "+item.lastname+" with username "+item.username+" at "+datetime+" with "+this.newUserRoles+" roles"
          var activity = {"org_id": this.$session.get('client_id'),
                            "org": this.$session.get('client_name'),
                            "user_id": this.$session.get('user_id'),
                            "username": this.$session.get('email'),
                            "service_id": config.SERVICE_ID,
                            "ipaddress": this.$session.get('ipaddress'),
                            "datetime": datetime,
                            "browser_agent": navigator.userAgent,
                            "msg": msg}
          this.SaveLog(activity)
        }
      },
      addAll: function (){
        this.SessionCheck()
        // var userList = JSON.stringify(this.rows)
        this.getSelectedRole()
        this.getRoleName()
        this.getRolesUser()
        var UserRoleListData = {"userlist": this.rows,"selectedroles" : this.selectedRoles}
        console.log(UserRoleListData)
        var Authorization = this.$session.get('access_token')
        console.log("ADD ALL USER")
        this.$http.post(config.USER_PROVISION_URL + '/add_bulk_user', UserRoleListData, {
          headers: {
            'Authorization': Authorization,
            'Content-Type': 'application/json'
          }
        }).then(response => {
          var data = JSON.parse(response.bodyText)
          console.log(data)
          if (response.status === 200) {
            console.log("USER ADDED SUCCESS")
            // this.makeListUser()
            this.ShowSuccessMessage=true
            this.$router.push('/userList')
          } else {
            console.log(data)
            this.ShowErrorMessage=true
            this.ErrorTitle='Error Occurred'
            this.ErrorMessage="Something went wrong.Try again"
          }
        },response=>{
            var data = JSON.parse(response.bodyText)
            this.ShowErrorMessage=true
            this.ErrorTitle='Error Occurred'
            this.ErrorMessage=data.message
        }).catch(e => {
          console.log('error occured')
          console.log(e.error)
          this.ShowErrorMessage=true
          this.ErrorTitle='Error Occured'
          this.ErrorMessage='Something went wrong.Try Again'
        })
      },
      emailcheck (which) {
        this.SessionCheck()
        console.log('emailcheck reached')
        var Authorization = this.$session.get('access_token')
        console.log(Authorization)
        console.log(this.rows[which].username);
        this.$http.get(config.USER_PROVISION_URL+'/userexists/' + this.rows[which].username,{
          headers: {
            'Authorization': Authorization
          }
        }).then(response => {
          var emailcheckdata = JSON.parse(response.bodyText)
          ;
          console.log(emailcheckdata)
          if (emailcheckdata.status != 0) {
            this.rows[which].msg = 'Email already exists'
            this.isButtonDisabled=true

          }
          else {
            this.rows[which].msg = ''
            this.isButtonDisabled =false
          }
          console.log(emailcheckdata.exists);
        })
          .catch(e => {
            console.log('error');
            console.log(e)
          })

    },
      showConfirmCancelAlert () {
        let confirmFn = function () {
          this.$router.push('/userList')
        }
        let obj = {
          title: 'Cancel',
          message: 'Are you sure want to Cancel?',
          type: 'info',
          useConfirmBtn: true,
          onConfirm: confirmFn
        }
        this.$refs.simplert.openSimplert(obj)
      },
      get_RolesByProductId(){
        this.SessionCheck()
          console.log(this.productList)
          for(var i=0; i<this.productList.length; i++) {

            var Authorization = this.$session.get('access_token')
            this.$http.get(config.AUTHORIZATION_URL + '/security_role/product_role_list/' + this.productList[i],
          {
            headers: {
              'Authorization': Authorization,
              'Content-Type': 'application/json'
            }
          }).then(response => {
            var data = JSON.parse(response.bodyText)
            if(data.status === 200){
              var productName = data.data[0].product_id
              var selectedProductid = ''
              for(var j=0; j < Object.keys(data.data[0]).length;j++) {
                if (typeof data.data[j] !== 'undefined') {
                if (data.data[j]['name'] === 'Default') {
                  // this.selectedRoleProductwise.push({'productName':productName,'role_id':data.data[j]['id']})
                  this.selectedRoles.push(data.data[j]['id'])
                  selectedProductid = data.data[j]['id']
                  break;
                }
              }
            }
            this.securityRoleList.push({'productName':productName,'data':data.data,'selectedProductid':selectedProductid})
            }
          }, response => {
            var data =JSON.parse(response.bodyText)
            if(data.message === "session_expired"){
              this.$session.destroy()
              this.SessionCheck()
            } else {
            this.ShowErrorMessage=true
            this.ErrorMessage=data.error
            this.ErrorTitle=data.message
            }
          }).catch(e => {
            console.log('error occured')
            console.log(e)
          })
        }
        console.log('we are here')
        console.log(this.collection.form.selectedRoles)
       },
       getSelectedRole:function(productName,event)
       {
        this.SessionCheck()
        // console.log(this.securityRoleList)
         this.selectedRoles = []

        for (var i = 0; i < this.securityRoleList.length; i++) {
           this.selectedRoles.push(this.securityRoleList[i].selectedProductid)
        }
        console.log(this.selectedRoles)
      },
      getSelectedRoleForUpdate(){
      this.collection.form.selectedRoles =[]
      for (var i = 0; i < this.selectedRoleProductwise[0].length; i++) {
        var productName = this.selectedRoleProductwise[0][i].product_id
        var role_id = this.selectedRoleProductwise[0][i].role_id
        this.selectedRoles.push(role_id)

        for (var j = 0; j < this.securityRoleList.length; j++) {
          if(this.securityRoleList[j].productName == productName)
          {
            this.securityRoleList[j].selectedProductid = role_id
            break;
          }
        }
      }
      console.log(this.selectedRoles)
    },
    AddRoleForProduct(productName,event){
      this.SessionCheck()
      this.addSecurityProductName = productName
      this.AssetList = []
      this.selectedAssets =[]
      this.role_name =[]
        this.Organization = this.$session.get('user_id')
        if (this.product_id !== '') {
          var Authorization = this.$session.get('access_token')
          this.$http.get(config.AUTHORIZATION_URL + '/assets/list_product/' + productName,
            {
              headers: {
                'Authorization': Authorization,
                'Content-Type': 'application/json'
              }

            }).then(response => {
              var data = JSON.parse(response.bodyText)
              this.AssetList = data.data
            }, response => {
            ;
            var data =JSON.parse(response.bodyText)
            if(data.message === "session_expired"){
              this.$session.destroy()
              this.SessionCheck()
            } else {
            this.ShowErrorMessage=true
            this.ErrorMessage=data.error
            this.ErrorTitle=data.message
            }
          }).catch(e => {
              console.log('error occured')
              console.log(this.error)
            })
        }
    },
    validateBeforeSubmitRole (e) {
          this.SessionCheck()
          var instance = $('#managerole').parsley()
          if (instance.isValid() === true) {
            this.SaveSecurityRole()
          }else{
            console.log(instance.isValid())
          }
      },
    SaveSecurityRole()
    {
        this.SessionCheck()
        console.log(this.addSecurityProductName)
        this.IsErrorOccurredForRole = false
        var Authorization = this.$session.get('access_token')
        var Organizationid = this.$session.get('client_id')
        this.$http.post(config.AUTHORIZATION_URL + '/security_role/registerone', {
          'organization_id': Organizationid,
          'name': this.role_name,
          'product_id': this.addSecurityProductName,
          'assets': this.selectedAssets
        }, {
          headers: {
            'Authorization': Authorization,
            'Content-Type': 'application/json'
          }
        }).then(response => {
          console.log('we are here')
          var data = JSON.parse(response.bodyText)
          if (data.status === 200) {
            console.log('success')
            this.ShowSuccessMessageForRole=true
            this.AddToOption(this.addSecurityProductName,this.role_name,data.data.security_role_id)
          }},response => {
            var data =JSON.parse(response.bodyText)
            if(data.message === "session_expired"){
              this.$session.destroy()
              this.SessionCheck()
            } else {
            this.ShowErrorMessage=true
            this.ErrorMessage=data.error
            this.ErrorTitle=data.message
            }
        }).catch(e => {
          console.log(e)
          this.ShowErrorMessageForRole=true
          this.ErrorTitleForRole='Error Occured'
          this.ErrorMessageForRole='Something went wrong.Try Again'
        })
      },
    AddToOption(productName,RoleName,RoleId){
      for (var j = 0; j < this.securityRoleList.length; j++) {
        if(this.securityRoleList[j].productName == productName)
        {
          this.securityRoleList[j].data.push({"name":RoleName,"product_id":productName,"_id":RoleId})
          this.securityRoleList[j].selectedProductid = RoleId
          console.log(this.securityRoleList[j])
          $('#AddSecurityRoleModal').modal('hide');
          break;
        }
      }
    },
    MessageClosed(MessageType){
        console.log('we are in messages')
        console.log(MessageType)
        if(MessageType === 'success') {
          window.location.href = "/"
        } else if (MessageType === 'error') {
          console.log('we are in error messages')
          this.ShowErrorMessage=false
          this.ErrorTitle=''
          this.ErrorMessage=''

          this.ShowErrorMessageForRole=false
          this.ErrorTitleForRole=''
          this.ErrorMessageForRole=''
        }
      },
    }
}
</script>
