<template lang="html">
<div>
<BreadCrumbs></BreadCrumbs>
<h2>User</h2>
            <div class="panel">
              <div class="panel-body">
                <div class="example-box-wrapper">
                <div id="ShowMessages">
                        <div class="example-box-wrapper" v-if="ShowSuccessMessage">
                            <div class="alert alert-close alert-success">
                                <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('success')"></a>
                                <div class="bg-green alert-icon">
                                    <i class="glyph-icon icon-check"></i>
                                </div>
                                <div class="alert-content">
                                    <h4 class="alert-title">Success</h4>
                                    <p>Users get {{act}} successfully</p>
                                </div>
                            </div>
                        </div>
                        <div class="alert alert-danger" v-if="ShowErrorMessage">
                          <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('error')"></a>
                          <div class="bg-red alert-icon">
                              <i class="glyph-icon icon-times"></i>
                          </div>
                          <div class="alert-content">
                              <h4 class="alert-title">{{ErrorTitle}}</h4>
                              <p>{{ErrorMessage}}</p>
                          </div>
                      </div>
                    </div>

                <div class="form-group">
                  <label>Name:</label>
                        {{user.full_name}}
                </div>
                <div class="form-group">
                  <label>Verification Status:</label>
                        {{user.verification_status}}
                </div>
                <div class="form-group">
                  <label>Email:</label>
                        {{user.username}}
                </div>
                <div class="form-group">
                  <label>Client:</label>
                        {{user.org_name}}
                </div>
                <div class="form-group">
                  <label>Created By:</label>
                        {{user.created_by}}
                </div>
                <div class="form-group">
                  <label>TimeZone preference:</label>
                        {{user.time_zone_preference}}
                </div>
                <div class="form-group">
                  <label>Last reset password:</label>
                        {{user.last_reset_date}}
                </div>
                <div class="form-group">
                  <label>Last Login date:</label>
                        {{user.last_login_date}}
                </div>
                <div class="form-group">
                  <label>created date:</label>
                        {{user.created_date}}
                </div>
                <label>Roles:</label>
                <div class="example-box-wrapper">
                  <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th>Product Name</th>
                        <th>Role</th>
                      </tr>
                      </thead>
                      <tbody v-if="user.securityroles">
                        <tr v-for="item in user.securityroles">
                          <td>{{item.product_id}} </td>
                          <td>{{item.role_name}} </td>
                        </tr>
                      </tbody>
                  </table>
                </div>
                </div>
              </div>
            </div>
    </div>
</template>
<script>
  import config from '../../config.json'
  import BreadCrumbs from '../Breadcrumbs.vue'
  var moment = require("moment-timezone")
// import dataTable from '../../../static/widgets/datatable/datatable.js'
  export default {
    components: {
      BreadCrumbs
    },
    data () {
      return {
        user: {},
        GMTwithSelectedTimezone:[],
        noUser: '',
        ShowSuccessMessage: false,
        ShowErrorMessage: false,
        ErrorTitle: '',
        ErrorMessage: '',
      }
    },
    mounted () {
      this.getUser()
    },
    methods: {
       getGMTTimeCompare(timezoneSelected)
      {
         var now = moment.utc();
         var UtcOffset = moment.tz.zone("GMT").offset(now); 
         var TzOffset=moment.tz.zone(timezoneSelected).offset(now); 
         var hrs=(TzOffset -UtcOffset) / 60;
         var hrs_unsigned=Math.abs(hrs);
         var hr=Math.floor(hrs_unsigned);
         var min=(hrs_unsigned-hr)*60;
         if(hrs_unsigned!=0)
         hr=hr*(hrs/hrs_unsigned);
         return " ("+hr+":"+min+" GMT)";
      },
      getUser () {
        var Authorization = this.$session.get('access_token')
        console.log(this.$route.params.userid)
        this.$http.get(config.USER_PROVISION_URL + '/get_user_by_id/' + this.$route.params.userid,
          {
            headers: {
              'Authorization': Authorization,
              'Content-Type': 'application/json'
            }
          }).then(response => {
            var data = JSON.parse(response.bodyText)
            // var responseData = JSON.parse(data.response_data)
            console.log(data)
            debugger;
            // var data = data.data
            if (response.status === 200) {
              data.created_date = moment(data.created_date, "x").tz(this.$session.get('time_zone_preference')).format('YYYY-MM-DD | HH:mm:ss') 
              if (data.last_login_date != "N/A"){
              data.last_login_date = moment(data.last_login_date, "x").tz(this.$session.get('time_zone_preference')).format('YYYY-MM-DD | HH:mm:ss')
            }
            if (data.last_reset_date != "N/A"){
              data.last_reset_date = moment(data.last_reset_date, "x").tz(this.$session.get('time_zone_preference')).format('YYYY-MM-DD | HH:mm:ss')
            }
              this.GMTwithSelectedTimezone=this.getGMTTimeCompare(this.$session.get('time_zone_preference'));

              this.user = data
              this.user.org_name =  this.$session.get('client_name')
              console.log(data)
            } else {
              this.ShowErrorMessage = true
              this.ErrorMessage = "data not found"
            } 
          },response => {
            var data = JSON.parse(response.bodyText)
            this.ShowErrorMessage = true
            this.ErrorMessage = data.message
          }).catch(e => {
            console.log(this.error)
          })
      },
      MessageClosed(MessageType){
        console.log('we are in messages')
        console.log(MessageType)
        if(MessageType === 'success') {
          this.ShowSuccessMessage=false
        } else if (MessageType === 'error') {
          console.log('we are in error messages')
          this.ShowErrorMessage=false
          this.ErrorTitle=''
          this.ErrorMessage=''
        }
      },
    }
}
</script>