<template>
  <div>
      <BreadCrumbs></BreadCrumbs>
              <h2> Users </h2>
              <div class="panel">
                <div class="panel-body">
                    <h3 class="title-hero">
                      Manage User
                    </h3>
                    <div class="example-box-wrapper">

                       <div id="ShowMessages">
                        <div class="example-box-wrapper" v-if="ShowSuccessMessage">
                            <div class="alert alert-close alert-success">
                                <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('success')"></a>
                                <div class="bg-green alert-icon">
                                    <i class="glyph-icon icon-check"></i>
                                </div>
                                <div class="alert-content">
                                    <h4 class="alert-title">Success</h4>
                                    <p>User get {{act}} successfully</p>
                                </div>
                            </div>
                        </div>
                        <div class="alert alert-danger" v-if="ShowErrorMessage">
                          <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('error')"></a>
                          
                          <div class="alert-content">
                              <p>{{ErrorMessage}}</p>
                          </div>
                      </div>
                    </div>
                            <font color="red">*All fields are Required</font>

                        <form @submit.prevent="validateBeforeSubmit" enctype="multipart/form-data" class="form-horizontal bordered-row" data-parsley-validate="" autocomplete="off" id="manageuser" novalidate>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">First Name</label>
                                <div class="col-sm-4">
                                    <input type="text" id="name" name="name" class="form-control popover-button-default" placeholder="Enter Name" data-content=" 1) Only alphanumeric text allowed expect underscore[_]" title="Rules" data-trigger="focus" data-placement="top" data-parsley-type="alphanum" v-model="collection.form.name" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Last Name</label>
                                <div class="col-sm-4">
                                    <input type="text" id="lastName" name="lastName" class="form-control popover-button-default" placeholder="Enter Last Name" data-content=" 1) Only alphanumeric text allowed expect underscore[_]" title="Rules" data-trigger="focus" data-placement="top" data-parsley-type="alphanum" v-model="collection.form.lastName" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Email</label>
                                <div class="col-sm-4">
                                    <input type="email" id="username" name="username" class="form-control popover-button-default" placeholder="Enter Email" data-trigger="focus" data-placement="top" data-parsley-type="alphanum" v-model="collection.form.username" required>
                                    <p class ="text-danger" v-if="msg">{{msg}}</p>
                                </div>
                            </div>
                           <!-- <div class="form-group" id="passworddiv">
                                <label class="col-sm-3 control-label">Password</label>
                                <div class="col-sm-4">
                                  <input name="password" id="password" v-model="collection.form.password" v-validate="'required|confirmed:password_confirmation'" :class="{'input': true, 'is-danger': errors.has('password') }" type="password" placeholder="Password" required>
                                </div>
                            </div>
                            <div class="form-group" id="passwordcondiv">
                              <label class="col-sm-3 control-label">Confirm Password</label>
                              <div class="col-sm-4">
                                <input id ="password_confirmation" name="password_confirmation" v-model="collection.form.c_password" :class="{'input': true, 'is-danger': errors.has('password_confirmation') }"type="password" placeholder="Confirm your Password">
                                <i v-show="errors.has('password')" class="fa fa-warning"></i>
                                <span v-show="errors.has('password')" class="help is-danger">These passwords don't match. Try again?
                                </span>
                              </div>
                            </div>-->

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Security Roles</label>
                            </div>
                            <div class="row">
                              <div class="form-group" v-for="product in securityRoleList">
                                <label class="col-sm-3 control-label" >{{ product.productName }}</label>
                                <div class="col-sm-4">
                                  <select id="role" name="assets" class="form-control" v-model="product.selectedProductid">
                                    <option v-for = "role in product.data" v-bind:value ="role.id" :selected="role.id == product.selectedProductid">{{ role.name }}</option>
                                  </select>
                                </div>
                                <div class="col-sm-4">
                                  <a class="btn btn-default font-blue-alt" href="#" role="button" data-toggle="modal" data-target="#AddSecurityRoleModal" v-on:click="AddRoleForProduct(product.productName,$event)" data-backdrop="static" data-keyboard="false">Create New Role</a>
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Enabled</label>
                                <div class="col-sm-4">
                                    <input type="checkbox" id="checkbox" v-model:value="collection.form.checkbox">
                                </div>
                            </div>

                          <div class="form-group">
                            <div class="col-sm-6">
                              <button type="submit" name="submit" class="btn success">Save</button>
                              <button type="button" name="cancel" class="btn success" href="javascript:;" v-on:click="showConfirmCancelAlert()">Cancel</button>
                            </div>
                          </div>
                        </form>
                        <simplert :useRadius="true"
                        :useIcon="true"
                        ref="simplert">
                      </simplert>
                    </div>
                </div>
              </div>

              <div class="modal fade" id="AddSecurityRoleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title"> {{ addSecurityProductName }} - Add Security Role</h4>
                      </div>
                      <div class="modal-body">
                        <div id="ShowMessages">
                        <div class="example-box-wrapper" v-if="ShowSuccessMessageForRole">
                            <div class="alert alert-close alert-success">
                                <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('success')"></a>
                                <div class="bg-green alert-icon">
                                    <i class="glyph-icon icon-check"></i>
                                </div>
                                <div class="alert-content">
                                    <h4 class="alert-title">Success</h4>
                                    <p>Role get added successfully</p>
                                </div>
                            </div>
                        </div>

                        <div class="alert alert-danger" v-if="ShowErrorMessageForRole">
                          <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('error')"></a>
                          <div class="bg-red alert-icon">
                              <i class="glyph-icon icon-times"></i>
                          </div>
                          <div class="alert-content">
                              <h4 class="alert-title">{{ErrorTitleForRole}}</h4>
                              <p>{{ErrorMessageForRole}}</p>
                          </div>
                        </div>
                      </div>
                          <form @submit.prevent="validateBeforeSubmitRole" enctype="multipart/form-data" class="form-horizontal bordered-row" data-parsley-validate="" id="managerole" data-validate="parsley" novalidate>
                              <div class="form-group">
                                  <label class="col-sm-3 control-label">Security Role</label>
                                  <div class="col-sm-6">
                                      <input type="text" id="name" name="name" class="form-control popover-button-default" placeholder="Enter Security Role" data-content=" 1) Only alphanumeric text allowed expect underscore[_]" title="Rules" data-trigger="focus" data-placement="top" data-parsley-type="alphanum" v-model="role_name" data-parsley-required>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-sm-3 control-label">Select Assets</label>
                                  <div class="col-sm-6">
                                      <div class="row">
                                          <div class="col-md-12">
                                            <select id="assets" name="assets" class="form-control" multiple="multiple" data-parsley-required v-model="selectedAssets">
                                              <option selected="true" v-for = "Asset in AssetList" v-bind:value ="Asset.id">{{ Asset.operation }}</option>
                                            </select>
                                          </div>
                                      </div>
                                  </div>
                              </div>

                            <div class="form-group">
                              <div class="col-sm-6">
                                <button type="submit" name="submit" class="btn success">Save</button>
                                <button type="button" name="cancel" class="btn success" data-dismiss="modal" v-on:click="DistroyError">Cancel</button>
                              </div>
                            </div>
                          </form>
                      </div>
                     </div>
              </div>
        </div>

            <div>
          </div>


  </div>
</template>
<script>
  import config from '../../config.json'
  import Simplert from 'vue2-simplert'
  import BreadCrumbs from '../Breadcrumbs.vue'
  export default {
    components: {
      Simplert,
      BreadCrumbs
    },
    data () {
      return {
          collection:{
              form:{
                username: '',
                name: '',
                lastName: '',
                checkbox: true,
                password: '',
                c_password: '',
                selectedRoles: []
              }
          },
        msg: '',
        password: '',
        IsErrorOccurred: false,
        ErrorHeader: '',
        ErrorMessage: '',
        role: [],
        isupdate: true,
        CurrentUsername:'',
        productList:[],
        securityRoleList: [],
        selectedRoleProductwise: [],
        addSecurityProductName: '',
        AssetList:[],
        selectedAssets:[],
        role_name:'',
        ShowSuccessMessageForRole: false,
        ShowErrorMessageForRole:false,
        ErrorTitleForRole:'',
        ErrorMessageForRole:'',

        ShowSuccessMessage: false,
        ShowErrorMessage:false,
        ErrorTitle:'',
        ErrorMessage:'',
        Roles: '',
        newUserRoles: '',
        act: ''

        // isLoggedIn: this.$session.exists()
      }
    },
    mounted () {
      this.SessionCheck()
      this.productList = ["Reporting", "ErpDataCloud", "UserProvisioning", "SchedulerFrontend", "AuthorizationFrontend"]
      this.get_RolesByProductId()

      if (this.$route.params.userid) {
        $("#username").attr("disabled", "disabled"); 
        $('#manageuser').parsley().destroy()
        $('#password').attr('data-parsley-required', 'false');
        $('#password_confirmation').attr('data-parsley-required', 'false');

        $("#passworddiv").css('display','none')
        $("#passwordcondiv").css('display','none')
        this.getUserByid()

        this.isupdate = false
      }
      $('#manageuser').parsley()

    },
    methods: {
      SessionCheck () {
        this.isLoggedIn = this.$session.exists()
        if (this.isLoggedIn) {
          if (this.$cookies.isKey('Timeout')) { // check iscookie exists
            //  means session not yet get timeout
            //  so delete this cookie and again save new one.So timer will get reset
            this.$cookies.remove('Timeout')
            //  set new cookie with timeout. refresh timeout
            this.$cookies.set('Timeout', 'timeout', config.SESSION_TIMEOUT + 'min')
          } else {  // cookie not exist means session get timeout.So destroy the session manually
            this.$session.destroy()
            window.location.href = '/login'
          }
        } else { // session not exists. So redirect to login
          // remove previously exists cookie . if browser get closed without logout.
          if (this.$cookies.isKey('Timeout')) {
            this.$cookies.remove('Timeout')
          }
          if(this.$cookies.isKey('SessionExpMsg')){
            this.$cookies.remove('SessionExpMsg')
            }
            this.$cookies.set('SessionExpMsg','msg','1min')
            window.location.href = '/login'
          }
      },
      validateBeforeSubmitold (e) {
        this.$validator.validateAll()
        if (!this.errors.any()) {
          this.save()
        }
      },
      validateBeforeSubmit (e) {
          this.SessionCheck()
          if (this.$route.params.userid) {
          $('#manageuser').parsley().destroy()
          $('#password').attr('data-parsley-required', 'false');
          $('#password_confirmation').attr('data-parsley-required', 'false');
          }
          var instance = $('#manageuser').parsley()
          console.log(instance)
          if (instance.isValid() === true) {
            this.save()
          }else{
            console.log(instance.isValid())
          }
      },
      SaveLog(activity){
        console.log('we are in activity log')
           this.$http.post(config.AUDIT_LOG_URL, activity).then(response => {
                 console.log('success log')
           })
      },
      getRoleName (){
        this.SessionCheck()
        var Authorization = this.$session.get('access_token')
        this.$http.post(config.AUTHORIZATION_URL+'/security_role/fetch_role_data', {
          'role_ids': this.collection.form.selectedRoles}, {
          headers: {
              'Authorization': Authorization
            }
        }).then(response => {
          var data = JSON.parse(response.bodyText)
          if (data.status === 200) {
            var temp_role = []
            for (let j of data.data.security_role_list) {
                temp_role.push(j.name+' of '+j.product_id+' ')
              }
            this.newUserRoles = temp_role.join()
            console.log(this.newUserRoles)
          } else {
            this.Roles = ''
            console.log(data)
          }
            console.log(data)
          },(response) => {
            console.log(response)
            var data =JSON.parse(response.bodyText)
            if(data.message === "session_expired"){
              this.$session.destroy()
              this.SessionCheck()
            }
          })
      },
      getRolesUser (){
        this.SessionCheck()
        var Authorization = this.$session.get('access_token')
        this.$http.get(config.AUTHORIZATION_URL+'/auth_maps/get_product_role/'+this.$session.get('user_id'), {
          headers: {
              'Authorization': Authorization
            }
        }).then(response => {
          var data = JSON.parse(response.bodyText)
          if (data.status === 200) {
            var temp = data.data
            var rolelist = []
              for (let j of temp) {
                rolelist.push(j.role_name+' of '+j.product_id)
              }
            this.Roles = rolelist.join()
          } else {
            this.Roles = ''
            console.log(data)
          }
            console.log(data)
          },response => {
            console.log(response)
            var data =JSON.parse(response.bodyText)
            if(data.message === "session_expired"){
              this.$session.destroy()
              this.SessionCheck()
            }
          })
      },
      saveUserData () {
        this.SessionCheck()
        this.getRolesUser()
        this.getSelectedRole()
        this.getRoleName()
        console.log('IN ADD USER')
        this.IsErrorOccurred = false
        this.ShowErrorMessage=false
        var Authorization = this.$session.get('access_token')
        var clientId = this.$session.get('client_id')
        this.$http.post(config.USER_PROVISION_URL + '/add_user', {
          'username': this.collection.form.username,
          'client_id': clientId,
          'first_name': this.collection.form.name,
          'last_name': this.collection.form.lastName,
          'password': this.collection.form.password,
          'active': this.collection.form.checkbox,
          'selectedroles': this.collection.form.selectedRoles
        }, {
          // emulateJSON: true,
          headers: {
            'Authorization': Authorization,
            'Content-Type': 'application/json'
          }
        }).then(response => {
          debugger;
          var data = response
          if (data.status === 200) {
            console.log("USER ADDED SUCCESS")
            // this.getSelectedRole()
            // this.getRoleName()
            var d = new Date()
            var datetime = d.toUTCString()
            var msg = this.Roles+' '+this.$session.get('email')+" created user "+this.collection.form.name+" with username "+this.collection.form.username+" at "+datetime+" with "+this.newUserRoles+" roles"
            var activity = {"org_id": this.$session.get('client_id'),
                            "org": this.$session.get('client_name'),
                            "user_id": this.$session.get('user_id'),
                            "username": this.$session.get('email'),
                            "service_id": config.SERVICE_ID,
                            "ipaddress": this.$session.get('ipaddress'),
                            "datetime": datetime,
                            "browser_agent": navigator.userAgent,
                            "msg": msg}
            console.log(activity)
            // this.SaveLog(activity)
            this.act = 'added'
            this.ShowSuccessMessage=true
            this.SaveLog(activity)
            this.$router.push('/userList')
          } else {
            console.log("Data in add user error message "+data)
            this.ShowErrorMessage=true
            this.ErrorTitle='Error Occurred'
            this.ErrorMessage=data.message
          }
        },response => {
          // debugger;
          console.log(response)
          var data = JSON.parse(response.bodyText)
          this.ShowErrorMessage=true
          this.ErrorMessage=data.message
        }).catch(e => {
          console.log('error occured')
          console.log(e.error)
          this.ShowErrorMessage=true
          this.ErrorTitle='Error Occured'
          this.ErrorMessage='Something went wrong.Try Again'
        })
      },
      emailcheck () {
        this.SessionCheck()
        // console.log('emailcheck reached')
        // console.log(this.CurrentUsername);
        if (this.CurrentUsername != this.collection.form.username) {


        // this.$http.headers.common.Authorization = config.AUTHENTICATION_TOKEN
        this.$http.get(config.USER_PROVISION_URL+'/userexists/' + this.collection.form.username,{
            headers: {
              'Authorization':this.$session.get('access_token')
            }
        }).then(response => {
          // debugger;
          //  console.log(response)
          var emailcheckdata = JSON.parse(response.bodyText)
          if (emailcheckdata.status === 1) {
            this.msg = 'Email already exists'

          }
          else {
            this.msg = ''
          }
          console.log(emailcheckdata.exists);
        })
          .catch(e => {
            console.log('error');
            console.log(e)
          })
      }else {
        this.msg=''
      }
    },
      getUserByid () {
        this.SessionCheck()
        this.Organization = this.$session.get('user_id')
        var Authorization = this.$session.get('access_token')
        console.log(config.AUTHORIZATION_URL)
        this.$http.get(config.USER_PROVISION_URL + '/get_user_by_id/' + this.$route.params.userid,
          {
            headers: {
              'Authorization': Authorization,
              'Content-Type': 'application/json'
            }

          }).then(response => {
            var body = response
            var data =JSON.parse(response.bodyText)
            debugger;
            if (response.status === 200) {
              this.collection.form.username = data.username
              this.collection.form.name = data.first_name
              this.collection.form.lastName = data.last_name
              this.collection.form.checkbox = data.active
              this.collection.form.password = 'none'
              this.collection.form.c_password = 'none'
              this.CurrentUsername = data.username
              this.selectedRoleProductwise = data.securityroles
              this.getSelectedRoleForUpdate()
            }
            else{
              this.ShowErrorMessage=true
              this.ErrorMessage=body.message
            }
          }).catch(e => {
            console.log('ERROR occured')
            console.log(e)
          })
      },
      updateUserData () {
        this.SessionCheck()
        this.getSelectedRole()
        this.getRolesUser()
        this.getRoleName()
        console.log('IN UPDATE USER')
        this.IsErrorOccurred = false
        this.ShowErrorMessage=false
        var Authorization = this.$session.get('access_token')
        var clientId = this.$session.get('client_id')
        this.$http.post(config.USER_PROVISION_URL + '/update_user', {
          'username': this.collection.form.username,
          'client_id': clientId,
          'first_name': this.collection.form.name,
          'last_name': this.collection.form.lastName,
          // 'password': this.collection.form.password,
          'userid': this.$route.params.userid,
          'full_name': this.collection.form.name + ' '+this.collection.form.lastName,
          'selectedroles': this.collection.form.selectedRoles
        }, {
          // emulateJSON: true,
          headers: {
            'Authorization': Authorization,
            'Content-Type': 'application/json'
          }
        }).then(response => {
          var data = response
          // console.log(data)
          if (data.status === 200) {
            // this.getRolesUser()
            this.$session.set('email',this.collection.form.username)
            var d = new Date()
            var datetime = d.toUTCString()
            var msg = this.Roles+' '+this.$session.get('email')+" updated user "+this.collection.form.name+" with "+this.collection.form.username+" at "+datetime+" with "+this.newUserRoles+" roles"
            var activity = {"org_id": this.$session.get('client_id'),
                            "org": this.$session.get('client_name'),
                            "user_id": this.$session.get('user_id'),
                            "username": this.$session.get('email'),
                            "service_id": config.SERVICE_ID,
                            "ipaddress": this.$session.get('ipaddress'),
                            "datetime": datetime,
                            "browser_agent": navigator.userAgent,
                            "msg": msg}
            // console.log(activity)
            this.act = 'updated'
            this.ShowSuccessMessage = true
            this.SaveLog(activity)
            this.$router.push('/userList')
          } else {
            this.ShowErrorMessage=true
            this.ErrorTitle='Error Occurred'
            this.ErrorMessage='Something went wrong.Try Again'
          }
        },response=>{
          //console.log(response)
        }).catch(e => {
          console.log('error occured')
          console.log(e.error)
          this.ShowErrorMessage=true
          this.ErrorTitle='Error Occured'
          this.ErrorMessage='Something went wrong.Try Again'
        })
      },
      save () {
        this.SessionCheck()
        if (this.$route.params.userid) {
          this.updateUserData()
        } else {
          this.saveUserData()
        }
      },
      showConfirmCancelAlert () {
        let confirmFn = function () {
          this.$router.push('/userList')
        }
        let obj = {
          title: 'Cancel',
          message: 'Are you sure want to Cancel?',
          type: 'info',
          useConfirmBtn: true,
          onConfirm: confirmFn
        }
        this.$refs.simplert.openSimplert(obj)
      },
      get_RolesByProductId(){
        this.SessionCheck()
          console.log(this.productList)
          for(var i=0; i<this.productList.length; i++) {

            var Authorization = this.$session.get('access_token')
            this.$http.get(config.AUTHORIZATION_URL + '/security_role/product_role_list/' + this.productList[i],
          {
            headers: {
              'Authorization': Authorization,
              'Content-Type': 'application/json'
            }
          }).then(response => {
            var data = JSON.parse(response.bodyText)
            if(data.status === 200){
              var productName = data.data[0].product_id
              var selectedProductid = ''
              for(var j=0; j < Object.keys(data.data[0]).length;j++) {
                if (typeof data.data[j] !== 'undefined') {
                if (data.data[j]['name'] === 'Default') {
                  // this.selectedRoleProductwise.push({'productName':productName,'role_id':data.data[j]['id']})
                  this.collection.form.selectedRoles.push(data.data[j]['id'])
                  selectedProductid = data.data[j]['id']
                  break;
                }
              }
            }
            this.securityRoleList.push({'productName':productName,'data':data.data,'selectedProductid':selectedProductid})
            }
          }, response => {
            var data =JSON.parse(response.bodyText)
            if(data.message === "session_expired"){
              this.$session.destroy()
              this.SessionCheck()
            } else {
            this.ShowErrorMessage=true
            this.ErrorMessage=data.error
            this.ErrorTitle=data.message
            }
          }).catch(e => {
            console.log('error occured')
            console.log(e)
          })
        }
        console.log('we are here')
        console.log(this.collection.form.selectedRoles)
       },
       getSelectedRole:function(productName,event)
       {
        this.SessionCheck()
        // console.log(this.securityRoleList)
         this.collection.form.selectedRoles = []

        for (var i = 0; i < this.securityRoleList.length; i++) {
           this.collection.form.selectedRoles.push(this.securityRoleList[i].selectedProductid)
        }
        console.log(this.collection.form.selectedRoles)
      },
      getSelectedRoleForUpdate(){
      this.SessionCheck()
      this.collection.form.selectedRoles =[]
      for (var i = 0; i < this.selectedRoleProductwise.length; i++) {
        var productName = this.selectedRoleProductwise[i].product_id
        var role_id = this.selectedRoleProductwise[i].role_id
        this.collection.form.selectedRoles.push(role_id)

        for (var j = 0; j < this.securityRoleList.length; j++) {
          if(this.securityRoleList[j].productName == productName)
          {
            this.securityRoleList[j].selectedProductid = role_id
            break;
          }
        }
      }
      console.log(this.collection.form.selectedRoles)
    },
    AddRoleForProduct(productName,event){
      this.SessionCheck()
      this.addSecurityProductName = productName
      this.AssetList = []
      this.selectedAssets =[]
      this.role_name =[]
        this.Organization = this.$session.get('user_id')
        if (this.product_id !== '') {
          var Authorization = this.$session.get('access_token')
          this.$http.get(config.AUTHORIZATION_URL + '/assets/list_product/' + productName,
            {
              headers: {
                'Authorization': Authorization,
                'Content-Type': 'application/json'
              }

            }).then(response => {
              var data = JSON.parse(response.bodyText)
              this.AssetList = data.data
            }, response => {
            // debugger;
            var data =JSON.parse(response.bodyText)
            if(data.message === "session_expired"){
              this.$session.destroy()
              this.SessionCheck()
            } else {
            this.ShowErrorMessage=true
            this.ErrorMessage=data.error
            this.ErrorTitle=data.message
            }
          }).catch(e => {
              console.log('error occured')
              console.log(this.error)
            })
        }
    },
    validateBeforeSubmitRole (e) {
      this.SessionCheck()
          var instance = $('#managerole').parsley()
          if (instance.isValid() === true) {
            this.SaveSecurityRole()
          }else{
            console.log(instance.isValid())
          }
      },
    SaveSecurityRole()
    {
        this.SessionCheck()
        console.log(this.addSecurityProductName)
        this.IsErrorOccurredForRole = false
        var Authorization = this.$session.get('access_token')
        var Organizationid = this.$session.get('client_id')
        this.$http.post(config.AUTHORIZATION_URL + '/security_role/registerone', {
          'organization_id': Organizationid,
          'name': this.role_name,
          'product_id': this.addSecurityProductName,
          'assets': this.selectedAssets
        }, {
          headers: {
            'Authorization': Authorization,
            'Content-Type': 'application/json'
          }
        }).then(response => {
          console.log('we are here')
          var data = JSON.parse(response.bodyText)
          if (data.status === 200) {
            console.log('success')
            this.ShowSuccessMessageForRole=true
            this.AddToOption(this.addSecurityProductName,this.role_name,data.data.security_role_id)
          }},response => {
            var data =JSON.parse(response.bodyText)
            if(data.message === "session_expired"){
              this.$session.destroy()
              this.SessionCheck()
            } else {
            this.ShowErrorMessage=true
            this.ErrorMessage=data.error
            this.ErrorTitle=data.message
            }
        }).catch(e => {
          console.log(e)
          this.ShowErrorMessageForRole=true
          this.ErrorTitleForRole='Error Occured'
          this.ErrorMessageForRole='Something went wrong.Try Again'
        })
      },
    DistroyError() {
      if(this.IsErrorOccurredForRole){
        this.IsErrorOccurredForRole = false
        this.ErrorHeaderForRole = ''
        this.ErrorMessageForRole = ''
      }
    },
    AddToOption(productName,RoleName,RoleId){
      for (var j = 0; j < this.securityRoleList.length; j++) {
        if(this.securityRoleList[j].productName == productName)
        {
          this.securityRoleList[j].data.push({"name":RoleName,"product_id":productName,"_id":RoleId})
          this.securityRoleList[j].selectedProductid = RoleId
          console.log(this.securityRoleList[j])
          $('#AddSecurityRoleModal').modal('hide');
          break;
        }
      }
    },
    MessageClosed(MessageType){
        console.log('we are in messages')
        console.log(MessageType)
        if(MessageType === 'success') {
          window.location.href = "/"
        } else if (MessageType === 'error') {
          console.log('we are in error messages')
          this.ShowErrorMessage=false
          this.ErrorTitle=''
          this.ErrorMessage=''

          this.ShowErrorMessageForRole=false
          this.ErrorTitleForRole=''
          this.ErrorMessageForRole=''
        }
      },
  }
}
</script>
