<template>
  <div>
    <BreadCrumbs> </BreadCrumbs>
    <div id="examplePlusWelcome">
      <div id="exampleContent" class="content">
        <div class="wrapper">
          <div class="content">
            <div class="data-block first_element_to_target" >  
              <h3 id="step1">Step 1</h3>
              <h2> :Introduction</h2> 
              <p id="abtReporting">User provisioning service intended to help organizations more quickly, cheaply, reliably and securely manage information about users on multiple services and applications.
              Provisioning is the process of coordinating the creation of user accounts, e-mail authorizations, and other tasks such as provisioning of physical resources associated with enabling new users. </p>
            </div>
            <div class="data-block" id="second_element_to_target">
              <h3 id="step2">Step 2</h3>
              <h2>: Manage Organization User</h2>
              <p></p>
            </div>  
            <div class="data-block third_element_to_target">
              <h3 id="step3">Step 3</h3>
              <h2>:Manage Password</h2>
              <p></p>
            </div> 
          </div>
          <!-- this set of pageguide steps will be displayed by default. -->
          <ul id="tlyPageGuide" data-tourtitle="check out these elements">
            <!-- use these classes to indicate where each number bubble should be
            positioned. data-tourtarget should contain the selector for the element to
            which you want to attach this pageguide step. -->
            <li class="tlypageguide_left" data-tourtarget=".first_element_to_target">
              Step 1
            </li>
            <li class="tlypageguide_left" data-tourtarget="#second_element_to_target">
              Step 2
            </li>
            <li class="tlypageguide_left" data-tourtarget=".third_element_to_target">
              Step 3
            </li>
          </ul>

           <!-- this is a second set of pageguide steps. it is possible to have multiple
              pageguides per page, but you will need to initiate them separately, using the
              steps_element parameter to specify the selectors for each. -->
            <ul id="titlePageGuide" data-tourtitle="check out these titles">
              <li class="tlypageguide_top" data-tourtarget=".first_element_to_target h3">
               Introduction
              </li>
              <li class="tlypageguide_top" data-tourtarget="#second_element_to_target h3">
                Manage Organization User
              </li>
              <li class="tlypageguide_top" data-tourtarget=".third_element_to_target h3">
                Manage Password
              </li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import BreadCrumbs from '../Breadcrumbs.vue'
  export default {
  components: {
      BreadCrumbs
    },
  mounted (){
    this.test()
    tl.pg.init()
  },
  methods : {
    test : function(){
      this.$nextTick(function() {
          console.log('in tick')
          $( "#SubMenu" ).css( "display", "block" );
          })
      }
    }
  }
</script>

<style type="text/css">
        .wrapper {
            margin: 0 auto;
            width: 100%;
            max-width: 1025px;
        }
        .data-block {
            width: 100%;
            min-height: 700px;

        }
        .data-block img {
            width: 100%;
        }
        #titlePageGuide {
            display: none;
            background:#00bca4;
        }



        #tlyPageGuideMessages span{
          background:#00bca4;
        } 

        .tlyPageGuideStepIndex
          {
           background:#00bca4;
          }
      
        /*close box page guide*/
        .tlypageguide_close{
          background:#00bca4;
          }

        /*pageguide side window*/
        .tlypageguide-open #tlyPageGuideWrapper .tlypageguide_toggle.tlyPageGuideToggleActive{
          background:#00bca4;
          }

        /*down navigation close button */
          #tlyPageGuideWrapper #tlyPageGuideMessages .tlypageguide_close{
               background:#00bca4;
          }

        /*step 1,2,3,4 number css from top to bottom */
          .tlypageguide-active .tlyPageGuideStepIndex{
             background:#008fe2;
          }

        /*step 1,2,3,4 number css from top to bottom bar */ 
        #tlyPageGuideWrapper #tlyPageGuideMessages span{
          background:#008fe2;
         }
</style>