<template lang="html">
<div>
<div class="float-right">
  <button class="btn btn-default" id="start-page-tour" style="margin-bottom:2px; margin-top:3px;margin-right:5px;height:26px;padding:0px;background-color: rgb(80, 214, 24);color: rgb(250, 250, 250);width:100px;line-height:25px;font-size:15px" v-on:click="InitUserPageTour()">
      <i class="glyph-icon icon-lightbulb-o"></i> Start Tour
  </button>
</div>
<BreadCrumbs></BreadCrumbs>
<h2>Users</h2>
            <div class="panel">
            <div id="ShowMessages">
                        <div class="example-box-wrapper" v-if="ShowSuccessMessage">
                            <div class="alert alert-close alert-success">
                                <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('success')"></a>
                                <div class="alert-content">
                                    <h4 class="alert-title">Success</h4>
                                    <p>Users get {{act}} successfully</p>
                                </div>
                            </div>
                        </div>
                        <div class="alert alert-danger" v-if="ShowErrorMessage">
                          <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('error')"></a>
                          <div class="alert-content">
                              <h4 class="alert-title">{{ErrorTitle}}</h4>
                              <p>{{ErrorMessage}}</p>
                          </div>
                      </div>
                    </div>
            <!-- <font color="red" align="center">{{errorMsg}}</font> -->
              <div class="panel-body">
                <div>
                <div class="form-group col-sm-3" >
                <select v-model="selected" class="form-control" id="select_action">
                  <option disabled value="">Perform action</option>
                  <!-- <option value="1">Edit</option> -->
                  <!-- <option value="2">Activate</option> -->
                  <!-- <option value="3">Inactivate</option> -->
                  <option value="4">Delete</option>
                </select>
                </div>
                <button type="button" name="submit" id="submit_action" class="btn btn-success" href="javascript:;" v-on:click="showConfirmActionAlert()" style="width:150px">Submit</button>
                  <div class="float-right"><router-link to="/addUser" id="add_user" class="btn btn-success">Add User</router-link>
                  <router-link to="/addBulkUser" id="add_bulk_user" class="btn btn-success">Add Multiple</router-link></div>

                </div>

                  <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Created By</th>
                        <th>Created Date & Time</th>
                        <th>Status</th>
                        <th>Edit</th>
                      </tr>
                      </thead>
                      <tbody>
                        <tr v-for="user in UserList">
                          <td><input type="checkbox" @click="selectOption" id="checkbox" v-bind:value="{'userId': user.user_id, 'name': user.full_name, 'email': user.username, 'securityroles': user.securityroles}" v-model="DeleteList"></td>
                          <td><router-link :to="{ name: 'getuser', params: { userid: user.user_id }}">{{user.full_name}}</router-link></td>
                          <td>{{user.username}} </td>
                          <td>{{user.created_by}} </td>
                          <td>{{user.created_date}}  {{user.time_zone_preference}}</td>
                          <!-- <td>{{user.active}}</td> -->
                          <td>{{user.verification_status}}</td>
                          <!-- <td><i class="icon-arrows"></i></td> -->
                          <td style="text-align:center"><router-link :to="{ name: 'updateuser', params: { userid: user.user_id }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></router-link></td>
                        </tr>
                      </tbody>
                  </table>
                  <!-- <button type="button" name="cancel" class="btn btn-success" href="javascript:;" v-on:click="showConfirmDeleteAlert()" style="width:150px">Delete</button> -->
                  <simplert :useRadius="true"
                        :useIcon="true"
                        ref="simplert">
                      </simplert>
                </div>
              </div>
            </div>
    </div>
</template>

<script>
  import config from '../../config.json'
  import Simplert from 'vue2-simplert'
  import BreadCrumbs from '../Breadcrumbs.vue'
  var moment = require("moment-timezone")
// import dataTable from '../../../static/widgets/datatable/datatable.js'
  export default {
    components: {
      Simplert,
      BreadCrumbs
    },
    data () {
      return {
        UserList: [],
        DeleteList: [],
        errorMsg: '',
        selected: '',
        nameArray: [],
        Roles: '',
        ShowSuccessMessage: false,
        ShowErrorMessage: false,
        ErrorTitle: '',
        ErrorMessage: '',
        act: '',
        allSelected: false,
      }
    },
    mounted () {
      this.getUserList()

    },
    methods: {
      SessionCheck () {
        this.isLoggedIn = this.$session.exists()
        if (this.isLoggedIn) {
          if (this.$cookies.isKey('Timeout')) { // check iscookie exists
            //  means session not yet get timeout
            //  so delete this cookie and again save new one.So timer will get reset
            this.$cookies.remove('Timeout')
            //  set new cookie with timeout. refresh timeout
            this.$cookies.set('Timeout', 'timeout', config.SESSION_TIMEOUT + 'min')
          } else {  // cookie not exist means session get timeout.So destroy the session manually
            this.$session.destroy()
            window.location.href = '/login'
          }
        } else { // session not exists. So redirect to login
          // remove previously exists cookie . if browser get closed without logout.
          if (this.$cookies.isKey('Timeout')) {
            this.$cookies.remove('Timeout')
          }
          if(this.$cookies.isKey('SessionExpMsg')){
            this.$cookies.remove('SessionExpMsg')
            }
            this.$cookies.set('SessionExpMsg','msg','1min')
            window.location.href = '/login'
          }
      },
      SaveLog(activity){
        console.log('we are in activity log')
           this.$http.post(config.AUDIT_LOG_URL, activity).then(response => {
                 console.log('success log')
           })
      },
      selectAll: function() {
            this.DeleteList = [];

            if (this.allSelected) {
                for (let user of this.UserList) {
                    this.DeleteList.push({'userId': user.user_id, 'name': user.full_name, 'email': user.username, 'securityroles': user.securityroles});
                }
            }
      },
      selectOption: function() {
            if (this.DeleteList.length === this.UserList.length) {
              this.allSelected = true
            } else {
              this.allSelected = false
            }
      },
      InitUserPageTour:function(){
        this.SessionCheck()
        var tour = new Tour({
            debug : true,
            storage: window.localStorage,
            onStart: function(tour){
              window.sessionStorage.setItem("start_user_tour", true)
              console.log("tour started")
            } ,
            onEnd: function(tour) {
              window.sessionStorage.setItem('start_user_tour', false)
              console.log("ending session")
            },
            onResume:function(tour) {
              window.sessionStorage.setItem('start_user_tour', false)
              console.log("resume  session")
            },
            onPause:function(tour) {
              window.sessionStorage.setItem('start_user_tour', false)
              console.log("pause session")
            },
            onClose:function(tour) {
              window.sessionStorage.setItem('start_user_tour', false)
              console.log("close session")
            },
            onError:function(tour) {
              window.sessionStorage.setItem('start_user_tour', false)
              console.log("on erroe session")
            }
        });

        tour.addStep({
                      element : "#select_action",
                      title : "Select Action ",
                      content : "Select action to perform activity",
                      delay: true,
                      path : "/userlist",
                  }),
        tour.addStep({
                      element : "#submit_action",
                      title : "Submit your Action ",
                      content : "Activity on selected action",
                      delay: true,
                      path : "/userlist",
                  }),
        tour.addStep({
                      element : "#add_user",
                      title : "Add User ",
                      content : "Click here to add new user",
                      delay: true,
                      path : "/userlist",
                  }),

        tour.addStep({
                      element : "#add_bulk_user",
                      title : "Add User ",
                      content : "Click here to add bulk user",
                      delay: true,
                      path : "/userlist",
                  }),

        tour.addStep({
                      element : "#add_bulk_user",
                      title : "Add User ",
                      content : "Click here to add bulk user",
                      delay: true,
                      path : "/addBulkUser"
                  }),

      tour.restart()
    },
      makeListUser (verb){
        this.getRolesUser()
        this.nameArray = []
        var d = new Date()
        var datetime = d.toUTCString()
        var nameArray = []
        for (let j of this.DeleteList) {
          var rolelist = []
          var userRoles = ''
          for (let i of j.securityroles){
            rolelist.push(i.role_name+' of '+i.product_id+' ')
          }
          var userRoles = rolelist.join()
          this.nameArray.push({'name': j.name, 'email': j.email, 'userId': j.userId, 'roles': userRoles})
        }
        for (let item of this.nameArray) {
          var msg = ''
          var msg = this.Roles+' '+this.$session.get('email')+" "+verb+" "+item.roles+" "+item.name+" at "+datetime
          var activity = {"org_id": this.$session.get('client_id'),
                            "org": this.$session.get('client_name'),
                            "user_id": this.$session.get('user_id'),
                            "username": this.$session.get('email'),
                            "service_id": config.SERVICE_ID,
                            "ipaddress": this.$session.get('ipaddress'),
                            "datetime": datetime,
                            "browser_agent": navigator.userAgent,
                            "msg": msg}
          console.log(activity)
          this.SaveLog(activity)
        }
      },
      getRolesUser (){
        var Authorization = this.$session.get('access_token')
        this.$http.get(config.AUTHORIZATION_URL+'/auth_maps/get_product_role/'+this.$session.get('user_id'), {
          headers: {
              'Authorization': Authorization
            }
        }).then(response => {
          var data = JSON.parse(response.bodyText)
          if (data.status === 200) {
            var temp = data.data
            var rolelist = []
              for (let j of temp) {
                rolelist.push(j.role_name+' of '+j.product_id)
              }
            this.Roles = rolelist.join()
          } else {
            this.Roles = ''
            console.log(data)
          }
            console.log(data)
          },(response) => {
            console.log(response)
            if(data.message === "session_expired"){
              this.$session.destroy()
              this.SessionCheck()
            }
          })
      },
      getUserList () {
        this.SessionCheck()
        this.allSelected = false
        var Authorization = this.$session.get('access_token')
        var clientId = this.$session.get('client_id')
        var _this = this;
        console.log(config.USER_PROVISION_URL + '/UserProvisioning/rest/UserService/users/' + clientId)
        // this.$http.options.credentials = true
        this.$http.get(config.USER_PROVISION_URL + '/get_allusers/' + clientId,
          {
            headers: {
              'Authorization': Authorization
            }
          }).then(response => {
            
            var temp = JSON.parse(response.bodyText)
            var data = response
            if(data.status === 200){
            // for (let j of temp) {

            //   j.created_date = moment(j.created_date, "x").tz(this.$session.get('time_zone_preference')).format('YYYY-MM-DD | HH:mm:ss')
            //   j.time_zone_preference =  moment().tz(j.time_zone_preference).format('zz')
            // }
            temp.map(function(obj, index){
              var dummyDate = moment(new Date(obj.created_date)).tz(_this.$session.get('time_zone_preference')).format('YYYY-MM-DD | HH:mm:ss');
              temp[index].created_date = dummyDate;
              temp[index].time_zone_preference = moment().tz(obj.time_zone_preference).format('zz');
            });
            this.UserList = temp
            console.log(this.UserList)
            } else {
               this.errorMsg = data.message
            }
          },response => {
            console.log('2nd responsssse')
            var data = JSON.parse(response.bodyText)
            console.log(data)
            if(data.status ==404){
            this.ShowErrorMessage = true
            this.ErrorMessage="User not found"
          }
            if(data.message === "session_expired"){
              this.$session.destroy()
              this.SessionCheck()
            }
            // this.$router.push('/login')
          }).catch(e => {
            console.log(e)
          })
      },
      getUser (id) {
        this.SessionCheck()
        var Authorization = this.$session.get('access_token')
        var clientId = this.$session.get('client_id')
        this.$http.get(config.ACCOUNT_REGISTRATION_URL + '/UserProvisioning/rest/UserService/user/' + id,
          {
            headers: {
              'Authorization': Authorization,
              'Content-Type': 'application/json'
            }
          }).then(response => {
            var data = JSON.parse(response.bodyText)
            if (data.status === 'success') {
              this.userDetails()
            }
          },response => {
            console.log('2nd responsssse')
            var data = JSON.parse(response.bodyText)
            if(data.message === "session_expired"){
              this.$session.destroy()
              this.SessionCheck()
            }
          }).catch(e => {
            console.log('error occured')
            console.log(this.error)
          })
      },
      deleteBulkUser () {
        this.SessionCheck()
        this.getRolesUser()
        var userIds =[]
        var usernames = []
        for (var i = 0; i <this.DeleteList.length; i++) {
          userIds.push(this.DeleteList[i].userId)
          usernames.push(this.DeleteList[i].email)
        };
        // var deleteUsers = JSON.stringify(this.DeleteList)
        var deleteUsers = {"userIds": userIds,"usernames":usernames}
        var Authorization = this.$session.get('access_token')
        console.log(this.DeleteList)
        this.$http.post(config.USER_PROVISION_URL + '/delete_bulk_user', deleteUsers, {
          headers: {
            'Authorization': Authorization,
            'Content-Type': 'application/json'
          }
        }).then(response => {
          var data = JSON.parse(response.bodyText)
          console.log(data)
          if (response.status === 200) {
            console.log("USERS DELETED SUCCESS")
            // this.makeListUser('Deleted')
            // call here makeListUser for activity log
            this.DeleteList = []
            this.selected = ""
            this.ShowSuccessMessage=true
            this.act = 'deleted'
            this.getUserList()
          }
        },(response) => {
            console.log(response)
            var data = JSON.parse(response.bodyText)
            this.ShowErrorMessage=true
            this.ErrorTitle='Error Occurred'
            this.ErrorMessage=data.message
            if(data.message === "session_expired"){
              this.$session.destroy()
              this.SessionCheck()
            }
          }).catch(e => {
            this.ShowErrorMessage=true
            this.ErrorTitle='Error Occured'
            this.ErrorMessage='Something went wrong.Try Again'
        })
      },
      showConfirmActionAlert () {
        if(this.DeleteList.length > 0){
          var obj = {}
          if(this.selected === "2"){
            console.log("INSIDE ENABLE")
            let confirmFn = function () {
              this.$parent.enableBulkUser(true)
            }
           obj = {
            title: 'Activate',
            message: 'Are you sure want to Activate these all Users?',
            type: 'info',
            useConfirmBtn: true,
            onConfirm: confirmFn
          }
          } else if(this.selected === "3"){
            console.log("INSIDE DEACTIVATE")
          let confirmFn = function () {
              this.$parent.enableBulkUser(false)
            }
           obj = {
            title: 'Deactivate',
            message: 'Are you sure want to Deactivate these all Users?',
            type: 'info',
            useConfirmBtn: true,
            onConfirm: confirmFn
          }
        } else if(this.selected === "4"){
            console.log("INSIDE DELETE")
          let confirmFn = function () {
              this.$parent.deleteBulkUser()
            }
           obj = {
            title: 'Delete',
            message: 'Are you sure want to Delete these all Users?',
            type: 'info',
            useConfirmBtn: true,
            onConfirm: confirmFn
          }
        } else {
          alert('Select an Action to be performed')
          return
        }

        this.$refs.simplert.openSimplert(obj)} else {
          alert('Select at least one user to perform action')
        }
      },
      enableBulkUser (active) {
        this.SessionCheck()
        this.getRolesUser()
        var userIds=[];
        for (var i = 0; i <this.DeleteList.length; i++) {
          userIds.push(this.DeleteList[i].userId)
        };
        var enableUsers = {"userIds": userIds, "active": active}
        var Authorization = this.$session.get('access_token')
        console.log(this.DeleteList)
        this.$http.post(config.USER_PROVISION_URL + '/active_bulk_user', enableUsers, {
          headers: {
            'Authorization': Authorization,
            'Content-Type': 'application/json'
          }
        }).then(response => {
          
          var data = JSON.parse(response.bodyText)
          console.log(data)
          if (data.status === 200) {
            console.log("USERS Enabled SUCCESS")
            if (active === true) {
              this.makeListUser('Activated')
              this.act = 'activated'
            }else{
              this.makeListUser('Deactivated')
              this.act = 'dectivated'
            }
            // call here makeListUser for activity log
            this.DeleteList = []
            this.selected = ""
            this.ShowSuccessMessage=true
            this.getUserList()
          }
        },(response) => {
            console.log(response)
            var data = JSON.parse(response.bodyText)
            this.ShowErrorMessage=true
            this.ErrorMessage=data.message
            if(data.message === "session_expired"){
              this.$session.destroy()
              this.SessionCheck()
            }
          }).catch(e => {
            this.ShowErrorMessage=true
            this.ErrorTitle='Error Occured'
            this.ErrorMessage='Something went wrong.Try Again'
            console.log(e.error)
        })
      },
      MessageClosed(MessageType){
        console.log('we are in messages')
        console.log(MessageType)
        if(MessageType === 'success') {
          this.ShowSuccessMessage=false
        } else if (MessageType === 'error') {
          console.log('we are in error messages')
          this.ShowErrorMessage=false
          this.ErrorTitle=''
          this.ErrorMessage=''
        }
      },
    },

    InitUserPageTour:function(){

    }
}
</script>

