<template >
  <div>
    <BreadCrumbs> </BreadCrumbs>
    <h2>Agent </h2>
    <div class="panel">
      <div id="ShowMessages">
        <div class="example-box-wrapper" v-if="ShowSuccessMessage">
          <div class="alert alert-close alert-success">
            <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('success')"></a>
            <div class="bg-green alert-icon">
              <i class="glyph-icon icon-check"></i>
            </div>
            <div class="alert-content">
              <<h4 class="alert-title">Success</h4>
              <p>Users get {{act}} successfully</p>
            </div>
          </div>
        </div>
        <div class="alert alert-danger" v-if="ShowErrorMessage">
          <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('error')"></a>
          <div class="bg-red alert-icon">
            <i class="glyph-icon icon-times"></i>
          </div>
          <div class="alert-content">
            <h4 class="alert-title">{{ErrorTitle}}</h4>
            <p>{{ErrorMessage}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-body">
    We are guide you how to install agent in your system for more information click on link 
    <a id="agentguidelink" href="/AgentGuide"> User guide</a>
    </div>
  </div>
</template>

<script>
import config from '../../config.json'
import Simplert from 'vue2-simplert'
import BreadCrumbs from '../Breadcrumbs.vue'
import Vue from 'vue'
import App from '../../App' 

 export default {
    components: {
        Simplert,
        BreadCrumbs
    },
  //  mixins:[reportingMixin],
    data() {
      console.log("Agent data called")
        return {
            UserList: [],
            DeleteList: [],
            errorMsg: '',
            selected: '',
            nameArray: [],
            Roles: '',
            ShowSuccessMessage: false,
            ShowErrorMessage: false,
            ErrorTitle: '',
            ErrorMessage: '',
            act: '',
           // MainMenuList : '{"MenuName": "Agent","url":"/Agent"}'
        }
    },
    created() {
      
        console.log("Agent updated called")

    },
    updated(){
        console.log("Agent updated called")
       
    },
    mounted() { 
       console.log("Agent mounted called") 
    },
    
    methods: {
        SaveLog(activity) {
            console.log('we are in activity log')
            this.$http.post(config.AUDIT_LOG_URL, activity).then(response => {
                console.log('success log')
            })
        },
        MessageClosed(MessageType) {
            console.log('we are in messages')
            console.log(MessageType)
            if (MessageType === 'success') {
                this.ShowSuccessMessage = false
            } else if (MessageType === 'error') {
                console.log('we are in error messages')
                this.ShowErrorMessage = false
                this.ErrorTitle = ''
                this.ErrorMessage = ''
            }
        },
         MainCheckUrl: function()
        {
          console.log("Agent MainCheckUrl called")
        },
         MainCheckUrlHello: function()
        {
          console.log("MainCheckUrlHellocalled")
        }
    }
}

 
</script>
