<template >
  <div>
  <BreadCrumbs> </BreadCrumbs>
    <h2>Agent Guide </h2>
    <div class="wrapper">
		<div class="content">
			<h2 id="step1">Step 1</h2>
			<h2>: Introduction</h2> 

				<p id="abtReporting">Reporting is application which helps you to
					view reports of your JD Edwards system.Using this you improved your
					performance,system processing. We are providing reports like data
					growth,JD Edwards reports and many more.</p>
		 
				<h2 id="step2">Step 2</h2>
				<h2>: About Agent</h2>

				<p>Agent is a software which is secure and it's not accessible
					from the outside like internet. It's install on you machine and
					it's not harm your private information in the system.</p>
			  
				<h2 id="step3">Step 3</h2>
				<h2>: Download Agent</h2>
				<p>For reporting application work you need to install agent in
					you machine.</p>

		 
 
			<div class="box  ">
				<h2 id="step4">Step 4</h2>
				<h2>: Time For Download</h2>

				<p id="my-element2">Downloading take max 5 minutes.</p>
			</div>


			<div class="box  ">
				<h2 id="step5">Step 5</h2>
				<h2>: File Size</h2>
 
				<p>For installing agent in you system 30 MB space should be
					free.</p>

			</div>

			<div class="box  ">
				<h2 id="step6">Step 6</h2>
				<h2>: Install it</h2> 
				<p id="my-element4">Once you download the agent install it.</p>

			</div> 

			<div class="box  ">
				<h2 id="step7">Step 7</h2>
				<h2>: Check Agent is working</h2>
 
				<p>After the agent has been installed please check whether the agent is working. Go to the agent table and check on test connection
				</p>

			</div>
			<br class="clear">
			<br class="clear">
		</div>
	</div>

	<div id="StepFooter" class="footer navbar-fixed-bottom"></div>
  </div>
</template>
<script>
   import config from '../../config.json'
import Simplert from 'vue2-simplert'
import BreadCrumbs from '../Breadcrumbs.vue'
var moment = require("moment-timezone");
export default {
   components: {
      Simplert,
      BreadCrumbs
   },
   data() {
      return {
      }
   },
   mounted() {
   	var tour_steps = [ {
			element : "#step1",
			title : "Step 1",
		}, {
			element : "#step2",
			title : "Step 2",
		},{
			element : "#step3",
			title : "Step 3",
		}, {
			element : "#step4",
			title : "Step 4",
		}, {
			element : "#step5",
			title : "Step 5",
		}, {
			element : "#step6",
			title : "Step 6",
		} ,{
			element : "#step7",
			title : "Step 7",
		}];
		var paginationStr = "<ul class = 'pagination' style=' vertical-align: bottom; margin: 0px;'>";
		$.each(tour_steps,function(i, step) {
							var index = (i + 1);
							var element = step['element'];
							console.log(index, element);
							//	alert(step['element'] );
							paginationStr = paginationStr
									+ "<li id='aa_"+index+"'><button class='btn success' href='javascript:;' v-on:click=navStep1('"
									+ element + "')>" + index
									+ "</button></li>";

						});
		paginationStr = paginationStr + "</ul>";

		$("#StepFooter").append(paginationStr)
   },
   methods: {
   	navStep1(i) {
console.log("navStep1")
			$("h2").removeClass('underline-text');
			$("h2").removeClass('bg-info');
			$(i).addClass('underline-text');

			$(i).addClass('bg-info');
			$('html, body').animate({
				scrollTop : $(i). position().top
			}, 300,"linear",false);
			return false; 
		}
   }
}
</script>
<style>
.wrapper {
    width: 960px;
    margin: 20px auto;
}
.popover-double-width {
	max-width: 552px !important;
}

h2 {
    font-size: 18px;
    margin: 20px 0;
    color: black;
    display: inline-flex;
}
p {
    padding: 5px 0px;
}
.box {
    width: 49%;
}
.clear {
    clear: both;
}
* {
    margin: 0;
    padding: 0;
}
.footer {
    padding: 11px 9px;
     margin: 20px 0 0;
    background: #0099DE;
    text-align: center;
    color: white;
}
button {
	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	overflow: hidden;
	outline: none;
	/*     //font-size: 12pt;
 */
	padding: 0;
	padding: 5px 0px;
	color: #333;
	font-family: "Calibri", "Myriad Pro", Arial, sans-serif;
	font-size: 16px;
	text-shadow: 1px 1px 1px white;
}
a {
    color: blue;
    text-decoration: none;
}
.underline-text {
	text-decoration-line: underline;
}
</style>