<template lang="html">
	<div>
		<BreadCrumbs> </BreadCrumbs>
		<h2>JD Report </h2>  
		<div id="ShowMessages">
			<div class="example-box-wrapper" v-if="ShowSuccessMessage">
				<div class="alert alert-close alert-success">
					<a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('success')"></a>
					<div class="bg-green alert-icon">
						<i class="glyph-icon icon-check"></i>
					</div>
					<div class="alert-content">
						<h4 class="alert-title">Success</h4>
						<p>{{SuccessTitle}}</p>
					</div>
				</div>
			</div>
			<div class="alert alert-danger" v-if="ShowErrorMessage">
				<a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('error')"></a>
				<div class="bg-red alert-icon">
					<i class="glyph-icon icon-times"></i>
				</div>
				<div class="alert-content">
					<h4 class="alert-title">{{ErrorTitle}}</h4>
					<p>{{ErrorMessage}}</p>
				</div>
			</div>
		</div>
	 
	<div class="panel-body">  

		<div  class = "form-group" >
			 

			<div style="float:right;">
				<div style="float:right;">
					<label >Custom Date</label>
					<div id="daterangepicker-custom" class="btn btn-primary" title="" data-toggle="dropdown">
						<i class="glyph-icon icon-calendar"></i>
						<span></span>
						<b class="caret"></b>
					</div>
				</div> 
			</div>    

		</div>
	</div>
	<br/>
	<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>ReportId</th>
				<th>Name</th>
				<th>Description</th>
				<th>User</th>
				<th>Runtime</th>
				<th>Environment</th>
				<th>Host</th>
				<th>Report Submited DateTime</th>
				<th>Last Executed DateTime</th>

			</tr>
		</thead>
		<tbody>
			<tr v-for="report in reportList">
                       <!--    <td><router-link :to="{ name: 'getuser', params: { userid: report.userId }}">{{report.name}}</router-link></td>
                   -->    
                   <td>{{report.id}} </td>
                   <td>{{report.name}} </td>
                   <td>{{report.reportDesc}}</td>
                   <td>{{report.user}}</td>
                   <td>{{report.runtime}}</td>
                   <td>{{report.environment}} </td>
                   <td>{{report.host}} </td>
                   <td>{{report.submitdate}}  </td>
                   <td>{{report.lastexedate}}</td>

               </tr>
           </tbody> 
       </table>   

   </div>
</template>
<script>
	$(function() {
		"use strict";

 
	});

	import config from '../../config.json'
	import Simplert from 'vue2-simplert'
	import BreadCrumbs from '../Breadcrumbs.vue'
	import Vue from 'vue' 
	import moment from 'moment-timezone'	

 	export default {
 		components: {
 			Simplert : Simplert,
 			BreadCrumbs :BreadCrumbs,
 			moment: moment, 
		  

		},
  //  mixins:[reportingMixin],
  data() {
  	console.log("Agent data called")
  	return {
  		reportList:[],

  		ShowSuccessMessage: false,
  		ShowErrorMessage: false,
  		SuccessTitle :'',
  		ErrorTitle: '',
  		ErrorMessage: '',
  		startDate : moment().subtract('days', 4),
  		endDate : moment()

  	}
  },
  mounted(){
  	this.ReportData()
    $('#daterangepicker-custom').daterangepicker({
            startDate: moment().subtract('days', 4),
            endDate: moment(),           
             dateLimit: {
                years: 60
            }, 
            showDropdowns: true,
            showWeekNumbers: true,
           /* timePicker: false,
            timePickerIncrement: 1,
            timePicker12Hour: true,*/
            ranges: {
               'Today': [moment(), moment()],
            	// 'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1),"1DAY"],
            	'Last 5 Days': [moment().subtract('days', 5), moment()],
            	'Last 1 Month': [moment().subtract('months', 1), moment()],
            	'Last 3 Months': [moment().subtract('months', 3), moment()],
            	'Last 6 Months': [moment().subtract('months',6), moment()],
            	'Last 1 Year': [moment().subtract('year',1), moment()],
            	'Last 5 Years': [moment().subtract('year',5), moment()],
            	'MAX': [moment().subtract('year',5), moment()],
            },
            opens: 'left',
            buttonClasses: ['btn btn-default'],
            applyClass: 'small bg-green',
            cancelClass: 'small ui-state-default',
            format: 'MM/DD/YYYY',
            separator: ' to ',
            locale: {
                applyLabel: 'Apply',
                fromLabel: 'From',
                toLabel: 'To',
                customRangeLabel: 'Custom Range',
                daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                firstDay: 1
            }
        },
        function(start, end) {
            console.log("Callback has been called!");
            $('#daterangepicker-custom span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            this.startDate = start;
            this.endDate = end;
            console.log(this.startDate)
          //  this.ReportData()
           // this.ReportData();
        }
    );
    $('#daterangepicker-custom span').html(moment().subtract('days', 4).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
	 $('#daterangepicker-custom').on('apply.daterangepicker', 	this.ReportData);
}, 
created() {
	console.log("Agent updated called")



},
updated(){
	console.log("Agent updated called") 
},


methods: {
	SaveLog(activity) {
		console.log('we are in activity log')
		this.$http.post(config.AUDIT_LOG_URL, activity).then(response => {
			console.log('success log')
		})
	},
	MessageClosed(MessageType) {
		console.log('we are in messages')
		console.log(MessageType)
		if (MessageType === 'success') {
			this.ShowSuccessMessage = false
		} else if (MessageType === 'error') {
			console.log('we are in error messages')
			this.ShowErrorMessage = false
			this.ErrorTitle = ''
			this.ErrorMessage = ''
		}
	},
	ReportData(){
		var Authorization = this.$session.get('access_token')
		var reportDates ={"toDate": this.endDate.format('YYYY-MM-DD hh:mm:ss'),"fromDate":this.startDate.format('YYYY-MM-DD hh:mm:ss')}
		var clientId = this.$session.get('client_id') 
		this.$http.post(config.REPORT_URL + '/rest/JDReport/Snapshot',  reportDates, {
          // emulateJSON: true,
          headers: {
          	'Authorization': Authorization,
          	'Content-Type': 'application/json'
          }
      }).then(response => {
      	var data = JSON.parse(response.bodyText)
      	console.log(data)
      	if (data.status === 'success') {


      		this.reportList = data.response_data
      		console.log("this.reportList")
      		console.log(this.reportList)
      		console.log(this.reportList.length)
      		if(this.reportList.length == 0)
      		{
      			this.ShowErrorMessage=false
      			this.ShowSuccessMessage=true
      			//this.ErrorTitle='Error Occured'
      			this.SuccessTitle='No data'
      		}
      		for(var i in this.reportList)
      		{ 

      			this.reportList[i].submitdate = moment(this.reportList[i].submitdate, "x").tz(this.$session.get('time_zone_preference')).format('YYYY-MM-DD HH:mm:ss')
      			this.reportList[i].lastexedate = moment(this.reportList[i].lastexedate, "x").tz(this.$session.get('time_zone_preference')).format('YYYY-MM-DD HH:mm:ss') 
      		}


      	} else {
      		console.log(data)
      		this.ShowErrorMessage=true
      		this.ErrorTitle='Error Occurred'
      		this.ErrorMessage=response.bodyText
      	}
      }).catch(e => {
      	console.log('error occured')
      	console.log(e.error)
      	console.log(e)
      	this.ShowErrorMessage=true
      	this.ErrorTitle='Error Occured'
      	this.ErrorMessage='Something went wrong.Try Again'
      })

  }

}
}

 
</script>