<template >
	<div>
		<BreadCrumbs> </BreadCrumbs>
		<h2>Record Report </h2>  <div class="panel"></div>
		<div class="panel-body">  
		<!-- 	<a v-on:click="growthReport('5DAY')" role="button" class="btn btn-round btn-blue-alt buttonscss active" id="5DAY">5Days</a>
	-->
	<!-- <div id="select">
											<input type="checkbox" class="messageCheckbox"										
												v-on:click="checkValue()"
												name="checkbox"
												id="checkbox" value="1">Projection</input>
											</div> -->

											<div class="checkbox checkbox-success" style="float:left;">
												<label>         	
												<input type="checkbox"  	v-on:click="checkValue()" name="checkbox" id="checkbox"   class="custom-checkbox">										<b>	                             
													Projection</b>
												</label>
											</div>
											<div style="float:right;">
												<label >Custom Date</label>

												<div id="daterangepicker-custom" class="btn btn-primary" title="" data-toggle="dropdown">
													<i class="glyph-icon icon-calendar"></i>
													<span></span>
													<b class="caret"></b>
												</div>
											</div>  <!--  <div class="panel">    -->
											<div class="col-md-12" id="containerdiv">
												<ul class="breadcrumb" id="ULtab"
												style="display: none; margin-top: 1%;"></ul>

												<div id="chart"></div>
												<div id="errmsg"
												style="display: none; color: red; font-size: 16px; margin-top: 3%;">
												<span></span>
											</div>

											<div class="spinnermodal" id="progressbar"
											style="display: none; z-index: 10001">
											<div
											style="position: fixed; z-index: 10001; top: 50%; left: 50%; height: 65px">
											<img src="/static/images/spinner//loader-dark.gif" alt="Loading..." />
											<!-- </div> -->
										</div>
									</div>
								</div>
								<div class="col-md-12" id="loaderdiv" style="display: none;">
									<div class="spinnermodal" id="progressbar"
									style="z-index: 10001">
									<div
									style="position: fixed; z-index: 10001; top: 50%; left: 50%; height: 65px">
									<img src="/static/images/spinner/loader-dark.gif" alt="Loading..." />
								</div>
							</div>
						</div>

					</div>
				</div>
			</template>

			<script>
				$(function() {
					"use strict";
				});

				import config from '../../config.json'
				import Simplert from 'vue2-simplert'
				import BreadCrumbs from '../Breadcrumbs.vue'
				import Vue from 'vue' 
				import moment from 'moment-timezone'	
				import growthReport from './snapshotchart.js'	
	//var growthReport = require('./snapshotchart.js') 

	export default {
		components: {
			Simplert : Simplert,
			BreadCrumbs :BreadCrumbs,
			moment: moment, 
 			//growthReport : growthReport

 		}, mixins:[growthReport],
 		data() {return {
 			dateRangeId : {"Today":"1DAY","Last 5 Days":"5DAY","Last 1 Month":"1MONTH","Last 3 Months":"3MONTH","Last 6 Months":"6MONTH","Last 1 Year":"1YEAR","Last 5 Years":"5YEAR","MAX":"MAX"}
 		}},

 		mounted(){ 
 			console.log("************R MOUN")
 			console.log(this.breadcrumbsList)
 			this.checkedValue = "undefined";
 			$('#daterangepicker-custom').daterangepicker({
 			startDate: moment().subtract('days', 4),
 				endDate: moment(),           
           dateLimit: {
                years: 60
              }, 
              showDropdowns: true,
              showWeekNumbers: true,
           /* timePicker: false,
            timePickerIncrement: 1,
            timePicker12Hour: true,*/
            ranges: {
            	'Today': [moment(), moment()],
            	// 'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1),"1DAY"],
            	'Last 5 Days': [moment().subtract('days', 5), moment()],
            	'Last 1 Month': [moment().subtract('months', 1), moment()],
            	'Last 3 Months': [moment().subtract('months', 3), moment()],
            	'Last 6 Months': [moment().subtract('months',6), moment()],
            	'Last 1 Year': [moment().subtract('year',1), moment()],
            	'Last 5 Years': [moment().subtract('year',5), moment()],
            	'MAX': [moment().subtract('year',5), moment()],
            	//'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
            },
            opens: 'left',
            buttonClasses: ['btn btn-default'],
            applyClass: 'small bg-green',
            cancelClass: 'small ui-state-default',
            format: 'MM/DD/YYYY',
            separator: ' to ',
            hello :'asd',
            locale: {
            	applyLabel: 'Apply',
            	fromLabel: 'From',
            	toLabel: 'To',
            	customRangeLabel: 'Custom Range',
            	daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
            	monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
            	firstDay: 1
            }
          },
          function(start, end) {
       // 	console.log("Callback has been called!");
      $('#daterangepicker-custom span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
     }
     );
 		 $('#daterangepicker-custom span').html(moment().subtract('days', 4).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY')); 
 			$('#daterangepicker-custom').on('apply.daterangepicker', 	this.customRange);

 		}, 
 		methods: {
 			checkValue: function() {
 				var t = $('#checkbox')
 				if (t.is(':checked')) {
 					this.checkedValue = "true";
 				} else {
 					this.checkedValue = "undefined";
 				}
 			},
 			customRange(event ){
 				var period  =$('#daterangepicker-custom').data('daterangepicker').chosenLabel;
 				console.log("Callback has been called!",event);
 				var datePeriod = this.dateRangeId[period]
 				//   $('#daterangepicker-custom span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
   
 				if(datePeriod == "MAX")
 				{
 					$('#daterangepicker-custom span').html("Max");
 				}else if(datePeriod == "5YEAR")
 				{
 			/*		 $('#daterangepicker-custom span').html(moment().startOf('year',5).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY')); */
 				}
 				this.defaultChart(datePeriod)
  		 
  			},	
  			growthReport: function(period) {

  				console.log(this)
  				console.log(this.$breadcrumbs)
     	//	console.log(growthReport)
     	//	growthReport.defaultChart(period)
     	//	v-on:click="showConfirmActionAlert()" 
     	 //onclick="return growthReport('5DAY')"  
     	 this.defaultChart('5DAY')
     	}
     }
   }
 </script>