<template >
	<div>
		<BreadCrumbs> </BreadCrumbs>
		<h2>Report Snapshot </h2>
		<div id="ShowMessages">
			<div class="example-box-wrapper" v-if="ShowSuccessMessage">
				<div class="alert alert-close alert-success">
					<a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('success')"></a>
					<div class="bg-green alert-icon">
						<i class="glyph-icon icon-check"></i>
					</div>
					<div class="alert-content">
						<h4 class="alert-title">Success</h4>
						<p>{{SuccessTitle}}</p>
					</div>
				</div>
			</div>
			<div class="alert alert-danger" v-if="ShowErrorMessage">
				<a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" v-on:click="MessageClosed('error')"></a>
				<div class="bg-red alert-icon">
					<i class="glyph-icon icon-times"></i>
				</div>
				<div class="alert-content">
					<h4 class="alert-title">{{ErrorTitle}}</h4>
					<p>{{ErrorMessage}}</p>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<button type="button" name="reportsnapBtn" id="submit_action" class="btn btn-success" href="javascript:;" v-on:click="fetchSnapshot()" style="width:150px">JD Snapshot</button>
		</div>
	</div>
</template>
<script>

	import config from '../../config.json'
	import Simplert from 'vue2-simplert'
	import BreadCrumbs from '../Breadcrumbs.vue'
	import Vue from 'vue' 

	var moment = require("moment-timezone")

	export default {
		components: {
			Simplert,
			BreadCrumbs
		}, 
		data() {
			console.log("Agent data called")
			return { ShowSuccessMessage: false,
				ShowErrorMessage: false,
				SuccessTitle :'',
				ErrorTitle: '',
				ErrorMessage: '',

			}
		},methods: {
			fetchSnapshot(){

				var Authorization = this.$session.get('access_token')
				this.$http.post(config.REPORT_URL + '/rest/GrowthReport/FetchSnapshot', {}   , {
	          // emulateJSON: true,
	          headers: {
	          	'Authorization': Authorization,
	          	'Content-Type': 'application/json'
	          }
	      }).then(response => {
	      	var data = JSON.parse(response.bodyText)
	      	console.log(data)
	      	if (data.status === 'success') {
	      		this.ShowSuccessMessage=true
	      		this.ShowErrorMessage=false
	      		this.SuccessTitle='Request has been sent sucessfully' 
	      	}

	      	else {
	      		console.log(data)
	      		this.ShowSuccessMessage=false
	      		this.ShowErrorMessage=true
	      		this.ErrorTitle='Error Occurred'
	      		this.ErrorMessage=data.result
	      	}
	      }).catch(e => {
	      	console.log('error occured')
	      	console.log(e.error)
	      	console.log(e)
	      	this.ShowSuccessMessage=false	      		
	      	this.ShowErrorMessage=true
	      	this.ErrorTitle='Error Occured'
	      	this.ErrorMessage='Something went wrong.Try Again'
	      })
	  	},
			SaveLog(activity) {
				console.log('we are in activity log')
				this.$http.post(config.AUDIT_LOG_URL, activity).then(response => {
					console.log('success log')
				})
			},
			MessageClosed(MessageType) { 
				if (MessageType === 'success') {
					this.ShowSuccessMessage = false
				} else if (MessageType === 'error') {
					console.log('we are in error messages')
					this.ShowErrorMessage = false
					this.ErrorTitle = ''
					this.ErrorMessage = ''
				}
			}
		}
	}
</script>