<style >
/*jglow*/
  @import "../static/widgets/jgrowl-notifications/jgrowl.css";
  @import "../static/bootstrap/css/bootstrap.css";
  /*helpers*/
  @import "../static/helpers/animate.css";
  @import "../static/helpers/backgrounds.css";
  @import "../static/helpers/boilerplate.css";
  @import "../static/helpers/border-radius.css";
  @import "../static/helpers/grid.css";
  @import "../static/helpers/page-transitions.css";
  @import "../static/helpers/spacing.css";
  @import "../static/helpers/typography.css";
  @import "../static/helpers/utils.css";
  @import "../static/helpers/colors.css";

  /*elemenst*/
  @import "../static/elements/badges.css";
  @import "../static/elements/buttons.css";
  @import "../static/elements/content-box.css";
  @import "../static/elements/dashboard-box.css";
  @import "../static/elements/forms.css";
  @import "../static/elements/images.css";
  @import "../static/elements/info-box.css";
  @import "../static/elements/invoice.css";
  @import "../static/elements/loading-indicators.css";
  @import "../static/elements/menus.css";
  @import "../static/elements/panel-box.css";
  @import "../static/elements/response-messages.css";
  @import "../static/elements/responsive-tables.css";
  @import "../static/elements/ribbon.css";
  @import "../static/elements/social-box.css";
  @import "../static/elements/tables.css";
  @import "../static/elements/tile-box.css";
  @import "../static/elements/timeline.css";
   @import "../static/frontend-elements/pricing-table.css";

  /*<!-- ICONS -->*/

  @import "../static/icons/fontawesome/fontawesome.css";
  @import "../static/icons/new_fontawesome/css/font-awesome.css";
  @import "../static/icons/linecons/linecons.css";
  @import "../static/icons/spinnericon/spinnericon.css";




  /*<!-- SNIPPETS -->*/

  @import "../static/snippets/chat.css";
  @import "../static/snippets/files-box.css";
  @import "../static/snippets/login-box.css";
  @import "../static/snippets/notification-box.css";
  @import "../static/snippets/progress-box.css";
  @import "../static/snippets/todo.css";
  @import "../static/snippets/user-profile.css";
  @import "../static/snippets/mobile-navigation.css";

  /*<!-- APPLICATIONS -->*/

  @import "../static/applications/mailbox.css";

  /*<!-- Admin theme -->*/
  @import "../static/themes/admin/layout.css";
  @import "../static/themes/admin/color-schemes/default.css";

  /*<!-- Components theme -->*/

  @import "../static/themes/components/default.css";
  @import "../static/themes/components/border-radius.css";

  /*<!-- Admin responsive -->*/
  /*@import "./static/widgets/modal/modal.css";*/
  @import "../static/helpers/responsive-elements.css";
  @import "../static/helpers/admin-responsive.css";
  @import "../static/widgets/calendar/calendar.css";

  /* <!-- DataTables -->*/
  @import "../static/widgets/datatable/datatable.css";

  /* international telephone*/
  @import "../static/intTel/css/intlTelInput.css";

  @import "../static/widgets/datepicker/datepicker.css";

  @import "../static/widgets/datepicker-ui/datepicker.css";

  @import "../static/widgets/daterangepicker/daterangepicker.css";
  /*@import "/*../static/intTel/css/demo.css";*/

  /* page tour css */
  @import "../static/pagetour/css/bootstrap-tour.css";


  @import "../static/widgets/dropdown/dropdown.css";
   /*page guide css */
  @import "../static/pageguide/css/pageguide.min.css";

  /* password strength */
  @import "../static/pwstrength/css/jquery.pwstrength.css";

  @import "../static/fullcalendar/fullcalendar.css";

  @import"../static/timepicker/jquery.timepicker.css";

  @import"../static/widgets/timepicker/timepicker.css";

  /*@import"../static/widgets/datepicker/datepicker.css";*/

  /*@import"../static/widgets/datepicker-ui/datepicker.css";*/

  @import"../static/widgets/daterangepicker_admin/daterangepicker.css";

  /*@import"../static/widgets/timepicker/timepicker.css";*/
  /* Custom CSS */
  @import"./css/registration.css";


  .modal-backdrop{
    position: fixed !important;
    opacity: 0 !important;
    z-index: -100
  }
</style>
<template>
  <div id="app">
    <div  v-if="isLoggedIn" >
      <AppHeader></AppHeader>
        <div id="page-sidebar">
        <div  class="scroll-sidebar">
          <Navigation ></Navigation>
        </div>
      </div>
      <div id="page-content-wrapper">
        <div id="page-content">
          <div class="container">
            <router-view ></router-view>
          </div>
        </div>
      </div>
    </div>
    <div v-else>
    <forgot  v-if="isforgot"></forgot>
    
    <Register  v-if="isregister"></Register>
    <login v-if="login"></login>
   <deleteAccount v-if="isdeleteaccount"></deleteAccount>
  </div>
  </div>
</template>

<script>
  import login from './components/login.vue'
  import Register from './components/Register.vue'
  import AppHeader from './components/AppHeader.vue'
  import Navigation from './components/Navigation.vue'
  import forgot from './components/forgot.vue'
  import deleteAccount from './components/deleteAccount.vue'
  import config from './config.json'
  // import Notification from './components/Notification.vue'
  export default {
    name: 'app',
    components: {
      AppHeader,
      Navigation,
      login,
      Register,
      forgot,
      deleteAccount
    },
    data () {
      return {
        isLoggedIn: this.$session.exists(),
        isforgot: false,
        login: false,
        isregister: false,
        isdeleteaccount: false
        // isDashboard: false
      }
    },
    mounted () {
      this.checkroute()
      this.MainCheckUrl()
      // console.log(dev)
    },
    methods: {
      checkroute () {
        console.log(this.$route.path)
        if (this.$route.path === '/forgot') {
          this.isforgot = true
          this.login = false
        } else if (this.$route.path === '/register') {
          this.isforgot = false
          this.login = false
          this.isregister = true
        } else if (this.$route.path === '/' && this.$session.exists()) {
          window.location.href = '/dashboard'
        } else if (this.$route.path !== '/dashboard' && this.$session.exists()) {
          this.$session.set('showwelcome', 'false')
        } else if(this.$route.path === '/login' || this.$route.path === '/')  {
          this.login = true
        }else if(this.$route.path === '/deleteAccount' || this.$route.path === '/')  {
          this.isdeleteaccount = true
        }
      },
      beforeCreate: function () {
        this.isLoggedIn = this.$session.exists()
        if (this.isLoggedIn) {
          if (this.$cookies.isKey('Timeout')) { // check iscookie exists
            //  means session not yet get timeout
            //  so delete this cookie and again save new one.So timer will get reset
            this.$cookies.remove('Timeout')
            //  set new cookie with timeout. refresh timeout
            this.$cookies.set('Timeout', 'timeout', config.SESSION_TIMEOUT + 'min')
          } else {  // cookie not exist means session get timeout.So destroy the session manually
            this.$session.destroy()
            window.location.href = '/login'
          }
        } else { // session not exists. So redirect to login
          // remove previously exists cookie . if browser get closed without logout.
          if (this.$cookies.isKey('Timeout')) {
            this.$cookies.remove('Timeout')
          }
          if(this.$cookies.isKey('SessionExpMsg')){
            this.$cookies.remove('SessionExpMsg')
            }
            this.$cookies.set('SessionExpMsg','msg','1min')
            window.location.href = '/login'
        }
      }
    }
  }

</script>
